<div class="card m-3 shadow-sm border-0 rounded-0">
  <!-- Header -->
  <div class="card-header p-4 bg-gray-100">
    <h2 class="font-size-xl mb-1">Radios & Checkboxes</h2>
    <p class="text-default mb-0">
      see
      <a href="https://material.angular.io/components/radio/overview" target="_blank">Material Radio Buttons</a>
      &
      <a href="https://material.angular.io/components/checkbox/overview" target="_blank">Material Checkboxes</a></p>
  </div>

  <div class="card-body">
    <!-- Radio Buttons -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0">
      <h3 class="mb-0">Radio Buttons</h3>
    </div>

    <div class="border border-light p-3">
      <mat-radio-group [(ngModel)]="radioSelected" class="d-inline-flex">
        <mat-radio-button
                class="mr-2"
                *ngFor="let type of radioExample; let i = index;" [value]="type"
                [disabled]="i === 2">
          {{type}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#radio')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="radio" class="d-none" ngNonBindable>
<mat-radio-group [(ngModel)]="radioSelected" class="d-inline-flex">
  <mat-radio-button
          class="mr-2"
          *ngFor="let type of radioExample; let i = index;" [value]="type"
          [disabled]="i === 2">
    {{type}}
  </mat-radio-button>
</mat-radio-group>        
</textarea>

      <pre class="m-0 pt-3 px-3">
<code ngNonBindable>&lt;mat-radio-group [(ngModel)]="radioSelected" class="d-inline-flex"&gt;
  &lt;mat-radio-button
          class="mr-2"
          *ngFor="let type of radioExample; let i = index;" [value]="type"
          [disabled]="i === 2"&gt;
    {{type}}
  &lt;/mat-radio-button&gt;
&lt;/mat-radio-group&gt;</code>
      </pre>
    </div>

    <!-- Checkboxes -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0 mt-5">
      <h3 class="mb-0">Checkboxes</h3>
    </div>

    <div class="border border-light p-3">
     <mat-checkbox checked="checked">Checkbox 01</mat-checkbox>
     <mat-checkbox>Checkbox 02</mat-checkbox>
     <mat-checkbox disabled>Checkbox 03</mat-checkbox>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#checkbox')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="checkbox" class="d-none" ngNonBindable>
<mat-checkbox checked="checked">Checkbox 01</mat-checkbox>
<mat-checkbox>Checkbox 02</mat-checkbox>
<mat-checkbox disabled>Checkbox 03</mat-checkbox>
  </textarea>

      <pre class="m-0 pt-3 px-3">
<code>&lt;mat-checkbox checked="checked"&gt;Checkbox 01&lt;/mat-checkbox&gt;
&lt;mat-checkbox&gt;Checkbox 02&lt;/mat-checkbox&gt;
&lt;mat-checkbox disabled&gt;Checkbox 03&lt;/mat-checkbox&gt;</code>
      </pre>
    </div>
  </div>
</div>