<div class="card m-3 shadow-sm border-0 rounded-0">
  <!-- Header -->
  <div class="card-header p-4 bg-gray-100">
    <h2 class="font-size-xl mb-1">Table</h2>
    <p class="text-default mb-0">
      see
      <a href="https://material.angular.io/components/table/overview" target="_blank">Material Table</a>
      &
      <a href="https://material.angular.io/components/sort/overview" target="_blank">Material Sort Header</a>
    </p>
  </div>

  <div class="card-body">
    <!-- Table -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0">
      <h3 class="mb-0">Table</h3>
    </div>

    <div class="border border-light p-3">
      <mat-table [dataSource]="dataSource1" class="full-width bg-transparent">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.id}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.name}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="count">
          <mat-header-cell *matHeaderCellDef>Count</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.count}}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="demoColumns1; sticky: true" class="bg-light"></mat-header-row>
        <mat-row *matRowDef="let row; columns: demoColumns1;"></mat-row>
      </mat-table>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#table')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="table" class="d-none" ngNonBindable>
 <mat-table [dataSource]="dataSource1" class="full-width bg-transparent">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{element.id}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{element.name}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="count">
    <mat-header-cell *matHeaderCellDef>Count</mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{element.count}}
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="demoColumns1; sticky: true" class="bg-light"></mat-header-row>
  <mat-row *matRowDef="let row; columns: demoColumns1;"></mat-row>
</mat-table>
</textarea>

      <pre class="m-0 pt-3 px-3">
<code ngNonBindable>&lt;mat-table [dataSource]="dataSource1" class="full-width bg-transparent"&gt;
  &lt;ng-container matColumnDef="id"&gt;
    &lt;mat-header-cell *matHeaderCellDef&gt;Id&lt;/mat-header-cell&gt;
    &lt;mat-cell *matCellDef="let element"&gt;
      {{element.id}}
    &lt;/mat-cell&gt;
  &lt;/ng-container&gt;

  &lt;ng-container matColumnDef="name"&gt;
    &lt;mat-header-cell *matHeaderCellDef&gt;Name&lt;/mat-header-cell&gt;
    &lt;mat-cell *matCellDef="let element"&gt;
      {{element.name}}
    &lt;/mat-cell&gt;
  &lt;/ng-container&gt;

  &lt;ng-container matColumnDef="count"&gt;
    &lt;mat-header-cell *matHeaderCellDef&gt;Count&lt;/mat-header-cell&gt;
    &lt;mat-cell *matCellDef="let element"&gt;
      {{element.count}}
    &lt;/mat-cell&gt;
  &lt;/ng-container&gt;

  &lt;mat-header-row *matHeaderRowDef="demoColumns1; sticky: true" class="bg-light"&gt;&lt;/mat-header-row&gt;
  &lt;mat-row *matRowDef="let row; columns: demoColumns1;"&gt;&lt;/mat-row&gt;
&lt;/mat-table&gt;</code>
      </pre>
    </div>

    <!-- Table Pills -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0 mt-5">
      <h3 class="mb-0">Table Pills</h3>
    </div>

    <div class="border border-light p-3">
      <mat-table [dataSource]="dataSource2" class="full-width bg-transparent mat-table-pills">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.id}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.name}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="count">
          <mat-header-cell *matHeaderCellDef>Count</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.count}}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="demoColumns2; sticky: true" class="bg-light"></mat-header-row>
        <mat-row *matRowDef="let row; columns: demoColumns2;"></mat-row>
      </mat-table>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#tablePill')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="tablePill" class="d-none" ngNonBindable>
 <mat-table [dataSource]="dataSource2" class="full-width bg-transparent mat-table-pills">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{element.id}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{element.name}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="count">
    <mat-header-cell *matHeaderCellDef>Count</mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{element.count}}
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="demoColumns2; sticky: true" class="bg-light"></mat-header-row>
  <mat-row *matRowDef="let row; columns: demoColumns2;"></mat-row>
</mat-table>
</textarea>

      <pre class="m-0 pt-3 px-3">
<code ngNonBindable>&lt;mat-table [dataSource]="dataSource2" class="full-width bg-transparent mat-table-pills"&gt;
  &lt;ng-container matColumnDef="id"&gt;
    &lt;mat-header-cell *matHeaderCellDef&gt;Id&lt;/mat-header-cell&gt;
    &lt;mat-cell *matCellDef="let element"&gt;
      {{element.id}}
    &lt;/mat-cell&gt;
  &lt;/ng-container&gt;

  &lt;ng-container matColumnDef="name"&gt;
    &lt;mat-header-cell *matHeaderCellDef&gt;Name&lt;/mat-header-cell&gt;
    &lt;mat-cell *matCellDef="let element"&gt;
      {{element.name}}
    &lt;/mat-cell&gt;
  &lt;/ng-container&gt;

  &lt;ng-container matColumnDef="count"&gt;
    &lt;mat-header-cell *matHeaderCellDef&gt;Count&lt;/mat-header-cell&gt;
    &lt;mat-cell *matCellDef="let element"&gt;
      {{element.count}}
    &lt;/mat-cell&gt;
  &lt;/ng-container&gt;

  &lt;mat-header-row *matHeaderRowDef="demoColumns2; sticky: true" class="bg-light"&gt;&lt;/mat-header-row&gt;
  &lt;mat-row *matRowDef="let row; columns: demoColumns2;"&gt;&lt;/mat-row&gt;
&lt;/mat-table&gt;</code>
      </pre>
    </div>

    <!-- Table Sorting -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0 mt-5">
      <h3 class="mb-0">Table w/ Sorting & Pagination</h3>
    </div>

    <div class="border border-light p-3">
      <mat-table [dataSource]="dataSource3" matSort class="full-width bg-transparent">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.id}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.name}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="count">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Count</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.count}}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="demoColumns3; sticky: true" class="bg-light"></mat-header-row>
        <mat-row *matRowDef="let row; columns: demoColumns3;"></mat-row>
      </mat-table>
      <mat-paginator
              [pageSizeOptions]="[4, 8, 12, 16]"
              showFirstLastButtons
              class="bg-transparent select-small mt-2">
      </mat-paginator>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#tableSorting')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="tableSorting" class="d-none" ngNonBindable>
<mat-table [dataSource]="dataSource3" matSort class="full-width bg-transparent">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{element.id}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{element.name}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="count">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Count</mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{element.count}}
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="demoColumns3; sticky: true" class="bg-light"></mat-header-row>
  <mat-row *matRowDef="let row; columns: demoColumns3;"></mat-row>
</mat-table>
<mat-paginator
        [pageSizeOptions]="[4, 8, 12, 16]"
        showFirstLastButtons
        class="bg-transparent select-small mt-2">
</mat-paginator>
</textarea>

      <pre class="m-0 pt-3 px-3">
<code ngNonBindable>&lt;mat-table [dataSource]="dataSource3" matSort class="full-width bg-transparent"&gt;
  &lt;ng-container matColumnDef="id"&gt;
    &lt;mat-header-cell *matHeaderCellDef mat-sort-header&gt;Id&lt;/mat-header-cell&gt;
    &lt;mat-cell *matCellDef="let element"&gt;
      {{element.id}}
    &lt;/mat-cell&gt;
  &lt;/ng-container&gt;

  &lt;ng-container matColumnDef="name"&gt;
    &lt;mat-header-cell *matHeaderCellDef mat-sort-header&gt;Name&lt;/mat-header-cell&gt;
    &lt;mat-cell *matCellDef="let element"&gt;
      {{element.name}}
    &lt;/mat-cell&gt;
  &lt;/ng-container&gt;

  &lt;ng-container matColumnDef="count"&gt;
    &lt;mat-header-cell *matHeaderCellDef mat-sort-header&gt;Count&lt;/mat-header-cell&gt;
    &lt;mat-cell *matCellDef="let element"&gt;
      {{element.count}}
    &lt;/mat-cell&gt;
  &lt;/ng-container&gt;

  &lt;mat-header-row *matHeaderRowDef="demoColumns3; sticky: true" class="bg-light"&gt;&lt;/mat-header-row&gt;
  &lt;mat-row *matRowDef="let row; columns: demoColumns3;"&gt;&lt;/mat-row&gt;
&lt;/mat-table&gt;
&lt;mat-paginator
  [pageSizeOptions]="[4, 8, 12, 16]"
  showFirstLastButtons
  class="bg-transparent select-small mt-2"&gt;
&lt;/mat-paginator&gt;</code>
      </pre>
    </div>
  </div>
</div>