<h1 mat-dialog-title class="mb-4 p-3 d-flex justify-content-left align-items-center mat-dialog-title bg-light border-bottom">
  <i class="material-icons text-primary mr-2">warning</i>
  {{data.title}}
</h1>
<div class="px-3 text-center">
  <div class="bg-light border p-2 rounded mb-4">{{data.message}}</div>
</div>
<div class="bg-light border-top py-2 pr-2 text-right">
  <button class="btn btn-white border px-4 mr-3" [mat-dialog-close]>Abbrechen</button>
  <button class="btn btn-primary text-white px-4" [mat-dialog-close]>Löschen</button>
</div>
