// Background Colors
@each $color, $value in $grays {
  @include bg-variant(".bg-#{$color}", $value);
}

// Background Hovers
@each $color, $value in $theme-colors {
  @include bg-hover(".bg-hover-#{$color}", $value);
}

@each $color, $value in $grays {
  @include bg-hover(".bg-hover-#{$color}", $value);
}