// Overflow X
.overflow-x-auto {
  overflow-x: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

@include media-breakpoint-down(sm) {
  .overflow-sm-x-auto {
    overflow-x: auto;
  }

  .overflow-sm-x-hidden {
    overflow-x: hidden;
  }
}


// Overflow Y
.overflow-y-auto {
  overflow-y: auto;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

@include media-breakpoint-down(sm) {
   .overflow-sm-y-auto {
     overflow-y: auto;
   }

   .overflow-sm-y-hidden {
     overflow-y: hidden;
   }
 }
