// Position Attributes for Absolute Positioned Elements
.position-absolute {
  &.top {
    top: 0;
  }

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }

  &.bottom {
    bottom: 0;
  }
}

.z-index-10 {
  z-index: 10;
}

// Bottom Spacing for Absolute Elements
@each $size, $height in $heights {
  .bottom-#{$size} {
    bottom: $height !important;
  }
}
