// Min Width
@each $size, $length in $sizes {
  .mw-#{$size} {
    min-width: $length !important;
  }
}

@each $size, $length in $widths {
  .mw-#{$size} {
    min-width: $length !important;
  }
}

@include media-breakpoint-up(sm) {
  @each $size, $length in $widths {
    .mw-sm-#{$size} {
      min-width: $length !important;
    }
  }
}

// Fixed Width
@each $size, $length in $widths {
  .fw-#{$size} {
    width: $length !important;
    max-width: $length !important;
  }
}

// Max Width
@each $size, $length in $widths {
  .maxw-#{$size} {
    max-width: $length !important;
  }
}

// Min Height
@each $size, $length in $heights {
  .mh-#{$size} {
    min-height: $length !important;
  }
}

// Fixed Height
@each $size, $length in $heights {
  .fh-#{$size} {
    height: $length !important;
    max-height: $length !important;
  }
}

// Max Height
@each $size, $length in $heights {
  .maxh-#{$size} {
    max-height: $length !important;
  }
}

// Height Auto
.height-auto {
  height: auto !important;
}

