// Weight
.font-weight-medium   { font-weight: $font-weight-medium !important; }

// Font Size
.font-size-xs { font-size: $font-size-xs !important;}
.font-size-sm { font-size: $font-size-sm !important;}
.font-size-md { font-size: $font-size-md !important;}
.font-size-l { font-size: $font-size-l !important;}
.font-size-lg { font-size: $font-size-lg !important;}
.font-size-xl { font-size: $font-size-xl !important;}