<div class="card m-3 shadow-sm border-0 rounded-0">
  <!-- Header -->
  <div class="card-header p-4 bg-gray-100">
    <h2 class="font-size-xl mb-1">Input</h2>
    <p class="text-default mb-0">see <a href="https://material.angular.io/components/input/overview" target="_blank">Material Input</a></p>
  </div>

  <div class="card-body">
    <!-- Input -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0">
      <h3 class="mb-0">Inputs</h3>
    </div>

    <div class="border border-light p-3">
      <div class="row">
        <div class="col-6">
          <label class="mb-1 mw-100">Input Label</label>
          <mat-form-field class="mw-100">
            <input matInput placeholder="Placeholder"
                   value="Value">
          </mat-form-field>
        </div>
        <div class="col-6">
          <label class="mb-1 mw-100">Input Label</label>
          <mat-form-field class="mw-100">
            <input matInput placeholder="Placeholder"
                   value="Value">
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#inputs')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="inputs" class="d-none" ngNonBindable>
<div class="row">
  <div class="col-6">
    <label class="mb-1 mw-100">Input Label</label>
    <mat-form-field class="mw-100">
      <input matInput placeholder="Placeholder"
             value="Value">
    </mat-form-field>
  </div>
  <div class="col-6">
    <label class="mb-1 mw-100">Input Label</label>
    <mat-form-field class="mw-100">
      <input matInput placeholder="Placeholder"
             value="Value">
    </mat-form-field>
  </div>
</div>
</textarea>

      <pre class="m-0 pt-3 px-3" ngNonBindable>
<code>&lt;div class="row"&gt;
  &lt;div class="col-6"&gt;
    &lt;label class="mb-1 mw-100"&gt;Input Label&lt;/label&gt;
    &lt;mat-form-field class="mw-100"&gt;
      &lt;input matInput placeholder="Placeholder"
             value="Value"&gt;
    &lt;/mat-form-field&gt;
  &lt;/div&gt;
  &lt;div class="col-6"&gt;
    &lt;label class="mb-1 mw-100"&gt;Input Label&lt;/label&gt;
    &lt;mat-form-field class="mw-100"&gt;
      &lt;input matInput placeholder="Placeholder"
             value="Value"&gt;
    &lt;/mat-form-field&gt;
  &lt;/div&gt;
&lt;/div&gt;</code>
      </pre>
    </div>

    <!-- Validation -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0 mt-5">
      <h3 class="mb-0">Validation</h3>
    </div>

    <div class="border border-light p-3">
      <div class="row">
        <div class="col-6 mb-3">
          <label class="mb-1 mw-100">Benutzername</label>
          <mat-form-field class="mw-100">
            <input matInput placeholder="Benutzername" value="" [formControl]="user" required>
            <mat-error *ngIf="user.invalid">{{getUserError()}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-6 mt-4 pt-2">
          <small class="mt-3">Adresse: max@mustermann.de</small>
        </div>
      </div>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#validation')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="validation" class="d-none" ngNonBindable>
<label class="mb-1 mw-100">Benutzername</label>
<mat-form-field class="mw-100">
  <input matInput placeholder="Benutzername" value="" [formControl]="user" required>
  <mat-error *ngIf="user.invalid">{{getUserError()}}</mat-error>
</mat-form-field>
</textarea>

      <pre class="m-0 pt-3 px-3">
<code ngNonBindable>&lt;label class="mb-1 mw-100"&gt;Benutzername&lt;/label&gt;
&lt;mat-form-field class="mw-100"&gt;
  &lt;input matInput placeholder="Benutzername" value="" [formControl]="user" required&gt;
  &lt;mat-error *ngIf="user.invalid"&gt;{{getUserError()}}&lt;/mat-error&gt;
&lt;/mat-form-field&gt;</code>
      </pre>
    </div>

    <!-- Search -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0 mt-5">
      <h3 class="mb-0">Search</h3>
    </div>

    <div class="border border-light p-3">
      <mat-form-field class="w-100 search-field border bg-light">
        <input matInput placeholder="Suchen…" [(ngModel)]="searchString">
        <a *ngIf="searchString" class="close-icon btn bg-transparent btn-hover-primary p-0" matSuffix aria-label="Clear" (click)="searchString=''">
          <i class="material-icons">close</i>
        </a>
      </mat-form-field>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#search')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="search" class="d-none" ngNonBindable>
<mat-form-field class="w-100 search-field border bg-light">
  <input matInput placeholder="Suchen…" [(ngModel)]="searchString">
  <a *ngIf="searchString"
     class="close-icon btn bg-transparent btn-hover-primary p-0"
     matSuffix
     aria-label="Clear"
     (click)="searchString=''">
    <i class="material-icons">close</i>
  </a>
</mat-form-field>
</textarea>

      <pre class="m-0 pt-3 px-3">
<code ngNonBindable>
&lt;mat-form-field class="w-100 search-field border bg-light"&gt;
  &lt;input matInput placeholder="Suchen…" [(ngModel)]="searchString"&gt;
  &lt;a *ngIf="searchString"
  class="close-icon btn bg-transparent btn-hover-primary p-0"
  matSuffix
  aria-label="Clear"
  (click)="searchString=''"&gt;
    &lt;i class="material-icons"&gt;close&lt;/i&gt;
  &lt;/a&gt;
&lt;/mat-form-field&gt;
</code>
      </pre>
    </div>
  </div>
</div>