<div class="row py-4 px-3">
  <!-- Name -->
  <div class="col-12">
    <label class="mt-3 mb-1 mw-100">Name</label>
    <mat-form-field class="mw-100">
      <input matInput placeholder="Workflow-Name"
             value="{{settingsService.newEntry ? '' : settingsService.activeNav.data[settingsService.selectedSubNav].name}}">
    </mat-form-field>
  </div>

  <!-- Group -->
  <div class="col-12 mt-2 col-md-6">
    <label class="mt-3 mb-1 mw-100">Kundengruppe hinzufügen</label>
    <ng-select [items]="demoData.companyGroups"
               class="mw-100 mb-1"
               placeholder="Kundengruppe auswählen"
               notFoundText="Keine Kundengruppe gefunden!"
               bindLabel="name"
               bindValue="name"
               [searchable]="true"
               [clearable]="true"
               [(ngModel)]="demoData.companyGroups[0].name">
    </ng-select>
    <a class="badge badge-pill bg-light text-dark badge-xs align-items-center mt-1 mr-2 font-size-xs"
       [ngClass]="settingsService.newEntry ? 'd-none' : 'd-inline-flex'">
      Online Druckereien
      <i class="pl-1 material-icons small">close</i>
    </a>
    <a class="badge badge-pill bg-light text-dark badge-xs align-items-center mt-1 mr-2 font-size-xs"
       [ngClass]="settingsService.newEntry ? 'd-none' : 'd-inline-flex'">
      Low Budget Kunden
      <i class="pl-1 material-icons small">close</i>
    </a>
  </div>

  <!-- Company -->
  <div class="col-12 mt-2 col-md-6 mt-3 mt-md-2">
    <label class="mt-3 mb-1 mw-100">Firma hinzufügen</label>
    <ng-select [items]="demoData.companies"
               class="mw-100 mb-1"
               placeholder="Firma auswählen"
               notFoundText="Keine Firma gefunden!"
               bindLabel="name"
               bindValue="name"
               [searchable]="true"
               [clearable]="true"
               [(ngModel)]="demoData.companies[0].name">
    </ng-select>
    <a class="badge badge-pill bg-light text-dark badge-xs align-items-center mt-1 mr-2 font-size-xs"
       [ngClass]="settingsService.newEntry ? 'd-none' : 'd-inline-flex'">
      Example Company
      <i class="pl-1 material-icons small">close</i>
    </a>
  </div>
</div>

<!-- Status Selection -->
<div class="row py-4 px-3 bg-gray-100 border-top border-bottom">
  <div class="col-12 mb-3 toolbar toolbar-sm d-flex justify-content-end align-items-center">
    <h6 class="mb-0 mr-auto">Status <small>(Reihenfolge per Drag & Drop ändern)</small></h6>
      <!-- New -->
      <a class="tool"
         matTooltip="Neuen Status"
         (click)="settingsService.addNewItem()">
        <i class="material-icons">add</i>
      </a>

      <!-- Delete -->
      <a class="tool"
         matTooltip="Status löschen"
         [class.disabled]="!settingsService.entrySelected"
         (click)="modalService.confirmDelete('Möchten Sie diesen Status wirklich löschen?');">
        <i class="material-icons">remove</i>
      </a>
  </div>

  <!-- Status List -->
  <div class="col-12">
    <div class="maxh-280 overflow-y-auto">
      <div class="list-group" cdkDropList (cdkDropListDropped)="settingsService.dropStatus($event)">
        <div class="list-group-item list-group-item-action rounded-0 px-3 py-2 d-flex align-items-center font-size-sm"
             cdkDrag
             [cdkDragDisabled]="status.locked"
             *ngFor="let status of demoData.statusRange; let i = index;"
             [class.active]="settingsService.entrySelected && settingsService.selectedStatus.statusName === status.statusName"
             (click)="settingsService.setSelectedEntry('status', status)">
             <div class="list-group-placeholder" *cdkDragPlaceholder></div>
             <span class="font-weight-medium w-50">{{status.statusName}}</span>
             <span>{{status.type}}</span>
             <i class="material-icons ml-auto font-size-md" [class.d-none]="!status.locked">lock</i>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- New / Edit Status -->
<div class="row py-4 px-3" [class.d-none]="!settingsService.entrySelected && !settingsService.newEntryItem">
  <h6 class="col-12">{{!settingsService.entrySelected ? 'Neuen Status hinzufügen' : 'Status ändern'}}</h6>

  <div class="col-12">
    <!-- Name -->
    <label class="mt-3 mb-1 mw-100">Name</label>
    <mat-form-field class="mw-100">
      <input matInput placeholder="Name des Status"
             value="{{settingsService.entrySelected ? settingsService.selectedStatus.statusName : ''}}">
    </mat-form-field>

    <!-- Color -->
    <label class="mt-3 mb-1 mw-100">Farbe</label>
    <a class="badge badge-circle border border-default bg-white d-inline-block mw-28 maxw-28 mh-28 maxh-28 mr-1"
      [class.selected]="!settingsService.entrySelected"></a>
    <a class="badge badge-circle border border-default bg-status-01 d-inline-block mw-28 maxw-28 mh-28 maxh-28 mr-1"
      [class.selected]="settingsService.selectedStatus.statusId === 'status-01'"></a>
    <a class="badge badge-circle border border-default bg-status-02 d-inline-block mw-28 maxw-28 mh-28 maxh-28 mr-1"
      [class.selected]="settingsService.selectedStatus.statusId === 'status-02'"></a>
    <a class="badge badge-circle border border-default bg-status-03 d-inline-block mw-28 maxw-28 mh-28 maxh-28 mr-1"
      [class.selected]="settingsService.selectedStatus.statusId === 'status-03'"></a>
    <a class="badge badge-circle border border-default bg-status-04 d-inline-block mw-28 maxw-28 mh-28 maxh-28 mr-1"
      [class.selected]="settingsService.selectedStatus.statusId === 'status-04'"></a>
    <a class="badge badge-circle border border-default bg-status-05 d-inline-block mw-28 maxw-28 mh-28 maxh-28 mr-1"
      [class.selected]="settingsService.selectedStatus.statusId === 'status-05'"></a>
    <a class="badge badge-circle border border-default bg-status-06 d-inline-block mw-28 maxw-28 mh-28 maxh-28 mr-1"
      [class.selected]="settingsService.selectedStatus.statusId === 'status-06'"></a>
    <a class="badge badge-circle border border-default bg-status-07 d-inline-block mw-28 maxw-28 mh-28 maxh-28 mr-1"
      [class.selected]="settingsService.selectedStatus.statusId === 'status-07'"></a>
    <a class="badge badge-circle border border-default bg-status-08 d-inline-block mw-28 maxw-28 mh-28 maxh-28 mr-1"
      [class.selected]="settingsService.selectedStatus.statusId === 'status-08'"></a>
    <a class="badge badge-circle border border-default bg-status-09 d-inline-block mw-28 maxw-28 mh-28 maxh-28 mr-1"
      [class.selected]="settingsService.selectedStatus.statusId === 'status-09'"></a>
    <a class="badge badge-circle border border-default bg-status-error d-inline-block mw-28 maxw-28 mh-28 maxh-28"
      [class.selected]="settingsService.selectedStatus.statusId === 'status-error'"></a>

    <!-- Lock Next Step -->
    <div class="mt-2 w-100">
      <mat-checkbox [checked]="settingsService.selectedStatus.locked">Sperrt nächsten Schritt</mat-checkbox>
    </div>

  </div>
  <div class="col-12 mt-3 mt-md-0">
    <!-- Processing -->
    <label class="mt-3 mb-1 mw-100">Verarbeitung</label>
    <ng-select [items]="processingSteps"
               class="mw-100 mb-1"
               placeholder="Verarbeitung auswählen"
               notFoundText="Keine Übereinstimmung gefunden!"
               bindLabel="name"
               bindValue="name"
               [searchable]="false"
               [clearable]="false"
               [(ngModel)]="settingsService.entrySelected ? settingsService.selectedStatus.type : processingSteps[0]">
    </ng-select>

    <!-- Options -->
    <div class="mt-3 w-100">
      <mat-checkbox [checked]="true">Änderungen für bestehende Aufträge übernehmen</mat-checkbox>
    </div>

    <div class="mt-3 w-100">
      <mat-checkbox [checked]="true">Muss von allen Dateien des Produkts erreicht werden</mat-checkbox>
    </div>

    <div class="mt-3 w-100">
      <mat-checkbox [checked]="true">Muss von allen Dateien der Bestellung erreicht werden</mat-checkbox>
    </div>
  </div>
</div>




