<h1 mat-dialog-title class="mb-4 p-3 d-flex justify-content-left align-items-center mat-dialog-title bg-light border-bottom">
  {{data.title}}
</h1>
<div class="px-3 pb-4 pt-0">
  {{data.message}}
</div>
<div class="bg-light border-top py-2 pr-2 text-right">
  <button class="btn btn-white border px-4 mr-3" [mat-dialog-close]>Abbrechen</button>
  <button class="btn btn-primary text-white px-4" [mat-dialog-close]>OK</button>
</div>
