<div class="card m-4 shadow rounded border-0" [class.d-none]="!settingsService.showEditMask">
  <div class="card-header p-4">
    <h2 class="font-size-xl mb-1">
      {{settingsService.activeNav.id === 1 ? demoData.user[0].name : ''}}

      {{settingsService.activeNav.sideNav && !settingsService.newEntry ? settingsService.activeNav.data[settingsService.selectedSubNav].name : ''}}

      {{settingsService.activeNav.id === 2 && settingsService.newEntry ? 'Neues Preset' : ''}}
      {{settingsService.activeNav.id === 3 && settingsService.newEntry ? 'Neuer Workflow' : ''}}
      {{settingsService.activeNav.id === 4 && settingsService.newEntry ? 'Neues Preset' : ''}}
      {{settingsService.activeNav.id === 5 && settingsService.newEntry ? 'Neuer Wert' : ''}}

      {{settingsService.activeNav.id === 6 ? 'Einstellungen': ''}}

      {{settingsService.activeNav.id === 7 && settingsService.newEntry ? 'Neues Modul' : ''}}
      {{settingsService.activeNav.id === 8 && settingsService.newEntry ? 'Neuer Benutzer' : ''}}

      {{settingsService.activeNav.id === 9 ? 'Entwickler': ''}}

      {{settingsService.activeNav.id === 10 && settingsService.newEntry ? 'Neues Werkzeug' : ''}}
    </h2>
    <p class="text-default mb-0">
      {{settingsService.activeNav.id === 1 ? 'Profileinstellungen' : ''}}

      {{settingsService.activeNav.id === 2 && !settingsService.newEntry ? 'Preflight Einstellungen bearbeiten': ''}}
      {{settingsService.activeNav.id === 2 && settingsService.newEntry ? 'Neue Preflight Einstellung': ''}}

      {{settingsService.activeNav.id === 3 && !settingsService.newEntry ? 'Workflow bearbeiten': ''}}
      {{settingsService.activeNav.id === 3 && settingsService.newEntry ? 'Neuen Workflow erstellen': ''}}

      {{settingsService.activeNav.id === 4 && !settingsService.newEntry ? 'Impose Preset bearbeiten': ''}}
      {{settingsService.activeNav.id === 4 && settingsService.newEntry ? 'Neues Impose Preset': ''}}

      {{settingsService.activeNav.id === 5 && !settingsService.newEntry ? 'Wert bearbeiten': ''}}
      {{settingsService.activeNav.id === 5 && settingsService.newEntry ? 'Neuen Wert anlegen': ''}}

      {{settingsService.activeNav.id === 6 ? 'Allgemeine Anwendungseinstellungen': ''}}

      {{settingsService.activeNav.id === 7 ? 'Moduleinstellungen': ''}}

      {{settingsService.activeNav.id === 8 && !settingsService.newEntry ? 'Benutzer bearbeiten': ''}}
      {{settingsService.activeNav.id === 8 && settingsService.newEntry ? 'Neuen Benutzer erstellen': ''}}

      {{settingsService.activeNav.id === 9 ? 'Erweiterte Einstellungen': ''}}

      {{settingsService.activeNav.id === 10 && !settingsService.newEntry ? 'Werkzeug bearbeiten': ''}}
      {{settingsService.activeNav.id === 10 && settingsService.newEntry ? 'Neues Werkzeug anlegen': ''}}
    </p>
  </div>

  <div class="card-body px-2 py-0 overflow-x-hidden">
    <pt-profile *ngIf="settingsService.activeNav.id === 1"></pt-profile>
    <pt-preflight *ngIf="settingsService.activeNav.id === 2"></pt-preflight>
    <pt-workflow *ngIf="settingsService.activeNav.id === 3"></pt-workflow>
    <pt-impose *ngIf="settingsService.activeNav.id === 4"></pt-impose>
    <pt-custom *ngIf="settingsService.activeNav.id === 5"></pt-custom>
    <pt-general-settings *ngIf="settings.activeNav.id === 6"></pt-general-settings>
    <pt-modules *ngIf="settings.activeNav.id === 7"></pt-modules>
    <pt-user *ngIf="settings.activeNav.id === 8"></pt-user>
    <pt-developer *ngIf="settings.activeNav.id === 9"></pt-developer>
    <pt-tools *ngIf="settings.activeNav.id === 10"></pt-tools>
  </div>

  <div class="card-footer px-2 py-3 bg-light border-top text-right rounded-bottom">
    <a (click)="settingsService.hideDetails()" class="btn btn-white border px-4 mr-3">Abbrechen</a>
    <a (click)="settingsService.hideDetails()" class="btn btn-primary text-white px-4 mr-2">Speichern</a>
  </div>
</div>