<div class="card m-3 shadow-sm border-0 rounded-0">
  <!-- Header -->
  <div class="card-header p-4 bg-gray-100">
    <h2 class="font-size-xl mb-1">Modal</h2>
    <p class="text-default mb-0">see <a href="https://material.angular.io/components/dialog/overview" target="_blank">Material Dialog</a></p>
  </div>

  <div class="card-body">
    <!-- Modal Default  -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0">
      <h3 class="mb-0">Modal Standard</h3>
    </div>

    <div class="border border-light p-3">
      <a class="btn btn-primary text-white" (click)="openModal('Title', 'Lorem ipsum…')">Modal öffnen</a>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#modalDefault')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="modalDefault" class="d-none" ngNonBindable>
<h1 mat-dialog-title
    class="mb-4 p-3 d-flex justify-content-left align-items-center mat-dialog-title bg-light border-bottom">
  {{data.title}}
</h1>
<div class="px-3 pb-4 pt-0">
  {{data.message}}
</div>
<div class="bg-light border-top py-2 pr-2 text-right">
  <button class="btn btn-white border px-4 mr-3" [mat-dialog-close]>Abbrechen</button>
  <button class="btn btn-primary text-white px-4" [mat-dialog-close]>OK</button>
</div>
</textarea>

      <pre class="m-0 pt-3 px-3">
<code ngNonBindable>&lt;h1 mat-dialog-title
  class="mb-4 p-3 d-flex justify-content-left align-items-center mat-dialog-title bg-light border-bottom"&gt;
  {{data.title}}
&lt;/h1&gt;
&lt;div class="px-3 pb-4 pt-0"&gt;
  {{data.message}}
&lt;/div&gt;
&lt;div class="bg-light border-top py-2 pr-2 text-right"&gt;
  &lt;button class="btn btn-white border px-4 mr-3" [mat-dialog-close]&gt;Abbrechen&lt;/button&gt;
  &lt;button class="btn btn-primary text-white px-4" [mat-dialog-close]&gt;OK&lt;/button&gt;
&lt;/div&gt;</code>
      </pre>
    </div>

    <!-- Modal Confirm  -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0 mt-5">
      <h3 class="mb-0">Modal Confirm</h3>
    </div>

    <div class="border border-light p-3">
      <a class="btn btn-primary text-white d-inline-flex align-items-center" (click)="confirmModal('Achtung', 'Möchten Sie dieses Element wirklich löschen?')">
        <i class="material-icons pr-2">delete</i> löschen
      </a>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#modalConfirm')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="modalConfirm" class="d-none" ngNonBindable>
<h1 mat-dialog-title
    class="mb-4 p-3 d-flex justify-content-left align-items-center mat-dialog-title bg-light border-bottom">
  <i class="material-icons text-primary mr-2">warning</i>
  {{data.title}}
</h1>
<div class="px-3 text-center">
  <div class="bg-light border p-2 rounded mb-4">{{data.message}}</div>
</div>
<div class="bg-light border-top py-2 pr-2 text-right">
  <button class="btn btn-white border px-4 mr-3" [mat-dialog-close]>Abbrechen</button>
  <button class="btn btn-primary text-white px-4" [mat-dialog-close]>Löschen</button>
</div>
</textarea>

      <pre class="m-0 pt-3 px-3">
<code ngNonBindable>
&lt;h1 mat-dialog-title
  class="mb-4 p-3 d-flex justify-content-left align-items-center mat-dialog-title bg-light border-bottom"&gt;
  &lt;i class="material-icons text-primary mr-2"&gt;warning&lt;/i&gt;
  {{data.title}}
&lt;/h1&gt;
&lt;div class="px-3 text-center"&gt;
  &lt;div class="bg-light border p-2 rounded mb-4"&gt;{{data.message}}&lt;/div&gt;
&lt;/div&gt;
&lt;div class="bg-light border-top py-2 pr-2 text-right"&gt;
  &lt;button class="btn btn-white border px-4 mr-3" [mat-dialog-close]&gt;Abbrechen&lt;/button&gt;
  &lt;button class="btn btn-primary text-white px-4" [mat-dialog-close]&gt;Löschen&lt;/button&gt;
&lt;/div&gt;
  
</code>
      </pre>
    </div>
  </div>
</div>