<header class="main-header">
  <pt-navigation></pt-navigation>
  <pt-toolbar></pt-toolbar>
</header>

<section class="main-content">
  <div class="inner">
    <mat-sidenav-container hasBackdrop="{{sidebarService.hasBackdrop}}" class="bg-light overflow-x-hidden">
      <!-- Sidebar -->
      <mat-sidenav #sidenav class="overflow-x-hidden" [opened]="sidebarService.showSidebar" (closed)="sidebarService.showSidebar" mode="{{sidebarService.sidebarMode}}"
                   [ngClass]="settingsService.activeNav.sideNav ? 'large' : ''">
        <div class="h-100 d-flex align-items-stretch overflow-x-hidden">

          <!-- Main Navigation -->
          <div class="left-content mw-420 maxw-420 bg-light mat-sidenav-shadow border-right z-index-10" [class.hide]="!this.settingsService.hideMobileNav">
            <pt-settings-navigation></pt-settings-navigation>
          </div>

          <!-- Navigation Level 2 -->
          <div class="right-content mw-420 maxw-420"
               [ngClass]="[settingsService.activeNav.sideNav ? '' : 'hide', !this.settingsService.hideMobileNav ? 'show' : '']">
                <pt-settings-subnavigation *ngIf="settingsService.activeNav.sideNav"></pt-settings-subnavigation>
          </div>
        </div>
      </mat-sidenav>

      <!-- Content -->
      <mat-sidenav-content [style.margin-left.px]="this.settingsService.activeNav.sideNav ? '840' : '420'">
        <pt-settings-details *ngIf="settingsService.selectedSubNav !== false || settingsService.newEntry === true || settingsService.activeNav.sideNav === false"></pt-settings-details>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</section>
