@import "bootstrap/setup";

@include media-breakpoint-down(md) {
  .left-content,
  .right-content {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    @include transition($transition-slow);
  }

  .left-content.hide {
    left: -420px;
  }

  .right-content {
    left: 420px;
    z-index: 200;

    &.show {
      left: 0;
    }
  }
}