// Underline Navigational Links
@mixin underlineNavigation($color, $height, $spacingStart, $spacingStop) {
  position: relative;
  
  &:after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: $height;
    background: $color;
    content: '';
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY($spacingStart);
    -moz-transform: translateY($spacingStart);
    transform: translateY($spacingStart);
  }

  &:hover:after,
  &:focus:after {
    opacity: 1;
    -webkit-transform: translateY($spacingStop);
    -moz-transform: translateY($spacingStop);
    transform: translateY($spacingStop);
  }
}

@mixin underlineNavigationShow($color, $spacingStop) {
  &:after,
  &:after {
    background: $color;
    opacity: 1;
    -webkit-transform: translateY($spacingStop);
    -moz-transform: translateY($spacingStop);
    transform: translateY($spacingStop);
  }
}