// Contextual Background Hover
@mixin bg-hover($parent, $color) {
  #{$parent} {
    @include transition($transition-base);

    @include hover-focus {
      background-color: $color !important;
    }
  }
}