// Override for Default Badge Mixin
@mixin badge-variant($bg) {
  color: color-yiq($bg) !important;
  background-color: $bg;

  @at-root a#{&} {
    @include hover-focus {
      color: color-yiq($bg);
      background-color: darken($bg, 10%);
    }

    &:focus,
    &.focus {
      outline: 0;
      box-shadow: 0 0 0 $badge-focus-width rgba($bg, .5);
    }
  }
}


// Badge w/ Marker: Color Variations
@mixin badge-marker-variant($color) {
  color: $color;

  &:before {
    background-color: $color;
  }
}
