<div class="w-100 h-100 d-inline-flex align-items-center pl-2 pr-2 flex-sm-wrap mt-3 pb-3">
  <a href="prototype/listing" class="card-badge mb-3 ml-3 shadow-sm shadow-hover-sm hover-scale-103 bg-white rounded-bottom position-relative d-inline-block"
       *ngFor="let status of demoData.statusRange; let i = index;">
    <div class="bg-{{status.statusId}} text-white rounded-top p-2">
      <h1 class="mb-0 font-weight-normal transition">{{orderCountTemp[i].count}}</h1>
      <i class="material-icons position-absolute top right p-2 opacity-75">{{orderCountTemp[i].trend == 'up' ? 'trending_up' : 'trending_down'}}</i>
    </div>
    <div class="bg-white text-default font-weight-medium p-2 font-size-xs">
      {{status.statusName}}
    </div>
  </a>
</div>