<div class="card m-3 shadow-sm border-0 rounded-0">
  <!-- Header -->
  <div class="card-header p-4 bg-gray-100">
    <h2 class="font-size-xl mb-1">Cards</h2>
    <p class="text-default mb-0">see <a href="https://getbootstrap.com/docs/4.3/components/card/" target="_blank">Bootstrap Cards</a></p>
  </div>

  <div class="card-body">
    <!-- Card Big  -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0">
      <h3 class="mb-0">Card Big</h3>
    </div>

    <div class="border border-light p-3">
      <div class="card m-4 shadow rounded border-0">
        <div class="card-header p-4">
          <h2 class="font-size-xl mb-1">Headline</h2>
          <p class="text-default mb-2">Info Text</p>
        </div>

        <div class="card-body">
          Content
        </div>
        <div class="card-footer bg-light border-top text-right rounded-bottom pl-0">
          <a class="btn btn-white border px-4 mr-3">Abbrechen</a>
          <a class="btn btn-primary text-white px-4">Speichern</a>
        </div>
      </div>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#cardBig')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="cardBig" class="d-none">
<div class="card m-4 shadow rounded border-0">
  <div class="card-header p-4">
    <h2 class="font-size-xl mb-1">Headline</h2>
    <p class="text-default mb-2">Info Text</p>
  </div>
  
  <div class="card-body">
    Content
  </div>

  <div class="card-footer bg-light border-top text-right rounded-bottom pl-0">
    <a class="btn btn-white border px-4 mr-3">Abbrechen</a>
    <a class="btn btn-primary text-white px-4">Speichern</a>
  </div>
</div>
</textarea>

      <pre class="m-0 pt-3 px-3">
<code>&lt;div class="card m-4 shadow rounded border-0"&gt;
  &lt;div class="card-header p-4"&gt;
    &lt;h2 class="font-size-xl mb-1"&gt;Headline&lt;/h2&gt;
    &lt;p class="text-default mb-2"&gt;Info Text&lt;/p&gt;
  &lt;/div&gt;
  
  &lt;div class="card-body"&gt;
    Content
  &lt;/div&gt;

  &lt;div class="card-footer bg-light border-top text-right rounded-bottom pl-0"&gt;
    &lt;a class="btn btn-white border px-4 mr-3"&gt;Abbrechen&lt;/a&gt;
    &lt;a class="btn btn-primary text-white px-4"&gt;Speichern&lt;/a&gt;
  &lt;/div&gt;
&lt;/div&gt;</code>
      </pre>
    </div>

    <!-- Card Small  -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0 mt-5">
      <h3 class="mb-0">Card Small</h3>
    </div>

    <div class="border border-light p-3">
      <div class="card mw-350 maxw-350 border rounded">
        <div class="card-header d-flex justify-content-center align-items-center rounded-top">
          <span class="badge badge-light badge-circle text-dark mr-3 p-2">
            <i class="material-icons">group</i>
          </span>
          <span class="flex-fill font-weight-medium text-center">Headline</span>
        </div>

        <div class="card-body">
          Content
        </div>

        <div class="card-footer px-0 bg-light border-top text-right rounded-bottom">
          <a class="btn btn-white border px-4 mr-3">Abbrechen</a>
          <a class="btn btn-primary text-white px-4 mr-2">Speichern</a>
        </div>
      </div>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#cardSmall')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="cardSmall" class="d-none">
<div class="card mw-350 maxw-350 border rounded">
  <div class="card-header d-flex justify-content-center align-items-center rounded-top">
    <span class="badge badge-light badge-circle text-dark mr-3 p-2">
      <i class="material-icons">group</i>
    </span>
    <span class="flex-fill font-weight-medium text-center">Headline</span>
  </div>
  
  <div class="card-body">
    Content
  </div>
  
  <div class="card-footer px-0 bg-light border-top text-right rounded-bottom">
    <a class="btn btn-white border px-4 mr-3">Abbrechen</a>
    <a class="btn btn-primary text-white px-4 mr-2">Speichern</a>
  </div>
</div>
</textarea>

      <pre class="m-0 pt-3 px-3">
<code>&lt;div class="card mw-350 maxw-350 border rounded"&gt;
  &lt;div class="card-header d-flex justify-content-center align-items-center rounded-top"&gt;
    &lt;span class="badge badge-light badge-circle text-dark mr-3 p-2"&gt;
      &lt;i class="material-icons"&gt;group&lt;/i&gt;
    &lt;/span&gt;
    &lt;span class="flex-fill font-weight-medium text-center"&gt;Headline&lt;/span&gt;
  &lt;/div&gt;
  
  &lt;div class="card-body"&gt;
    Content
  &lt;/div&gt;
  
  &lt;div class="card-footer px-0 bg-light border-top text-right rounded-bottom"&gt;
    &lt;a class="btn btn-white border px-4 mr-3"&gt;Abbrechen&lt;/a&gt;
    &lt;a class="btn btn-primary text-white px-4 mr-2"&gt;Speichern&lt;/a&gt;
  &lt;/div&gt;
&lt;/div&gt;</code>
      </pre>
    </div>
  </div>
</div>