<div class="d-inline dropdown toolbar">
<span dropdown #customerGroupEdit="bs-dropdown" [insideClick]="true" container="body">
  <a class="nav-link tool tool-dark dropleft tool-light"
     matTooltip="Kundengruppe bearbeiten" id="modgroup" dropdownToggle>
        <i class="material-icons">edit</i>
    </a>

  <!-- Dropdown Content -->
    <div id="customerGroupEditDropdown" *dropdownMenu class="dropdown-menu dropdown-mobile dropdown-toolbar" role="menu" aria-labelledby="customerGroupEdit">
      <div class="card mw-350 maxw-350 border-0 rounded">

        <!-- Header -->
        <div class="card-header d-flex justify-content-center align-items-center">
          <span class="badge badge-light badge-circle text-dark mr-3 p-2">
            <i class="material-icons">group</i>
          </span>
          <span class="flex-fill font-weight-medium text-center">Kundengruppe bearbeiten</span>
          <span class="marker top left pointer bg-white text-dark" (click)="customerGroupEdit.hide()">
             <i class="material-icons">edit</i>
          </span>
        </div>

        <div class="card-body pt-0 px-3 pb-3">
          <div class="row align-items-center px-3 pt-3">
            <label class="col-4">Name</label>
            <div class="col-8 pl-0 pr-0">
              <mat-form-field class="mw-100">
                <input matInput placeholder="Name der Kundengruppe" value="{{contactData.selectedGroup.name}}">
              </mat-form-field>
            </div>
          </div>
        </div>

        <!-- Cancel / Save -->
        <div class="card-footer px-0 bg-light border-top text-right rounded-bottom">
          <a class="btn btn-white border px-4 mr-3" (click)="customerGroupEdit.hide()">Abbrechen</a>
          <a class="btn btn-primary text-white px-4 mr-2" (click)="customerGroupEdit.hide()">Speichern</a>
        </div>
      </div>
    </div>
  </span>
</div>