<div class="card m-3 shadow-sm border-0 rounded-0">
  <!-- Header -->
  <div class="card-header p-4 bg-gray-100">
    <h2 class="font-size-xl mb-1">List Group</h2>
    <p class="text-default mb-0">see <a href="https://getbootstrap.com/docs/4.3/components/list-group/" target="_blank">Bootstrap List Group</a></p>
  </div>

  <div class="card-body">
    <!-- List Group -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0">
      <h3 class="mb-0"> List Group</h3>
    </div>

    <div class="border border-light p-3">
      <ul class="list-group">
        <li class="list-group-item rounded-0">Entry</li>
        <li class="list-group-item rounded-0">Entry</li>
        <li class="list-group-item rounded-0">Entry</li>
        <li class="list-group-item rounded-0">Entry</li>
      </ul>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#group')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="group" class="d-none">
 <ul class="list-group">
  <li class="list-group-item rounded-0">Entry</li>
  <li class="list-group-item rounded-0">Entry</li>
  <li class="list-group-item rounded-0">Entry</li>
  <li class="list-group-item rounded-0">Entry</li>
</ul>
</textarea>

      <pre class="m-0 pt-3 px-3">
<code>&lt;ul class="list-group"&gt;
  &lt;li class="list-group-item rounded-0"&gt;Entry&lt;/li&gt;
  &lt;li class="list-group-item rounded-0"&gt;Entry&lt;/li&gt;
  &lt;li class="list-group-item rounded-0"&gt;Entry&lt;/li&gt;
  &lt;li class="list-group-item rounded-0"&gt;Entry&lt;/li&gt;
&lt;/ul&gt;</code>
      </pre>
    </div>


    <!-- List Group w/ Active Items -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0 mt-5">
      <h3 class="mb-0"> List Group w/ Active Items</h3>
    </div>

    <div class="border border-light p-3">
      <ul class="list-group">
        <li class="list-group-item list-group-item-action rounded-0">Entry</li>
        <li class="list-group-item list-group-item-action rounded-0">Entry</li>
        <li class="list-group-item list-group-item-action rounded-0 active">Entry active</li>
        <li class="list-group-item list-group-item-action rounded-0 disabled">Entry disabled</li>
      </ul>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#groupLink')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="groupLink" class="d-none">
<ul class="list-group">
  <li class="list-group-item list-group-item-action rounded-0">Entry</li>
  <li class="list-group-item list-group-item-action rounded-0">Entry</li>
  <li class="list-group-item list-group-item-action rounded-0 active">Entry active</li>
  <li class="list-group-item list-group-item-action rounded-0 disabled">Entry disabled</li>
</ul>
</textarea>

      <pre class="m-0 pt-3 px-3">
<code>&lt;ul class="list-group"&gt;
  &lt;li class="list-group-item list-group-item-action rounded-0"&gt;Entry&lt;/li&gt;
  &lt;li class="list-group-item list-group-item-action rounded-0"&gt;Entry&lt;/li&gt;
  &lt;li class="list-group-item list-group-item-action rounded-0 active"&gt;Entry active&lt;/li&gt;
  &lt;li class="list-group-item list-group-item-action rounded-0 disabled"&gt;Entry disabled&lt;/li&gt;
&lt;/ul&gt;</code>
      </pre>
    </div>

  <!-- List Group w/ Card -->
  <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0 mt-5">
    <h3 class="mb-0"> List Group w/ Card</h3>
  </div>

  <div class="border border-light p-3">
    <div class="card shadow-sm">
      <div class="card-header">
        <span class="font-weight-medium">Header</span>
      </div>
      <div class="card-body p-0">
        <ul class="list-group">
          <li class="list-group-item list-group-item-action rounded-0 border-top-0">Entry</li>
          <li class="list-group-item list-group-item-action rounded-0">Entry</li>
          <li class="list-group-item list-group-item-action rounded-0 border-bottom-0">Entry</li>
        </ul>
      </div>
      <div class="card-footer bg-light border-top px-3">
        Footer
      </div>
    </div>
  </div>

  <div class="position-relative border border-light bg-light px-2">
    <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#groupCard')" matTooltip="Copy HTML">
      <i class="material-icons">file_copy</i>
    </a>

    <textarea id="groupCard" class="d-none">
<div class="card shadow-sm">
  <div class="card-header">
    <span class="font-weight-medium">Header</span>
  </div>
  <div class="card-body p-0">
    <ul class="list-group">
      <li class="list-group-item list-group-item-action rounded-0 border-top-0">Entry</li>
      <li class="list-group-item list-group-item-action rounded-0">Entry</li>
      <li class="list-group-item list-group-item-action rounded-0 border-bottom-0">Entry</li>
    </ul>
  </div>
  <div class="card-footer bg-light border-top px-3">
    Footer
  </div>
</div>
</textarea>

    <pre class="m-0 pt-3 px-3">
<code>&lt;div class="card shadow-sm"&gt;
  &lt;div class="card-header"&gt;
    &lt;span class="font-weight-medium"&gt;Header&lt;/span&gt;
  &lt;/div&gt;
  &lt;div class="card-body p-0"&gt;
    &lt;ul class="list-group"&gt;
      &lt;li class="list-group-item list-group-item-action rounded-0 border-top-0"&gt;Entry&lt;/li&gt;
      &lt;li class="list-group-item list-group-item-action rounded-0"&gt;Entry&lt;/li&gt;
      &lt;li class="list-group-item list-group-item-action rounded-0 border-bottom-0"&gt;Entry&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt;
  &lt;div class="card-footer bg-light border-top px-3"&gt;
    Footer
  &lt;/div&gt;
&lt;/div&gt;</code>
      </pre>
  </div>