<div class="card m-3 shadow-sm border-0 rounded-0">
  <!-- Header -->
  <div class="card-header p-4 bg-gray-100">
    <h2 class="font-size-xl mb-1">Buttons</h2>
    <p class="text-default mb-0">see <a href="https://getbootstrap.com/docs/4.3/components/buttons/" target="_blank">Bootstrap Buttons</a></p>
  </div>

  <div class="card-body">
    <!-- Buttons Default -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0">
      <h3 class="mb-0">Buttons Default</h3>
    </div>

    <div class="border border-light p-3">
      <a href="#" class="btn btn-primary mr-2">Primary</a>
      <a href="#" class="btn btn-secondary mr-2">Secondary</a>
      <a href="#" class="btn btn-success mr-2">Success</a>
      <a href="#" class="btn btn-danger mr-2">Danger</a>
      <a href="#" class="btn btn-warning mr-2">Warning</a>
      <a href="#" class="btn btn-info mr-2">Info</a>
      <a href="#" class="btn btn-light mr-2">Light</a>
      <a href="#" class="btn btn-dark mr-2">Dark</a>
      <a href="#" class="btn btn-link">Link</a>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#buttons')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

<textarea id="buttons" class="d-none">
<a href="#" class="btn btn-primary">Primary</a>
<a href="#" class="btn btn-secondary">Secondary</a>
<a href="#" class="btn btn-success">Success</a>
<a href="#" class="btn btn-danger">Danger</a>
<a href="#" class="btn btn-warning">Warning</a>
<a href="#" class="btn btn-info">Info</a>
<a href="#" class="btn btn-light">Light</a>
<a href="#" class="btn btn-dark">Dark</a>
<a href="#" class="btn btn-link">Link</a>
</textarea>

      <pre class="m-0 pt-3 px-3">
<code>&lt;a href="#" class="btn btn-primary"&gt;Primary&lt;/a&gt;
&lt;a href="#" class="btn btn-secondary"&gt;Secondary&lt;/a&gt;
&lt;a href="#" class="btn btn-success"&gt;Success&lt;/a&gt;
&lt;a href="#" class="btn btn-danger"&gt;Danger&lt;/a&gt;
&lt;a href="#" class="btn btn-warning"&gt;Warning&lt;/a&gt;
&lt;a href="#" class="btn btn-info"&gt;Info&lt;/a&gt;
&lt;a href="#" class="btn btn-light"&gt;Light&lt;/a&gt;
&lt;a href="#" class="btn btn-dark"&gt;Dark&lt;/a&gt;
&lt;a href="#" class="btn btn-link"&gt;Link&lt;/a&gt;</code>
      </pre>
    </div>

    <!-- Sizes -->
    <div class="bg-gray-100 border border-light border-top border-bottom-0 p-3 mb-0 mt-5">
      <h3 class="mb-0">Button Sizes</h3>
    </div>

    <div class="border border-light p-3">
      <a href="#" class="btn btn-lg btn-primary mr-2">Large</a>
      <a href="#" class="btn btn-sm btn-primary mr-2">Small</a>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#buttonsSizes')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

<textarea id="buttonsSizes" class="d-none">
<a href="#" class="btn btn-lg btn-primary">Large</a>
<a href="#" class="btn btn-sm btn-primary">Small</a>
</textarea>

<pre class="m-0 pt-3 px-3">
<code>&lt;a href="#" class="btn btn-lg btn-primary"&gt;Large&lt;/a&gt;
&lt;a href="#" class="btn btn-sm btn-primary"&gt;Small&lt;/a&gt;
</code>
</pre>
    </div>

    <!-- Block Level -->
    <div class="bg-gray-100 border border-light border-top border-bottom-0 p-3 mb-0 mt-5">
      <h3 class="mb-0">Block Level</h3>
    </div>

    <div class="border border-light p-3">
      <a href="#" class="btn btn-primary btn-block mr-2">Block Level</a>
      <a href="#" class="btn btn-secondary btn-block mr-2">Block Level</a>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#buttonsBlock')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="buttonsBlock" class="d-none">
<a href="#" class="btn btn-primary btn-block">Block Level</a>
<a href="#" class="btn btn-secondary btn-block">Block Level</a>
</textarea>

      <pre class="m-0 pt-3 px-3">
<code>&lt;a href="#" class="btn btn-primary btn-block"&gt;Block Level&lt;/a&gt;
&lt;a href="#" class="btn btn-secondary btn-block"&gt;Block Level&lt;/a&gt;
</code>
</pre>
    </div>

    <!-- Disabled -->
    <div class="bg-gray-100 border border-light border-top border-bottom-0 p-3 mb-0 mt-5">
      <h3 class="mb-0">Disabled</h3>
    </div>

    <div class="border border-light p-3">
      <a href="#" class="btn btn-primary disabled mr-2">Disabled</a>
      <a href="#" class="btn btn-secondary disabled mr-2">Disabled</a>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#buttonsDisabled')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="buttonsDisabled" class="d-none">
<a href="#" class="btn btn-primary disabled">Disabled</a>
<a href="#" class="btn btn-secondary disabled">Disabled</a>
</textarea>

      <pre class="m-0 pt-3 px-3">
<code>&lt;a href="#" class="btn btn-primary disabled"&gt;Disabled&lt;/a&gt;
&lt;a href="#" class="btn btn-secondary disabled"&gt;Disabled&lt;/a&gt;
</code>
</pre>
    </div>




  </div>
</div>