<div class="row py-4 px-3">
  <!-- Name -->
  <div class="col-12">
    <label class="mt-3 mb-1 mw-100">Name</label>
    <mat-form-field class="mw-100">
      <input matInput placeholder="Workflow-Name"
             value="{{settingsService.newEntry ? '' : settingsService.activeNav.data[settingsService.selectedSubNav].name}}">
    </mat-form-field>

    <!-- Apply for -->
    <div class="col-12 mt-3 mb-1 pl-0">
      <label class="mr-2">Anwenden für</label>
      <mat-radio-group [(ngModel)]="selectedType" class="d-inline-flex">
        <mat-radio-button class="mr-2" *ngFor="let type of orderTypes" [value]="type">
          {{type}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <!-- Fixed Values -->
    <div class="col-12 mt-3 mb-1 pl-0">
      <mat-checkbox [checked]="settingsService.fixedValues" [(ngModel)]="settingsService.fixedValues">Werte festlegen</mat-checkbox>
    </div>
  </div>
</div>

<!-- Value Selection -->
<div [class.d-none]="!settingsService.fixedValues">
  <div class="row py-4 px-3 bg-gray-100 border-top border-bottom">
    <div class="col-12 mb-3 toolbar toolbar-sm d-flex justify-content-end align-items-center">
      <h6 class="mb-0 mr-auto">Werte <small>(Reihenfolge per Drag & Drop ändern)</small></h6>
      <!-- New -->
      <a class="tool"
         matTooltip="Neuer Wert"
         (click)="settingsService.addNewItem()">
        <i class="material-icons">add</i>
      </a>

      <!-- Delete -->
      <a class="tool"
         matTooltip="Wert löschen"
         [class.disabled]="!settingsService.entrySelected"
         (click)="modalService.confirmDelete('Möchten Sie diesen Wert wirklich löschen?');">
        <i class="material-icons">remove</i>
      </a>
    </div>

    <!-- Status List -->
    <div class="col-12">
      <div class="maxh-280 overflow-y-auto">
        <div class="list-group" cdkDropList (cdkDropListDropped)="settingsService.dropStatus($event)">
          <div class="list-group-item list-group-item-action rounded-0 px-3 py-2 d-flex align-items-center font-size-sm"
               cdkDrag
               *ngFor="let value of settingsService.selectedCustom.values; let i = index;"
               [class.active]="settingsService.entrySelected && settingsService.selectedValue.value === value.value"
               (click)="settingsService.setSelectedEntry('value', value)">
            <div class="list-group-placeholder" *cdkDragPlaceholder></div>
            <span class="font-weight-medium w-50">{{value.value}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- New / Edit Value -->
  <div class="row py-4 px-3" [class.d-none]="!settingsService.entrySelected && !settingsService.newEntryItem">
    <h6 class="col-12">{{!settingsService.entrySelected ? 'Neuen Wert hinzufügen' : 'Wert ändern'}}</h6>

    <div class="col-12">
      <!-- Name -->
      <label class="mt-3 mb-1 mw-100">Name</label>
      <mat-form-field class="mw-100">
        <input matInput placeholder="Name des Werts"
               value="{{settingsService.entrySelected ? settingsService.selectedValue.value : ''}}">
      </mat-form-field>

      <!-- Color -->
      <label class="mt-3 mb-1 mw-100">Farbe</label>
      <a class="badge badge-circle border border-default bg-white d-inline-block mw-28 maxw-28 mh-28 maxh-28 mr-1 selected"></a>
      <a class="badge badge-circle border border-default bg-status-01 d-inline-block mw-28 maxw-28 mh-28 maxh-28 mr-1"></a>
      <a class="badge badge-circle border border-default bg-status-02 d-inline-block mw-28 maxw-28 mh-28 maxh-28 mr-1"></a>
      <a class="badge badge-circle border border-default bg-status-03 d-inline-block mw-28 maxw-28 mh-28 maxh-28 mr-1"></a>
      <a class="badge badge-circle border border-default bg-status-04 d-inline-block mw-28 maxw-28 mh-28 maxh-28 mr-1"></a>
      <a class="badge badge-circle border border-default bg-status-05 d-inline-block mw-28 maxw-28 mh-28 maxh-28 mr-1"></a>
      <a class="badge badge-circle border border-default bg-status-06 d-inline-block mw-28 maxw-28 mh-28 maxh-28 mr-1"></a>
      <a class="badge badge-circle border border-default bg-status-07 d-inline-block mw-28 maxw-28 mh-28 maxh-28 mr-1"></a>
      <a class="badge badge-circle border border-default bg-status-08 d-inline-block mw-28 maxw-28 mh-28 maxh-28 mr-1"></a>
      <a class="badge badge-circle border border-default bg-status-09 d-inline-block mw-28 maxw-28 mh-28 maxh-28 mr-1"></a>
      <a class="badge badge-circle border border-default bg-status-error d-inline-block mw-28 maxw-28 mh-28 maxh-28"></a>
    </div>
  </div>
</div>