<div class="row align-items-center justify-content-between">

  <!-- File Type -->
  <div class="col-12 col-sm-6 pt-2 pb-2 pl-3">
    <label class="mr-2">Ansicht:</label>
    <mat-checkbox
                  (change)="listingService.setFileType()"
                  [(ngModel)]="listingService.showPdfFiles"
                  name="showPdfFiles"
                  class="mr-3">PDFs</mat-checkbox>

    <mat-checkbox (change)="listingService.setFileType()"
                  [(ngModel)]="listingService.showImposedFiles"
                  name="showImposedFiles"
                  class="checkbox-bg-white">Druckbögen</mat-checkbox>
  </div>

  <!-- Status Selection -->
  <div class="col-12 col-sm-6 d-flex align-items-center justify-content-start justify-content-sm-end">
    <label class="p-0 pr-3 text-right">Status</label>
    <div class="status-selection pl-0">
      <ng-select [items]="statusRange"
                 class="no-search mw-150"
                 bindLabel="name"
                 bindValue="name"
                 placeholder="Alle"
                 [searchable]="false"
                 [(ngModel)]="statusRange[0]">
      </ng-select>
    </div>
  </div>
</div>