<!-- Tool -->
<span dropdown #modExport="bs-dropdown" [insideClick]="true" (onShown)="data.setActiveTool('export', true)" (onHidden)="data.setActiveTool('export', false)">
  <a class="nav-link tool" [class.active]="data.tools[5].active"
     matTooltip="Exportieren" id="modExport" dropdownToggle>
        <i class="material-icons">import_export</i>
    </a>

  <!-- Dropdown Content -->
    <div id="modExportDropdown" *dropdownMenu (click)="data.preventClose($event)" class="dropdown-menu dropdown-mobile dropdown-toolbar" role="menu" aria-labelledby="modExport">
      <div class="card mw-350 maxw-350 border-0 rounded">

        <!-- Header -->
        <div class="card-header d-flex justify-content-center align-items-center">
          <span class="badge badge-light badge-circle text-dark mr-3 p-2 mr-auto">
            <i class="material-icons">import_export</i>
          </span>
          <span class="flex-fill font-weight-medium text-center">Übersicht exportieren</span>
        </div>

        <div class="card-body p-0">

          <!-- Form -->
          <div class="row align-items-center px-3 py-3">
            <div class="col-12">
              <mat-radio-group [(ngModel)]="selectedType">
                <mat-radio-button class="col-12 py-2" *ngFor="let format of exportTypes" [value]="format">
                  {{format}}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>

        <!-- Cancel / Save -->
        <div class="card-footer px-0 bg-light border-top text-right rounded-bottom">
          <a class="btn btn-white border px-4 mr-3" (click)="modExport.hide()">Abbrechen</a>
          <a class="btn btn-primary text-white px-4 mr-2" (click)="modExport.hide()">Exportieren</a>
        </div>
      </div>
    </div>
  </span>