<div class="row py-4 px-3">
  <!-- Name -->
  <div class="col-12 col-md-6">
    <label class="mb-1 mw-100">Name</label>
    <mat-form-field class="mw-100">
      <input matInput placeholder="Preset Name"
             value="{{settingsService.newEntry ? '' : settingsService.activeNav.data[settingsService.selectedSubNav].name}}">
    </mat-form-field>
  </div>

  <!-- Tool -->
  <div class="col-12 col-md-6 mt-3 mt-md-0">
    <label class="mb-1 mw-100">Impose Tool</label>
    <ng-select [items]="demoData.modules"
               class="mw-100"
               placeholder="Modul auswählen"
               notFoundText="Keine Übereinstimmung gefunden!"
               bindLabel="name"
               bindValue="name"
               [searchable]="false"
               [clearable]="false"
               [(ngModel)]="settingsService.newEntry ? demoData.modules[0].name : demoData.modules[settingsService.activeNav.data[settingsService.selectedSubNav].module].name">
    </ng-select>
  </div>
</div>

<div class="row py-4 px-3 bg-gray-100 border-top border-bottom">
  <h6 class="col-12 mb-3">Optionen</h6>
  <!-- Option 01 -->
  <div class="col-12 d-block d-md-flex align-items-center">
    <mat-checkbox class="mr-3 mw-150" [checked]="settingsService.imposeOption01" [(ngModel)]="settingsService.imposeOption01">Option 01</mat-checkbox>
    <span class="mt-2 mt-md-0 d-flex align-items-center mr-4">
          <label class="mt-2 mb-1 mw-80 maxw-80" [class.disabled]="!settingsService.imposeOption01">Wert 01</label>
            <mat-form-field class="mw-80 maxw-80">
            <input matInput placeholder="Wert" [disabled]="!settingsService.imposeOption01">
          </mat-form-field>
    </span>
    <span class="mt-2 mt-md-0 d-flex align-items-center">
          <label class="mt-2 mb-1 mw-80 maxw-80" [class.disabled]="!settingsService.imposeOption01">Wert 02</label>
            <mat-form-field class="mw-80 maxw-80">
            <input matInput placeholder="Wert" [disabled]="!settingsService.imposeOption01">
          </mat-form-field>
    </span>
  </div>

  <!-- Option 02 -->
  <div class="col-12 mt-3 d-block d-md-flex align-items-center">
    <mat-checkbox class="mr-3 mw-150" [checked]="settingsService.imposeOption02" [(ngModel)]="settingsService.imposeOption02">Option 02</mat-checkbox>
    <span class="mt-2 mt-md-0 d-flex align-items-center mr-4">
          <label class="mt-2 mb-1 mw-80 maxw-80" [class.disabled]="!settingsService.imposeOption02">Wert 01</label>
            <mat-form-field class="mw-80 maxw-80">
            <input matInput placeholder="Wert" [disabled]="!settingsService.imposeOption02">
          </mat-form-field>
    </span>
    <span class="mt-2 mt-md-0 d-flex align-items-center">
          <label class="mt-2 mb-1 mw-80 maxw-80" [class.disabled]="!settingsService.imposeOption02">Wert 02</label>
            <mat-form-field class="mw-80 maxw-80">
            <input matInput placeholder="Wert" [disabled]="!settingsService.imposeOption02">
          </mat-form-field>
    </span>
  </div>

  <!-- Further Options -->
  <div class="col-12 mt-3 d-block d-md-flex align-items-center">
    <p>...</p>
  </div>
</div>