<div class="card m-3 shadow-sm border-0 rounded-0">
  <!-- Header -->
  <div class="card-header p-4 bg-gray-100">
    <h2 class="font-size-xl mb-1">Icons</h2>
    <p class="text-default mb-0">see <a href="https://material.io/tools/icons/?icon=insert_photo&style=baseline" target="_blank">Material Icons</a></p>
  </div>

  <div class="card-body">
    <!-- Icons -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0">
      <h3 class="mb-0">Default</h3>
    </div>

    <div class="border border-light p-3">
      <i class="material-icons mr-2">add</i>
      <i class="material-icons mr-2">remove</i>
      <i class="material-icons mr-2">build</i>
      <i class="material-icons mr-2">done</i>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#icons')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="icons" class="d-none">
<i class="material-icons">add</i>
<i class="material-icons">remove</i>
<i class="material-icons">build</i>
<i class="material-icons">done</i>
</textarea>

      <pre class="m-0 pt-3 px-3">
<code>&lt;i class="material-icons"&gt;add&lt;/i&gt;
&lt;i class="material-icons"&gt;remove&lt;/i&gt;
&lt;i class="material-icons"&gt;build&lt;/i&gt;
&lt;i class="material-icons"&gt;done&lt;/i&gt;</code>
      </pre>
    </div>

    <!-- Icons Small -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0 mt-5">
      <h3 class="mb-0">Small</h3>
    </div>

    <div class="border border-light p-3">
      <i class="material-icons small mr-2">add</i>
      <i class="material-icons small mr-2">remove</i>
      <i class="material-icons small mr-2">build</i>
      <i class="material-icons small mr-2">done</i>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#iconsDefault')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="iconsDefault" class="d-none">
<i class="material-icons small">add</i>
<i class="material-icons small">remove</i>
<i class="material-icons small">build</i>
<i class="material-icons small">done</i>
</textarea>

      <pre class="m-0 pt-3 px-3">
<code>&lt;i class="material-icons small"&gt;add&lt;/i&gt;
&lt;i class="material-icons small"&gt;remove&lt;/i&gt;
&lt;i class="material-icons small"&gt;build&lt;/i&gt;
&lt;i class="material-icons small"&gt;done&lt;/i&gt;</code>
      </pre>
    </div>

      <!-- Icons Medium -->
      <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0 mt-5">
          <h3 class="mb-0">Medium</h3>
      </div>

      <div class="border border-light p-3">
          <i class="material-icons medium mr-2">add</i>
          <i class="material-icons medium mr-2">remove</i>
          <i class="material-icons medium mr-2">build</i>
          <i class="material-icons medium mr-2">done</i>
      </div>

      <div class="position-relative border border-light bg-light px-2">
          <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#iconsMedium')" matTooltip="Copy HTML">
              <i class="material-icons">file_copy</i>
          </a>

          <textarea id="iconsMedium" class="d-none">
<i class="material-icons medium">add</i>
<i class="material-icons medium">remove</i>
<i class="material-icons medium">build</i>
<i class="material-icons medium">done</i>
</textarea>

          <pre class="m-0 pt-3 px-3">
<code>&lt;i class="material-icons small"&gt;add&lt;/i&gt;
&lt;i class="material-icons small"&gt;remove&lt;/i&gt;
&lt;i class="material-icons small"&gt;build&lt;/i&gt;
&lt;i class="material-icons small"&gt;done&lt;/i&gt;</code>
      </pre>
      </div>

    <!-- Icon Colors -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0 mt-5">
      <h3 class="mb-0">Color Variations</h3>
    </div>

    <div class="border border-light p-3">
      <i class="material-icons mr-2 text-primary">sentiment_satisfied_alt</i>
      <i class="material-icons mr-2 text-secondary">sentiment_satisfied_alt</i>
      <i class="material-icons mr-2 text-success">sentiment_satisfied_alt</i>
      <i class="material-icons mr-2 text-danger">sentiment_satisfied_alt</i>
      <i class="material-icons mr-2 text-warning">sentiment_satisfied_alt</i>
      <i class="material-icons mr-2 text-info">sentiment_satisfied_alt</i>
      <i class="material-icons mr-2 text-light">sentiment_satisfied_alt</i>
      <i class="material-icons mr-2 text-dark">sentiment_satisfied_alt</i>
      <i class="material-icons mr-2 text-white bg-dark">sentiment_satisfied_alt</i>
      <br />
      <i class="material-icons mr-2 text-status-01">sentiment_satisfied_alt</i>
      <i class="material-icons mr-2 text-status-02">sentiment_satisfied_alt</i>
      <i class="material-icons mr-2 text-status-03">sentiment_satisfied_alt</i>
      <i class="material-icons mr-2 text-status-04">sentiment_satisfied_alt</i>
      <i class="material-icons mr-2 text-status-05">sentiment_satisfied_alt</i>
      <i class="material-icons mr-2 text-status-06">sentiment_satisfied_alt</i>
      <i class="material-icons mr-2 text-status-07">sentiment_satisfied_alt</i>
      <i class="material-icons mr-2 text-status-08">sentiment_satisfied_alt</i>
      <i class="material-icons mr-2 text-status-09">sentiment_satisfied_alt</i>
      <i class="material-icons mr-2 text-status-error">sentiment_satisfied_alt</i>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#iconsColor')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="iconsColor" class="d-none">
<i class="material-icons text-primary">sentiment_satisfied_alt</i>
<i class="material-icons text-secondary">sentiment_satisfied_alt</i>
<i class="material-icons text-success">sentiment_satisfied_alt</i>
<i class="material-icons text-danger">sentiment_satisfied_alt</i>
<i class="material-icons text-warning">sentiment_satisfied_alt</i>
<i class="material-icons text-info">sentiment_satisfied_alt</i>
<i class="material-icons text-light">sentiment_satisfied_alt</i>
<i class="material-icons text-dark">sentiment_satisfied_alt</i>
<i class="material-icons text-white bg-dark">sentiment_satisfied_alt</i>
<i class="material-icons text-status-01">sentiment_satisfied_alt</i>
<i class="material-icons text-status-02">sentiment_satisfied_alt</i>
<i class="material-icons text-status-03">sentiment_satisfied_alt</i>
<i class="material-icons text-status-04">sentiment_satisfied_alt</i>
<i class="material-icons text-status-05">sentiment_satisfied_alt</i>
<i class="material-icons text-status-06">sentiment_satisfied_alt</i>
<i class="material-icons text-status-07">sentiment_satisfied_alt</i>
<i class="material-icons text-status-08">sentiment_satisfied_alt</i>
<i class="material-icons text-status-09">sentiment_satisfied_alt</i>
<i class="material-icons text-status-error">sentiment_satisfied_alt</i>
</textarea>

      <pre class="m-0 pt-3 px-3">
<code>&lt;i class="material-icons text-primary"&gt;sentiment_satisfied_alt&lt;/i&gt;
&lt;i class="material-icons text-secondary"&gt;sentiment_satisfied_alt&lt;/i&gt;
&lt;i class="material-icons text-success"&gt;sentiment_satisfied_alt&lt;/i&gt;
&lt;i class="material-icons text-danger"&gt;sentiment_satisfied_alt&lt;/i&gt;
&lt;i class="material-icons text-warning"&gt;sentiment_satisfied_alt&lt;/i&gt;
&lt;i class="material-icons text-info"&gt;sentiment_satisfied_alt&lt;/i&gt;
&lt;i class="material-icons text-light"&gt;sentiment_satisfied_alt&lt;/i&gt;
&lt;i class="material-icons text-dark"&gt;sentiment_satisfied_alt&lt;/i&gt;
&lt;i class="material-icons text-white bg-dark"&gt;sentiment_satisfied_alt&lt;/i&gt;
&lt;i class="material-icons text-status-01"&gt;sentiment_satisfied_alt&lt;/i&gt;
&lt;i class="material-icons text-status-02"&gt;sentiment_satisfied_alt&lt;/i&gt;
&lt;i class="material-icons text-status-03"&gt;sentiment_satisfied_alt&lt;/i&gt;
&lt;i class="material-icons text-status-04"&gt;sentiment_satisfied_alt&lt;/i&gt;
&lt;i class="material-icons text-status-05"&gt;sentiment_satisfied_alt&lt;/i&gt;
&lt;i class="material-icons text-status-06"&gt;sentiment_satisfied_alt&lt;/i&gt;
&lt;i class="material-icons text-status-07"&gt;sentiment_satisfied_alt&lt;/i&gt;
&lt;i class="material-icons text-status-08"&gt;sentiment_satisfied_alt&lt;/i&gt;
&lt;i class="material-icons text-status-09"&gt;sentiment_satisfied_alt&lt;/i&gt;
&lt;i class="material-icons text-status-error"&gt;sentiment_satisfied_alt&lt;/i&gt;</code>
      </pre>
    </div>
  </div>
</div>