<div class="card m-3 shadow-sm border-0 rounded-0">
  <!-- Header -->
  <div class="card-header p-4 bg-gray-100">
    <h2 class="font-size-xl mb-1">Tools</h2>
    <p class="text-default mb-0"></p>
  </div>

  <div class="card-body">
    <!-- Tools -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0">
      <h3 class="mb-0">Tools</h3>
    </div>

    <div class="border border-light p-3">
      <div class="toolbar">
        <a class="nav-link tool" matTooltip="Neu">
          <i class="material-icons">add</i>
        </a>

        <a class="nav-link tool" matTooltip="Löschen">
          <i class="material-icons">remove</i>
        </a>

        <a class="nav-link tool active" matTooltip="Aktiv">
          <i class="material-icons">add</i>
        </a>

       <a class="nav-link tool disabled" matTooltip="Disabled">
          <i class="material-icons">add</i>
        </a>
      </div>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#tools')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="tools" class="d-none">
<div class="toolbar">
  <a class="nav-link tool" matTooltip="Neu">
    <i class="material-icons">add</i>
  </a>

  <a class="nav-link tool" matTooltip="Löschen">
    <i class="material-icons">remove</i>
  </a>

  <a class="nav-link tool active" matTooltip="Aktiv">
    <i class="material-icons">add</i>
  </a>

 <a class="nav-link tool disabled" matTooltip="Disabled">
    <i class="material-icons">add</i>
  </a>
</div>
</textarea>

      <pre class="m-0 pt-3 px-3">
<code>&lt;div class="toolbar"&gt;
  &lt;a class="nav-link tool" matTooltip="Neu"&gt;
    &lt;i class="material-icons"&gt;add&lt;/i&gt;
  &lt;/a&gt;

  &lt;a class="nav-link tool" matTooltip="Löschen"&gt;
    &lt;i class="material-icons"&gt;remove&lt;/i&gt;
  &lt;/a&gt;

  &lt;a class="nav-link tool active" matTooltip="Aktiv"&gt;
    &lt;i class="material-icons"&gt;add&lt;/i&gt;
  &lt;/a&gt;

 &lt;a class="nav-link tool disabled" matTooltip="Disabled"&gt;
    &lt;i class="material-icons"&gt;add&lt;/i&gt;
  &lt;/a&gt;
&lt;/div&gt;</code>
      </pre>
    </div>

    <!-- Tools Colors -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-4 mb-0 mt-5">
      <h3 class="mb-0">Tools Hover Colors</h3>
    </div>

    <div class="border border-light p-3">
      <div class="toolbar">
        <div class="d-inline-block border border-light p-3">
          <a class="nav-link tool" matTooltip="Neu">
            <i class="material-icons">add</i>
          </a>
        </div>
        <div class="d-inline-block border border-light bg-light p-3">
          <a class="nav-link tool tool-light" matTooltip="Neu">
            <i class="material-icons">add</i>
          </a>
        </div>
        <div class="d-inline-block border border-dark bg-dark p-3">
          <a class="nav-link tool tool-dark text-white" matTooltip="Neu">
            <i class="material-icons">add</i>
          </a>
        </div>
      </div>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#toolsColors')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="toolsColors" class="d-none">
<div class="toolbar">
  <a class="nav-link tool" matTooltip="Neu">
    <i class="material-icons">add</i>
  </a>
   
  <a class="nav-link tool tool-light" matTooltip="Neu">
    <i class="material-icons">add</i>
  </a>
   
  <a class="nav-link tool tool-dark text-white" matTooltip="Neu">
    <i class="material-icons">add</i>
  </a>
</div>        
</textarea>

      <pre class="m-0 pt-3 px-3">
<code>&lt;div class="toolbar"&gt;
  &lt;a class="nav-link tool" matTooltip="Neu"&gt;
    &lt;i class="material-icons"&gt;add&lt;/i&gt;
  &lt;/a&gt;
   
  &lt;a class="nav-link tool tool-light" matTooltip="Neu"&gt;
    &lt;i class="material-icons"&gt;add&lt;/i&gt;
  &lt;/a&gt;
   
  &lt;a class="nav-link tool tool-dark text-white" matTooltip="Neu"&gt;
    &lt;i class="material-icons"&gt;add&lt;/i&gt;
  &lt;/a&gt;
&lt;/div&gt;</code>
      </pre>
    </div>
  </div>
</div>