<pt-status-selection></pt-status-selection>

<!-- Order Table -->
<mat-table [dataSource]="dataSource" matSort class="full-width bg-transparent mat-table-pills">

    <!-- Order ID-->
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="cell-small pl-0 pl-md-3"> Bestell ID </mat-header-cell>
        <mat-cell *matCellDef="let element" class="cell-small pl-0 pl-md-3"> {{element.id}} </mat-cell>
    </ng-container>

    <!-- Order Name -->
    <ng-container matColumnDef="orderName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Bestellung </mat-header-cell>
        <mat-cell *matCellDef="let element" class="font-weight-medium mobile-border-bottom mobile-font-lg"> {{element.orderName}} </mat-cell>
    </ng-container>

    <!-- Deadline -->
    <ng-container matColumnDef="deadline">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Deadline </mat-header-cell>
        <mat-cell *matCellDef="let element" class="font-weight-medium mobile-border-bottom mobile-font-lg"> {{element.deadline | date:'dd.LL.yyyy'}} </mat-cell>
    </ng-container>

    <!-- Contact -->
    <ng-container matColumnDef="contact">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Kontakt </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <div class="d-block">
                {{demoData.getContactById(element.contact).name}}
                <a href="mailto:{{demoData.getContactById(element.contact).mail}}" class="show-underline" title="E-Mail an {{demoData.getContactById(element.contact).name}} senden">
                    <i>{{demoData.getContactById(element.contact).mail}}</i>
                </a>
            </div>
        </mat-cell>
    </ng-container>

    <!-- Products -->
    <ng-container matColumnDef="productCount">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="justify-content-center"> Produkte </mat-header-cell>
        <mat-cell *matCellDef="let element" class="justify-content-center">
            <div class="d-block">
                <span class="badge badge-circle badge-sm badge-light d-none d-md-inline-block">{{demoData.countProducts(element.id)}}</span>
            </div>
        </mat-cell>
    </ng-container>

    <!-- Files -->
    <ng-container matColumnDef="fileCount">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="justify-content-center"> Dateien </mat-header-cell>
        <mat-cell *matCellDef="let element" class="justify-content-center">
            <div class="d-block">
                <span class="badge badge-circle badge-sm badge-light d-none d-md-inline-block">{{demoData.countAll(element.id)}}</span>
            </div>
        </mat-cell>
    </ng-container>


    <!-- Status -->
    <ng-container matColumnDef="orderStatus">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
        <mat-cell *matCellDef="let element" class="mobile-border-top">
            <span class="badge badge-marker badge-{{element.orderStatus}}">{{demoData.getStatusName(element.orderStatus)}}</span>
        </mat-cell>
    </ng-container>


    <!-- Link -->
    <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef class="overflow-visible">
            <pt-edit-table [tableData]="listingService.orderTableColumns"></pt-edit-table>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <a href="prototype/details" title="Bestellung bearbeiten" class="btn btn-link btn-icon">
                <i class="material-icons">more_horiz</i>
            </a>
        </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             (click)="listingService.setActiveRow(row);
                      listingService.manageSelectedItems(row);
                      sidebar.openOverlay(listingService.highlightedRows.length)"
             [ngClass]="listingService.highlightedRows.indexOf(row) != -1 ? 'active': ''"></mat-row>


</mat-table>

<mat-paginator [pageSizeOptions]="[12, 24, 48, 72]" showFirstLastButtons class="bg-transparent select-small"></mat-paginator>

<pt-selected-entries></pt-selected-entries>
