<!-- New File -->
<span [ngClass]="(listingService.activeView == 'files' && listingService.activeScope == 'new') ? '': 'd-none'">
  <pt-new-file></pt-new-file>
</span>

<!-- New Product -->
<span [ngClass]="(listingService.activeView == 'products' && listingService.activeScope == 'new') ? '': 'd-none'">
  <pt-new-product></pt-new-product>
</span>

<!-- New Order -->
<span [ngClass]="(listingService.activeView == 'orders' && listingService.activeScope == 'new') ? '': 'd-none'">
  <pt-new-order></pt-new-order>
</span>


