<div class="row py-4 px-3">
  <div class="col-12">
    <!-- Name -->
    <label class="pt-2 mb-1 mw-100">Name</label>
    <mat-form-field class="mw-100">
      <input matInput placeholder="Preset Name"
             value="{{settingsService.newEntry ? '' : settingsService.activeNav.data[settingsService.selectedSubNav].name}}">
    </mat-form-field>
  </div>

  <div class="col-12 col-md-6">
    <!-- RGB -->
    <mat-checkbox class="d-block mw-100 mt-3" [checked]="settingsService.newEntry ? true : settingsService.activeNav.data[settingsService.selectedSubNav].rgb">RGB prüfen</mat-checkbox>

    <!-- Number of Pages -->
    <mat-checkbox class="d-block mw-100 mt-3" [checked]="settingsService.newEntry ? true : settingsService.activeNav.data[settingsService.selectedSubNav].numberOfPages">Anzahl der Seiten</mat-checkbox>

    <!-- Format -->
    <mat-checkbox class="d-block mw-100 mt-3" [checked]="settingsService.newEntry ? true : settingsService.activeNav.data[settingsService.selectedSubNav].format">Endformat</mat-checkbox>

  </div>
  <div class="col-12 col-md-6 mt-0 mt-md-3">
    <!-- Fonts -->
    <mat-checkbox class="d-block mw-100 mt-3" [checked]="settingsService.newEntry ? true : settingsService.activeNav.data[settingsService.selectedSubNav].fonts">Fonts</mat-checkbox>

    <!-- Separations -->
    <mat-checkbox class="d-block mw-100 mt-3" [checked]="settingsService.newEntry ? true : settingsService.activeNav.data[settingsService.selectedSubNav].separations">Farbauszüge</mat-checkbox>
  </div>

  <!-- TAC -->
  <div class="col-12 mt-4 pt-3 d-block d-md-flex align-items-center border-top">
    <mat-checkbox
            class="d-block d-md-inline mw-150 maxw-150"
            [checked]="settingsService.preflightTac"
            [(ngModel)]="settingsService.preflightTac">TAC</mat-checkbox>

    <span class="mt-2 mt-md-0 d-flex align-items-center">
       <label class="mw-115 maxw-115 mt-1" [class.disabled]="!settingsService.preflightTac">TAC Maximum</label>

      <mat-form-field class="mw-75 maxw-75">
        <input matInput placeholder="100"
               value="{{settingsService.newEntry ? '' : settingsService.activeNav.data[settingsService.selectedSubNav].tacMax}}"
               disabled="{{!settingsService.preflightTac}}">
      </mat-form-field>
    </span>
  </div>

  <!-- Resolution -->
  <div class="col-12 mt-4 pt-3 d-block d-md-flex align-items-center border-top">
    <mat-checkbox
            class="d-block d-md-inline mw-150 maxw-150"
            [checked]="settingsService.preflightResolution"
            [(ngModel)]="settingsService.preflightResolution">Auflösung</mat-checkbox>

    <span class="mt-2 mt-md-0 mr-4 d-flex align-items-center">
       <label class="mw-115 maxw-115 mt-1" [class.disabled]="!settingsService.preflightResolution">Halbtöne</label>

      <mat-form-field class="mw-75 maxw-75">
        <input matInput placeholder="100"
               value="{{settingsService.newEntry ? '' : settingsService.activeNav.data[settingsService.selectedSubNav].resolutionHalfStroke}}"
               disabled="{{!settingsService.preflightResolution}}">
      </mat-form-field>
    </span>

    <span class="mt-2 mt-md-0 d-flex align-items-center">
       <label class="mw-115 maxw-115 mt-1" [class.disabled]="!settingsService.preflightResolution">Strich</label>

      <mat-form-field class="mw-75 maxw-75">
        <input matInput placeholder="100"
               value="{{settingsService.newEntry ? '' : settingsService.activeNav.data[settingsService.selectedSubNav].resolutionStroke}}"
               disabled="{{!settingsService.preflightResolution}}">
      </mat-form-field>
    </span>
  </div>

  <!-- Offset -->
  <div class="col-12 mt-4 pt-3 d-block d-md-flex align-items-center border-top">
    <mat-checkbox
            class="d-block d-md-inline mw-150 maxw-150"
            [checked]="settingsService.preflightOffset"
            [(ngModel)]="settingsService.preflightOffset">Beschnitt</mat-checkbox>

    <span class="mt-2 mt-md-0 mr-4 d-flex align-items-center">
       <label class="mw-115 maxw-115 mt-1" [class.disabled]="!settingsService.preflightOffset">Abstand</label>

      <mat-form-field class="mw-75 maxw-75">
        <input matInput placeholder="0.00"
               value="{{settingsService.newEntry ? '' : settingsService.activeNav.data[settingsService.selectedSubNav].offsetValue}}"
               disabled="{{!settingsService.preflightOffset}}">
      </mat-form-field>
    </span>

    <span class="mt-2 mt-md-0 d-flex align-items-center">
       <label class="mw-115 maxw-115 mt-1" [class.disabled]="!settingsService.preflightOffset">Minimum</label>

      <mat-form-field class="mw-75 maxw-75">
        <input matInput placeholder="0"
               value="{{settingsService.newEntry ? '' : settingsService.activeNav.data[settingsService.selectedSubNav].offsetMin}}"
               disabled="{{!settingsService.preflightOffset}}">
      </mat-form-field>
    </span>
  </div>
</div>
