// Overrides for Default Bootstrap Badge Variables

// Badges Default
$badge-font-size:                   85%;
$badge-font-size-small:             $font-size-sm;
$badge-font-weight:                 $font-weight-normal;
$badge-padding-y:                   .5rem;
$badge-padding-x:                   1rem;
$badge-border-radius:               $border-radius;
$badge-pill-border-radius:          $border-radius;

// Badge Pill
$badge-pill-border-radius:          1rem;

// Badges w/ Marker
$badge-marker-width:            16px;
$badge-marker-height:           16px;
$badge-marker-offset-y:         -8px;
$badge-marker-padding:          1.5rem;
$badge-marker-font-size:        95%;
$badge-marker-font-weight:      $font-weight-medium;
$badge-marker-radius:           100%;

$badge-marker-default-color:    $dark;
$badge-marker-border-color:     $border-color-light;

// Badge Circle
$badge-circle-default:          2.5rem;
$badge-circle-sm:               2rem;
$badge-circle-s:                1.75rem;
$badge-circle-xs:               1rem;

// Card Badges
$card-badge-min-width:          140px;

// Badge selected
$badge-selected-border:         2px solid $dark;
$badge-box-shadow:              $element-shadow;