// Overrides for default bootstrap card variables

// Cards Default
$card-spacer-y:                     .75rem !default;
$card-spacer-x:                     1.25rem !default;
$card-border-width:                 1px;
$card-border-radius:                0;
$card-border-color:                 $border-color;
$card-inner-border-radius:          0;
$card-cap-bg:                       $white;
$card-font:                         $font-family-sans-serif;
$card-footer-padding:               .75rem;

// Cards Sidebar
$card-sidebar-header-height:        70px;
$card-sidebar-header-small-height:  60px;
$card-sidebar-footer-height:        70px;
$card-sidebar-dropzone-height:      170px;
$card-sidebar-dropzone-height-xs:   60px;

// Marker
$marker-size:               40px;
$marker-bg:                 $dark;
$marker-color:              $white;
$marker-hover-bg:           lighten($dark, 10%);
$marker-hover-color:        $white;
$marker-shadow:             $element-shadow;
$marker-line-height:        54px;
$marker-position-tr-top:    -31px;
$marker-position-tr-right:  4px;
$marker-position-tl-top:    -35px;
$marker-position-tl-left:   10px;