// Overrides for default bootstrap color variables

// Default theme colors
$primary:       #CB030E;
$secondary:     #0F1824;
$success:       #2BA84D;
$info:          #FC8722;
$warning:       #EBB300;
$danger:        #CB030E;
$light:         #E9EEF4;
$dark:          #0F1824;
$default:       #616780;
$super-light:   #f3f6f9;

// Greyscales
$white:         #fff;
$gray-100:      #F8FAFB;
$gray-200:      lighten($default, 24%);
$gray-300:      lighten($default, 16%);
$gray-400:      lighten($default, 8%);
$gray-500:      $default;
$gray-600:      darken($default, 8%);
$gray-700:      darken($default, 16%);
$gray-800:      darken($default, 24%);
$gray-900:      darken($default, 32%);
$black:         #000;


$grays: map-merge(
  (
    "gray-100": $gray-100,
    "gray-200": $gray-200,
    "gray-300": $gray-300,
    "gray-400": $gray-400,
    "gray-500": $gray-500,
    "gray-600": $gray-600,
    "gray-700": $gray-700,
    "gray-800": $gray-800,
    "gray-900": $gray-900
  ),
  $grays
);

// Status colors
$status-01:     #EBB300;
$status-02:     #FC8722;
$status-03:     #D954B0;
$status-04:     #BF2C70;
$status-05:     #7D5EA8;
$status-06:     #2C9BB5;
$status-07:     #23A847;
$status-08:     #586BA7;
$status-09:     #101C2C;
$status-error:  #CB040F;

$theme-colors: (
        "primary":      $primary,
        "secondary":    $secondary,
        "success":      $success,
        "info":         $info,
        "warning":      $warning,
        "danger":       $danger,
        "light":        $light,
        "dark":         $dark,
        "white":        $white,
        "default":      $default,
        "super-light":  $super-light,
        "status-01":    $status-01,
        "status-02":    $status-02,
        "status-03":    $status-03,
        "status-04":    $status-04,
        "status-05":    $status-05,
        "status-06":    $status-06,
        "status-07":    $status-07,
        "status-08":    $status-08,
        "status-09":    $status-09,
        "status-error": $status-error,
        "error":        $status-error
);

// Body colors
$body-bg:          $light;
$body-color:       $dark;


// Overlays
$sidebar-overlay:  fade_out($dark, 0.1);