// Common UI Variables

// Borders
$border-color:              $gray-200;
$border-color-light:        fade_out($dark, .9);

// Border Radius
$border-radius-lg:          1rem;

// Shadows
$toolbar-shadow:            0 0 10px fade_out($black, .85);
$toolbar-shadow-mobile:     0 5px 5px fade_out($black, .85);
$sidebar-shadow:            0 0 15px fade_out($black, .85);
$element-shadow:            0 3px 6px fade_out($black, .85);
$element-shadow-hover:      0 3px 10px fade_out($black, .9);
$dropdown-shadow:           0 3px 5px fade_out($black, .75);

// Transition
$transition-slow:           all .3s ease-in-out;
$transition-base:           all .1s ease-in-out;

// Labels Default
$label-padding-right:       .75rem;
$label-margin-bottom:        0;
$label-font-size:           $font-size-sm;
$label-font-size-small:     $font-size-sm;
$label-font-weight:         $font-weight-medium;

// Overflows
$overflows:                 auto, hidden, visible;
