// Overrides for default NGX Datepicker

// Datepicker Input Field
$form-control-height:                     36px;
$form-control-font:                       $font-family-sans-serif;
$form-control-border:                     $dark;
$form-control-color:                      $dark;
$form-control-font-size:                  $font-size-sm;

// Datepicker Setup
$datepicker-padding:                      0;
$datepicker-font:                         $font-family-sans-serif;
$datepicker-header-bg:                    $dark;
$datepicker-header-color:                 $white;


// Datepicker Header
$datepicker-arrow-size:                   20px;
$datepicker-arrow-color:                  $white;
$datepicker-header-font-weight:           300;
$datepicker-header-hover-bg:              fade_out($white, .85);
$datepicker-header-hover-color:           $white;
$datepicker-header-button-radius:         $border-radius;
$datepicker-header-hover-radius:          $border-radius;


// Datepicker Calendar
$datepicker-table-header-color:           $default;
$datepicker-table-week-color:             $primary;
$datepicker-table-color:                  $dark;
$datepicker-table-day-highlighted-bg:     $light;
$datepicker-table-day-active-bg:          $dark;
$datepicker-table-day-active-color:       $white;
$datepicker-table-day-disabled-color:     $gray-200;
$datepicker-table-day-selected-bg:        $dark;
$datepicker-table-day-selected-color:     $white;
$datepicker-table-day-other-month-color:  lighten($gray-200, 15%);
$datepicker-table-day-radius:             $border-radius;
