// Dropdown Variables

$dropdown-padding:                0;
$dropdown-radius:                 $border-radius;
$dropdown-border:                 transparent;
$dropdown-shadow:                 $dropdown-shadow;
$dropdown-toolbar-spacing:        12px;
$dropdown-active-bg:              $light;

// Dropdown Mobile
$dropdown-mobile-top:             3rem;
$dropdown-mobile-left:            5%;
$dropdown-mobile-right:           5%;
$dropdown-mobile-bottom:          3rem;
$dropdown-mobile-overlay-bg:      fade_out($dark, .25);
$dropdown-mobile-margin:          auto;
$dropdown-mobile-marker-top:      12px;
$dropdown-mobile-marker-left:     20px;

$dropdown-mobile-header-height:   65px;
$dropdown-mobile-footer-height:   65px;
$dropdown-min-width-mobile:       300px;