// Variables for Folder List

$folder-top-lg:            65px;
$folder-header-height:        60px;
$folder-header-hover-bg:      $light;
$folder-header-hover-color:   $dark;
$folder-icon-left:            10px;
$folder-icon-hover-left:      5px;