// Layout setup
$main-nav-height:           70px;
$toolbar-height:            70px;
$sidebar-width:             420px;
$sidebar-width-large:       840px;
$navigation-width:          75px;
$sidebar-navigation-width:  495px;

$toolbar-mobile-bg:     $white;
$toolbar-mobile-border: $light;

// Mobile Navigation – Icon
$hamburger-layer-width         : 35px;
$hamburger-layer-height        : 2px;
$hamburger-layer-spacing       : 7px;
$hamburger-layer-border-radius : 0;
$hamburger-layer-color         : white;
