// Variables for List Groups

$list-group-color:                      null !default;
$list-group-bg:                         $white;
$list-group-border-color:               rgba($black, .125) !default;
$list-group-border-width:               $border-width !default;
$list-group-border-radius:              $border-radius !default;

$list-group-hover-bg:                   darken($light, 5%);
$list-group-active-color:               $white;
$list-group-active-bg:                  $dark;
$list-group-active-border-color:        $list-group-border-color;

$list-group-disabled-color:             fade_out($dark, .5);
$list-group-disabled-bg:                fade_out($white, .5);

$list-group-action-color:               $dark;
$list-group-action-hover-color:         $dark;

// Light BG Variant
$list-group-light-bg:                   $light;

$list-group-light-hover-color:         $dark;
$list-group-light-hover-bg:            darken($light, 5%);
$list-group-light-hover-border-color:  $list-group-border-color;

$list-group-light-active-color:         $dark;
$list-group-light-active-bg:            $white;
$list-group-light-active-border-color:  $dark;

$list-group-light-active-dark-color:         $white;
$list-group-light-active-dark-bg:            $dark;
$list-group-light-active-dark-border-color:  $dark;

// List Group Placeholder for Drag'n'Drop
$list-group-placeholder-height:           38px;
$list-group-placeholder-bg:               $gray-100;
$list-group-placeholder-border:           1px solid $light;