// Variables for Pagination

$pagination-width:                  30px;
$pagination-height:                 30px;

$pagination-color:                  $dark;
$pagination-border-color:           $border-color;

$pagination-hover-bg:               $light;
$pagination-hover-color:            $dark;
$pagination-hover-border:           $border-color;

$pagination-active-bg:              darken($light, 5%);
$pagination-active-color:           $dark;
$pagination-active-border:          $border-color;

$pagination-disabled-border-color:  $gray-200;
$pagination-disabled-color:         $gray-200;