// Overrides for Tooltip Variables

$tooltip-font-size:                 .75rem;
$tooltip-line-height:               1rem;
$tooltip-max-width:                 200px;
$tooltip-color:                     $white;
$tooltip-bg:                        fade_out($dark, .25);
$tooltip-spacing-top:               8px;
$tooltip-padding-y:                 .15rem;
$tooltip-padding-x:                 .25rem;