// Variables for Tools

$tool-width-md:         2.5rem;
$tool-height-md:        2.5rem;
$tool-spacing-md:       .65rem;
$tool-spacing-sm:       0;
$tool-color:            $dark;
$tool-color-hover:      $dark;
$tool-color-active:     $white;
$tool-bg:               $default;
$tool-bg-hover:         $light;
$tool-bg-dark-hover:    fade_out($white, .85);
$tool-bg-light-hover:   $white;
$tool-bg-active:        $primary;
$tool-opacity-disabled: .25;
$tool-border:           1px solid darken($tool-bg, 3%);
$tool-border-hover:     1px solid darken($tool-bg-hover, 3%);
$tool-border-active:    1px solid darken($tool-bg-active, 3%);
$tool-shadow-hover:     none;
$tool-shadow-active:    2px 2px 4px rgba($dark, .5);
$tool-highlight-color:  $primary;