// Global font formats
$font-family-sans-serif:      'Fira Sans', sans-serif;
$font-weight-medium:          500;

$font-size-xs:                .75rem;
$font-size-sm:                .85rem;
$font-size-md:                .9rem;
$font-size-l :                1rem;
$font-size-xl:                1.8rem;
$font-size-base:              .95rem;

// Headings
$headings-font-family:        $font-family-sans-serif;
$h3-font-size:                1.25rem;
$h3-font-weight:              normal;

// Links
$link-color:                              $dark;
$link-hover-color:                        $primary;
$link-hover-decoration:                   none;