<span [ngClass]="(demoData.showPreflight) ? '': 'd-none'">
  <!-- Header -->
  <div class="card card-sidebar d-flex flex-colum bg-transparent {{isDetails ? 'text-dark' : 'text-white'}}">
    <div class="card-header pr-0 d-flex flex-row align-items-center justify-content-left bg-transparent border-bottom-0">
      <span class="badge badge-white badge-circle text-dark mr-3 p-2">
        <i class="material-icons">assignment</i>
      </span>
      <h3 class="mb-0">Preflight Report</h3>
      <span class="ml-auto d-flex align-items-center toolbar">
        <pt-preflight-send [isDetails]="isDetails"></pt-preflight-send>

        <pt-preflight-edit [class.d-none]="!isDetails"></pt-preflight-edit>

        <a (click)="demoData.showPreflight = false"
           [class.d-none]="isDetails"
           class="tool tool-dark ml-0"
           matTooltip="Report schließen">
          <i class="material-icons">close</i>
        </a>
      </span>
    </div>

    <!-- Report -->
    <div class="card-body py-0 {{isDetails ? 'px-0' : 'px-3'}} bg-transparent overflow-x-hidden">
      <perfect-scrollbar>
        <!-- Information -->
        <mat-expansion-panel [expanded]="true" class="pb-1" [class.rounded]="!isDetails" [class.border-top]="isDetails">
          <mat-expansion-panel-header class="light border-bottom" collapsedHeight="55px" expandedHeight="55px">
            <mat-panel-title class="d-flex align-items-center justify-content-between">
              <span class="d-inline-flex align-items-center font-size-l">
                <i class="material-icons mr-2">info</i>
                Informationen
              </span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <!-- Pages -->
          <div class="d-flex justify-content-left border-bottom px-3 py-2">
            <span class="mw-50 ">Enthaltene Seiten</span>
            <span class="font-weight-medium">2</span>
          </div>

          <!-- Format -->
          <div class="d-flex justify-content-left border-bottom px-3 py-2">
            <span class="mw-50 ">Endformat:</span>
            <span class="font-weight-medium">210.300 x 105.300 mm</span>
          </div>

        <!-- Fonts -->
          <div class="d-flex justify-content-left border-bottom px-3 py-2">
            <span class="mw-50 ">Enthaltene Schriftarten:</span>
            <span class="font-weight-medium">BrandonGrotesque-Light</span>
          </div>

        <!-- Output Intend -->
          <div class="d-flex justify-content-left px-3 py-2">
            <span class="mw-50 ">Ausgabebedingung:</span>
            <span class="font-weight-medium">Fujifilm Generic CMYK.icm</span>
          </div>
        </mat-expansion-panel>


        <!-- Errors -->
        <mat-expansion-panel [expanded]="true" [class.rounded]="!isDetails" [class.border-top]="isDetails">
          <mat-expansion-panel-header class="light border-bottom" collapsedHeight="55px" expandedHeight="55px">
            <mat-panel-title class="d-flex align-items-center justify-content-between">
              <span class="d-inline-flex align-items-center font-size-l">
                <i class="material-icons text-danger mr-2">error</i>
              Fehler
              </span>
              <span class="badge badge-circle badge-s badge-light border">1</span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <ul class="list-group bg-transparent rounded-0">
            <li class="list-group-item rounded-0 border-top-0 border-bottom py-0 pt-2 pl-3 pr-0 font-size-sm">
              <div class="font-weight-medium">TAC:</div>
              <p>
                <span class="font-weight-medium">Gesamtfarbauftrag</span> ist größer als <span class="font-weight-medium text-danger">345% </span>
                <span class="font-italic">(1x auf der Seite 1)</span>
                <a class="btn btn-light btn-small text-right border-default float-right py-1 mt-2 mb-3 mr-3"><small class="font-weight-medium">Korrigieren</small></a>
              </p>
            </li>
            <li class="list-group-item rounded-0 border-top border-bottom py-0 pt-2 pl-3">
              <a class="btn btn-dark btn-block btn-small text-white py-1 mb-2 mr-3 font-size-sm">Alle Fehler korrigieren</a>
            </li>
          </ul>
        </mat-expansion-panel>

        <!-- Warnings -->
        <mat-expansion-panel [expanded]="true" [class.rounded]="!isDetails">
          <mat-expansion-panel-header class="light border-bottom" collapsedHeight="55px" expandedHeight="55px">
            <mat-panel-title class="d-flex align-items-center justify-content-between">
              <span class="d-inline-flex align-items-center font-size-l">
                <i class="material-icons text-warning mr-2">warning</i>
                Warnungen
              </span>
              <span class="badge badge-circle badge-s badge-light border">2</span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <ul class="list-group bg-transparent rounded-0">
            <li class="list-group-item rounded-0 border-top-0 border-bottom py-0 pt-2 pl-3 pr-0 font-size-sm">
              <div class="font-weight-medium">Trimbox:</div>
              <p>Endformat-Rahmen ist <span class="font-weight-medium">210.300 mm</span>. Benötigt: <span class="font-weight-medium text-warning">210.000 mm</span></p>
            </li>
            <li class="list-group-item rounded-0 border-top py-0 pt-2 pl-3 pr-0 font-size-sm">
              <div class="font-weight-medium">Bleed:</div>
              <p>Es wurden Objekte nahe dem Seitenrand mit <span class="font-weight-medium text-warning">zu wenig Beschnitt</span> gefunden.
                <span class="font-italic">(18x auf den Seiten 1-2)</span></p>
            </li>
          </ul>
        </mat-expansion-panel>
      </perfect-scrollbar>
    </div>

    <!-- Footer -->
    <div class="card-footer height-auto bg-transparent border-0 mx-3 mb-1 text-right" [class.px-0]="isDetails">
      <a class="btn btn-primary text-white btn-block px-4">Daten austauschen</a>
    </div>
  </div>
</span>