<div class="card m-3 shadow-sm border-0 rounded-0">
  <!-- Header -->
  <div class="card-header p-4 bg-gray-100">
    <h2 class="font-size-xl mb-1">Navbar</h2>
    <p class="text-default mb-0">see <a href="https://getbootstrap.com/docs/4.3/components/navbar/" target="_blank">Bootstrap Navbar</a></p>
  </div>

  <div class="card-body">
    <!-- Navbar Dark -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0">
      <h3 class="mb-0">Navbar</h3>
    </div>

    <div class="border border-light p-3">
      <nav class="navbar main-nav navbar-expand-md navbar-dark bg-dark shadow-sm">
        <a href="/" class="navbar-brand">
          <img [src]="'assets/images/logo-impressed.png'" alt="IWS Pro" width="110">
        </a>

        <a matTooltip="Logout" class="ml-auto text-white">
          <i class="material-icons pt-2">logout</i>
        </a>
      </nav>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#navbarDark')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="navbarDark" class="d-none">
<nav class="navbar main-nav navbar-expand-md navbar-dark bg-dark shadow-sm">
  <a href="/" class="navbar-brand">
    <img [src]="'assets/images/logo-impressed.png'" alt="IWS Pro" width="110">
  </a>

  <a matTooltip="Logout" class="ml-auto text-white">
    <i class="material-icons pt-2">logout</i>
  </a>
</nav>
</textarea>

      <pre class="m-0 pt-3 px-3">
<code>&lt;nav class="navbar main-nav navbar-expand-md navbar-dark bg-dark shadow-sm"&gt;
  &lt;a href="/" class="navbar-brand"&gt;
    &lt;img [src]="'assets/images/logo-impressed.png'" alt="IWS Pro" width="110"&gt;
  &lt;/a&gt;

  &lt;a matTooltip="Logout" class="ml-auto text-white"&gt;
    &lt;i class="material-icons pt-2"&gt;logout&lt;/i&gt;
  &lt;/a&gt;
&lt;/nav&gt;</code>
      </pre>
    </div>

    <!-- Navbar w/ Tools -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0 mt-5">
      <h3 class="mb-0">Navbar w/ Tools</h3>
    </div>

    <div class="border border-light p-3">
      <nav class="navbar toolbar navbar-expand-md bg-white pl-0 pb-0 shadow-sm">
        <div class="navbar-nav">
          <div class="nav-item">
            <a class="nav-link tool"
               matTooltip="zurück zur Übersicht">
              <i class="material-icons">home</i>
            </a>
          </div>

          <div class="nav-item">
            <a class="nav-link tool"
               matTooltip="Neu">
              <i class="material-icons">add</i>
            </a>
          </div>

          <div class="nav-item">
            <a class="nav-link tool"
               matTooltip="Edit">
              <i class="material-icons">edit</i>
            </a>
          </div>

          <div class="nav-item">
            <a class="nav-link tool"
               matTooltip="Delete">
              <i class="material-icons">remove</i>
            </a>
          </div>
        </div>
      </nav>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#navbarTools')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="navbarTools" class="d-none">
<nav class="navbar toolbar navbar-expand-md bg-white pl-0 pb-0 shadow-sm">
  <div class="navbar-nav">
    <div class="nav-item">
      <a class="nav-link tool"
         matTooltip="zurück zur Übersicht">
        <i class="material-icons">home</i>
      </a>
    </div>

    <div class="nav-item">
      <a class="nav-link tool"
         matTooltip="Neu">
        <i class="material-icons">add</i>
      </a>
    </div>

    <div class="nav-item">
      <a class="nav-link tool"
         matTooltip="Edit">
        <i class="material-icons">edit</i>
      </a>
    </div>

    <div class="nav-item">
      <a class="nav-link tool"
         matTooltip="Delete">
        <i class="material-icons">remove</i>
      </a>
    </div>
  </div>
</nav>
      </textarea>

      <pre class="m-0 pt-3 px-3">
<code>&lt;nav class="navbar toolbar navbar-expand-md bg-white pl-0 pb-0 shadow-sm"&gt;
  &lt;div class="navbar-nav"&gt;
    &lt;div class="nav-item"&gt;
      &lt;a class="nav-link tool"
         matTooltip="zurück zur Übersicht"&gt;
        &lt;i class="material-icons"&gt;home&lt;/i&gt;
      &lt;/a&gt;
    &lt;/div&gt;

    &lt;div class="nav-item"&gt;
      &lt;a class="nav-link tool"
         matTooltip="Neu"&gt;
        &lt;i class="material-icons"&gt;add&lt;/i&gt;
      &lt;/a&gt;
    &lt;/div&gt;

    &lt;div class="nav-item"&gt;
      &lt;a class="nav-link tool"
         matTooltip="Edit"&gt;
        &lt;i class="material-icons"&gt;edit&lt;/i&gt;
      &lt;/a&gt;
    &lt;/div&gt;

    &lt;div class="nav-item"&gt;
      &lt;a class="nav-link tool"
         matTooltip="Delete"&gt;
        &lt;i class="material-icons"&gt;remove&lt;/i&gt;
      &lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/nav&gt;</code>
      </pre>
    </div>
  </div>
</div>