<pt-status-selection></pt-status-selection>

<!-- File Table -->
<mat-table [dataSource]="listingService.fileSource" matSort class="full-width bg-transparent mat-table-pills">
  <!-- Preview -->
  <ng-container matColumnDef="preview">
    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <img src="assets/images/dummy-images/{{element.preview}}" class="img-thumbnail" alt="{{element.fileName}}">
    </mat-cell>
  </ng-container>

  <!-- File ID-->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Datei ID </mat-header-cell>
    <mat-cell *matCellDef="let element" class="cell-small"> {{element.id}}</mat-cell>
  </ng-container>

  <!-- File Name -->
  <ng-container matColumnDef="fileName">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Datei </mat-header-cell>
    <mat-cell *matCellDef="let element" class="font-weight-medium mobile-border-bottom mobile-font-lg"> {{element.fileName}} </mat-cell>
  </ng-container>

  <!-- Product Name -->
  <ng-container matColumnDef="productId">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Produkt </mat-header-cell>
    <mat-cell *matCellDef="let element">{{demoData.getProductName(element.productId)}}
    </mat-cell>
  </ng-container>

  <!-- Order Name -->
  <ng-container matColumnDef="orderId">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Bestellung </mat-header-cell>
    <mat-cell *matCellDef="let element">{{demoData.getOrderName(element.orderId)}}</mat-cell>
  </ng-container>

  <!-- Contact -->
  <ng-container matColumnDef="contact">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Kontakt </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <div class="d-block">
        {{demoData.buildContact(element.productId).name}}
        <a href="mailto:{{demoData.buildContact(element.productId).mail}}" class="show-underline" title="E-Mail an {{demoData.buildContact(element.productId).name}} senden">
          <i>{{demoData.buildContact(element.productId).mail}}</i>
        </a>
      </div>
    </mat-cell>
  </ng-container>

  <!-- Status -->
  <ng-container matColumnDef="fileStatus">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
    <mat-cell *matCellDef="let element" class="mobile-border-top">
      <span class="badge badge-marker badge-{{element.fileStatus}}">{{demoData.getStatusName(element.fileStatus)}}</span>
    </mat-cell>
  </ng-container>

  <!-- File Type-->
  <ng-container matColumnDef="fileType">
    <mat-header-cell class="cell-xsmall" *matHeaderCellDef mat-sort-header> Typ </mat-header-cell>
    <mat-cell *matCellDef="let element" class="cell-xsmall">
      <i class="material-icons" matTooltip="Druckbogen" [class.d-none]="element.fileType == 1">apps</i>
      <i class="material-icons" matTooltip="PDF" [class.d-none]="element.fileType == 2">picture_as_pdf</i>
    </mat-cell>
  </ng-container>

  <!-- Link -->
  <ng-container matColumnDef="link">
    <mat-header-cell *matHeaderCellDef class="overflow-visible">
      <pt-edit-table [tableData]="listingService.fileTableColumns"></pt-edit-table>
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <a href="prototype/details" title="Datei bearbeiten" class="btn btn-link btn-icon">
        <i class="material-icons">more_horiz</i>
      </a>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"
           (click)="listingService.setActiveRow(row);
                    listingService.manageSelectedItems(row);
                    sidebar.openOverlay(listingService.highlightedRows.length);"
           [ngClass]="listingService.highlightedRows.indexOf(row) != -1 ? 'active': ''"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[12, 24, 48, 72]" showFirstLastButtons class="bg-transparent select-small"></mat-paginator>

<pt-selected-entries></pt-selected-entries>