<div class="card m-3 shadow-sm border-0 rounded-0">
  <!-- Header -->
  <div class="card-header p-4 bg-gray-100">
    <h2 class="font-size-xl mb-1">Colors</h2>
    <p class="text-default mb-0">see <a href="https://getbootstrap.com/docs/4.3/utilities/colors/" target="_blank">Bootstrap Colors</a></p>
  </div>

  <div class="card-body">
    <!-- Background Colors  -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0">
      <h3 class="mb-0">Background Colors</h3>
    </div>

    <div class="border border-light p-3">
      <div class="row">
        <div class="col-8">
          <div class="p-3 mb-2 bg-primary text-white">.bg-primary</div>
          <div class="p-3 mb-2 bg-secondary text-white">.bg-secondary</div>
          <div class="p-3 mb-2 bg-success text-white">.bg-success</div>
          <div class="p-3 mb-2 bg-danger text-white">.bg-danger</div>
          <div class="p-3 mb-2 bg-warning text-dark">.bg-warning</div>
          <div class="p-3 mb-2 bg-info text-white">.bg-info</div>
          <div class="p-3 mb-2 bg-light text-dark">.bg-light</div>
          <div class="p-3 mb-2 bg-dark text-white">.bg-dark</div>
          <div class="p-3 mb-2 bg-white text-dark">.bg-white</div>
          <div class="p-3 mb-2 bg-transparent text-dark">.bg-transparent</div>
        </div>
        <div class="col-4">
          <p class="p-3 mb-2 text-primary">.text-primary</p>
          <p class="p-3 mb-2 text-secondary">.text-secondary</p>
          <p class="p-3 mb-2 text-success">.text-success</p>
          <p class="p-3 mb-2 text-danger">.text-danger</p>
          <p class="p-3 mb-2 text-warning">.text-warning</p>
          <p class="p-3 mb-2 text-info">.text-info</p>
          <p class="p-3 mb-2 text-light">.text-light</p>
          <p class="p-3 mb-2 text-dark">.text-dark</p>
          <p class="bg-dark p-3 mb-2 text-white">.text-white</p>
        </div>
      </div>
    </div>

    <!-- Status Colors  -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0 mt-5">
      <h3 class="mb-0">Status Colors</h3>
    </div>

    <div class="border border-light p-3">
      <div class="row">
        <div class="col-8">
          <div class="p-3 mb-2 bg-status-01 text-white">.bg-status-01</div>
          <div class="p-3 mb-2 bg-status-02 text-white">.bg-status-02</div>
          <div class="p-3 mb-2 bg-status-03 text-white">.bg-status-03</div>
          <div class="p-3 mb-2 bg-status-04 text-white">.bg-status-04</div>
          <div class="p-3 mb-2 bg-status-05 text-dark">.bg-status-05</div>
          <div class="p-3 mb-2 bg-status-06 text-white">.bg-status-06</div>
          <div class="p-3 mb-2 bg-status-07 text-white">.bg-status-07</div>
          <div class="p-3 mb-2 bg-status-08 text-white">.bg-status-08</div>
          <div class="p-3 mb-2 bg-status-09 text-white">.bg-status-09</div>
          <div class="p-3 mb-2 bg-error text-white">.bg-error</div>     
        </div>
        <div class="col-4">
          <div class="p-3 mb-2 text-status-01 text-white">.text-status-01</div>
          <div class="p-3 mb-2 text-status-02 text-white">.text-status-02</div>
          <div class="p-3 mb-2 text-status-03 text-white">.text-status-03</div>
          <div class="p-3 mb-2 text-status-04 text-white">.text-status-04</div>
          <div class="p-3 mb-2 text-status-05 text-dark">.text-status-05</div>
          <div class="p-3 mb-2 text-status-06 text-white">.text-status-06</div>
          <div class="p-3 mb-2 text-status-07 text-white">.text-status-07</div>
          <div class="p-3 mb-2 text-status-08 text-white">.text-status-08</div>
          <div class="p-3 mb-2 text-status-09 text-white">.text-status-09</div>
          <div class="p-3 mb-2 text-error text-white">.text-error</div>
        </div>
      </div>
    </div>

    <!-- Grays  -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0 mt-5">
      <h3 class="mb-0">Grays</h3>
    </div>

    <div class="border border-light p-3">
      <div class="row">
        <div class="col-12">
          <div class="p-3 mb-2 bg-gray-100 text-dark">.bg-gray-100</div>
          <div class="p-3 mb-2 bg-gray-200 text-white">.bg-gray-200</div>
          <div class="p-3 mb-2 bg-gray-300 text-white">.bg-gray-300</div>
          <div class="p-3 mb-2 bg-gray-400 text-white">.bg-gray-400</div>
          <div class="p-3 mb-2 bg-gray-500 text-dark">.bg-gray-500</div>
          <div class="p-3 mb-2 bg-gray-600 text-white">.bg-gray-600</div>
          <div class="p-3 mb-2 bg-gray-700 text-white">.bg-gray-700</div>
          <div class="p-3 mb-2 bg-gray-800 text-white">.bg-gray-800</div>
          <div class="p-3 mb-2 bg-gray-900 text-white">.bg-gray-900</div>
        </div>
      </div>
    </div>


  </div>
</div>