<div class="card maxw-465 rounded shadow is-centered">
  <div class="card-header px-4">
    <h2 class="mt-3">Login</h2>
    <p class="text-default mb-2">Bitte melden Sie sich mit Benutzernamen & Passwort an.</p>
  </div>

  <div class="card-body px-4">
    <div class="row pt-3">
      <label class="col-12">Benutzername</label>
      <mat-form-field class="col-12">
        <input matInput placeholder="Benutzername" value="" [formControl]="loginService.user" required>
        <mat-error *ngIf="loginService.user.invalid">{{loginService.getUserError()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="row pt-3 mt-4">
      <label class="col-12">Passwort</label>
      <mat-form-field class="col-12">
        <input matInput placeholder="Passwort" type="password" value="" [formControl]="loginService.pwd" required>
        <mat-error *ngIf="loginService.pwd.invalid">{{loginService.getPwdError()}}</mat-error>
      </mat-form-field>
    </div>

    <p class="text-right small mt-2 mb-0">
      <a class="show-underline" (click)="loginService.showLogin = false; loginService.forgotPwd = true;"><i>Passwort vergessen?</i></a>
    </p>

    <p class="alert alert-default small mt-3 mb-0 text-center">
      <span class="mr-1"><strong>Username:</strong> admin@impressed.de |</span>
      <span><strong>Passwort:</strong> impressed</span>
    </p>
  </div>

  <div class="card-footer height-auto p-4 bg-light border-top rounded-bottom">
    <a href="prototype/dashboard" class="btn btn-primary text-white w-100" [class.disabled]="loginService.enableLogin()">Anmelden</a>
  </div>
</div>