<div class="card card-sidebar d-flex bg-transparent border-0">
  <div class="card-header card-header-small d-flex align-items-center justify-content-left px-3 py-2 bg-transparent text-white border-0">
    <div class="badge badge-white badge-circle text-dark mr-3 p-2">
      <i class="material-icons">add</i>
    </div>
    <h3 class="mb-0">Neue Datei</h3>
  </div>

  <div class="card-body mx-3 pt-3 pb-0 px-0 bg-white text-dark rounded-top">
    <perfect-scrollbar>
      <!-- Name -->
      <div class="overview px-3">
        <div class="row align-items-center mb-3">
          <label class="col-3 pr-0 small">Name</label>
          <mat-form-field class="col-9">
            <input matInput placeholder="Name">
          </mat-form-field>
        </div>

        <!-- Width & Height -->
        <div class="row align-items-center mb-3">
          <label class="col-3 small">Breite</label>
          <div class="col-3 pr-0 d-flex align-items-center">
            <mat-form-field class="input-xs text-center">
              <input matInput placeholder="in mm">
            </mat-form-field>
          </div>

          <div class="col-6 d-flex align-items-center justify-content-end">
            <span class="text-center mr-auto pl-1">x</span>
            <label>Höhe</label>
            <mat-form-field class="input-xs text-center">
              <input matInput placeholder="in mm">
            </mat-form-field>
          </div>
        </div>

        <!-- Pages -->
        <div class="row align-items-center mb-3">
          <label class="col-3 pr-0 small">Seiten</label>

          <div class="col-9">
            <mat-form-field class="input-xs">
              <input matInput placeholder="0">
            </mat-form-field>
          </div>
        </div>

        <!-- Colors & Offset -->
        <div class="row align-items-center mb-3">
          <label class="col-3 small">Farben</label>
          <mat-form-field class="col-3 pr-0">
            <input matInput placeholder="4 / 4">
          </mat-form-field>
          <div class="col-6 d-flex align-items-center justify-content-end">
            <label>Zuschuss</label>
            <mat-form-field class="input-xs">
              <input matInput placeholder="in mm">
            </mat-form-field>
          </div>
        </div>

        <!-- Substrate -->
        <div class="row align-items-center mb-3">
          <label class="col-3 pr-0 small">Material</label>
          <div class="col-9">
            <ng-select [items]="demoData.substrates"
                       bindLabel="name"
                       bindValue="id"
                       appendTo="body"
                       placeholder="Substrat auswählen"
                       notFoundText="Kein Substrat gefunden!">
            </ng-select>
          </div>
        </div>

        <!-- Weight -->
        <div class="row align-items-center mb-3">
          <label class="col-3 pr-0 small">Grammatur</label>
          <div class="col-9">
            <mat-form-field class="input-xs">
              <input matInput placeholder="in g">
            </mat-form-field>
          </div>
        </div>

        <!-- Preflight Preset -->
        <div class="row align-items-center mb-3">
          <label class="col-3 pr-0 small">Preflight</label>
          <div class="col-9">
            <ng-select [items]="demoData.preflightPresets"
                       bindLabel="name"
                       bindValue="id"
                       appendTo="body"
                       placeholder="Preflight Preset auswählen"
                       notFoundText="Kein Preflight Preset gefunden!">
            </ng-select>
          </div>
        </div>
      </div>

      <!-- Order Data -->
      <mat-accordion multi="true">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header class="light border-top border-bottom" collapsedHeight="55px" expandedHeight="55px">
            <mat-panel-title class="d-flex align-items-center justify-content-between">
              Bestelldaten
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="p-3">
            <!-- Products -->
            <div class="row align-items-center mb-3">
              <label class="col-3 pr-0 small">Produkt</label>
              <div class="col-9">
                <ng-select [items]="demoData.productTypes"
                           bindLabel="product"
                           bindValue="id"
                           appendTo="body"
                           placeholder="Produkt auswählen"
                           notFoundText="Kein Produkt gefunden!">
                </ng-select>
              </div>
            </div>

            <!-- Order -->
            <div class="row align-items-center mb-3">
              <label class="col-3 pr-0 small">Bestellung</label>
              <div class="col-9">
                <ng-select [items]="demoData.demoOrders"
                           bindLabel="orderName"
                           bindValue="id"
                           appendTo="body"
                           placeholder="Bestellung auswählen"
                           notFoundText="Keine Bestellung gefunden!">
                </ng-select>
              </div>
            </div>

            <!-- Company -->
            <div class="row align-items-center mb-3">
              <label class="col-3 pr-0 small">Firma</label>
              <div class="col-9">
                <ng-select [items]="demoData.companies"
                           bindLabel="name"
                           bindValue="id"
                           appendTo="body"
                           placeholder="Firma auswählen"
                           notFoundText="Keine Firma gefunden!">
                </ng-select>
              </div>
            </div>

            <!-- Contact -->
            <div class="row align-items-center mb-3">
              <label class="col-3 pr-0 small">Kontakt</label>
              <div class="col-9">
                <ng-select [items]="demoData.contacts"
                           bindLabel="name"
                           bindValue="id"
                           appendTo="body"
                           placeholder="Person auswählen"
                           notFoundText="Keine Person gefunden!">
                </ng-select>
              </div>
            </div>

            <!-- Folder -->
            <div class="row align-items-center mb-3">
              <label class="col-3 pr-0 small">Ordner</label>
              <div class="col-9">
                <ng-select [items]="folderService.allFolder"
                           bindLabel="0"
                           bindValue="0"
                           appendTo="body"
                           placeholder="Ordner auswählen"
                           notFoundText="Kein Ordner gefunden!">
                  <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                    <span class="d-flex align-items-center">
                      <i class="material-icons text-default pr-2 d-none" [ngClass]="(index+1 <= folderService.myFolder.length) ? 'd-none': 'd-block'">language</i>
                      <i class="material-icons text-default pr-2" [ngClass]="(index+1 > folderService.myFolder.length) ? 'd-none': 'd-block'">favorite_border</i>
                      {{item}}
                    </span>
                  </ng-template>
                </ng-select>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </perfect-scrollbar>
  </div>

  <div class="card-footer bg-light border-top mx-3 mb-3 text-right rounded-bottom">
    <a (click)="listingService.setActiveScope(''); sidebarService.closeOverlay()" class="btn btn-white border px-4 mr-3">Abbrechen</a>
    <a (click)="listingService.setActiveScope(''); sidebarService.closeOverlay()" class="btn btn-primary text-white px-4">Speichern</a>
  </div>
</div>
