<!-- Tool -->
<span dropdown #modCustom="bs-dropdown" [insideClick]="true" (onShown)="demoData.setActiveTool('custom', true)" (onHidden)="demoData.setActiveTool('custom', false)">
  <a class="nav-link tool" [class.active]="data.tools[11].active"
     matTooltip="Individuelle Werte" id="modgroup" dropdownToggle>
        <i class="material-icons">code</i>
    </a>

  <!-- Dropdown Content -->
    <div id="modCustomDropdown" *dropdownMenu (click)="data.preventClose($event)" class="dropdown-menu dropdown-mobile dropdown-toolbar" role="menu" aria-labelledby="modCustom">
      <div class="card mw-420 maxw-420 border-0 rounded">

        <!-- Header -->
        <div class="card-header d-flex justify-content-center align-items-center">
          <span class="badge badge-light badge-circle text-dark mr-3 p-2 mr-auto">
            <i class="material-icons">code</i>
          </span>
          <span class="flex-fill font-weight-medium text-center">Individuellen Wert hinzufügen</span>
        </div>

        <div class="card-body p-0">
          <!-- Form -->
          <div class="row align-items-center px-3 pt-3">
            <label class="col-4">Name</label>
            <div class="col-8">
              <mat-form-field class="mw-100">
                <input matInput placeholder="Name des Werts" value="">
              </mat-form-field>
            </div>
          </div>

          <div class="row align-items-center px-3 py-3">
            <label class="col-4">Wert</label>
            <div class="col-8">
              <mat-form-field class="mw-100">
                <input matInput placeholder="Individueller Wert" value="">
              </mat-form-field>
            </div>
          </div>

          <div class="row align-items-center pt-0 pb-3 px-3">
            <label class="col-4">Hinzufügen zu</label>
            <div class="col-8 d-inline-block">
              <mat-radio-group [(ngModel)]="selectedType">
                <mat-radio-button *ngFor="let format of addToSelection" [value]="format" class="col-6 pl-0">
                  {{format}}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>

        <!-- Cancel / Save -->
        <div class="card-footer px-0 bg-light border-top text-right rounded-bottom">
          <a class="btn btn-white border px-4 mr-3" (click)="modCustom.hide()">Abbrechen</a>
          <a class="btn btn-primary text-white px-4 mr-2" (click)="modCustom.hide()">Wert hinzufügen</a>
        </div>
      </div>
    </div>
  </span>