<div class="card m-3 shadow-sm border-0 rounded-0">
  <!-- Header -->
  <div class="card-header p-4 bg-gray-100">
    <h2 class="font-size-xl mb-1">Datepicker</h2>
    <p class="text-default mb-0">see <a href="https://valor-software.com/ngx-bootstrap/#/datepicker" target="_blank">BSDatepicker</a></p>
  </div>

  <div class="card-body">
    <!-- Datepicker -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0">
      <h3 class="mb-0">Datepicker</h3>
    </div>

    <div class="border border-light p-3">
      <div class="w-25">
        <label class="mb-1">Deadline</label>
        <input type="text"
               placeholder="Deadline auswählen"
               class="form-control"
               bsDatepicker
               [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
      </div>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#datepicker')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="datepicker" class="d-none">
<label class="mb-1">Deadline</label>
<input type="text"
       placeholder="Deadline auswählen"
       class="form-control"
       bsDatepicker
       [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
</textarea>

      <pre class="m-0 pt-3 px-3">
<code>&lt;label class="mb-1"&gt;Deadline&lt;/label&gt;
&lt;input type="text"
       placeholder="Deadline auswählen"
       class="form-control"
       bsDatepicker
       [bsConfig]="&#123; dateInputFormat: 'YYYY-MM-DD' &#125;"&gt;</code>
      </pre>
    </div>
  </div>
</div>