<header class="main-header">
  <pt-navigation></pt-navigation>
  <pt-toolbar></pt-toolbar>
</header>

<section class="main-content">
  <div class="inner">
    <!-- Tab Navigation -->
    <div class="tabs tabs-vertical centered position-absolute top bottom z-index-10">
      <mat-action-list class="pt-0 bg-gray-100 h-100 mw-75 maxw-75 border-right">
        <a mat-list-item class="py-3 d-inline-flex align-items-center border-top border-light"
           matTooltip="Werkzeuge"
           [class.active]="sidebarNavigation[0].show"
           (click)="showSidebarContent('tools')">
          <i class="material-icons icon">build</i>
        </a>
        <a mat-list-item class="py-3 d-inline-flex align-items-center"
           matTooltip="Preflight Report"
           [class.active]="sidebarNavigation[1].show"
           (click)="showSidebarContent('preflight'); demoData.showPreflight = true;">
          <i class="material-icons icon">assignment</i>
        </a>
        <a mat-list-item class="py-3 d-inline-flex align-items-center"
           matTooltip="Bestellung"
           [class.active]="sidebarNavigation[2].show"
           (click)="showSidebarContent('order')">
          <i class="material-icons icon">shopping_basket</i>
        </a>
        <a mat-list-item class="py-3 d-inline-flex align-items-center"
           matTooltip="Produkte"
           [class.active]="sidebarNavigation[3].show"
           (click)="showSidebarContent('products')">
          <i class="material-icons icon">perm_media</i>
        </a>
      </mat-action-list>
    </div>

    <!-- Sidebar Content -->
    <mat-sidenav-container hasBackdrop="{{sidebarService.hasBackdrop}}">
      <mat-sidenav #sidenav [opened]="sidebarService.showSidebar"
                   mode="{{sidebarService.sidebarMode}}"
                   class="has-navigation bg-light"
                   (opened)="detailsService.calcThumbsPerRow();"
                   (closed)="detailsService.calcThumbsPerRow()">
        <!-- Tools -->
        <div class="tools h-100" [class.d-none]="!sidebarNavigation[0].show">
          <pt-sidebar-tools></pt-sidebar-tools>
        </div>

        <!-- Preflight Report -->
        <div class="preflight h-100" [class.d-none]="!sidebarNavigation[1].show">
          <pt-sidebar-preflight [isDetails]="true"></pt-sidebar-preflight>
        </div>

        <!-- Order -->
        <div class="order h-100" [class.d-none]="!sidebarNavigation[2].show">
           <pt-preview-order [isDetails]="true" [class.d-none]="detailsService.editOrder"></pt-preview-order>
           <pt-edit-order [isDetails]="true" [class.d-none]="!detailsService.editOrder"></pt-edit-order>
        </div>

        <!-- Products -->
        <div class="products h-100" [class.d-none]="!sidebarNavigation[3].show">
          <pt-preview-product [isDetails]="true" [class.d-none]="detailsService.editProduct"></pt-preview-product>
          <pt-edit-product [isDetails]="true" [class.d-none]="!detailsService.editProduct"></pt-edit-product>
        </div>

      </mat-sidenav>

      <!-- Listing Content -->
      <mat-sidenav-content class="bg-light">

        <!-- File Preview -->
        <pt-preview></pt-preview>

        <!-- Thumbnails & Dropzone -->
        <pt-thumbnails></pt-thumbnails>

        </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</section>