<div class="card m-3 shadow-sm border-0 rounded-0">
  <!-- Header -->
  <div class="card-header p-4 bg-gray-100">
    <h2 class="font-size-xl mb-1">Widths & Heights</h2>
  </div>

  <div class="card-body">
    <!-- Widths -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0">
      <h3 class="mb-0">Widths</h3>
    </div>

    <div class="border border-light p-3">
      <div class="fw-28 p-1 mb-1 bg-light border">28</div>
      <div class="fw-38 p-2 mb-1 bg-gray-100 border">38</div>
      <div class="fw-75 p-2 mb-1 bg-light border">75</div>
      <div class="fw-80 p-2 mb-1 bg-gray-100 border">80</div>
      <div class="fw-115 p-2 mb-1 bg-light border">115</div>
      <div class="fw-135 p-2 mb-1 bg-gray-100 border">135</div>
      <div class="fw-140 p-2 mb-1 bg-light border">140</div>
      <div class="fw-150 p-2 mb-1 bg-gray-100 border">150</div>
      <div class="fw-170 p-2 mb-1 bg-light border">170</div>
      <div class="fw-210 p-2 mb-1 bg-gray-100 border">210</div>
      <div class="fw-250 p-2 mb-1 bg-light border">250</div>
      <div class="fw-290 p-2 mb-1 bg-gray-100 border">290</div>
      <div class="fw-315 p-2 mb-1 bg-light border">315</div>
      <div class="fw-350 p-2 mb-1 bg-gray-100 border">350</div>
      <div class="fw-420 p-2 mb-1 bg-light border">420</div>
      <div class="fw-465 p-2 mb-1 bg-gray-100 border">465</div>
      <div class="fw-auto p-2 mb-1 bg-gray-100 border">auto</div>
    </div>
    <div class="position-relative border border-light bg-light px-2">
      <div class="p-3">
        <h5 class="my-2">Variations</h5>
        <p class="w-100 d-flex border-bottom pb-2 mb-2"><strong class="mw-25">.w-##:</strong> <span class="mw-50">width 25 / 50 / 100%</span> <i>e.g. .w-50</i></p>
        <p class="w-100 d-flex border-bottom pb-2 mb-2"><strong class="mw-25">.mw-##:</strong> <span class="mw-50">min-width</span> <i>e.g. .mw-28</i></p>
        <p class="w-100 d-flex pb-2 mb-2"><strong class="mw-25">.maxw-##:</strong> <span class="mw-50">max-width</span> <i>e.g. .maxw-250</i></p>
      </div>
    </div>

    <!-- Heights -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0">
      <h3 class="mb-0">Heights</h3>
    </div>

    <div class="border border-light p-3">
      <div class="fh-28 p-2 py-1 mr-1 bg-light border border-bottom-0 d-flex align-items-center">28</div>
      <div class="fh-35 p-2 mr-1 bg-gray-100 border border-bottom-0 d-flex align-items-center">35</div>
      <div class="fh-60 p-2 mr-1 bg-light border border-bottom-0 d-flex align-items-center">60</div>
      <div class="fh-70 p-2 mr-1 bg-gray-100 border border-bottom-0 d-flex align-items-center">70</div>
      <div class="fh-72 p-2 mr-1 bg-light border border-bottom-0 d-flex align-items-center">72</div>
      <div class="fh-115 p-2 mr-1 bg-gray-100 border border-bottom-0 d-flex align-items-center">115</div>
      <div class="fh-125 p-2 mr-1 bg-light border border-bottom-0 d-flex align-items-center">125</div>
      <div class="fh-135 p-2 mr-1 bg-gray-100 border border-bottom-0 d-flex align-items-center">135</div>
      <div class="fh-181 p-2 mr-1 bg-light border border-bottom-0 d-flex align-items-center">181</div>
      <div class="fh-185 p-2 mr-1 bg-gray-100 border border-bottom-0 d-flex align-items-center">185</div>
      <div class="fh-250 p-2 mr-1 bg-light border border-bottom-0 d-flex align-items-center">250</div>
      <div class="fh-350 p-2 mr-1 bg-gray-100 border border-bottom-0 d-flex align-items-center">350</div>
      <div class="fh-450 p-2 mr-1 bg-light border border-bottom-0 d-flex align-items-center">450</div>
      <div class="fh-auto p-2 mr-1 bg-gray-100 border border d-flex align-items-center">auto</div>

    </div>
    <div class="position-relative border border-light bg-light px-2">
      <div class="p-3">
        <h5 class="my-2">Variations</h5>
        <p class="w-100 d-flex border-bottom pb-2 mb-2"><strong class="mw-25">.mh-##:</strong> <span class="mw-50">min-height</span> <i>e.g. .mh-60</i></p>
        <p class="w-100 d-flex pb-2 mb-2"><strong class="mw-25">.maxh-##:</strong> <span class="mw-50">max-height</span> <i>e.g. .maxh-70</i></p>
      </div>
    </div>
  </div>
</div>
