<div class="card card-sidebar d-flex bg-transparent border-0">
  <div class="card-header d-flex align-items-center justify-content-right bg-transparent border-0
              {{isDetails ? 'text-dark toolbar pl-3 py-3 pr-0' : 'p-3 text-white'}}">
    <div class="mr-auto">
      <h3 class="mb-0">{{listingService.activeOrder.orderName}}</h3>
      <small>{{listingService.activeOrder.id}}</small>
    </div>
    <span class="badge badge-{{listingService.activeOrder.orderStatus}} px-3 mw-25">{{demoData.getStatusName(listingService.activeOrder.orderStatus)}}</span>

    <a class="nav-link tool tool-light"
       [class.d-none]="!isDetails"
       (click)="detailsService.editOrder = true;"
       matTooltip="Bestellung bearbeiten">
      <i class="material-icons">edit</i>
    </a>

  </div>

  <div class="card-body p-0 bg-transparent">
    <perfect-scrollbar>
      <div class="rounded font-size-sm {{isDetails ? 'bg-white text-dark' : 'bg-transparent text-white mt-3'}}">
        <!-- Customer -->
        <div class="px-3 py-2 d-flex justify-content-left border-bottom border-top">
          <span class="mw-50 ">Kunde</span>
          <span class="font-weight-medium">{{demoData.getCompanyById(listingService.activeOrder['contact']).name}}</span>
        </div>

        <!-- Contact -->
        <div class="px-3 py-2 d-flex justify-content-left border-bottom">
          <span class="mw-50 ">Kontakt</span>
          <span class="font-weight-medium">
            {{demoData.getContactById(listingService.activeOrder['contact']).name}}<br />
            <a href="mailto:{{demoData.getContactById(listingService.activeOrder['contact']).mail}}"
               title="E-Mail an {{demoData.getContactById(listingService.activeOrder['contact']).name}} senden"
               class="show-underline {{isDetails ? 'text-dark' : 'text-white'}}">
              {{demoData.getContactById(listingService.activeOrder['contact']).mail}}
            </a>
          </span>
        </div>

        <!-- Deadline -->
        <div class="px-3 py-2 d-flex justify-content-left border-bottom">
          <span class="mw-50 ">Deadline</span>
          <span class="font-weight-medium">{{listingService.activeOrder.deadline}}</span>
        </div>

        <!-- Custom Values -->
        <div class="px-3 py-2 d-flex justify-content-left border-bottom"
             [ngClass]="(first && !isDetails) ? 'border-top' : ''"
             *ngFor="let custom of listingService.activeOrder['custom']; let i = index; let first = first;">
          <span class="mw-50 ">
            {{demoData.getCustomValue(custom.id).name}}
          </span>
          <span class="font-weight-medium">
            {{demoData.getCustomValue(custom.id)['values'][custom.value-1].value}}
          </span>
        </div>

        <!-- Products -->
        <div class="{{isDetails ? 'mt-0 border-bottom' : 'mt-3'}}">
          <mat-accordion multi="true" [@.disabled]="true">
            <mat-expansion-panel
                    *ngFor="let product of listingService.activeProducts; let first = first"
                    expanded="true"
                    [ngClass]="(isDetails) ? '' : 'bg-transparent rounded mx-3'">
              <mat-expansion-panel-header class="bg-light"
                                          [ngClass]="(isDetails) ? 'bg-dark text-white' : 'bg-light text-dark'"
                                          [class.border-top]="!first"
                                          collapsedHeight="55px"
                                          expandedHeight="55px">
                <mat-panel-title class="d-flex align-items-center justify-content-right">
                  <span class="mr-auto" [class.text-white]="isDetails">{{product.productName}}</span>
                  <span>
                    <span class="badge badge-small badge-{{product.productStatus}} ml-2">{{demoData.getStatusName(product.productStatus)}}</span>
                </span>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <!-- Files -->
              <div class="pl-3 row align-items-center bg-white"
                   *ngFor="let file of demoData.getFilesByProductId(product.id); let i = index;"
                   [class.border-top]="i > 0">
                <span class="col-4">{{file.fileName}}</span>
                <span class="col-5">
                  <span class="badge badge-marker badge-small badge-{{file.fileStatus}} ml-2">{{demoData.getStatusName(file.fileStatus)}}</span>
                </span>
                <span class="col-1">
                   <i class="material-icons" matTooltip="Druckbogen" [class.d-none]="file.fileType == 1">apps</i>
                  <i class="material-icons" matTooltip="PDF" [class.d-none]="file.fileType == 2">picture_as_pdf</i>
                </span>
                <a href="prototype/details" class="col-2 btn btn-link btn-icon btn-hover-primary"><i class="material-icons">more_horiz</i></a>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </perfect-scrollbar>
  </div>
</div>