<div class="row py-4 px-3">
  <div class="col-12 col-md-6">
    <!-- User Name -->
    <label class="pt-2 mb-1 mw-100">Benutzername</label>
    <mat-form-field class="mw-100">
      <input matInput placeholder="Benutzername"
             value="{{settingsService.newEntry ? '' : settingsService.activeNav.data[settingsService.selectedSubNav].userName}}">
    </mat-form-field>

    <!-- Password -->
    <label class="mt-3 pt-2 mb-1 mw-100">Passwort</label>
    <mat-form-field class="mw-100">
      <input matInput placeholder="Passwort"
             value="{{settingsService.newEntry ? '' : settingsService.activeNav.data[settingsService.selectedSubNav].pwd}}"
             type="password">
    </mat-form-field>

    <!-- Password repeated -->
    <label class="mt-3 pt-2 mb-1 mw-100">Passwort wiederholen</label>
    <mat-form-field class="mw-100">
      <input matInput placeholder="Passwort wiederholt"
             value="{{settingsService.newEntry ? '' : settingsService.activeNav.data[settingsService.selectedSubNav].pwd}}"
             type="password">
    </mat-form-field>

    <!-- Rights -->
    <label class="mt-3 pt-2 mb-1 mw-100">Benutzerrechte</label>
    <ng-select [items]="demoData.userRights"
               class="mw-100"
               placeholder="Benutzerrechte auswählen"
               notFoundText="Keine Übereinstimmung gefunden!"
               bindLabel="name"
               bindValue="name"
               appendTo="body"
               [searchable]="false"
               [clearable]="false"
               [(ngModel)]="settingsService.newEntry ? demoData.userRights[0].name : demoData.getUserRight(settingsService.activeNav.data[settingsService.selectedSubNav].rights).name">
    </ng-select>

    <div class="mt-2">
      <mat-checkbox [checked]="settingsService.newEntry ? true : settingsService.activeNav.data[settingsService.selectedSubNav].status">Darf Status ändern</mat-checkbox>
    </div>

  </div>
  <div class="col-12 col-md-6 mt-3 mt-md-0">
    <!-- First Name -->
    <label class="pt-2 mb-1 mw-100">Vorname</label>
    <mat-form-field class="mw-100">
      <input matInput placeholder="Vorname"
             value="{{settingsService.newEntry ? '' : settingsService.activeNav.data[settingsService.selectedSubNav].firstName}}">
    </mat-form-field>

    <!-- Last Name -->
    <label class="mt-3 pt-2 mb-1 mw-100">Nachname</label>
    <mat-form-field class="mw-100">
      <input matInput placeholder="Nachname"
             value="{{settingsService.newEntry ? '' : settingsService.activeNav.data[settingsService.selectedSubNav].lastName}}">
    </mat-form-field>

    <!-- E-Mail -->
    <label class="mt-3 pt-2 mb-1 mw-100">E-Mail</label>
    <mat-form-field class="mw-100">
      <input matInput placeholder="E-Mail-Adresse"
             value="{{settingsService.newEntry ? '' : settingsService.activeNav.data[settingsService.selectedSubNav].mail}}">
    </mat-form-field>
  </div>
</div>