<!-- Tool -->
<span dropdown #modPrint="bs-dropdown" [insideClick]="true" (onShown)="data.setActiveTool('print', true)" (onHidden)="data.setActiveTool('print', false)">
  <a class="nav-link tool" [class.active]="data.tools[8].active"
       matTooltip="Drucken" id="modPrint" dropdownToggle>
        <i class="material-icons">print</i>
    </a>

  <!-- Dropdown Content -->
    <div id="modPrintDropdown" *dropdownMenu (click)="data.preventClose($event)" class="dropdown-menu dropdown-mobile dropdown-toolbar" role="menu" aria-labelledby="modPrint">
      <div class="card mw-420 maxw-420 border-0 rounded">

        <!-- Header -->
        <div class="card-header d-flex justify-content-center align-items-center">
          <span class="badge badge-light badge-circle text-dark mr-3 p-2 mr-auto">
            <i class="material-icons">print</i>
          </span>
          <span class="flex-fill font-weight-medium text-center">
            {{(listingService.activePage === 'details') ? 'Datei drucken' : 'Auswahl drucken'}}
          </span>
        </div>

        <div class="card-body p-0">

          <!-- Form -->
          <div class="row align-items-center px-3 pt-3">
            <label class="col-5">Anzahl Kopien</label>
            <div class="col-7">
              <mat-form-field class="mw-100">
                <input matInput placeholder="Anzahl" value="1">
              </mat-form-field>
            </div>
          </div>

          <div class="row align-items-center px-3 py-3">
            <label class="col-5">EMP Einstellungen</label>
            <div class="col-7">
              <ng-select [items]="this.data.demoSettings"
                         bindLabel="name"
                         bindValue="id"
                         notFoundText="Keine EMP Einstellung gefunden!"
                         [(ngModel)]="this.data.demoSettings[0].id">
              </ng-select>
            </div>
          </div>

          <!-- Selected Files -->
          <div [class.d-none]="listingService.activePage === 'details'">
            <div class="bg-light text-medium px-3 py-3 font-size-md border-top border-bottom font-weight-medium">Ausgewählte Dateien:</div>
            <div class="maxh-185 bg-gray-100">
              <ul class="list-group bg-transparent rounded-0">
                <li class="d-inline-flex align-items-center list-group-item bg-transparent rounded-0 border-top-0 py-2 px-3 font-size-sm"
                    *ngFor="let file of listingService.highlightedRows">
                    <i class="material-icons medium mr-2 d-none" matTooltip="Druckbogen" [class.d-inline-block]="file.fileType == 2">apps</i>
                    <i class="material-icons medium mr-2 d-none" matTooltip="PDF" [class.d-inline-block]="file.fileType == 1">picture_as_pdf</i>
                    {{file.fileName}}
                    {{file.productName}}
                    {{file.orderName}}
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Cancel / Save -->
        <div class="card-footer px-0 bg-light border-top text-right rounded-bottom">
          <a class="btn btn-white border px-4 mr-3" (click)="modPrint.hide()">Abbrechen</a>
          <a class="btn btn-primary text-white px-4 mr-2" (click)="modPrint.hide()">Drucken</a>
        </div>
      </div>
    </div>
  </span>