<div class="card m-3 shadow-sm border-0 rounded-0">
  <!-- Header -->
  <div class="card-header p-4 bg-gray-100">
    <h2 class="font-size-xl mb-1">Expansion Panel</h2>
    <p class="text-default mb-0">see <a href="https://material.angular.io/components/expansion/overview#accordion" target="_blank">Material Expansion Panel</a></p>
  </div>

  <div class="card-body">
    <!-- Expansion Panel -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0">
      <h3 class="mb-0">Expansion Panel</h3>
    </div>

    <div class="border border-light">
      <mat-expansion-panel>
        <mat-expansion-panel-header
                class="light border-top border-bottom"
                collapsedHeight="55px"
                expandedHeight="55px">
          <mat-panel-title class="d-flex align-items-center justify-content-between">
            Example
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="p-3">Content</div>
      </mat-expansion-panel>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#expansionPanel')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="expansionPanel" class="d-none">
<mat-expansion-panel>
  <mat-expansion-panel-header
          class="light border-top border-bottom"
          collapsedHeight="55px"
          expandedHeight="55px">
    <mat-panel-title class="d-flex align-items-center justify-content-between">
      Example
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="p-3">Content</div>
</mat-expansion-panel>
</textarea>

      <pre class="m-0 pt-3 px-3">
<code>&lt;mat-expansion-panel&gt;
  &lt;mat-expansion-panel-header
      class="light border-top border-bottom"
      collapsedHeight="55px"
      expandedHeight="55px"&gt;
    &lt;mat-panel-title class="d-flex align-items-center justify-content-between"&gt;
      Example
    &lt;/mat-panel-title&gt;
  &lt;/mat-expansion-panel-header&gt;
  &lt;div class="p-3"&gt;Content&lt;/div&gt;
&lt;/mat-expansion-panel&gt;</code>
      </pre>
    </div>

    <!-- Accordion -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0 mt-5">
      <h3 class="mb-0">Accordion</h3>
    </div>

    <div class="border border-light">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header
                  class="light border-top border-bottom"
                  collapsedHeight="55px"
                  expandedHeight="55px">
            <mat-panel-title class="d-flex align-items-center justify-content-between">
              Example
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="p-3">Content</div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header
                  class="light border-top border-bottom"
                  collapsedHeight="55px"
                  expandedHeight="55px">
            <mat-panel-title class="d-flex align-items-center justify-content-between">
              Example
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="p-3">Content</div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header
                  class="light border-top border-bottom"
                  collapsedHeight="55px"
                  expandedHeight="55px">
            <mat-panel-title class="d-flex align-items-center justify-content-between">
              Example
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="p-3">Content</div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#accordion')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="accordion" class="d-none">
<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header
            class="light border-top border-bottom"
            collapsedHeight="55px"
            expandedHeight="55px">
      <mat-panel-title class="d-flex align-items-center justify-content-between">
        Example
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="p-3">Content</div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header
            class="light border-top border-bottom"
            collapsedHeight="55px"
            expandedHeight="55px">
      <mat-panel-title class="d-flex align-items-center justify-content-between">
        Example
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="p-3">Content</div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header
            class="light border-top border-bottom"
            collapsedHeight="55px"
            expandedHeight="55px">
      <mat-panel-title class="d-flex align-items-center justify-content-between">
        Example
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="p-3">Content</div>
  </mat-expansion-panel>
</mat-accordion>
</textarea>

      <pre class="m-0 pt-3 px-3">
<code>&lt;mat-accordion&gt;
  &lt;mat-expansion-panel [expanded]="true"&gt;
    &lt;mat-expansion-panel-header
            class="light border-top border-bottom"
            collapsedHeight="55px"
            expandedHeight="55px"&gt;
      &lt;mat-panel-title class="d-flex align-items-center justify-content-between"&gt;
        Example
      &lt;/mat-panel-title&gt;
    &lt;/mat-expansion-panel-header&gt;
    &lt;div class="p-3"&gt;Content&lt;/div&gt;
  &lt;/mat-expansion-panel&gt;

  &lt;mat-expansion-panel&gt;
    &lt;mat-expansion-panel-header
            class="light border-top border-bottom"
            collapsedHeight="55px"
            expandedHeight="55px"&gt;
      &lt;mat-panel-title class="d-flex align-items-center justify-content-between"&gt;
        Example
      &lt;/mat-panel-title&gt;
    &lt;/mat-expansion-panel-header&gt;
    &lt;div class="p-3"&gt;Content&lt;/div&gt;
  &lt;/mat-expansion-panel&gt;

  &lt;mat-expansion-panel&gt;
    &lt;mat-expansion-panel-header
            class="light border-top border-bottom"
            collapsedHeight="55px"
            expandedHeight="55px"&gt;
      &lt;mat-panel-title class="d-flex align-items-center justify-content-between"&gt;
        Example
      &lt;/mat-panel-title&gt;
    &lt;/mat-expansion-panel-header&gt;
    &lt;div class="p-3"&gt;Content&lt;/div&gt;
  &lt;/mat-expansion-panel&gt;
&lt;/mat-accordion&gt;</code>
      </pre>
    </div>
  </div>
</div>