<header class="bg-dark text-white fixed-to p-2 d-flex">
  <a href="/" class="navbar-brand ml-2">
    <img [src]="'assets/images/logo-impressed.png'" alt="IWS Pro" width="110">
  </a>

  <div class="toolbar ml-auto d-inline-flex align-items-center">
    <a class="nav-link tool tool-dark sidebar" matTooltip="Sidebar ein-/ausblenden"
       (click)="ui.toggleSidebar()">
      <i class="material-icons">folder</i>
    </a>
  </div>
</header>

<section class="content">
  <div class="inner">
    <mat-sidenav-container hasBackdrop="{{ui.hasBackdrop}}" class="bg-light">
      <mat-sidenav #sidenav [opened]="ui.showSidebar" mode="{{ui.sidebarMode}}" class="bg-dark">
        <perfect-scrollbar class="show-scrollbar">
        <div class="main-nav list-group">
          <a *ngFor="let element of ui.elements; let i = index;"
             (click)="ui.setActive(i)"
             [class.active]="element.active"
             class="list-group-item list-group-item-action rounded-0 bg-dark text-white">
              {{element.name}}
          </a>
        </div>
        </perfect-scrollbar>
      </mat-sidenav>

      <!-- Content -->
      <mat-sidenav-content>
        <iw-colors *ngIf="ui.activeElem === 0"></iw-colors>
        <iw-typo *ngIf="ui.activeElem === 1"></iw-typo>
        <iw-icons *ngIf="ui.activeElem === 2"></iw-icons>
        <iw-badges *ngIf="ui.activeElem === 3"></iw-badges>
        <iw-buttons *ngIf="ui.activeElem === 4"></iw-buttons>
        <iw-cards *ngIf="ui.activeElem === 5"></iw-cards>
        <iw-datepicker *ngIf="ui.activeElem === 6"></iw-datepicker>
        <iw-drag-and-drop *ngIf="ui.activeElem === 7"></iw-drag-and-drop>
        <iw-dropdowns *ngIf="ui.activeElem === 8"></iw-dropdowns>
        <iw-expansion-panel *ngIf="ui.activeElem === 9"></iw-expansion-panel>
        <iw-inputs *ngIf="ui.activeElem === 10"></iw-inputs>
        <iw-list-groups *ngIf="ui.activeElem === 11"></iw-list-groups>
        <iw-modal *ngIf="ui.activeElem === 12"></iw-modal>
        <iw-navbar *ngIf="ui.activeElem === 13"></iw-navbar>
        <iw-pagination *ngIf="ui.activeElem === 14"></iw-pagination>
        <iw-radios-checkboxes *ngIf="ui.activeElem === 15"></iw-radios-checkboxes>
        <iw-scrollbar *ngIf="ui.activeElem === 16"></iw-scrollbar>
        <iw-sidenav *ngIf="ui.activeElem === 17"></iw-sidenav>
        <iw-selects *ngIf="ui.activeElem === 18"></iw-selects>
        <iw-slide-toggle *ngIf="ui.activeElem === 19"></iw-slide-toggle>
        <iw-snackbar *ngIf="ui.activeElem === 20"></iw-snackbar>
        <iw-table *ngIf="ui.activeElem === 21"></iw-table>
        <iw-tabs *ngIf="ui.activeElem === 22"></iw-tabs>
        <iw-tools *ngIf="ui.activeElem === 23"></iw-tools>
        <iw-tooltips *ngIf="ui.activeElem === 24"></iw-tooltips>
        <iw-utilities *ngIf="ui.activeElem === 25"></iw-utilities>
        <iw-widths-heights *ngIf="ui.activeElem === 26"></iw-widths-heights>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</section>
