// Setup
header {
  height: 70px;
}

.content {
  width: 100%;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  overflow-y: auto;

  .inner {
    width: 100%;
    height: 100%;

    // Navigation
    .mat-sidenav {
      width: 350px !important;
    }

    .main-nav {
      .list-group-item {
        border-top: 1px solid #55595f;
        border-bottom: 1px solid #55595f;

        &.active {
          background-color: #CB030E !important;
        }
      }
    }
  }
}