<!-- Tool -->
<span dropdown #modImpose="bs-dropdown" class="test" (onShown)="data.setActiveTool('impose', true)" (onHidden)="data.setActiveTool('impose', false)" [insideClick]="true">
    <a class="nav-link tool" [class.active]="data.tools[7].active" matTooltip="Ausschießen" id="modImpose" dropdownToggle>
        <i class="material-icons">apps</i>
    </a>

    <!-- Dropdown Content -->
    <div id="modImposeDropdown" *dropdownMenu (click)="data.preventClose($event)"  class="dropdown-menu dropdown-mobile dropdown-toolbar" role="menu" aria-labelledby="modImpose">
        <div class="card mw-420 maxw-420 border-0 rounded">

            <!-- Header -->
            <div class="card-header d-flex justify-content-center align-items-center">
              <span class="badge badge-light badge-circle text-dark mr-3 p-2 mr-auto">
                <i class="material-icons">apps</i>
              </span>
                <span class="flex-fill font-weight-medium text-center">
                    {{(listingService.activePage === 'details') ? 'Datei ausschießen' : 'Auswahl ausschießen'}}
                </span>
            </div>

            <div class="card-body p-0">
                <!-- Form -->
                <div class="row align-items-center px-3 pt-3">
                    <label class="col-5">Imposition Preset</label>
                    <div class="col-7">
                        <ng-select [items]="data.preflightPresets"
                                   bindLabel="name"
                                   bindValue="id"
                                   notFoundText="Kein Preflight Preset gefunden!"
                                   [(ngModel)]="data.preflightPresets[0].id">
                        </ng-select>
                    </div>
                </div>

                <div class="row align-items-center px-3 pt-3">
                    <label class="col-5">PDF Toolbox Wert 01</label>
                    <div class="col-7">
                        <mat-form-field class="mw-100">
                            <input matInput placeholder="…" value="…">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row align-items-center px-3 pt-3">
                    <label class="col-5">PDF Toolbox Wert 02</label>
                    <div class="col-7">
                        <mat-form-field class="mw-100">
                            <input matInput placeholder="…" value="…">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row align-items-center px-3 py-3">
                    <label class="col-5">Anzahl</label>
                    <div class="col-7">
                        <mat-form-field class="mw-100">
                            <input matInput placeholder="Anzahl" value="1">
                        </mat-form-field>
                    </div>
                </div>

                <!-- Selected Files -->
                <div [class.d-none]="listingService.activePage === 'details'">
                    <div class="bg-light text-medium px-3 py-3 font-size-md border-top font-weight-medium">Auswahl:</div>
                    <div class="maxh-185 bg-gray-100 border-top">
                        <ul class="list-group bg-transparent rounded-0">
                            <li class="d-inline-flex align-items-center list-group-item bg-transparent rounded-0 border-top-0 py-2 px-3 font-size-sm"
                                *ngFor="let file of listingService.highlightedRows">
                                <i class="material-icons medium mr-2 d-none" matTooltip="Druckbogen" [class.d-inline-block]="file.fileType == 2">apps</i>
                                <i class="material-icons medium mr-2 d-none" matTooltip="PDF" [class.d-inline-block]="file.fileType == 1">picture_as_pdf</i>
                                {{file.fileName}}
                                {{file.productName}}
                                {{file.orderName}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Cancel / Save -->
            <div class="card-footer px-0 bg-light border-top text-right rounded-bottom">
                <a class="btn btn-white border px-4 mr-3" (click)="modImpose.hide()">Abbrechen</a>
                <a class="btn btn-primary text-white px-4 mr-2" (click)="modImpose.hide()">Ausschießen</a>
            </div>
        </div>
    </div>
</span>