<!-- Edit File -->
<span [ngClass]="(listingService.activeView == 'files' && listingService.activeScope == 'edit') ? '': 'd-none'">
<pt-edit-file></pt-edit-file>
</span>

<!-- Edit Product -->
<span [ngClass]="(listingService.activeView == 'products' && listingService.activeScope == 'edit') ? '': 'd-none'">
  <pt-edit-product></pt-edit-product>
</span>

<!-- Edit Orders -->
<span [ngClass]="(listingService.activeView == 'orders' && listingService.activeScope == 'edit') ? '': 'd-none'">
  <pt-edit-order [isDetails]="false"></pt-edit-order>
</span>