<div class="card m-4 shadow rounded border-0">
  <div class="card-header p-4">
    <h2 class="font-size-xl mb-1">
      {{contactData.contactIsSelected ? contactData.selectedContact.name : 'Neuer Kontakt'}}
    </h2>
    <p class="text-default mb-0">
      {{contactData.contactIsSelected ? demoData.getCompanyById(contactData.selectedContact.company).name : 'Neuen Kontakt anlegen'}}
    </p>
  </div>

  <div class="card-body pb-5">
    <div class="row">
      <div class="col-12 col-md-6">
        <!-- First Name -->
        <label class="col-12 mt-2 mb-1 pt-3">Vorname</label>
        <mat-form-field class="col-12 mw-100">
          <input matInput placeholder="Vorname"
                 value="{{contactData.contactIsSelected ? contactData.selectedContact.firstName : ''}}">
        </mat-form-field>

        <!-- Last Name -->
        <label class="col-12 mt-4 mb-1 pt-2">Nachname</label>
        <mat-form-field class="col-12 mw-100">
          <input matInput placeholder="Nachname"
                 value="{{contactData.contactIsSelected ? contactData.selectedContact.lastName : ''}}">
        </mat-form-field>

        <!-- Role -->
        <label class="col-12 mt-4 mb-1">Rolle</label>
        <mat-form-field class="col-12 mw-100">
          <input matInput placeholder="z.B. Haupt-Ansprechpartner"
                 value="{{contactData.contactIsSelected ? contactData.selectedContact.role : ''}}">
        </mat-form-field>

        <!-- E-Mail -->
        <label class="col-12 mt-4 mb-1">E-Mail</label>
        <mat-form-field class="col-12 mw-100">
          <input matInput placeholder="E-Mail-Adresse"
                 value="{{contactData.contactIsSelected ? contactData.selectedContact.mail : ''}}">
        </mat-form-field>

        <!-- Phone -->
        <label class="col-12 mt-4 mb-1">Telefon</label>
        <mat-form-field class="col-12 mw-100">
          <input matInput placeholder="+49 0000 / 000 00"
                 value="{{contactData.contactIsSelected ? contactData.selectedContact.phone : ''}}">
        </mat-form-field>
      </div>

      <div class="col-12 col-md-6">
        <!-- Company -->
        <label class="col-12 mt-2 mb-1 pt-3">Firma</label>
        <ng-select [items]="demoData.companies"
                   class="mx-3"
                   bindLabel="name"
                   (bindValue)="contactData.selectedCompany.name"
                   placeholder="Firmenname"
                   notFoundText="Keine Firma gefunden!"
                   [searchable]="true"
                   [(ngModel)]="contactData.selectedCompany">
        </ng-select>

        <div class="col-12 mt-2 text-right">
          <mat-slide-toggle class="toggle-right" [(ngModel)]="contactData.useCompanyData">
            Firmenadresse verwenden
          </mat-slide-toggle>
        </div>

        <!-- Street -->
        <label class="col-12 mb-1" [class.disabled]="contactData.useCompanyData">Straße</label>
        <mat-form-field class="col-12 mw-100">
          <input matInput placeholder="Straßenname"
                 value="{{contactData.tempAddress.street}}"
                 [disabled]="contactData.useCompanyData">
        </mat-form-field>

        <!-- ZIP -->
        <label class="col-12 mt-4 mb-1" [class.disabled]="contactData.useCompanyData">PLZ</label>
        <mat-form-field class="col-12 mw-100">
          <input matInput placeholder="Postleitzahl"
                 value="{{contactData.tempAddress.zip}}"
                 [disabled]="contactData.useCompanyData">
        </mat-form-field>

        <!-- City -->
        <label class="col-12 mt-4 mb-1" [class.disabled]="contactData.useCompanyData">Stadt</label>
        <mat-form-field class="col-12 mw-100">
          <input matInput placeholder="Stadt"
                 value="{{contactData.tempAddress.city}}"
                 [disabled]="contactData.useCompanyData">
        </mat-form-field>

        <!-- Country -->
        <label class="col-12 mt-4 mb-1" [class.disabled]="contactData.useCompanyData">Land</label>
        <ng-select [items]="demoData.countries"
                   class="mx-3"
                   bindLabel="name"
                   bindValue="name"
                   placeholder="Land"
                   notFoundText="Kein Land gefunden!"
                   [disabled]="contactData.useCompanyData"
                   [searchable]="true"
                   [(ngModel)]="contactData.ContactIsSelected ? demoData.countries[contactData.tempAddress.country].name : demoData.countries[0].name">
        </ng-select>
      </div>
    </div>
  </div>

  <div class="card-footer px-2 py-3 bg-light border-top text-right rounded-bottom">
    <a (click)="contactData.hideContact()" class="btn btn-white border px-4 mr-3">Abbrechen</a>
    <a (click)="contactData.hideContact()" class="btn btn-primary text-white px-4 mr-2">Speichern</a>
  </div>
</div>