<div class="card m-3 shadow-sm border-0 rounded-0">
  <!-- Header -->
  <div class="card-header p-4 bg-gray-100">
    <h2 class="font-size-xl mb-1">Typo</h2>
    <p class="text-default mb-0">see <a href="https://getbootstrap.com/docs/4.3/utilities/text/" target="_blank">Bootstrap Text</a></p>
  </div>

  <div class="card-body">
    <!-- Headlines & Text -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0">
      <h3 class="mb-0">Headlines & Text</h3>
    </div>

    <div class="border border-light p-3">
      <h1>Headline 01</h1>
      <h2>Headline 02</h2>
      <h3>Headline 03</h3>
      <h4>Headline 04</h4>
      <h5>Headline 05</h5>
      <h6>Headline 06</h6>
      <p>Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus.</p>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#headlines')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="headlines" class="d-none">
<h1>Headline 01</h1>
<h2>Headline 02</h2>
<h3>Headline 03</h3>
<h4>Headline 04</h4>
<h5>Headline 05</h5>
<h6>Headline 06</h6>
<p>Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus.</p>
</textarea>

      <pre class="m-0 pt-3 px-3">
<code>&lt;h1&gt;Headline 01&lt;/h1&gt;
&lt;h2&gt;Headline 02&lt;/h2&gt;
&lt;h3&gt;Headline 03&lt;/h3&gt;
&lt;h4&gt;Headline 04&lt;/h4&gt;
&lt;h5&gt;Headline 05&lt;/h5&gt;
&lt;h6&gt;Headline 06&lt;/h6&gt;
&lt;p&gt;Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus.&lt;/p&gt;</code>
      </pre>
    </div>

    <!-- Font Weights -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0 mt-5">
      <h3 class="mb-0">Font Weights</h3>
    </div>

    <div class="border border-light p-3">
        <p class="font-weight-bold">.font-weight-bold</p>
        <p class="font-weight-medium">.font-weight-medium</p>
        <p class="font-weight-normal">.font-weight-normal</p>
        <p class="font-italic">.font-italic</p>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#fontWeight')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="fontWeight" class="d-none">
<p class="font-weight-bold">.font-weight-bold</p>
<p class="font-weight-medium">.font-weight-medium</p>
<p class="font-weight-normal">.font-weight-normal</p>
<p class="font-italic">.font-italic</p>
</textarea>

      <pre class="m-0 pt-3 px-3">
<code>&lt;p class="font-weight-bold"&gt;.font-weight-bold&lt;/p&gt;
&lt;p class="font-weight-medium"&gt;.font-weight-medium&lt;/p&gt;
&lt;p class="font-weight-normal"&gt;.font-weight-normal&lt;/p&gt;
&lt;p class="font-italic"&gt;.font-italic&lt;/p&gt;</code>
      </pre>
    </div>

      <!-- Font Sizes -->
      <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0 mt-5">
          <h3 class="mb-0">Font Sizes</h3>
      </div>

      <div class="border border-light p-3">
          <p class="font-size-xs">.font-size-xs</p>
          <p class="font-size-sm">.font-size-sm</p>
          <p class="font-size-md">.font-size-md</p>
          <p class="font-size-lg">.font-size-lg</p>
          <p class="font-size-xl">.font-size-xl</p>
      </div>

      <div class="position-relative border border-light bg-light px-2">
          <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#fontSizes')" matTooltip="Copy HTML">
              <i class="material-icons">file_copy</i>
          </a>

          <textarea id="fontSizes" class="d-none">
<p class="font-size-xs">.font-size-xs</p>
<p class="font-size-sm">.font-size-sm</p>
<p class="font-size-md">.font-size-md</p>
<p class="font-size-lg">.font-size-lg</p>
<p class="font-size-xl">.font-size-xl</p>
</textarea>

          <pre class="m-0 pt-3 px-3">
<code>&lt;p class="font-size-xs"&gt;.font-size-xs&lt;/p&gt;
&lt;p class="font-size-sm"&gt;.font-size-sm&lt;/p&gt;
&lt;p class="font-size-md"&gt;.font-size-md&lt;/p&gt;
&lt;p class="font-size-lg"&gt;.font-size-lg&lt;/p&gt;
&lt;p class="font-size-xl"&gt;.font-size-xl&lt;/p&gt;</code>
      </pre>
      </div>
  </div>
</div>