<!-- Trimbox -->
<div class="row py-4 px-3 mt-2">
  <h6 class="col-12 mb-3">Timbox setzen</h6>
  <div class="col-12 col-md-6">
    <mat-checkbox [checked]="activateTrim" [(ngModel)]="activateTrim">Werkzeug aktivieren</mat-checkbox>
    <label class="mt-3 mb-1 mw-100" [class.disabled]="!activateTrim">Eingabefelder</label>
    <mat-form-field class="mw-100">
      <input matInput placeholder="Name1 [   ], Name2 [   ]…"
             value="{{settingsService.newEntry ? '' : 'Breite [   ] x Höhe [   ]'}}"
             [disabled]="!activateTrim">
    </mat-form-field>
  </div>
  <div class="col-12 col-md-6 mt-3 mt-md-0">
    <mat-checkbox [checked]="true" [disabled]="!activateTrim">Erfordert Preflight</mat-checkbox>
    <label class="mt-3 mb-1 mw-100" [class.disabled]="!activateTrim">Anzeigen für Benutzerrechte</label>
    <ng-select [items]="demoData.userRights"
               class="mw-100"
               placeholder="Benutzerrechte auswählen"
               notFoundText="Keine Übereinstimmung gefunden!"
               bindLabel="name"
               bindValue="name"
               [disabled]="!activateTrim"
               [searchable]="false"
               [clearable]="false"
               [(ngModel)]="demoData.userRights[0].name">
    </ng-select>
  </div>
</div>

<!-- Bleedbox -->
<div class="row py-4 px-3 bg-gray-100 border-top border-bottom">
  <h6 class="col-12 mb-3">Bleedbox setzen</h6>
  <div class="col-12 col-md-6">
    <mat-checkbox [checked]="activateBleed" [(ngModel)]="activateBleed">Werkzeug aktivieren</mat-checkbox>
    <label class="mt-3 mb-1 mw-100" [class.disabled]="!activateBleed">Eingabefelder</label>
    <mat-form-field class="mw-100">
      <input matInput placeholder="Name1 [   ], Name2 [   ]…"
             value=""
             [disabled]="!activateBleed">
    </mat-form-field>
  </div>
  <div class="col-12 col-md-6 mt-3 mt-md-0">
    <mat-checkbox [checked]="true" [disabled]="!activateBleed">Erfordert Preflight</mat-checkbox>
    <label class="mt-3 mb-1 mw-100" [class.disabled]="!activateBleed">Anzeigen für Benutzerrechte</label>
    <ng-select [items]="demoData.userRights"
               class="mw-100"
               placeholder="Benutzerrechte auswählen"
               notFoundText="Keine Übereinstimmung gefunden!"
               bindLabel="name"
               bindValue="name"
               [disabled]="!activateBleed"
               [searchable]="false"
               [clearable]="false"
               [(ngModel)]="demoData.userRights[0].name">
    </ng-select>
  </div>
</div>

<!-- Delete Empty Pages -->
<div class="row py-4 px-3 mb-2">
  <h6 class="col-12 mb-3">Leere Seiten entfernen</h6>
  <div class="col-12 col-md-6">
    <mat-checkbox [checked]="activatePages" [(ngModel)]="activatePages">Werkzeug aktivieren</mat-checkbox>
    <label class="mt-3 mb-1 mw-100" [class.disabled]="!activatePages">Eingabefelder</label>
    <mat-form-field class="mw-100">
      <input matInput placeholder="Name1 [   ], Name2 [   ]…"
             value=""
             [disabled]="!activatePages">
    </mat-form-field>
  </div>
  <div class="col-12 col-md-6 mt-3 mt-md-0">
    <mat-checkbox [checked]="true" [disabled]="!activatePages">Erfordert Preflight</mat-checkbox>
    <label class="mt-3 mb-1 mw-100" [class.disabled]="!activatePages">Anzeigen für Benutzerrechte</label>
    <ng-select [items]="demoData.userRights"
               class="mw-100"
               placeholder="Benutzerrechte auswählen"
               notFoundText="Keine Übereinstimmung gefunden!"
               bindLabel="name"
               bindValue="name"
               [disabled]="!activatePages"
               [searchable]="false"
               [clearable]="false"
               [(ngModel)]="demoData.userRights[0].name">
    </ng-select>
  </div>
</div>

