// Default Badges
body {
  .badge {
    font-weight: $badge-font-weight;
  }
}

body {
  @each $color, $value in $theme-colors {
    .badge:not(.badge-marker).badge-#{$color} {
      @include badge-variant($value);
    }
  }
}


// Badges w/ Marker
.badge.badge-marker {
  padding-left: $badge-marker-padding;
  position: relative;
  background-color: transparent;
  color: $dark;
  font-size: $badge-marker-font-size;

  &:before {
    content: '';
    width: $badge-marker-width;
    height: $badge-marker-height;
    margin-top: $badge-marker-offset-y;
    top: 50%;
    left: 0;
    position: absolute;
    display: block;
    background-color: $badge-marker-default-color;
    border: 1px solid $badge-marker-border-color;
    border-radius: $badge-marker-radius;
  }

  &.badge-small {
    font-size: $badge-font-size-small;
  }
}

@each $color, $value in $theme-colors {
  .badge-marker.badge-#{$color} {
    @include badge-marker-variant($value);
  }
}

// Badge Circle
.badge.badge-circle {
  width: $badge-circle-default;
  height: $badge-circle-default;
  padding: 0;
  line-height: $badge-circle-default;
  border-radius: 100%;
  display: inline-block;

  &.badge-sm {
    width: $badge-circle-sm;
    height: $badge-circle-sm;
    line-height: $badge-circle-sm;
  }

  &.badge-s {
    width: $badge-circle-s;
    height: $badge-circle-s;
    line-height: $badge-circle-s;
  }
}

// Card Badges (e.g. for Dashboard)
.card-badge {
  min-width: $card-badge-min-width;

  @include media-breakpoint-up(sm) {
    width: 45%;
    min-width: auto;
  }

  @include media-breakpoint-up(md) {
    width: 30%;
  }

  @include media-breakpoint-up(lg) {
    width: $card-badge-min-width;
    min-width: $card-badge-min-width;
  }
}

// Badge selected
.badge.selected {
  border: $badge-selected-border !important;
  box-shadow: $badge-box-shadow;
}