// Remove outline
body {
  button {
    outline: none !important;
  }

  a,
  .btn,
  button {
    font-family: $font-family-sans-serif;

    &:focus {
      box-shadow: none;
    }
  }
}

// Button Hover color
@each $color, $value in $theme-colors {
  .btn.btn-hover-#{$color} {
    @include hover_focus {
      color: $value !important;
    };
  }
}

// Button Link
.btn-link {
  @include transition($transition-base);

  &:not(.btn-icon) {
    @include underlineNavigation($link-hover-color, 1px, -10px, 0);
  }
}

// Button Text white
.btn.text-white {
  @include hover-focus {
    color: $btn-text-white-hover-color !important;
  }
}