// Cards

// Setup
body {
  .card {
    font-family: $card-font;

    .card-footer {
      padding: $card-footer-padding;
    }
  }
}


// Sidebar Cards
body {
  .card-sidebar {
    height: 100%;
    border: none;

    &.d-flex {
      .card-header {
        height: $card-sidebar-header-height;
        min-height: $card-sidebar-header-height;
      }

      .card-header-small {
        height: $card-sidebar-header-small-height;
        min-height: $card-sidebar-header-small-height;
      }

      .card-body {
        overflow-y: auto;
      }

      .card-footer {
        height: $card-sidebar-footer-height;

        &.dropzone {
          height: $card-sidebar-dropzone-height;

          @include media-breakpoint-down(sm) {
            height: $card-sidebar-dropzone-height-xs;
          }
        }
      }
    }
  }
}


// Card Header w/ Marker
.card {
  .card-header {
    .marker {
      width: $marker-size;
      height: $marker-size;
      top: 0;
      left: 0;
      position: absolute;
      background-color: $marker-bg;
      color: $marker-color;
      border-radius: 100%;
      text-align: center;
      line-height: $marker-line-height;
      box-shadow: $marker-shadow;

      &.pointer {
        cursor: pointer;
        @include transition($transition-base);

        @include hover-focus {
          background-color: $marker-hover-bg;
          color: $marker-hover-color;
        }
      }

      &.top.left {
        top: $marker-position-tl-top;
        left: $marker-position-tl-left;
        right: auto;
        bottom: auto;
      }

      &.top.right {
        top: $marker-position-tr-top;
        left: auto;
        right: $marker-position-tr-right;
        bottom: auto;
      }

    }
  }
}