// Dropdowns

// Setup
body {
  .dropdown-menu {
    padding: $dropdown-padding;
    border: 1px solid $dropdown-border;
    box-shadow: $element-shadow;
    text-transform: none;

    .dropdown-item {
      // Active
      &.active,
      &:active {
        background-color: $dropdown-active-bg;
      }
    }

  }
}


// Positioning
body {
  .dropdown-toolbar {
    margin-top: $dropdown-toolbar-spacing;
  }
}

// Mobile
@include media-breakpoint-down(md) {
  .dropdown-menu.dropdown-mobile {
    top: $dropdown-mobile-top !important;
    left: $dropdown-mobile-left !important;
    right: $dropdown-mobile-right !important;
    bottom: $dropdown-mobile-bottom !important;
    position: fixed !important;
    margin: $dropdown-mobile-margin !important;
    box-shadow: none;
    background-color: transparent;
    transform: none !important;

    &:after {
      content: '';
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      position: fixed;
      z-index: -1;
      background-color: $dropdown-mobile-overlay-bg;
    }

    .marker {
      top: $dropdown-mobile-marker-top !important;
      left: $dropdown-mobile-marker-left !important;
    }

    .card {
      max-height: 100%;
      margin: auto;
      display: flex;
      box-shadow: $element-shadow;

      .card-header {
        min-height:$dropdown-mobile-header-height;
        border-top-left-radius: $dropdown-radius;
        border-top-right-radius: $dropdown-radius;
      }

      .card-body {
        overflow-x: hidden;
        overflow-y: auto;
      }

      .card-footer {
        min-height: $dropdown-mobile-footer-height;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .dropdown-menu.dropdown-mobile {
    .card {
      min-width: $dropdown-min-width-mobile !important;
    }
  }
}