// Global Formats for Folder Lists (Used for Folder, Company Groups etc.)

// Folder List
.folder-container {
  left: 100%;
  height: 100%;
  @include transition($transition-base);

  &.show {
    left: 0;
  }

  &.folder-top-lg {
    top: $folder-top-lg;
    height: auto;
  }

  // Headline
  .folder-header {
    width: 100%;
    height: $folder-header-height;
    top: 0;
    position: absolute;

    @include transition($transition-base);

    .icon {
      left: $folder-icon-left;
      @include transition($transition-base);
    }

    @include hover-focus {
      background-color: $folder-header-hover-bg;
      color: $folder-header-hover-color;

      .icon {
        left: $folder-icon-hover-left;
      }
    };
  }

  // Content
  .folder-content {
    width: 100%;
    top: 0;
    bottom: 0;
    position: absolute;
    overflow-y: auto;
  }

  &.has-header {
    .folder-content {
      top: $folder-header-height;
    }
  }
}


// Animation
.folder-container {
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: 10;
  @include transition($transition-slow);
}

.folder-container:not(.folder-group) {
  left: 100%;

  &.show {
    left: 0;
  }
}

.folder-group {
  left: 0;

  &.hide {
    left: -100%;
  }
}