// Base Layout

// Main Setup
.main-header {
  width: 100%;
  height: $main-nav-height+$toolbar-height;
  padding: 0;
  position: absolute;
  z-index: 1000;
}

.main-content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-y: auto;

  .inner {
    width: auto;
    top: $main-nav-height+$toolbar-height;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    overflow-y: auto;
  }
}

// Full Size Overlay
.main-content {
  .full-size {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;

    &.has-nav {
      top: $main-nav-height;
    }

    &.has-pattern {
      background: url('/assets/images/pattern-dark.png') top center;
      background-size: cover;
    }
  }
}


// Center Vertically & Horizontally
.is-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Hamburger Icon for Mobile Navigation
.hamburger {
  padding-top: 5px !important;
  padding-bottom: 0 !important;
}