// Override for List Groups

// Hover
.list-group-item-action {
  @include transition($transition-base);

  @include hover-focus {
    box-shadow: $element-shadow;
    z-index: auto;
  }
}

// Active Item
.list-group-item.active {
  box-shadow: $element-shadow;
}

// Cursor
.list-group-item.cdk-drag:not(.cdk-drag-disabled) {
  cursor: pointer;
}


// Color Variations
.list-group-item {
  &.list-item-light {
    background-color: $list-group-light-bg;

    @include hover-focus {
      background-color: $list-group-light-hover-bg;
      border-color: $list-group-light-hover-border-color;
      color: $list-group-light-hover-color;
    }

    &.active {
      background-color: $list-group-light-active-bg;
      border-color: $list-group-light-active-border-color;
      color: $list-group-light-active-color;
    }

    &.active-dark {
      background-color: $list-group-light-active-dark-bg;
      border-color: $list-group-light-active-dark-border-color;
      color: $list-group-light-active-dark-color;

      .text-dark {
        color: $list-group-light-active-dark-color !important;
      }

      .bg-white,
      .badge-white {
        color: $list-group-light-active-color !important;
      }
    }
  }
}

// Placeholder for Drag'n'Drop Lists
.list-group-placeholder {
  width: 100%;
  min-width: 100%;
  height: $list-group-placeholder-height;
  max-height: $list-group-placeholder-height !important;
  overflow: hidden;
  //display: table-cell;
  background: $list-group-placeholder-bg;
  border: $list-group-placeholder-border;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}