// Override for Pagination

// Setup
.pagination {
  .pagination-page {
    flex-grow: 1;
  }

  .page-item {
    width: $pagination-width;
    height: $pagination-height;

    .page-link {
      width: 100%;
      height: $pagination-height;
      padding: 0;
      border-color: $pagination-border-color;
      line-height: $pagination-height;
      text-align: center;
      border-right: none;
      box-shadow: none !important;

      i {
        line-height: $pagination-height;
      }

      @include transition($transition-base);

      // Hover
      @include hover-focus {
        background-color: $pagination-hover-bg;
        border-color: $pagination-hover-border;
        color: $pagination-hover-color;
      }
    }

    &:last-of-type {
      .page-link {
        border-right: 1px solid $pagination-border-color;
      }
    }

    // Active
    &.active {
      .page-link {
        background-color: $pagination-active-bg;
        border-color: $pagination-active-border;
        color: $pagination-active-color;
        font-weight: $font-weight-bold;
      }
    }

    // Disabled
    &.disabled {
      .page-link {
        border-color: $pagination-disabled-border-color;
        color: $pagination-disabled-color;
      }
    }
  }
}