// Body
body {
  font-family: $font-family-sans-serif;
}

// Links
a {
  color: $link-color;
  text-decoration: $link-decoration;
  cursor: pointer;

  &.show-underline {
    @include underlineNavigation($link-hover-color, 1px, 5px, 0);
  }
}

// Labels
label {
  padding-right: $label-padding-right;
  margin-bottom: $label-margin-bottom;
  font-size: $label-font-size;
  font-weight: $label-font-weight;

  &.small {
    font-size: $label-font-size-small;
    font-weight: $font-weight-medium;
  }
}

// Textarea Resize
.no-resize {
  resize: none !important;
}

// Transitions
.transition {
  @include transition($transition-base);
}