// Tools MD
.toolbar {

  // Default
  .tool {
    min-width: $tool-width-md;
    min-height: $tool-height-md;
    margin: 0 $tool-spacing-md;
    display: inline-block;
    position: relative;
    color: $tool-color;
    text-align: center;

    @include media-breakpoint-down(xs) {
      margin: 0 $tool-spacing-md/2;
    }

    i,
    &:after {
      width: $tool-width-md;
      height: $tool-height-md;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      position: absolute;
      display: block;
      border-radius: 100%;

      @include transition($transition-base);
    }

    i {
      line-height: $tool-height-md;
      text-align: center;
      z-index: 1;
    }

    &:after {
      content: '';
      width: 0;
      height: 0;
      opacity: 0;
      background-color: $tool-bg;
      border: $tool-border;
    }
  }

  li:first-of-type {
    .tool {
      margin-left: 0;
    }
  }

  // Hover
  .tool {
    @include hover {
      &:after {
        width: $tool-width-md;
        height: $tool-height-md;
        opacity: 1;
        background-color: $tool-bg-hover;
        border: $tool-border-hover;
        box-shadow: $tool-shadow-hover;
      }
    };

    &.tool-dark {
      @include hover {
        &:after {
          background-color: $tool-bg-dark-hover;
        }
      }
    }

    &.tool-light {
      @include hover {
        &:after {
          background-color: $tool-bg-light-hover;
        }
      }
    }

  }

  // Active
  .active .tool,
  .tool.active {
    color: $tool-color-active;

    &:after {
      width: $tool-width-md;
      height: $tool-height-md;
      opacity: 1;
      background-color: $tool-bg-active;
      border: $tool-border-active;
      box-shadow: $tool-shadow-active;
    }

    @include hover {
      color: $tool-color-active;
    }
  }

  // Disabled
  .disabled .tool,
  .tool.disabled {
    pointer-events: none;

    i {
      opacity: $tool-opacity-disabled;
    }
  }
}

// Tools SM
.toolbar.toolbar-sm {

  // Default
  .tool {
    margin: 0 $tool-spacing-sm;
  }
}

// Tools Active Special
.toolbar {
  .tool.is-active {
    color: $tool-highlight-color;

    @include media-breakpoint-up(xl) {
      &.sidebar {
        color: $tool-color;
      }
    }
  }
}