@import "bootstrap/setup";

$animation-duration: .4s;

pt-pwd-forgot,
pt-pwd-send {
  transform: translateX(-100%);
}

.go-left {
  animation: slideLeft $animation-duration forwards;
}

.go-right {
  animation: slideRight $animation-duration forwards;
}

@keyframes slideLeft {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

@keyframes slideRight {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0); }
}