<header class="main-header">
  <pt-navigation></pt-navigation>
</header>

<section class="main-content">
  <div class="inner full-size has-nav has-pattern overflow-hidden">
    <pt-login-mask class="position-absolute w-100 h-100 p-3"
                   [ngClass]="[loginService.showLogin ? '' : 'go-left', loginService.newPwd ? 'go-right' : '']"></pt-login-mask>

    <pt-pwd-forgot class="position-absolute w-100 h-100 p-3"
                   [ngClass]="[loginService.forgotPwd ? 'go-right' : '', loginService.sendPwd ? 'go-left' : '']"></pt-pwd-forgot>

    <pt-pwd-send class="position-absolute w-100 h-100 p-3"
                 [ngClass]="[loginService.sendPwd ? 'go-right' : '', loginService.newPwd ? 'go-left' : '']"></pt-pwd-send>
  </div>
</section>