<!-- Tool -->
<span dropdown #modSend="bs-dropdown" [insideClick]="true" (onShown)="demo.setActiveTool('mail', true)" (onHidden)="demo.setActiveTool('mail', false)">
    <a class="nav-link tool" [class.active]="demo.tools[6].active"
       matTooltip="E-Mail senden" id="modSend" dropdownToggle>
        <i class="material-icons">email</i>
    </a>

    <!-- Dropdown Content -->
    <div id="modSendDropdown" *dropdownMenu (click)="demo.preventClose($event)"  class="dropdown-menu dropdown-mobile dropdown-toolbar" role="menu" aria-labelledby="modSend">
      <div class="card mw-420 maxw-420 border-0 rounded">
        <!-- Header -->
        <div class="card-header d-flex justify-content-center align-items-center">
          <span class="badge badge-light badge-circle text-dark mr-3 p-2 mr-auto">
            <i class="material-icons">email</i>
          </span>
          <span class="flex-fill font-weight-medium text-center">
            {{(listingService.activePage === 'dashboard') ? 'Übersicht senden' : ''}}
            {{(listingService.activePage === 'details') ? 'Datei senden' : ''}}
            {{(listingService.activePage != 'details' && listingService.activePage != 'dashboard') ? 'Auswahl senden' : ''}}
          </span>
        </div>

        <div class="card-body p-0">
          <!-- Form -->
          <div class="row align-items-center px-3 pt-3">
            <label class="col-12 small pb-1">Empfänger</label>
            <div class="col-12">
              <ng-select [items]="demoData.contactsMail"
                         bindLabel="name"
                         bindValue="id"
                         notFoundText="Kein Empfänger gefunden!"
                         [(ngModel)]="demoData.contacts[0].id">
              </ng-select>
            </div>
          </div>

          <div class="row align-items-center px-3 pt-3">
            <label class="col-12 small pb-1">Nachricht</label>
            <div class="col-12">
              <mat-form-field class="mw-100">
                <textarea matInput placeholder="Ihre Nachricht…" class="fh-125 no-resize"></textarea>
              </mat-form-field>
            </div>
          </div>

          <div class="row align-items-center px-3 pt-2 pb-3">
            <div class="col-6">
              <mat-checkbox [checked]="true" [class.d-none]="listingService.activePage == 'dashboard'">Preflight Report anhängen</mat-checkbox>
            </div>
            <div class="col-6 text-right">
              <mat-checkbox [checked]="true">Kopie an mich</mat-checkbox>
            </div>
          </div>

          <!-- Selected Files -->
          <div [class.d-none]="listingService.activePage === 'dashboard' || listingService.activePage === 'details'">
            <div class="bg-light text-medium px-3 py-3 font-size-md border-top border-bottom font-weight-medium">Auswahl:</div>
            <div class="maxh-185 bg-gray-100">
              <ul class="list-group bg-transparent rounded-0">
                <li class="d-inline-flex align-items-center list-group-item bg-transparent rounded-0 border-top-0 py-2 px-3 font-size-sm"
                    *ngFor="let file of listingService.highlightedRows">
                    <i class="material-icons medium mr-2 d-none" matTooltip="Druckbogen" [class.d-inline-block]="file.fileType == 2">apps</i>
                    <i class="material-icons medium mr-2 d-none" matTooltip="PDF" [class.d-inline-block]="file.fileType == 1">picture_as_pdf</i>
                    {{file.fileName}}
                    {{file.productName}}
                    {{file.orderName}}
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Cancel / Save -->
        <div class="card-footer px-0 bg-light border-top text-right rounded-bottom">
          <a class="btn btn-white border px-4 mr-3" (click)="modSend.hide()">Abbrechen</a>
          <a class="btn btn-primary text-white px-4 mr-2" (click)="modSend.hide(); modalService.showSnackbar('E-Mail versendet!', '')">Senden</a>
        </div>
      </div>
    </div>
  </span>