<!-- Folder List -->
<perfect-scrollbar class="show-scrollbar">
  <div class="folder-container show">
    <div class="folder-content">
        <div class="list-group py-1 px-2">
          <a (click)="folderService.setActiveFolder($event)"
             *ngFor="let folder of folderService.myFolder"
             class="folder list-group-item list-group-item-action list-item-light d-flex my-1 px-2 rounded font-weight-medium"
             name="{{folder}}">
            <i class="material-icons bg-white p-2 mr-3 align-self-center rounded-circle border">folder</i>
            <span class="name align-self-center">{{folder}}</span>
            <span class="ml-auto text-dark align-self-center">
              <i class="material-icons">keyboard_arrow_right</i>
            </span>
          </a>
        </div>
    </div>
  </div>
</perfect-scrollbar>