<header class="main-header">
  <pt-navigation></pt-navigation>
  <pt-toolbar></pt-toolbar>
</header>

<section class="main-content">
  <div class="inner">
    <pt-listing></pt-listing>
  </div>
</section>