<!-- Contacts Header -->
<div class="card card-sidebar flex-column" [ngClass]="contactData.companyIsSelected ? 'd-flex' : 'd-none'">
  <div class="card-header d-flex flex-row align-items-center justify-content-left">
    <h3 class="mb-0">Kontakte</h3>
    <div class="ml-auto">
      <div class="toolbar toolbar-sm">
        <!-- New Contact -->
        <a class="tool"
           matTooltip="Neuer Kontakt"
           (click)="contactData.addContact()">
          <i class="material-icons">add</i>
        </a>

        <!-- Delete Contact -->
        <a class="tool"
           [class.disabled]="!contactData.contactIsSelected"
           matTooltip="Kontakt löschen"
           (click)="getDeleteMessage(); modalService.confirmDelete(deleteMessage);">
          <i class="material-icons">remove</i>
        </a>
      </div>
    </div>
  </div>

  <!-- Go Back to Companies – Mobile -->
  <a class="mh-60 d-block d-lg-none go-back-mobile folder-header btn btn-white rounded-0 d-inline-flex align-items-center border-bottom bg-gray-100"
     (click)="contactData.switchMobileView(true)">
    <i class="material-icons icon align-middle position-absolute">arrow_back</i>
    <span class="ml-auto mr-auto font-weight-medium">{{contactData.showAllContacts ? 'zurück' : contactData.selectedCompany.name}}</span>
  </a>

  <!-- Contact List -->
  <div class="card-body p-0 position-relative">
    <perfect-scrollbar class="show-scrollbar">
      <div class="list-group">
        <a *ngFor="let contact of contactData.contactsToShow; let i = index"
           (click)="contactData.editContact(contact.id);"
           class="list-group-item list-group-item-action list-item-light d-flex px-2 rounded-0 border-left-0 border-right-0 font-weight-medium"
           [ngClass]="[i === 0 ? 'border-top-0' : '', contactData.selectedContact.id === contact.id && contactData.contactIsSelected ? 'active-dark': '']">
          <i class="material-icons bg-white p-2 mr-3 align-self-center rounded-circle border">perm_identity</i>
          <span class="align-self-center text-dark">{{contact.name}}</span>
          <span class="ml-auto text-dark align-self-center">
            <i class="material-icons">keyboard_arrow_right</i>
          </span>
        </a>
      </div>
    </perfect-scrollbar>
  </div>
</div>