<div class="preview-container position-absolute top left w-100 p-3">
  <div class="h-100 d-block bg-white shadow-sm">
    <!-- Image -->
    <div class="h-100 d-flex justify-content-center overflow-hidden">
      <span class="align-self-center">
        <img src="assets/images/dummy-images/{{detailsService.getActiveThumb()}}" class="img-thumbnail p-0 border-0 rounded-0 mw-115" alt="{{listingService.currentFile.fileName}}">
      </span>
    </div>

    <!-- Tools -->
    <div class="position-absolute overflow-hidden left right bottom mx-3 mb-3 px-2 border-top bg-gray-100">
      <div class="row">
        <div class="col-12 pt-1 pb-2 mb-2 text-center bg-dark text-white">
          <small class="pr-2 border border-gray-100 border-top-0 border-bottom-0 border-left-0">Anzahl der
            Seiten: {{listingService.currentFile.pages}}</small>
          <small class="pl-2">Maße: {{listingService.currentFile.width}} x {{listingService.currentFile.height}} mm</small>
        </div>
      </div>

      <div class="row">
        <div class="col-6 col-md-3 order-1 order-md-1 d-inline-flex vertical-align-center">
          <a class="btn btn-hover-primary px-1"><i class="material-icons font-size-xl">zoom_in</i></a>
          <a class="btn btn-hover-primary px-1"><i class="material-icons font-size-xl">zoom_out</i></a>
          <ng-select [items]="['100%', '75%', '50%', '25%', '10%', '5%']"
                     class="mt-1 mx-1"
                     placeholder="Zoom"
                     [searchable]="false"
                     [clearable]="false"
                     [(ngModel)]="defaultZoom">
          </ng-select>
        </div>

        <div class="col-12 col-md-6 order-3 order-md-2 text-center">
          <div class="d-inline-block">
            <pagination [boundaryLinks]="true"
                        [totalItems]="9"
                        [itemsPerPage]="1"
                        [maxSize]="5"
                        previousText="<i class='material-icons'>keyboard_arrow_left</i>"
                        nextText="<i class='material-icons'>keyboard_arrow_right</i>"
                        firstText="<i class='material-icons'>first_page</i>"
                        lastText="<i class='material-icons'>last_page</i>"
                        class="mt-1">
            </pagination>
          </div>
        </div>

        <div class="col-6 col-md-3 order-2 order-md-3 d-inline-flex vertical-align-center justify-content-end">
          <a class="btn btn-hover-primary px-1"><i class="material-icons font-size-xl">fullscreen</i></a>
          <a class="btn btn-hover-primary px-1"><i class="material-icons font-size-xl">search</i></a>
          <a class="btn btn-hover-primary px-1"><i class="material-icons font-size-xl">info</i></a>
        </div>
      </div>
    </div>
  </div>
</div>