<nav class="navbar main-nav navbar-expand-md navbar-dark bg-dark">
  <!-- Logo -->
  <a href="/" class="navbar-brand">
    <img [src]="'assets/images/logo-impressed.png'" alt="IWS Pro" width="110">
  </a>

  <!-- Main Nav -->
  <div class="navbar-collapse collapse" [collapse]=isCollapsed>
    <ul class="navbar-nav ml-auto mr-auto" [class.d-none]="!loginService.showMainNav">
      <li *ngFor="let elem of loginService.mainNav" class="nav-item" [class.active]="elem.active">
        <a href="{{elem.url}}" class="nav-link">{{elem.name}}</a>
      </li>
    </ul>
  </div>

  <span class="d-inline-flex align-items-center">
    <!-- Mobile Navigation -->
    <button class="navbar-toggler hamburger hamburger--spring" [ngClass]="{'is-active': isCollapsed==false}" type="button" (click)="isCollapsed = !isCollapsed" aria-expanded="false">
      <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
    </button>

    <!-- Language Selection -->
    <div class="ml-1 lang-select btn-group" dropdown>
      <a id="lang-select" dropdownToggle class="dropdown-toggle text-white d-inline-flex align-items-center">
        <span class="flag-icon flag-icon-de"></span>
      </a>
      <ul id="lang-select-content" *dropdownMenu class="dropdown-menu dropdown-menu-right rounded-top-left-0 rounded-top-right-0 border-0" role="menu" aria-labelledby="lang-select">
        <li role="menuitem">
          <a class="dropdown-item px-2 py-2 d-flex align-items-center border-bottom font-size-sm">
            <span class="flag-icon flag-icon-us"></span>
            <span class="pl-2">English</span></a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item px-2 py-2 d-flex align-items-center border-bottom font-size-sm">
            <span class="flag-icon flag-icon-fr"></span>
            <span class="pl-2">Français</span>
          </a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item px-2 py-2 d-flex align-items-center font-size-sm">
            <span class="flag-icon flag-icon-it"></span>
            <span class="pl-2">Italiano</span>
          </a>
        </li>
      </ul>
    </div>

    <!-- Logout -->
    <a href="prototype/login" class="pt-2 logout btn bg-transparent btn-hover-primary d-inline-flex align-items-center" [class.d-none]="!loginService.showLogout">
      <i class="material-icons">exit_to_app</i>
    </a>
  </span>
</nav>
