@import "bootstrap/setup";
@import "~hamburgers/_sass/hamburgers/hamburgers";

// Setup
.main-nav {
  min-height: $main-nav-height;
}

// Links
.main-nav {
  .navbar-nav {
    .nav-item {
      .nav-link {
        padding: 0;
        margin: 0 1.25rem;
        color: $white;
        font-size: $font-size-md;
        font-weight: $font-weight-light;

        @include hover-focus {
          color: $gray-100;
        };

        @include transition($transition-base);
        @include underlineNavigation($gray-100, 2px, -10px, 0);
      }

      &.active {
        .nav-link {
          @include underlineNavigationShow($primary, 0);
        }
      }
    }
  }
}

// Mobile Navigation
@include media-breakpoint-down(sm) {
  .main-nav {
    .navbar-collapse {
      width: 100%;
      position: fixed;
      top: 70px;
      left: 0;
      right: 0;
      z-index: 100;
      background-color: $sidebar-overlay;
      @include transition($transition-fade);

      &.in.show {
        height: 100% !important;
      }

      // Links
      .navbar-nav {
        margin-top: 10%;

        .nav-item {
          text-align: center;

          .nav-link {
            padding: 0;
            margin: 1rem;
            display: inline-block;
            font-size: 1.25rem;
            text-align: center;
          }
        }
      }
    }
  }
}

// Language Selection
.main-nav {
  .flag-icon {
    width: 26px;
    height: 25px;
    opacity: .9;

    @include transition($transition-base);

    @include hover-focus {
      opacity: 1;
    }
  }

  .lang-select.open {
    .flag-icon {
      opacity: 1;
    }
  }
}

// Language Dropdown
#lang-select-content {
  top: 46px !important;
}

// Logout
.main-nav {
  .logout {
    color: $white;

    i {
      font-size: 2.1rem;
    }
  }
}

// Mobile Navigation Icon
.hamburger {
  display: none;
}

@include media-breakpoint-down(sm) {
  .hamburger {
    transition-duration: 0.2s;
    display: block;

    .hamburger-inner {
      transition-delay: 0.2s;

      &,
      &::before,
      &::after {
        transition-duration: 0.2s !important;
        transition-timing-function: unset;
      }
    }
  }
}