<div class="card m-3 shadow-sm border-0 rounded-0">
  <!-- Header -->
  <div class="card-header p-4 bg-gray-100">
    <h2 class="font-size-xl mb-1">Badges</h2>
    <p class="text-default mb-0">see <a href="https://getbootstrap.com/docs/4.3/components/badge/" target="_blank">Bootstrap Badge</a></p>
  </div>

  <div class="card-body">
    <!-- Badges -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0">
      <h3 class="mb-0">Badges</h3>
    </div>

    <div class="border border-light p-3">
      <span class="badge badge-primary mr-2 mb-2">Primary</span>
      <span class="badge badge-secondary mr-2 mb-2">Secondary</span>
      <span class="badge badge-success mr-2 mb-2">Success</span>
      <span class="badge badge-danger mr-2 mb-2">Danger</span>
      <span class="badge badge-warning mr-2 mb-2">Warning</span>
      <span class="badge badge-info mr-2 mb-2">Info</span>
      <span class="badge badge-light mr-2 mb-2">Light</span>
      <span class="badge badge-dark mr-2 mb-2">Dark</span>
      <br />
      <span class="badge badge-status-01 mr-2 mb-2">Status 01</span>
      <span class="badge badge-status-02 mr-2 mb-2">Status 02</span>
      <span class="badge badge-status-03 mr-2 mb-2">Status 03</span>
      <span class="badge badge-status-04 mr-2 mb-2">Status 04</span>
      <span class="badge badge-status-05 mr-2 mb-2">Status 05</span>
      <span class="badge badge-status-06 mr-2 mb-2">Status 06</span>
      <span class="badge badge-status-07 mr-2 mb-2">Status 07</span>
      <span class="badge badge-status-08 mr-2 mb-2">Status 08</span>
      <span class="badge badge-status-09 mr-2 mb-2">Status 09</span>
      <span class="badge badge-status-error mr-2 mb-2">Status Error</span>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#badges')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="badges" class="d-none">
<span class="badge badge-primary mr-2 mb-2">Primary</span>
<span class="badge badge-secondary mr-2 mb-2">Secondary</span>
<span class="badge badge-success mr-2 mb-2">Success</span>
<span class="badge badge-danger mr-2 mb-2">Danger</span>
<span class="badge badge-warning mr-2 mb-2">Warning</span>
<span class="badge badge-info mr-2 mb-2">Info</span>
<span class="badge badge-light mr-2 mb-2">Light</span>
<span class="badge badge-dark mr-2 mb-2">Dark</span>

<span class="badge badge-status-01 mr-2 mb-2">Status 01</span>
<span class="badge badge-status-02 mr-2 mb-2">Status 02</span>
<span class="badge badge-status-03 mr-2 mb-2">Status 03</span>
<span class="badge badge-status-04 mr-2 mb-2">Status 04</span>
<span class="badge badge-status-05 mr-2 mb-2">Status 05</span>
<span class="badge badge-status-06 mr-2 mb-2">Status 06</span>
<span class="badge badge-status-07 mr-2 mb-2">Status 07</span>
<span class="badge badge-status-08 mr-2 mb-2">Status 08</span>
<span class="badge badge-status-09 mr-2 mb-2">Status 09</span>
<span class="badge badge-status-error mr-2 mb-2">Status Error</span>
</textarea>

      <pre class="m-0 pt-3 px-3">
<code>&lt;span class="badge badge-primary mr-2 mb-2"&gt;Primary&lt;/span&gt;
&lt;span class="badge badge-secondary mr-2 mb-2"&gt;Secondary&lt;/span&gt;
&lt;span class="badge badge-success mr-2 mb-2"&gt;Success&lt;/span&gt;
&lt;span class="badge badge-danger mr-2 mb-2"&gt;Danger&lt;/span&gt;
&lt;span class="badge badge-warning mr-2 mb-2"&gt;Warning&lt;/span&gt;
&lt;span class="badge badge-info mr-2 mb-2"&gt;Info&lt;/span&gt;
&lt;span class="badge badge-light mr-2 mb-2"&gt;Light&lt;/span&gt;
&lt;span class="badge badge-dark mr-2 mb-2"&gt;Dark&lt;/span&gt;

&lt;span class="badge badge-status-01 mr-2 mb-2"&gt;Status 01&lt;/span&gt;
&lt;span class="badge badge-status-02 mr-2 mb-2"&gt;Status 02&lt;/span&gt;
&lt;span class="badge badge-status-03 mr-2 mb-2"&gt;Status 03&lt;/span&gt;
&lt;span class="badge badge-status-04 mr-2 mb-2"&gt;Status 04&lt;/span&gt;
&lt;span class="badge badge-status-05 mr-2 mb-2"&gt;Status 05&lt;/span&gt;
&lt;span class="badge badge-status-06 mr-2 mb-2"&gt;Status 06&lt;/span&gt;
&lt;span class="badge badge-status-07 mr-2 mb-2"&gt;Status 07&lt;/span&gt;
&lt;span class="badge badge-status-08 mr-2 mb-2"&gt;Status 08&lt;/span&gt;
&lt;span class="badge badge-status-09 mr-2 mb-2"&gt;Status 09&lt;/span&gt;
&lt;span class="badge badge-status-error mr-2 mb-2"&gt;Status Error&lt;/span&gt;</code>
      </pre>
    </div>

    <!-- Pill Badges -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0 mt-5">
      <h3 class="mb-0">Pill Badges</h3>
    </div>

    <div class="border border-light p-3">
      <span class="badge badge-pill badge-primary mr-2 mb-2 px-3">Primary</span>
      <span class="badge badge-pill badge-secondary mr-2 mb-2 px-3">Secondary</span>
      <span class="badge badge-pill badge-success mr-2 mb-2 px-3">Success</span>
      <span class="badge badge-pill badge-danger mr-2 mb-2 px-3">Danger</span>
      <span class="badge badge-pill badge-warning mr-2 mb-2 px-3">Warning</span>
      <span class="badge badge-pill badge-info mr-2 mb-2 px-3">Info</span>
      <span class="badge badge-pill badge-light mr-2 mb-2 px-3">Light</span>
      <span class="badge badge-pill badge-dark mr-2 mb-2 px-3">Dark</span>
      <br />
      <span class="badge badge-pill badge-status-01 mr-2 mb-2 px-3">Status 01</span>
      <span class="badge badge-pill badge-status-02 mr-2 mb-2 px-3">Status 02</span>
      <span class="badge badge-pill badge-status-03 mr-2 mb-2 px-3">Status 03</span>
      <span class="badge badge-pill badge-status-04 mr-2 mb-2 px-3">Status 04</span>
      <span class="badge badge-pill badge-status-05 mr-2 mb-2 px-3">Status 05</span>
      <span class="badge badge-pill badge-status-06 mr-2 mb-2 px-3">Status 06</span>
      <span class="badge badge-pill badge-status-07 mr-2 mb-2 px-3">Status 07</span>
      <span class="badge badge-pill badge-status-08 mr-2 mb-2 px-3">Status 08</span>
      <span class="badge badge-pill badge-status-09 mr-2 mb-2 px-3">Status 09</span>
      <span class="badge badge-pill badge-status-error mr-2 mb-2 px-3">Status Error</span>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#pillBadges')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="pillBadges" class="d-none">
<span class="badge badge-pill badge-primary">Primary</span>
<span class="badge badge-pill badge-secondary">Secondary</span>
<span class="badge badge-pill badge-success">Success</span>
<span class="badge badge-pill badge-danger">Danger</span>
<span class="badge badge-pill badge-warning">Warning</span>
<span class="badge badge-pill badge-info">Info</span>
<span class="badge badge-pill badge-light">Light</span>
<span class="badge badge-pill badge-dark">Dark</span>

<span class="badge badge-pill badge-status-01">Status 01</span>
<span class="badge badge-pill badge-status-02">Status 02</span>
<span class="badge badge-pill badge-status-03">Status 03</span>
<span class="badge badge-pill badge-status-04">Status 04</span>
<span class="badge badge-pill badge-status-05">Status 05</span>
<span class="badge badge-pill badge-status-06">Status 06</span>
<span class="badge badge-pill badge-status-07">Status 07</span>
<span class="badge badge-pill badge-status-08">Status 08</span>
<span class="badge badge-pill badge-status-09">Status 09</span>
<span class="badge badge-pill badge-status-error">Status Error</span>
</textarea>

      <pre class="m-0 pt-3 px-3">
<code>&lt;span class="badge badge-pill badge-primary"&gt;Primary&lt;/span&gt;
&lt;span class="badge badge-pill badge-secondary"&gt;Secondary&lt;/span&gt;
&lt;span class="badge badge-pill badge-success"&gt;Success&lt;/span&gt;
&lt;span class="badge badge-pill badge-danger"&gt;Danger&lt;/span&gt;
&lt;span class="badge badge-pill badge-warning"&gt;Warning&lt;/span&gt;
&lt;span class="badge badge-pill badge-info"&gt;Info&lt;/span&gt;
&lt;span class="badge badge-pill badge-light"&gt;Light&lt;/span&gt;
&lt;span class="badge badge-pill badge-dark"&gt;Dark&lt;/span&gt;

&lt;span class="badge badge-pill badge-status-01"&gt;Status 01&lt;/span&gt;
&lt;span class="badge badge-pill badge-status-02"&gt;Status 02&lt;/span&gt;
&lt;span class="badge badge-pill badge-status-03"&gt;Status 03&lt;/span&gt;
&lt;span class="badge badge-pill badge-status-04"&gt;Status 04&lt;/span&gt;
&lt;span class="badge badge-pill badge-status-05"&gt;Status 05&lt;/span&gt;
&lt;span class="badge badge-pill badge-status-06"&gt;Status 06&lt;/span&gt;
&lt;span class="badge badge-pill badge-status-07"&gt;Status 07&lt;/span&gt;
&lt;span class="badge badge-pill badge-status-08"&gt;Status 08&lt;/span&gt;
&lt;span class="badge badge-pill badge-status-09"&gt;Status 09&lt;/span&gt;
&lt;span class="badge badge-pill badge-status-error"&gt;Status Error&lt;/span&gt;</code>
      </pre>
    </div>

    <!-- Circles -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0 mt-5">
      <h3 class="mb-0">Circle Badges</h3>
    </div>

    <div class="border border-light p-3">
      <span class="badge badge-circle badge-primary mr-2 mb-2">1</span>
      <span class="badge badge-circle badge-secondary mr-2 mb-2">2</span>
      <span class="badge badge-circle badge-success mr-2 mb-2">3</span>
      <span class="badge badge-circle badge-danger mr-2 mb-2">4</span>
      <span class="badge badge-circle badge-warning mr-2 mb-2">5</span>
      <span class="badge badge-circle badge-info mr-2 mb-2">6</span>
      <span class="badge badge-circle badge-light mr-2 mb-2">7</span>
      <span class="badge badge-circle badge-dark mr-2 mb-2">8</span>
      <br />
      <span class="badge badge-circle badge-status-01 mr-2 mb-2">1</span>
      <span class="badge badge-circle badge-status-02 mr-2 mb-2">2</span>
      <span class="badge badge-circle badge-status-03 mr-2 mb-2">3</span>
      <span class="badge badge-circle badge-status-04 mr-2 mb-2">4</span>
      <span class="badge badge-circle badge-status-05 mr-2 mb-2">5</span>
      <span class="badge badge-circle badge-status-06 mr-2 mb-2">6</span>
      <span class="badge badge-circle badge-status-07 mr-2 mb-2">7</span>
      <span class="badge badge-circle badge-status-08 mr-2 mb-2">8</span>
      <span class="badge badge-circle badge-status-09 mr-2 mb-2">9</span>
      <span class="badge badge-circle badge-status-error mr-2 mb-2">10</span>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#circleBadges')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="circleBadges" class="d-none">
<span class="badge badge-circle badge-primary">1</span>
<span class="badge badge-circle badge-secondary">2</span>
<span class="badge badge-circle badge-success">3</span>
<span class="badge badge-circle badge-danger">4</span>
<span class="badge badge-circle badge-warning">5</span>
<span class="badge badge-circle badge-info">6</span>
<span class="badge badge-circle badge-light">7</span>
<span class="badge badge-circle badge-dark">8</span>

<span class="badge badge-circle badge-status-01">1</span>
<span class="badge badge-circle badge-status-02">2</span>
<span class="badge badge-circle badge-status-03">3</span>
<span class="badge badge-circle badge-status-04">4</span>
<span class="badge badge-circle badge-status-05">5</span>
<span class="badge badge-circle badge-status-06">6</span>
<span class="badge badge-circle badge-status-07">7</span>
<span class="badge badge-circle badge-status-08">8</span>
<span class="badge badge-circle badge-status-09">9</span>
<span class="badge badge-circle badge-status-error">10</span>
</textarea>

      <pre class="m-0 pt-3 px-3">
<code>&lt;span class="badge badge-circle badge-primary"&gt;1&lt;/span&gt;
&lt;span class="badge badge-circle badge-secondary"&gt;2&lt;/span&gt;
&lt;span class="badge badge-circle badge-success"&gt;3&lt;/span&gt;
&lt;span class="badge badge-circle badge-danger"&gt;4&lt;/span&gt;
&lt;span class="badge badge-circle badge-warning"&gt;5&lt;/span&gt;
&lt;span class="badge badge-circle badge-info"&gt;6&lt;/span&gt;
&lt;span class="badge badge-circle badge-light"&gt;7&lt;/span&gt;
&lt;span class="badge badge-circle badge-dark"&gt;8&lt;/span&gt;

&lt;span class="badge badge-circle badge-status-01"&gt;1&lt;/span&gt;
&lt;span class="badge badge-circle badge-status-02"&gt;2&lt;/span&gt;
&lt;span class="badge badge-circle badge-status-03"&gt;3&lt;/span&gt;
&lt;span class="badge badge-circle badge-status-04"&gt;4&lt;/span&gt;
&lt;span class="badge badge-circle badge-status-05"&gt;5&lt;/span&gt;
&lt;span class="badge badge-circle badge-status-06"&gt;6&lt;/span&gt;
&lt;span class="badge badge-circle badge-status-07"&gt;7&lt;/span&gt;
&lt;span class="badge badge-circle badge-status-08"&gt;8&lt;/span&gt;
&lt;span class="badge badge-circle badge-status-09"&gt;9&lt;/span&gt;
&lt;span class="badge badge-circle badge-status-error"&gt;10&lt;/span&gt;</code>
      </pre>
    </div>

    <!-- Links -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0 mt-5">
      <h3 class="mb-0">Badge Links</h3>
    </div>

    <div class="border border-light p-3">
      <a href="#" class="badge bg-primary text-white mr-2 mb-2">Link</a>
      <a href="#" class="badge bg-secondary text-white mr-2 mb-2">Link</a>
      <a href="#" class="badge bg-success text-white mr-2 mb-2">Link</a>
      <a href="#" class="badge bg-danger text-white mr-2 mb-2">Link</a>
      <a href="#" class="badge bg-warning text-white mr-2 mb-2">Link</a>
      <a href="#" class="badge bg-info text-white mr-2 mb-2">Link</a>
      <a href="#" class="badge bg-light text-dark mr-2 mb-2">Link</a>
      <a href="#" class="badge bg-dark text-white mr-2 mb-2">Link</a>
      <br />
      <a href="#" class="badge bg-status-01 text-white mr-2 mb-2">Link</a>
      <a href="#" class="badge bg-status-02 text-white mr-2 mb-2">Link</a>
      <a href="#" class="badge bg-status-03 text-white mr-2 mb-2">Link</a>
      <a href="#" class="badge bg-status-04 text-white mr-2 mb-2">Link</a>
      <a href="#" class="badge bg-status-05 text-white mr-2 mb-2">Link</a>
      <a href="#" class="badge bg-status-06 text-white mr-2 mb-2">Link</a>
      <a href="#" class="badge bg-status-07 text-white mr-2 mb-2">Link</a>
      <a href="#" class="badge bg-status-08 text-white mr-2 mb-2">Link</a>
      <a href="#" class="badge bg-status-09 text-white mr-2 mb-2">Link</a>
      <a href="#" class="badge bg-status-error text-white mr-2 mb-2">Link</a>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#badgeLinks')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="badgeLinks" class="d-none">
<a href="#" class="badge bg-primary text-white">Link</a>
<a href="#" class="badge bg-secondary text-white">Link</a>
<a href="#" class="badge bg-success text-white">Link</a>
<a href="#" class="badge bg-danger text-white">Link</a>
<a href="#" class="badge bg-warning text-white">Link</a>
<a href="#" class="badge bg-info text-white">Link</a>
<a href="#" class="badge bg-light text-dark">Link</a>
<a href="#" class="badge bg-dark text-white">Link</a>

<a href="#" class="badge bg-status-01 text-white">Link</a>
<a href="#" class="badge bg-status-02 text-white">Link</a>
<a href="#" class="badge bg-status-03 text-white">Link</a>
<a href="#" class="badge bg-status-04 text-white">Link</a>
<a href="#" class="badge bg-status-05 text-white">Link</a>
<a href="#" class="badge bg-status-06 text-white">Link</a>
<a href="#" class="badge bg-status-07 text-white">Link</a>
<a href="#" class="badge bg-status-08 text-white">Link</a>
<a href="#" class="badge bg-status-09 text-white">Link</a>
<a href="#" class="badge bg-status-error text-white">Link</a>
</textarea>

      <pre class="m-0 pt-3 px-3">
<code>&lt;a href="#" class="badge bg-primary text-white"&gt;Link&lt;/a&gt;
&lt;a href="#" class="badge bg-secondary text-white"&gt;Link&lt;/a&gt;
&lt;a href="#" class="badge bg-success text-white"&gt;Link&lt;/a&gt;
&lt;a href="#" class="badge bg-danger text-white"&gt;Link&lt;/a&gt;
&lt;a href="#" class="badge bg-warning text-white"&gt;Link&lt;/a&gt;
&lt;a href="#" class="badge bg-info text-white"&gt;Link&lt;/a&gt;
&lt;a href="#" class="badge bg-light text-dark"&gt;Link&lt;/a&gt;
&lt;a href="#" class="badge bg-dark text-white"&gt;Link&lt;/a&gt;

&lt;a href="#" class="badge bg-status-01 text-white"&gt;Link&lt;/a&gt;
&lt;a href="#" class="badge bg-status-02 text-white"&gt;Link&lt;/a&gt;
&lt;a href="#" class="badge bg-status-03 text-white"&gt;Link&lt;/a&gt;
&lt;a href="#" class="badge bg-status-04 text-white"&gt;Link&lt;/a&gt;
&lt;a href="#" class="badge bg-status-05 text-white"&gt;Link&lt;/a&gt;
&lt;a href="#" class="badge bg-status-06 text-white"&gt;Link&lt;/a&gt;
&lt;a href="#" class="badge bg-status-07 text-white"&gt;Link&lt;/a&gt;
&lt;a href="#" class="badge bg-status-08 text-white"&gt;Link&lt;/a&gt;
&lt;a href="#" class="badge bg-status-09 text-white"&gt;Link&lt;/a&gt;
&lt;a href="#" class="badge bg-status-error text-white"&gt;Link&lt;/a&gt;</code>
      </pre>
    </div>

    <!-- Selected / Close -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0 mt-5">
      <h3 class="mb-0">Badge w/ Icons</h3>
    </div>

    <div class="border border-light p-3">
        <a class="badge badge-pill bg-light text-dark d-inline-flex align-items-center">
            Online Druckereien
            <i class="pl-1 material-icons small">close</i>
        </a>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#badgeIcon')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="badgeIcon" class="d-none">
<a class="badge badge-pill bg-light text-dark d-inline-flex align-items-center">
    Online Druckereien
    <i class="pl-1 material-icons small">close</i>
</a>
</textarea>

      <pre class="m-0 pt-3 px-3">
<code>&lt;a class="badge badge-pill bg-light text-dark d-inline-flex align-items-center"&gt;
    Online Druckereien
    &lt;i class="pl-1 material-icons small"&gt;close&lt;/i&gt;
&lt;/a&gt;</code>
      </pre>
    </div>
  </div>
</div>