<div class="card m-3 shadow-sm border-0 rounded-0">
  <!-- Header -->
  <div class="card-header p-4 bg-gray-100">
    <h2 class="font-size-xl mb-1">Dropdowns</h2>
    <p class="text-default mb-0">see <a href="https://valor-software.com/ngx-bootstrap/#/dropdowns" target="_blank">ngx-bootstrap Dropdown</a></p>
  </div>

  <div class="card-body">
    <!--  Simple Dropdown -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0">
      <h3 class="mb-0">Simple Dropdown</h3>
    </div>

    <div class="border border-light p-3">
      <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
          Simple Dropdown <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu">
          <li class="list-group-item list-group-item-action p-2" role="menuitem">Entry</li>
          <li class="list-group-item list-group-item-action p-2" role="menuitem">Entry</li>
          <li class="list-group-item list-group-item-action p-2" role="menuitem">Entry</li>
          <li class="list-group-item list-group-item-action p-2" role="menuitem">Entry</li>
        </ul>
      </div>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#dropdownSimple')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="dropdownSimple" class="d-none">
<div class="btn-group" dropdown>
  <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
    Simple Dropdown
    <span class="caret"></span>
  </button>
  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu">
    <li class="list-group-item list-group-item-action p-2" role="menuitem">Entry</li>
    <li class="list-group-item list-group-item-action p-2" role="menuitem">Entry</li>
    <li class="list-group-item list-group-item-action p-2" role="menuitem">Entry</li>
    <li class="list-group-item list-group-item-action p-2" role="menuitem">Entry</li>
  </ul>
</div>
</textarea>

      <pre class="m-0 pt-3 px-3">
<code>&lt;div class="btn-group" dropdown&gt;
  &lt;button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"&gt;
    Simple Dropdown
    &lt;span class="caret"&gt;&lt;/span&gt;
  &lt;/button&gt;
  &lt;ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"&gt;
    &lt;li class="list-group-item list-group-item-action p-2" role="menuitem"&gt;Entry&lt;/li&gt;
    &lt;li class="list-group-item list-group-item-action p-2" role="menuitem"&gt;Entry&lt;/li&gt;
    &lt;li class="list-group-item list-group-item-action p-2" role="menuitem"&gt;Entry&lt;/li&gt;
    &lt;li class="list-group-item list-group-item-action p-2" role="menuitem"&gt;Entry&lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;</code>
      </pre>
    </div>

    <!--  Dropdown Advanced -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0 mt-5">
      <h3 class="mb-0">Dropdown w/ Advanced Content</h3>
    </div>

    <div class="border border-light p-3">
      <!-- Button -->
      <div class="dropdown toolbar">
        <div dropdown #modDropdown="bs-dropdown" [insideClick]="true" container="body">
          <a class="tool"
             matTooltip="Neu"
             id="modDropdownToggle" dropdownToggle>
            <i class="material-icons">add</i>
          </a>

          <!-- Dropdown Content -->
          <div id="modDropdown"
               *dropdownMenu
               class="dropdown-menu dropdown-mobile maxw-350"
               role="menu" aria-labelledby="mod"
               style="margin-top: -12px;">
            <div class="card mw-350 border-0 rounded">

            <!-- Header -->
            <div class="card-header d-flex justify-content-center align-items-center">
              <span class="badge badge-light badge-circle text-dark mr-3 p-2 mr-auto">
                <i class="material-icons">folder</i>
              </span>
              <span class="flex-fill font-weight-medium text-center">Überschrift</span>
              <span class="marker top left pointer" (click)="modDropdown.hide()">
                <i class="material-icons">add</i>
              </span>
            </div>

            <div class="card-body">
              Content
             </div>

              <!-- Cancel / Save -->
              <div class="card-footer bg-light border-top text-right rounded-bottom px-0">
                <a class="btn btn-white border px-4 mt-1 mr-3" (click)="modDropdown.hide()">Abbrechen</a>
                <a class="btn btn-primary text-white px-4 mt-1 mr-2" (click)="modDropdown.hide()">Speichern</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#dropdownAdvanced')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="dropdownAdvanced" class="d-none">
<!-- Button -->
<div class="dropdown toolbar">
  <div dropdown #modDropdown="bs-dropdown" [insideClick]="true" container="body">
    <a class="tool"
       matTooltip="Neu"
       id="modDropdownToggle" dropdownToggle>
      <i class="material-icons">add</i>
    </a>

    <!-- Dropdown Content -->
    <div id="modDropdown"
         *dropdownMenu
         class="dropdown-menu dropdown-mobile maxw-350"
         role="menu" aria-labelledby="mod"
         style="margin-top: -12px;">
      <div class="card mw-350 border-0 rounded">

      <!-- Header -->
      <div class="card-header d-flex justify-content-center align-items-center">
        <span class="badge badge-light badge-circle text-dark mr-3 p-2 mr-auto">
          <i class="material-icons">folder</i>
        </span>
        <span class="flex-fill font-weight-medium text-center">Überschrift</span>
        <span class="marker top left pointer" (click)="modDropdown.hide()">
          <i class="material-icons">add</i>
        </span>
      </div>

      <div class="card-body">
        Content
       </div>

        <!-- Cancel / Save -->
        <div class="card-footer bg-light border-top text-right rounded-bottom px-0">
          <a class="btn btn-white border px-4 mt-1 mr-3" (click)="modDropdown.hide()">Abbrechen</a>
          <a class="btn btn-primary text-white px-4 mt-1 mr-2" (click)="modDropdown.hide()">Speichern</a>
        </div>
      </div>
    </div>
  </div>
</div>
</textarea>

      <pre class="m-0 pt-3 px-3">
<code>&lt;!-- Button --&gt;
&lt;div class="dropdown toolbar"&gt;
  &lt;div dropdown #modDropdown="bs-dropdown" [insideClick]="true" container="body"&gt;
    &lt;a class="tool"
       matTooltip="Neu"
       id="modDropdownToggle" dropdownToggle&gt;
      &lt;i class="material-icons"&gt;add&lt;/i&gt;
    &lt;/a&gt;

    &lt;!-- Dropdown Content --&gt;
    &lt;div id="modDropdown"
         *dropdownMenu
         class="dropdown-menu dropdown-mobile maxw-350"
         role="menu" aria-labelledby="mod"
         style="margin-top: -12px;"&gt;
      &lt;div class="card mw-350 border-0 rounded"&gt;

      &lt;div class="card-header d-flex justify-content-center align-items-center"&gt;
        &lt;span class="badge badge-light badge-circle text-dark mr-3 p-2 mr-auto"&gt;
          &lt;i class="material-icons"&gt;folder&lt;/i&gt;
        &lt;/span&gt;
        &lt;span class="flex-fill font-weight-medium text-center"&gt;Überschrift&lt;/span&gt;
        &lt;span class="marker top left pointer" (click)="modDropdown.hide()"&gt;
          &lt;i class="material-icons"&gt;add&lt;/i&gt;
        &lt;/span&gt;
      &lt;/div&gt;

      &lt;div class="card-body"&gt;
        Content
       &lt;/div&gt;

        &lt;!-- Cancel / Save --&gt;
        &lt;div class="card-footer bg-light border-top text-right rounded-bottom px-0"&gt;
          &lt;a class="btn btn-white border px-4 mt-1 mr-3" (click)="modDropdown.hide()"&gt;Abbrechen&lt;/a&gt;
          &lt;a class="btn btn-primary text-white px-4 mt-1 mr-2" (click)="modDropdown.hide()"&gt;Speichern&lt;/a&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code>
      </pre>
    </div>

    <!--  Dropdown Alignment Right -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0 mt-5">
      <h3 class="mb-0">Dropdown Alignment Right</h3>
    </div>

    <div class="border border-light p-3">
      <!-- Button -->
      <div class="dropdown toolbar">
        <div dropdown #modDropdownRight="bs-dropdown" [insideClick]="true" container="body">
          <a class="tool"
             matTooltip="Neu"
             id="modrightToggle" dropdownToggle>
            <i class="material-icons">add</i>
          </a>

          <!-- Dropdown Content -->
          <div id="modDropdownRight"
               *dropdownMenu
               class="dropdown-menu dropdown-menu-right dropdown-mobile maxw-350"
               role="menu" aria-labelledby="mod"
               style="margin-top: -16px; margin-right: -53px;">
            <div class="card mw-350 border-0 rounded">

              <div class="card-header d-flex justify-content-center align-items-center">
                <span class="badge badge-light badge-circle text-dark mr-3 p-2 mr-auto">
                  <i class="material-icons">folder</i>
                </span>
                <span class="flex-fill font-weight-medium text-center">Überschrift</span>
                <span class="marker top right pointer" (click)="modDropdownRight.hide()">
                  <i class="material-icons">add</i>
                </span>
              </div>

              <div class="card-body">
                Content
              </div>

              <!-- Cancel / Save -->
              <div class="card-footer bg-light border-top text-right rounded-bottom px-0">
                <a class="btn btn-white border px-4 mt-1 mr-3" (click)="modDropdownRight.hide()">Abbrechen</a>
                <a class="btn btn-primary text-white px-4 mt-1 mr-2" (click)="modDropdownRight.hide()">Speichern</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#dropdownRight')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="dropdownRight" class="d-none">
<!-- Button -->
<div class="dropdown toolbar">
  <div dropdown #modDropdownRight="bs-dropdown" [insideClick]="true" container="body">
    <a class="tool"
       matTooltip="Neu"
       id="modrightToggle" dropdownToggle>
      <i class="material-icons">add</i>
    </a>

    <!-- Dropdown Content -->
    <div id="modDropdownRight"
         *dropdownMenu
         class="dropdown-menu dropdown-menu-right dropdown-mobile maxw-350"
         role="menu" aria-labelledby="mod"
         style="margin-top: -16px; margin-right: -53px;">
      <div class="card mw-350 border-0 rounded">

        <div class="card-header d-flex justify-content-center align-items-center">
          <span class="badge badge-light badge-circle text-dark mr-3 p-2 mr-auto">
            <i class="material-icons">folder</i>
          </span>
          <span class="flex-fill font-weight-medium text-center">Überschrift</span>
          <span class="marker top right pointer" (click)="modDropdownRight.hide()">
            <i class="material-icons">add</i>
          </span>
        </div>

        <div class="card-body">
          Content
        </div>

        <!-- Cancel / Save -->
        <div class="card-footer bg-light border-top text-right rounded-bottom px-0">
          <a class="btn btn-white border px-4 mt-1 mr-3" (click)="modDropdownRight.hide()">Abbrechen</a>
          <a class="btn btn-primary text-white px-4 mt-1 mr-2" (click)="modDropdownRight.hide()">Speichern</a>
        </div>
      </div>
    </div>
  </div>
</div>
</textarea>

      <pre class="m-0 pt-3 px-3">
  <code>
&lt;!-- Button --&gt;
&lt;div class="dropdown toolbar"&gt;
  &lt;div dropdown #modDropdownRight="bs-dropdown" [insideClick]="true" container="body"&gt;
    &lt;a class="tool"
       matTooltip="Neu"
       id="modrightToggle" dropdownToggle&gt;
      &lt;i class="material-icons"&gt;add&lt;/i&gt;
    &lt;/a&gt;

    &lt;!-- Dropdown Content --&gt;
    &lt;div id="modDropdownRight"
         *dropdownMenu
         class="dropdown-menu dropdown-menu-right dropdown-mobile maxw-350"
         role="menu" aria-labelledby="mod"
         style="margin-top: -16px; margin-right: -53px;"&gt;
      &lt;div class="card mw-350 border-0 rounded"&gt;

        &lt;div class="card-header d-flex justify-content-center align-items-center"&gt;
          &lt;span class="badge badge-light badge-circle text-dark mr-3 p-2 mr-auto"&gt;
            &lt;i class="material-icons"&gt;folder&lt;/i&gt;
          &lt;/span&gt;
          &lt;span class="flex-fill font-weight-medium text-center"&gt;Überschrift&lt;/span&gt;
          &lt;span class="marker top right pointer" (click)="modDropdownRight.hide()"&gt;
            &lt;i class="material-icons"&gt;add&lt;/i&gt;
          &lt;/span&gt;
        &lt;/div&gt;

        &lt;div class="card-body"&gt;
          Content
        &lt;/div&gt;

        &lt;!-- Cancel / Save --&gt;
        &lt;div class="card-footer bg-light border-top text-right rounded-bottom px-0"&gt;
          &lt;a class="btn btn-white border px-4 mt-1 mr-3" (click)="modDropdownRight.hide()"&gt;Abbrechen&lt;/a&gt;
          &lt;a class="btn btn-primary text-white px-4 mt-1 mr-2" (click)="modDropdownRight.hide()"&gt;Speichern&lt;/a&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
  </code>
        </pre>
    </div>
  </div>
</div>