<div class="card card-sidebar d-flex bg-transparent border-0">
  <div class="card-header d-flex align-items-center justify-content-between bg-transparent border-0
              {{isDetails ? 'text-dark toolbar pl-3 py-3 pr-0' : 'p-3 text-white'}}">
    <div>
      <h3 class="mb-0">{{listingService.currentProduct.productName}}</h3>
      <small>{{listingService.currentProduct.id}}</small>
    </div>
    <span class="badge ml-auto badge-{{listingService.currentProduct.productStatus}} px-3 mw-25">{{demoData.getStatusName(listingService.currentProduct.productStatus)}}</span>

    <a class="nav-link tool tool-light"
       [class.d-none]="!isDetails"
       (click)="detailsService.editProduct = true;"
       matTooltip="Produkt bearbeiten">
      <i class="material-icons">edit</i>
    </a>
  </div>

  <div class="card-body p-0 bg-transparent text-white">
    <perfect-scrollbar>
      <div class="font-size-sm {{isDetails ? 'bg-white text-dark' : 'bg-transparent text-white mb-3'}}">
        <!-- Copies -->
        <div class="px-3 py-2 d-flex justify-content-left border-bottom border-top">
          <span class="mw-50 ">Auflage</span>
          <span class="font-weight-medium">{{listingService.currentProduct.copies}}</span>
        </div>

        <!-- Price -->
        <div class="px-3 py-2 d-flex justify-content-left border-bottom">
          <span class="mw-50 ">Preis</span>
          <span class="font-weight-medium">{{listingService.currentProduct.price|currency:'€ '}}</span>
        </div>

        <!-- Deadline -->
        <div class="px-3 py-2 d-flex justify-content-left">
          <span class="mw-50 ">Deadline</span>
          <span class="font-weight-medium">{{listingService.selectedOrder.deadline | date:'dd.LL.yyyy'}}</span>
        </div>

        <!-- Custom Values -->
        <div class="px-3 py-2 d-flex justify-content-left border-bottom"
             [class.border-top]="first"
             *ngFor="let custom of listingService.currentProduct['custom']; let i = index; let first = first;">
          <span class="mw-50 ">
            {{demoData.getCustomValue(custom.id).name}}
          </span>
          <span class="font-weight-medium">
            {{demoData.getCustomValue(custom.id)['values'][custom.value-1].value}}
          </span>
        </div>
      </div>

      <!-- Products -->
      <div class="{{isDetails ? 'mt-0 border-bottom border-default' : ''}}">
        <mat-accordion multi="true" [@.disabled]="true">
          <mat-expansion-panel [ngClass]="(isDetails) ? '' : 'rounded mx-3'"
                               *ngFor="let file of listingService.currentFiles; let first = first"
                               [expanded]="(first) ? true : false">
            <mat-expansion-panel-header class="light"
                                        [ngClass]="(isDetails) ? 'bg-dark text-white' : 'bg-light text-dark'"
                                        [class.border-top]="!first"
                                        collapsedHeight="55px"
                                        expandedHeight="55px">
              <mat-panel-title class="d-flex align-items-center justify-content-right">
                <span class="mr-auto" [class.text-white]="isDetails">{{file.fileName}}</span>
                <span>
                    <span class="badge badge-marker badge-small badge-{{file.fileStatus}} ml-2">{{demoData.getStatusName(file.fileStatus)}}</span>
                </span>

                <i class="material-icons" matTooltip="Druckbogen" [class.d-none]="file.fileType == 1">apps</i>
                <i class="material-icons" matTooltip="PDF" [class.d-none]="file.fileType == 2">picture_as_pdf</i>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <!-- Version -->
            <div class="d-flex justify-content-left px-3 py-2" [class.border-top]="!isDetails">
              <span class="mw-50">Version</span>
              <span class="font-weight-medium">{{file.version}}</span>
            </div>

            <!-- Pages -->
            <div class="bg-super-light d-flex justify-content-left border-top border-default px-3 py-2">
              <span class="mw-50">Seiten</span>
              <span class="font-weight-medium">{{file.pages}}</span>
            </div>

            <!-- Width & Height -->
            <div class="d-flex justify-content-left border-top border-default px-3 py-2">
              <span class="mw-50">Breite x Höhe:</span>
              <span class="font-weight-medium">{{file.width}} x {{file.height}} mm</span>
            </div>

            <!-- Colors -->
            <div class="bg-super-light d-flex justify-content-left border-top border-default px-3 py-2">
              <span class="mw-50">Farben</span>
              <span class="font-weight-medium">{{file.colors}}</span>
            </div>

            <!-- Substrate -->
            <div class="d-flex justify-content-left border-top border-default px-3 py-2">
              <span class="mw-50">Material</span>
              <span class="font-weight-medium">{{demoData.getSubstrateById(file.substrate).name}}</span>
            </div>

            <!-- Weight -->
            <div class="bg-super-light d-flex justify-content-left border-top border-default px-3 py-2">
              <span class="mw-50">Grammatur</span>
              <span class="font-weight-medium">{{file.weight}}</span>
            </div>

            <!-- Offset -->
            <div class="d-flex justify-content-left border-top border-default px-3 py-2">
              <span class="mw-50">Zuschuss</span>
              <span class="font-weight-medium">{{file.offset}} mm</span>
              </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </perfect-scrollbar>
  </div>
</div>