<mat-sidenav-container hasBackdrop="{{sidebarService.hasBackdrop}}">
  <!-- Sidebar: Folder -->
  <mat-sidenav #sidenav [opened]="sidebarService.showSidebar" mode="{{sidebarService.sidebarMode}}">
    <pt-sidebar></pt-sidebar>
  </mat-sidenav>

  <!-- Listing Content -->
  <mat-sidenav-content>
    <mat-tab-group animationDuration="0ms"
                   (selectedTabChange)="listingService.setTabView($event);
                                        listingService.deselectAllRows($event);
                                        sidebarService.closeOverlay()"
                   class="tabs-fixed bg-light spacing-default">
      <!-- Listing: Files -->
      <mat-tab>
        <ng-template mat-tab-label>
          <i class="material-icons icon no-space-xs">description</i>
          <span class="d-none d-sm-inline">Dateien</span>
        </ng-template>
        <pt-files></pt-files>
      </mat-tab>

      <!-- Listing: Products -->
      <mat-tab>
        <ng-template mat-tab-label>
          <i class="material-icons icon no-space-xs">perm_media</i>
          <span class="d-none d-sm-inline">Produkte</span>
        </ng-template>
        <pt-products></pt-products>
      </mat-tab>

      <!-- Listing: Orders -->
      <mat-tab>
        <ng-template mat-tab-label>
          <i class="material-icons icon no-space-xs">shopping_basket</i>
          <span class="d-none d-sm-inline">Bestellungen</span>
        </ng-template>
        <pt-orders></pt-orders>
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav-content>

  <!-- Sidebar: Overlay -->
  <mat-sidenav #sidenavOverlay [opened]="this.sidebarService.showOverlay" mode="side" position="end" mode="over" class="sidebar-dark has-toggle">
    <a (click)="this.sidebarService.closeOverlay()" class="toggle">
      <i class="material-icons">keyboard_arrow_right</i>
    </a>
    <pt-sidebar-preflight [isDetails]="false"></pt-sidebar-preflight>
    <pt-sidebar-preview></pt-sidebar-preview>
    <pt-sidebar-edit></pt-sidebar-edit>
    <pt-sidebar-new></pt-sidebar-new>
  </mat-sidenav>
</mat-sidenav-container>