// Overrides for Material Table

// Setup
body {
  .mat-table {
    overflow: visible;
    font-family: $mat-table-font-family;

    &.full-width {
      width: 100%;
    }
  }
}

// Table: Header
.mat-table {
  .mat-header-row {
    background-color: $mat-header-background;

    .mat-header-cell,
    .mat-header-cell .mat-sort-header-button {
      color: $mat-header-color;
      font-size: $mat-header-font-size;
      font-weight: $mat-header-font-weight;
      text-transform: uppercase;

      .mat-sort-header-arrow {
        color: $mat-header-arrow-color;

        .mat-sort-header-indicator {
          color: transparent;
        }

        // Arrows
        &:before,
        &:after {
          content: '';
          height: 12px;
          width: 12px;
          min-width: 12px;
          top: -2px;
          position: absolute;
          color: $mat-header-arrow-color;
          opacity: .5;
          background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIgOGwtNiA2IDEuNDEgMS40MUwxMiAxMC44M2w0LjU5IDQuNThMMTggMTR6Ii8+PHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
          background-position: -3px -5px;
          background-size: 140%;
          background-repeat: no-repeat;
        }

        &:after {
          top: 6px;
          left: 0;
          background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTYuNTkgOC41OUwxMiAxMy4xNyA3LjQxIDguNTkgNiAxMGw2IDYgNi02eiIvPjxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4=);
        }

        .mat-sort-header-stem {
          height: 0;
        }
      }
    }

    // Button "Add"
    .btn.mat-header-btn {
      color: $mat-header-color;

      @include hover-focus {
        color: $mat-header-color-btn-active;
      }
    }
  }
}

// Table: Header Hover / Active
.mat-table {
  .mat-header-row {
    // Hover
    .mat-header-cell {
      @include hover-focus {
        color: $mat-header-color-hover;

        .mat-sort-header-button {
          color: $mat-header-color-hover;
        }
      }
    }

    // Active
    .mat-sort-header-sorted {
      .mat-sort-header-button {
        color: $mat-header-color-active;
      }
    }

    // Arrows
    .mat-header-cell {
      &[aria-sort=ascending] {
        .mat-sort-header-arrow:before {
          opacity: 1;
        }
      }

      &[aria-sort=descending] {
        .mat-sort-header-arrow:after {
          opacity: 1;
        }
      }
    }
  }
}

// Table: Pagination
.mat-paginator-container {
  .mat-paginator-page-size {
    margin-right: auto;
  }
}


// Table: Pills
.mat-table.mat-table-pills {
  .mat-row,
  .mat-header-row {
    min-height: $mat-table-pill-height;
    margin: $mat-table-pill-spacing-y $mat-table-pill-spacing-x;
    border: 1px solid $mat-table-pill-border;
    background-color: $mat-table-row-background;
    border-radius: $border-radius;

    .mat-cell.cell-small,
    .mat-header-cell.cell-small {
      max-width: $mat-table-pill-cell-small;
    }

    .mat-cell.cell-xsmall,
    .mat-header-cell.cell-xsmall {
      max-width: $mat-table-pill-cell-xsmall;
    }

    @include transition($transition-base);
  }

  .mat-row {
    &:not(.no-hover) {
      cursor: pointer;
    }

    // Hover
    &:not(.no-hover) {
      @include hover-focus {
        border-color: $mat-table-pill-border-hover;
        box-shadow: $element-shadow;
      }
    }

    // Selected Row
    &.active {
      position: relative;
      background-color: $mat-table-row-active-bg;
      color: $mat-table-row-active-color;

      &:before {
        content: '';
        width: 24px;
        height: 24px;
        top: -6px;
        left: -12px;
        position: absolute;
        z-index: 1;
        border-radius: 100%;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTkgMTYuMTdMNC44MyAxMmwtMS40MiAxLjQxTDkgMTkgMjEgN2wtMS40MS0xLjQxeiIvPjwvc3ZnPg==);
        background-size: 84%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: $mat-table-pill-selected-icon-bg;
        border: $mat-table-pill-selected-icon-border;
        color: $mat-table-pill-selected-icon-color;
      }

      .mat-cell,
      .mat-footer-cell,
      a {
        color: $mat-table-row-active-color;

        &.btn {
          @include hover-focus {
            color: $mat-header-color-btn-active;
          }
        }
      }
    }
  }

  .mat-header-row {
    min-height: $mat-table-pill-header-height;
    background-color: $mat-header-background;
  }
}

// Table: Preview Image
.mat-table {
  .img-thumbnail {
    max-width: $mat-table-preview-width;
    max-height: $mat-table-preview-height;
    padding: 0;

    &.thumbnail-sm {
      @include media-breakpoint-down(sm) {
        max-width: $mat-table-preview-width-sm !important;
        max-height: $mat-table-preview-height-sm !important;
      }
    }
  }
}

// Table: Links
.mat-table {
  > a {
    color: $dark;
    font-weight: $font-weight-light;
    font-size: $font-size-sm;
  }
}

// Table: Width
.mat-table {
  .mat-column-preview {
    padding: 0;
    max-width: $mat-table-pill-height;

    .img-thumbnail {
      border-radius: $border-radius 0 0 $border-radius;
    }
  }

  .mat-column-link {
    padding: 0;
    max-width: $mat-table-pill-link-width;
    justify-content: center;
  }
}

// Mobile Table
.mat-table {
  overflow: auto;
}

.mobile-label {
  display: none;
}

@include media-breakpoint-down(sm) {
  .mat-table.mat-table-pills {
    .mat-header-row {
      display: none;
    }

    .mat-row {
      height: auto;
      min-height: auto;
      padding: $mat-table-pill-mobile-padding;
      display: block;
      position: relative;

      &:after {
        display: none;
      }

      .mat-cell {
        width: auto;
        max-width: inherit;
        min-width: auto;
        display: block;
        font-size: $mat-table-pill-mobile-font-size;

        &.mat-column-preview {
          max-width: $mat-table-pill-mobile-preview-width;
          height: auto;
          margin-right: $mat-table-pill-mobile-preview-margin;
          float: left;

          .img-thumbnail {
            max-width: $mat-table-pill-mobile-preview-width;
            max-height: inherit;
            border-radius: $mat-table-pill-mobile-preview-border-radius;
          };
        }

        &.mobile-font-lg {
          font-size: $mat-table-pill-mobile-font-size-lg;
        }

        &.mat-column-contactName {
          display: none;
        }

        &.mobile-border-top {
          border-top: 1px solid $mat-table-pill-mobile-border-color;
          margin-top: $mat-table-pill-mobile-border-margin;
          padding-top: $mat-table-pill-mobile-border-padding;
        }

        &.mobile-border-bottom {
          border-bottom: 1px solid $mat-table-pill-mobile-border-color;
          margin-bottom: $mat-table-pill-mobile-border-margin;
          padding-bottom: $mat-table-pill-mobile-border-padding;
        }

        &.mat-column-link {
          top: 0;
          right: 0;
          position: absolute;
        }
      }

      &.active {
        .mobile-border-top,
        .mobile-border-bottom {
          border-color: $mat-table-pill-mobile-border-color-active;
        }
      }
    }
  }
}
