// Overrides for Material Sidebar

.mat-drawer-container {
  height: 100%;
}

.mat-sidenav {
  width: $sidebar-width;
  max-width: 100%;

  &.has-navigation {
    width: $sidebar-navigation-width;
    padding-left: $navigation-width;
  }

  &.large {
    width: $sidebar-width-large;

    @include media-breakpoint-down(md) {
      width: $sidebar-width;
      max-width: $sidebar-width;
      overflow-x: hidden;
    }
  }
}

.mat-sidenav {
  box-shadow: $sidebar-shadow;
  
  &.sidebar-dark {
    background-color: $mat-sidebar-dark-bg;
  }

  &.has-toggle {
    overflow: visible;
    background-color: transparent;
    box-shadow: none;

    .mat-drawer-inner-container {
      width: calc(100% - #{$mat-sidenav-toggle-width});
      margin-left: $mat-sidenav-toggle-width;
      background-color: $mat-sidebar-dark-bg;
      box-shadow: $sidebar-shadow;
    }

    .toggle {
      width: $mat-sidenav-toggle-width;
      height: $mat-sidenav-toggle-height;
      top: 50%;
      left: 0;
      margin-top: calc(-#{$mat-sidenav-toggle-height} / 2);
      position: absolute;
      background-color: $mat-sidenav-toggle-bg;
      border-top: 1px solid $mat-sidenav-toggle-border-color;
      border-left: 1px solid $mat-sidenav-toggle-border-color;
      border-bottom: 1px solid $mat-sidenav-toggle-border-color;
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
      color: $mat-sidenav-toggle-color;
      line-height: calc(#{$mat-sidenav-toggle-height} + 10px);
      text-align: center;

      @include  transition($transition-base);

      @include hover-focus {
        color: $white;
        padding-left: $mat-sidenav-toggle-hover-padding;
      }
    }
  }
}

// Sidenav shadow for non-sidenav elements
.mat-sidenav-shadow {
  box-shadow: $sidebar-shadow;
}