// Overrides for Material Expansion Panel

// Panel rounded
.mat-expansion-panel {
  border-radius: 0 !important;

  &.rounded {
    margin-bottom: $mat-panel-rounded-margin;
  }
}

// Header
.mat-expansion-panel {
  .mat-expansion-panel-header {
    height: $mat-panel-header-height !important;
    padding: $mat-panel-padding;
    background-color: $mat-panel-header-bg;
    font-family: $mat-panel-header-font-family;
    font-weight: $mat-panel-header-font-weight;

    @include transition($transition-base);

    &.level-1 {
      font-size: $mat-panel-header-font-size;
    }

    &.light {
      background-color: $mat-panel-header-bg-light;
    }
  }

  // Hover
  &:not(.mat-expanded),
  &.mat-expanded {
    .mat-expansion-panel-header {
      &:not([aria-disabled=true]),
      &.mat-expanded {
        @include hover_focus {
          background-color: $mat-panel-header-bg-hover;
        }
      }
    }
  }

  // Open
  .mat-expanded {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid $mat-border-color;
  }
}

// Header Level 2
.mat-expansion-panel-body {
  .mat-expansion-panel {
    .mat-expansion-panel-header {
    }
  }
}

// Arrow
.mat-expansion-indicator::after,
.mat-expansion-panel-header.text-dark .mat-expansion-indicator::after {
  color: $mat-panel-indicator-color;
}

.mat-expansion-panel-header.text-white .mat-expansion-indicator::after {
  color: $mat-panel-indicator-white-color;
}

// Spacing
body .mat-expansion-panel-spacing {
  margin-top: 0;
  margin-bottom: 0;
}

// Content
.mat-expansion-panel-content {
  font-family: $mat-panel-font-family;

  .mat-expansion-panel-body {
    padding: 0;
  }
}

.mat-expansion-panel {
  &:not([class*=mat-elevation-z]) {
    box-shadow: none;
  }
}