// Overrides for Material Checkbox

// Label
.mat-checkbox-label,
.mat-checkbox-layout .mat-checkbox-label {
  font-family: $mat-checkbox-font;
  font-size: $mat-checkbox-font-size;
  font-weight: $mat-checkbox-font-weight;
  line-height: $mat-checkbox-line-height;
}

// Checkbox unchecked
body {
  .mat-checkbox-frame {
    border: 1px solid $mat-checkbox-border;
  }
}

// Checkbox checked
.mat-checkbox-checked.mat-accent,
.mat-checkbox-indeterminate.mat-accent {
  .mat-checkbox-background {
    background-color: $mat-checkbox-active-bg;
  }
}

// Checkbox hover
.mat-checkbox-layout {
  .mat-checkbox-inner-container {
    @include transition($transition-base);
  }

  @include hover-focus {
    .mat-checkbox-inner-container {
      background-color: $mat-checkbox-hover-bg;
    }
  }
}

// Checkbox BG
.mat-checkbox.checkbox-bg-white {
  .mat-checkbox-inner-container {
    background-color: $mat-checkbox-bg-white;
  }
}

// Checkbox Ripple
.mat-checkbox-ripple,
.mat-ripple {
  opacity: 0;
}