// Overrides for Material Radio Buttons

// Radio Default
.mat-radio-outer-circle {
  border-color: $mat-radio-border-color;
}

// Radio Selected: Dot
.mat-radio-button.mat-accent {
  .mat-radio-inner-circle,
  .matradio-ripple {
    background-color: $mat-radio-selected-color;

    .mat-ripple-element:not(.mat-radio-persistent-ripple) {
      background-color: $mat-radio-selected-color;
    }
  }

  &.mat-radio-checked {
    .mat-radio-persistent-ripple {
      background-color: $mat-radio-selected-color;
    }
  }

  &:active {
    .mat-radio-persistent-ripple {
      background-color: $mat-radio-selected-color;
    }
  }
}

// Radio Selected: Border
.mat-radio-button.mat-accent.mat-radio-checked {
  .mat-radio-outer-circle {
    border-color: $mat-radio-selected-color;
  }
}

// Hover
.mat-radio-label {
  .mat-radio-outer-circle {
    @include transition($transition-base);
  }

  @include hover_focus {
    .mat-radio-outer-circle {
      background-color: $mat-radio-hover-bg;
    }
  }
}