// Overrides for Material Slide Toggle

// Toggle right
.mat-slide-toggle.toggle-right {
  .mat-slide-toggle-label {
    padding-right: 0;
    flex-direction: row-reverse;

    .mat-slide-toggle-content {
      margin-right: $mat-toggle-right-margin;
    }
  }
}

// Label
.mat-slide-toggle {
  .mat-slide-toggle-content {
    color: $mat-toggle-color;
    font-family: $mat-toggle-font-family;
    font-weight: $mat-toggle-font-weight;
  }

  &.mat-checked {
    .mat-slide-toggle-content {
      color: $mat-toggle-color-active;
    }
  }
}

// Bar
.mat-slide-toggle,
.mat-slide-toggle.mat-checked {
  .mat-slide-toggle-bar {
    background-color: $mat-toggle-bar-bg;
    box-shadow: $mat-toggle-bar-border;
  }
}

// Thumb
.mat-slide-toggle {
  .mat-slide-toggle-thumb {
    border: $mat-slide-toggle-thumb-border;
    background-color: $mat-slide-toggle-thumb-bg;
  }

  &.mat-checked {
    .mat-slide-toggle-thumb {
      background-color: $mat-slide-toggle-thumb-active-bg;
      border: $mat-slide-toggle-thumb-border-active;
    }
  }
}