// Overrides for Material Input

// Setup
body {
  .mat-form-field-infix {
    width: auto;
  }

  .mat-input-element {
    height: $mat-input-height;
    padding: $mat-input-padding;
  }

  textarea.mat-input-element {
    padding: $mat-textarea-padding;
  }

  textarea.mat-input-element + .mat-form-field-label-wrapper {
    line-height: 1rem;

    .mat-form-field-label {
      padding: $mat-textarea-padding;
    }
  }

  // Disabled
  label.disabled {
    opacity: $mat-label-disabled;
  }
  .mat-form-field-disabled {
    opacity: $mat-input-disabled;

  }

  // Sizing
  .mat-form-field {
    &.input-xs {
      width: $mat-input-width-xs;
    }
  }
}

// Label
body {
  .mat-form-field-label-wrapper {
    .mat-form-field-label {
      height: $mat-label-height;
      padding: $mat-label-padding;
      line-height: $mat-label-line-height;
    }
  }
}