// Overrides for Material Tooltip

.mat-tooltip {
  margin-top: $tooltip-spacing-top !important;
  padding: $tooltip-padding-x $tooltip-padding-y;
  background-color: $tooltip-bg;
  font-size: $tooltip-font-size;
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-light;
  line-height: $tooltip-line-height;
}
