// Overrides for Material Paginator

// Items per Page
body {
  .mat-paginator-container {
    padding: $mat-paginator-padding;
    min-height: $mat-paginator-height;

    @media screen and (max-width: 415px) {
      justify-content: center;
    }

    .mat-paginator-page-size {
      margin-right: auto;
      margin-top: 0;

      @media screen and (max-width: 415px) {
        margin-left: auto;
        margin-top: .5rem;
      }
    }
  }

  .mat-paginator,
  .mat-paginator-page-size .mat-select-trigger {
    font-family: $mat-paginator-font-family;
  }
}

// Navigation
.mat-paginator-range-actions {
  flex-direction: row;

  .mat-paginator-range-label {
    order: 2;
  }

  .mat-paginator-navigation-next {
    order: 3;
  }

  .mat-paginator-navigation-last {
    order: 4;
  }

  // Arrows
  .mat-icon-button {
    width: 30px;
    height: 30px;
    background-color: $mat-paginator-bg;
    border-top: 1px solid $mat-paginator-borer-color;
    border-left: 1px solid $mat-paginator-borer-color;
    border-bottom: 1px solid $mat-paginator-borer-color;
    color: $mat-paginator-color;
    border-radius: 0;
    line-height: $mat-paginator-line-height;


    @include transition($transition-base);

    @include hover-focus {
      background-color: $mat-paginator-bg-hover;
    }

    svg {
      width: $mat-paginator-icon-width;
      height: $mat-paginator-icon-height;
      margin-top: $mat-paginator-icon-offset;
    }
  }

  .mat-paginator-navigation-last {
    border-right: 1px solid $mat-paginator-borer-color;
    border-radius: 0 $mat-paginator-icon-border-radius $mat-paginator-icon-border-radius 0;
  }

  .mat-paginator-navigation-first {
    border-radius: $mat-paginator-icon-border-radius 0 0 $mat-paginator-icon-border-radius;
  }

  // Range
  .mat-paginator-range-label {
    height: $mat-paginator-range-height;
    margin: 0;
    padding: $mat-paginator-range-padding;
    line-height: $mat-paginator-range-height;
    background-color: $mat-paginator-bg;
    border-top: 1px solid $mat-paginator-borer-color;
    border-left: 1px solid $mat-paginator-borer-color;
    border-bottom: 1px solid $mat-paginator-borer-color;
    color: $mat-paginator-color;
    font-size: $mat-paginator-range-font-size;
    font-weight: $mat-paginator-range-font-weight;
  }
}

// Items / Page
.mat-paginator-page-size-label {
  color: $mat-paginator-color;
  font-size: $font-size-sm;
  font-weight: $mat-paginator-range-font-weight;
}

body {
  .mat-paginator-page-size-select {
    margin-top: 0;

    .mat-form-field-wrapper {
      .mat-form-field-flex {
        padding-left: $mat-paginator-select-padding-left;
      }

      .mat-form-field-infix {
        padding-top: $mat-paginator-select-padding-top;
        padding-bottom: $mat-paginator-select-padding-bottom;
      }
    }
  }
}

// Hide Page Selection
.mat-paginator.hide-selection {
  .mat-paginator-page-size {
    display: none;
  }

  .mat-paginator-container {
    justify-content: left;
  }
}