// Overrides for Material Tabs

// Tabs: Setup
.mat-tab-group {
  .mat-tab-header {
    height: $mat-tab-header-height-md;
    border-color: $border-color;

    @include media-breakpoint-down(md) {
      height: $mat-tab-header-height-md-mobile;
    }

    .mat-tab-labels {
      height: 100%;

      // Label default
      .mat-tab-label {
        height: 100%;
        opacity: 1;
        background-color: $mat-tab-bg-color-md;
        font-family: $mat-tab-font-family;
        @include transition(background-color .2s ease-in-out);


        .mat-tab-label-content {
          width: 100%;
          height: 100%;
          color: $mat-tab-color;
          font-weight: $mat-tab-font-weight;
          font-size: $mat-tab-font-size-md;
          @include transition($transition-base);

          @include media-breakpoint-down(md) {
            font-size: $mat-tab-font-size-md-mobile;
          }

          .icon {
            margin-right: $mat-tab-header-icon-spacing;
            font-size: $mat-tab-icon-font-size-md;

            &.no-space-xs {
              @include media-breakpoint-down(xs) {
                margin-right: $mat-tab-header-icon-spacing-mobile;
              }
            }
          }
        }
      }

      .mat-tab-links {
        font-family: $mat-tab-font-family;
      }

      // Label hover
      .mat-tab-label {
        @include hover-focus {
          .mat-tab-label-content {
            color: $mat-tab-color-active;
          }
        }
      }

      // Label active
      .mat-tab-label-active {
        background-color: $mat-tab-bg-color-active-md;
        border-left: 1px solid $border-color-light;
        border-right: 1px solid $border-color-light;

        .mat-tab-label-content {
          color: $mat-tab-color-active;
          font-weight: $mat-tab-font-weight-active;
        }
      }
    }
  }

  // Header BG
  &.header-white:not(.mat-tab-group-sm) {
    .mat-tab-header {
      background-color: $white;
    }
  }

}

// Tabs: Ink Bar
.mat-tab-group.mat-primary,
.mat-tab-nav-bar.mat-primary {
  .mat-ink-bar {
    height: $mat-tab-marker-height;
    background-color: $mat-tab-marker-active;
  }
}

// Tabs: Sizing SM
.mat-tab-group-sm {
  .mat-tab-header {
    background-color: $mat-tab-bg-color-sm;
    
    .mat-tab-labels {

      // Default
      .mat-tab-label {
        background-color: $mat-tab-bg-color-sm;

        .mat-tab-label-content {
          font-size: $mat-tab-font-size-sm;
        }
      }

      // Active
      .mat-tab-label-active {
        background-color: $mat-tab-bg-color-active-sm;
      }
    }
  }
}

// Tabs: Fixed Position
.mat-tab-group.tabs-fixed {
  .mat-tab-header {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: $white;
    z-index: 10;
  }

  .mat-tab-body-wrapper {
    width: 100%;
    top: $mat-tab-header-height-md;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    overflow: auto;

    @include media-breakpoint-down(md) {
      top: $mat-tab-header-height-md-mobile;
    }
  }
}

// Tabs: Fixed Width
.mat-tab-group.tabs-fixed-width {
  // Setup
  .mat-tab-header {
    .mat-tab-labels {
      .mat-tab-label {
        &:first-of-type {
          border-left: none;
        }

        &:last-of-type {
          border-right: none;
        }
      }
    }
  }

  // Two Tabs
  &.tabs-two {
    .mat-tab-header {
      .mat-tab-labels {
        .mat-tab-label {
          width: 50%;
        }
      }
    }
  }
}


// Tab Content: Setup
.mat-tab-group {
  font-family: $font-family-sans-serif;

  .mat-tab-body-content {
    overflow-x: hidden;
  }

  &.spacing-default {
    .mat-tab-body-content {
      padding: $mat-tab-content-padding;
    }
  }
}


// Tab Content: Background Colors
@each $color, $value in $theme-colors {
  @include bg-tabs(".mat-tab-group.bg-#{$color} .mat-tab-body-content", $value);
}


.mat-tab-group.bg-white .mat-tab-body-content {
  background-color: $white !important;
}

.mat-tab-group.bg-transparent .mat-tab-body-content {
  background-color: transparent !important;
}

// Tabs Vertical
.tabs-vertical {
  .mat-list {
    a {
      background-color: $mat-tab-vert-bg;
      color: $mat-tab-vert-color !important;
      border-top: 1px solid $mat-tab-vert-bg;
      @include transition($transition-base);

      // Hover
      @include hover-focus {
        color: $mat-tab-vert-hover-color !important;
      }

      // Active
      &.active {
        position: relative;
        background-color: $mat-tab-vert-active-bg;
        color: $mat-tab-vert-active-color !important;
        border-top: 1px solid $mat-tab-vert-active-border;
        font-weight: $mat-tab-vert-active-font-weight;


        &:after {
          content: '';
          width: 100%;
          height: 3px;
          left: 0;
          bottom: 0;
          position: absolute;
          background-color: $mat-tab-vert-active-border-bottom;
        }
      }
    }
  }

  .mat-list-base {
    .mat-list-item,
    .mat-list-option {
      height: auto;
    }
  }
}

// Tabs Vertical: Centered
.tabs-vertical.centered {

  .mat-list-base {
    .mat-list-item,
    .mat-list-option {
      .mat-list-item-content {
        width: 100%;
        flex-direction: column;
      }
    }
  }
}