// Overrides for Material Snackbar

// Setup
.mat-snack-bar-container {
  background-color: $mat-snackbar-bg;
  color: $mat-snackbar-color;
  font-family: $mat-snack-font-family;

  .mat-simple-snackbar {
    justify-content: center;
    font-family: $mat-snack-font-family;
  }
}

// Button
.mat-simple-snackbar-action {
  margin-left: auto !important;

  .mat-button {
    background-color: $mat-snackbar-action-bg;
    color: $mat-snackbar-action-color;
    font-family: $mat-snack-font-family;

    @include transition($transition-base);

    @include hover-focus {
      background-color: $mat-snackbar-action-hover-bg;
      color: $mat-snackbar-action-color;
    }
  }
}