// Overrides for Material Dialog

body {
  .mat-dialog-container {
    padding: 0;
    font-family: $mat-dialog-font-family !important;

    // Header
    .mat-dialog-title {
      font-family: $mat-dialog-font-family;
    }

    // Content
    .mat-dialog-content {
      margin: 0 !important;
    }

    // Footer
    .mat-dialog-actions {
      margin-bottom: 0;
    }
  }
}