<div class="card m-3 shadow-sm border-0 rounded-0">
  <!-- Header -->
  <div class="card-header p-4 bg-gray-100">
    <h2 class="font-size-xl mb-1">Tooltips</h2>
    <p class="text-default mb-0">see <a href="https://material.angular.io/components/tooltip/overview" target="_blank">Material Tooltips</a></p>
  </div>

  <div class="card-body">
    <!--  -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0">
      <h3 class="mb-0">Tooltips</h3>
    </div>

    <div class="border border-light p-3">
      <a class="btn btn-primary text-white" matTooltip="Ich bin ein Tooltip!">Button mit Tooltip</a>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#tooltip')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="tooltip" class="d-none">
<a class="btn btn-primary text-white" matTooltip="Ich bin ein Tooltip!">Button mit Tooltip</a>
</textarea>

      <pre class="m-0 pt-3 px-3">
<code>
&lt;a class="btn btn-primary text-white" matTooltip="Ich bin ein Tooltip!"&gt;Button mit Tooltip&lt;/a&gt;
</code>
      </pre>
    </div>
  </div>
</div>