<div class="card m-3 shadow-sm border-0 rounded-0">
  <!-- Header -->
  <div class="card-header p-4 bg-gray-100">
    <h2 class="font-size-xl mb-1">Slide Toggle</h2>
    <p class="text-default mb-0">see <a href="https://material.angular.io/components/slide-toggle/overview" target="_blank">Material Slide Toggle</a></p>
  </div>

  <div class="card-body">
    <!-- Slide Toggle  -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0">
      <h3 class="mb-0">Slide Toggle</h3>
    </div>

    <div class="border border-light p-3">
       <div class="row">
         <div class="col-6">
           <mat-slide-toggle [(ngModel)]="exampleToggle">Beispiel-Toggle links</mat-slide-toggle>
         </div>
         <div class="col-6">
           <mat-slide-toggle [(ngModel)]="exampleToggle2" class="toggle-right">Beispiel-Toggle rechts</mat-slide-toggle>
         </div>
       </div>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#toggle')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="toggle" class="d-none">
<mat-slide-toggle [(ngModel)]="exampleToggle">
  Beispiel-Toggle links
</mat-slide-toggle>
<mat-slide-toggle [(ngModel)]="exampleToggle2" class="toggle-right">
  Beispiel-Toggle rechts
</mat-slide-toggle>
</textarea>

      <pre class="m-0 pt-3 px-3">
<code>&lt;mat-slide-toggle [(ngModel)]="exampleToggle"&gt;
  Beispiel-Toggle links
&lt;/mat-slide-toggle&gt;

&lt;mat-slide-toggle [(ngModel)]="exampleToggle2" class="toggle-right"&gt;
  Beispiel-Toggle rechts
&lt;/mat-slide-toggle&gt;</code>
      </pre>
    </div>
  </div>
</div>