<!-- Tool -->
<div class="dropdown toolbar">
<span dropdown #preflightEdit="bs-dropdown" [insideClick]="true" container="body">
  <a class="nav-link tool tool-dark dropleft tool-light"
     matTooltip="Report ändern" id="modgroup" dropdownToggle>
        <i class="material-icons">edit</i>
    </a>

  <!-- Dropdown Content -->
    <div id="preflightEditDropdown" *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown-mobile dropdown-toolbar" role="menu" aria-labelledby="preflightEdit">
      <div class="card mw-350 maxw-350 border-0 rounded">

        <!-- Header -->
        <div class="card-header d-flex justify-content-center align-items-center">
          <span class="badge badge-light badge-circle text-dark mr-3 p-2 mr-auto">
            <i class="material-icons">assignment</i>
          </span>
          <span class="flex-fill font-weight-medium text-center">Preflight Einstellungen</span>
          <span class="marker top right pointer bg-white text-dark" (click)="preflightEdit.hide()">
             <i class="material-icons">edit</i>
          </span>
        </div>

        <div class="card-body py-0 px-3">
          <div class="row align-items-center pt-2">
            <div class="col-12">
                <mat-checkbox [checked]="true">RGB prüfen</mat-checkbox>
            </div>
          </div>

          <div class="row align-items-center pt-2 mt-2 border-top">
            <div class="col-12">
                <mat-checkbox [checked]="true">Anzahl der Seiten</mat-checkbox>
            </div>
          </div>

          <div class="row align-items-center pt-2 mt-2 border-top">
            <div class="col-12">
                <mat-checkbox [checked]="true">Endformat</mat-checkbox>
            </div>
          </div>

          <div class="row align-items-center pt-2 mt-2 border-top">
            <div class="col-12">
                <mat-checkbox [checked]="true">Fonts</mat-checkbox>
            </div>
          </div>

          <div class="row align-items-center pt-2 mt-2 border-top">
            <div class="col-12">
                <mat-checkbox [checked]="true">Farbauszüge</mat-checkbox>
            </div>
          </div>

          <div class="row align-items-center pt-2 mt-2 border-top">
            <div class="col-4">
               <mat-checkbox [checked]="true" [(ngModel)]="tacMaximum">TAC</mat-checkbox>
            </div>
            <div class="col-8 d-flex align-items-center justify-content-end">
              <label [class.disabled]="!tacMaximum">TAC Maximum</label>
              <mat-form-field class="input-xs">
                <input matInput placeholder="345" value="345" class="text-center" [disabled]="!tacMaximum">
              </mat-form-field>
            </div>
          </div>

          <div class="row align-items-center pt-2 mt-2 border-top">
            <div class="col-4">
               <mat-checkbox [checked]="true" [(ngModel)]="resolution">Auflösung</mat-checkbox>
            </div>
            <div class="col-8 text-right">
             <div class="d-flex-align-items-center justify-content-end">
                <label [class.disabled]="!resolution">Halbtöne</label>
              <mat-form-field class="input-xs">
                <input matInput placeholder="198" value="198" class="text-center" [disabled]="!resolution">
              </mat-form-field>
             </div>
             <div class="d-flex-align-items-center justify-content-end">
                <label [class.disabled]="!resolution">Strich</label>
              <mat-form-field class="input-xs">
                <input matInput placeholder="198" value="198" class="text-center" [disabled]="!resolution">
              </mat-form-field>
             </div>
            </div>
          </div>

          <div class="row align-items-center pt-2 mt-2 pb-2 border-top">
            <div class="col-4">
               <mat-checkbox [checked]="true" [(ngModel)]="spacingDefault">Beschnitt</mat-checkbox>
            </div>
            <div class="col-8 text-right">
             <div class="d-flex-align-items-center justify-content-end">
                <label [class.disabled]="!spacingDefault">Abstand</label>
              <mat-form-field class="input-xs">
                <input matInput placeholder="in mm" value="0.1" class="text-center" [disabled]="!spacingDefault">
              </mat-form-field>
             </div>
             <div class="d-flex-align-items-center justify-content-end">
                <label [class.disabled]="!spacingDefault">Minimum</label>
              <mat-form-field class="input-xs">
                <input matInput placeholder="in mm" value="1" class="text-center" [disabled]="!spacingDefault">
              </mat-form-field>
             </div>
            </div>
          </div>
        </div>

        <!-- Cancel / Save -->
        <div class="card-footer px-0 bg-light border-top text-right rounded-bottom">
          <a class="btn btn-white border px-4 mr-3" (click)="preflightEdit.hide()">Abbrechen</a>
          <a class="btn btn-primary text-white px-4 mr-2" (click)="preflightEdit.hide()">Speichern</a>
        </div>
      </div>
    </div>
  </span>
</div>