<header class="main-header">
  <pt-navigation></pt-navigation>
  <pt-toolbar></pt-toolbar>
</header>

<section class="main-content">

  <div class="bg-white border-bottom mb-3">
    <div class="welcome px-5 py-4">
      <h2 class="mt-4 mb-2 p-0">Hallo Max Mustermann!</h2>
      <p class="text-default">Willkommen im IWS Pro Datencenter.</p>
    </div>

    <div class="tabs tabs-vertical d-flex">
      <mat-action-list class="pt-0 bg-gray-100 mw-sm-210 maxw-210 border-right border-light">
        <a mat-list-item class="py-3 d-inline-flex align-items-center border-top border-light"
           [class.active]="showFileOverview"
           (click)="showFileOverview = true; showProductOverview = false; showOrderOverview = false;">
          <i class="material-icons icon no-space-xs mr-sm-3">description</i>
          <span class="d-none d-sm-inline">Dateien</span>
        </a>
        <a mat-list-item class="py-3 d-inline-flex align-items-center"
           [class.active]="showProductOverview"
           (click)="showFileOverview = false; showProductOverview = true; showOrderOverview = false;">
          <i class="material-icons icon no-space-xs mr-sm-3">perm_media</i>
          <span class="d-none d-sm-inline">Produkte</span>
        </a>
        <a mat-list-item class="py-3 d-inline-flex align-items-center"
           [class.active]="showOrderOverview"
           (click)="showFileOverview = false; showProductOverview = false; showOrderOverview = true;">
          <i class="material-icons icon no-space-xs mr-sm-3">shopping_basket</i>
          <span class="d-none d-sm-inline">Bestellungen</span>
        </a>
      </mat-action-list>

      <div class="flex-fill border-top border-light overflow-sm-x-auto overflow-y-hidden">
          <pt-overview-files [class.d-none]="!showFileOverview"></pt-overview-files>
          <pt-overview-products [class.d-none]="!showProductOverview"></pt-overview-products>
          <pt-overview-orders [class.d-none]="!showOrderOverview"></pt-overview-orders>
      </div>
    </div>
  </div>


  <div class="container-fluid mt-4 pt-2 px-4">
    <div class="row">
      <div class="col-12 col-lg-6">
         <pt-new-orders></pt-new-orders>
      </div>
      <div class="col-12 col-lg-6">
        <div class="card border-0">
          <pt-error-files></pt-error-files>
        </div>
      </div>
    </div>
  </div>
</section>