<div class="card border-0 shadow">
  <div class="card-header bg-gray-100 py-3 d-flex align-items-center">
    <i class="material-icons pr-3">description</i>
    <h5 class="m-0 p-0">Fehlerhafte Dateien</h5>
  </div>

  <div class="card-body">
    <mat-table [dataSource]="dataSource" matSort class="full-width bg-transparent mat-table-pills">

      <!-- Preview -->
      <ng-container matColumnDef="preview">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <img src="assets/images/dummy-images/{{element.preview}}" class="img-thumbnail thumbnail-sm" alt="{{element.fileName}}">
        </mat-cell>
      </ng-container>

      <!-- File ID-->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="cell-small"> Datei ID </mat-header-cell>
        <mat-cell *matCellDef="let element" class="cell-small"> {{element.id}} </mat-cell>
      </ng-container>

      <!-- File Name -->
      <ng-container matColumnDef="fileName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Datei </mat-header-cell>
        <mat-cell *matCellDef="let element" class="font-weight-medium mobile-border-bottom mobile-font-lg"> {{element.fileName}} </mat-cell>
      </ng-container>

      <!-- Order Name -->
      <ng-container matColumnDef="orderId">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Bestellung </mat-header-cell>
        <mat-cell *matCellDef="let element">{{demoData.getOrderName(element.orderId)}}</mat-cell>
      </ng-container>

      <!-- Link -->
      <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef class="overflow-visible">
          <pt-edit-table [tableData]="listingService.fileTableColumns"></pt-edit-table>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a href="prototype/details" title="Datei bearbeiten" class="btn btn-link btn-icon btn-hover-primary">
            <i class="material-icons">more_horiz</i>
          </a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="bg-gray-100"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" class="no-hover"></mat-row>
    </mat-table>

    <div class="row mt-3">
      <div class="col-12 col-sm-6 text-center text-sm-left">
        <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons class="d-inline-block bg-transparent select-small hide-selection"></mat-paginator>
      </div>
      <div class="col-12 col-sm-6 text-right">
        <a href="prototype/listing" class="mt-2 mt-sm-1 d-block d-sm-inline-block btn btn-secondary px-3 px-sm-4">Alle ansehen</a>
      </div>
    </div>
  </div>
</div>