<div class="quicknav position-absolute top right mh-70 align-items-center font-size-sm" [class.d-none]="listingService.activePage != 'details'">
  <!-- Order -->
  <div class="border-right border-light mh-70 d-none d-lg-inline-flex align-items-center px-3">
    <span class="badge badge-marker badge-{{demoData.getOrderById(listingService.currentFile['orderId'])['orderStatus']}}
                 text-dark maxw-170 overflow-x-hidden text-truncate">
      {{demoData.getOrderById(listingService.currentFile['orderId'])['orderName']}}
    </span>
  </div>

  <!-- Products -->
  <div class="position-relative border-right border-light mh-70 d-inline-flex align-items-center">
    <div dropdown #modProduct="bs-dropdown"
         (onShown)="isOpen = true;" (onHidden)="isOpen = false;">
      <a matTooltip="Produkt wechseln" id="modproduct" dropdownToggle
         class="mh-70 d-flex align-items-center px-3 bg-hover-gray-100">
          <span class="mh-70 d-none d-lg-flex align-items-center">
            <span class="badge badge-marker badge-{{listingService.currentProduct.productStatus}} text-dark pr-1">
                {{listingService.currentProduct.productName}}
            </span>
            <i class="material-icons ml-auto" [class.d-none]="isOpen">keyboard_arrow_down</i>
            <i class="material-icons ml-auto" [class.d-none]="!isOpen">keyboard_arrow_up</i>
          </span>

        <span class="mh-70 px-2 d-flex d-lg-none align-items-center">
         <i class="material-icons">perm_media</i>
        </span>
      </a>

      <!-- Dropdown Content -->
      <div id="modProductDropdown" *dropdownMenu
           class="dropdown-menu dropdown-mobile dropdown-menu-right mt-0 rounded-0"
           role="menu"
           aria-labelledby="modProduct">
        <div class="card mw-250 border-0 rounded list-group">
          <a class="list-group-item list-group-item-action px-3 py-2 border-bottom border-light d-flex align-items-center font-size-sm bg-hover-gray-100"
            *ngFor="let product of listingService.currentProducts">
             <span class="d-inline-flex align-items-center badge badge-marker badge-{{product.productStatus}} text-dark
                          maxw-170 overflow-x-hidden text-truncate">
              {{product.productName}}
            </span>
            <i class="material-icons ml-auto">keyboard_arrow_right</i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Files -->
  <div class="position-relative border-right border-light mh-70 d-inline-flex align-items-center">
    <div dropdown #modFiles="bs-dropdown"
         (onShown)="isFileOpen = true;" (onHidden)="isFileOpen = false;">
      <a matTooltip="Datei wechseln" id="modfiles" dropdownToggle
         class="mh-70 d-flex align-items-center px-3 bg-hover-gray-100">
          <span class="mh-70 d-none d-lg-flex align-items-center">
            <span class="d-inline-flex align-items-center badge badge-marker badge-{{listingService.currentFile.fileStatus}} text-dark pr-1">
                &nbsp;
            </span>

            <i class="material-icons medium mr-1" matTooltip="Druckbogen" [class.d-none]="listingService.currentFile.fileType == 1">apps</i>
            <i class="material-icons medium mr-1" matTooltip="PDF" [class.d-none]="listingService.currentFile.fileType == 2">picture_as_pdf</i>
            <span class="maxw-170 overflow-x-hidden text-truncate">{{listingService.currentFile.fileName}}</span>
            <i class="material-icons ml-auto" [class.d-none]="isFileOpen">keyboard_arrow_down</i>
            <i class="material-icons ml-auto" [class.d-none]="!isFileOpen">keyboard_arrow_up</i>
          </span>

        <span class="mh-70 px-2 d-flex d-lg-none align-items-center">
         <i class="material-icons">description</i>
        </span>
      </a>

      <!-- Dropdown Content -->
      <div id="modFileDropdown" *dropdownMenu
           class="dropdown-menu dropdown-mobile dropdown-menu-right mt-0 rounded-0"
           role="menu"
           aria-labelledby="modFile">
        <div class="card mw-250 border-0 rounded list-group">
          <a class="list-group-item list-group-item-action px-3 py-2 border-bottom border-light d-flex align-items-center font-size-sm bg-hover-gray-100"
             *ngFor="let file of listingService.activeFiles">
             <span class="pr-0 badge badge-marker badge-{{file.fileStatus}} text-dark">&nbsp;</span>
              <i class="material-icons medium mr-2" matTooltip="Druckbogen" [class.d-none]="file.fileType == 1">apps</i>
              <i class="material-icons medium mr-2" matTooltip="PDF" [class.d-none]="file.fileType == 2">picture_as_pdf</i>
              <span>{{file.fileName}}</span>
            <i class="material-icons ml-auto">keyboard_arrow_right</i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>