<!-- Contacts Header -->
<div class="card card-sidebar d-flex flex-colum bg-light">
  <div class="card-header d-flex flex-row align-items-center justify-content-left bg-light">
    <h3 class="mb-0">Einstellungen</h3>
    <div class="ml-auto">
    </div>
  </div>

  <!-- Navigation List -->
  <div class="card-body p-0 position-relative overflow-x-hidden">
    <div class="folder-container folder-group bg-white">
      <perfect-scrollbar class="show-scrollbar">
        <a *ngFor="let nav of settingsService.settingsNav; let i = index;"
           (click)="settingsService.setActiveNav(i)"
           class="list-group-item list-group-item-action list-item-light d-flex px-2 rounded-0 border-left-0 border-right-0 font-weight-medium"
           [ngClass]="[nav.active ? 'active-dark': '', i === 0 ? 'border-top-0': '']"
           name="{{nav.name}}">
          <i class="material-icons bg-white p-2 mr-3 align-self-center rounded-circle border">{{nav.icon}}</i>
          <span class="name align-self-center text-dark">{{nav.name}}</span>
          <span class="ml-auto text-dark align-self-center">
                  <i class="material-icons">keyboard_arrow_right</i>
                </span>
        </a>
      </perfect-scrollbar>
    </div>
  </div>
</div>