<div class="card m-3 shadow-sm border-0 rounded-0">
  <!-- Header -->
  <div class="card-header p-4 bg-gray-100">
    <h2 class="font-size-xl mb-1">Scrollbar</h2>
    <p class="text-default mb-0">see <a href="https://www.npmjs.com/package/ngx-perfect-scrollbar" target="_blank">ngx-perfect-scrollbar</a></p>
  </div>

  <div class="card-body">
    <!-- Scrollbar -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0">
      <h3 class="mb-0">Scrollbar default</h3>
    </div>

    <div class="border border-light p-3">
      <perfect-scrollbar class="mh-115 maxh-115">
        1<br />
        2<br />
        3<br />
        4<br />
        5<br />
        6<br />
        7<br />
        8<br />
        9<br />
        10<br />
        11<br />
        12<br />
      </perfect-scrollbar>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#scrollbar')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="scrollbar" class="d-none">
<perfect-scrollbar>
  1<br />
  2<br />
  3<br />
  4<br />
  5<br />
  6<br />
  7<br />
  8<br />
  9<br />
  10<br />
  11<br />
  12<br />
</perfect-scrollbar>
</textarea>

      <pre class="m-0 pt-3 px-3">
<code>&lt;perfect-scrollbar&gt;
  1&lt;br /&gt;
  2&lt;br /&gt;
  3&lt;br /&gt;
  4&lt;br /&gt;
  5&lt;br /&gt;
  6&lt;br /&gt;
  7&lt;br /&gt;
  8&lt;br /&gt;
  9&lt;br /&gt;
  10&lt;br /&gt;
  11&lt;br /&gt;
  12&lt;br /&gt;
&lt;/perfect-scrollbar&gt;</code>
      </pre>
    </div>

    <!-- Scrollbar visible -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0 mt-5">
      <h3 class="mb-0">Scrollbar visible</h3>
    </div>

    <div class="border border-light p-3">
      <perfect-scrollbar class="show-scrollbar mh-115 maxh-115">
        1<br />
        2<br />
        3<br />
        4<br />
        5<br />
        6<br />
        7<br />
        8<br />
        9<br />
        10<br />
        11<br />
        12<br />
      </perfect-scrollbar>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#scrollbarVisible')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="scrollbarVisible" class="d-none">
<perfect-scrollbar class="show-scrollbar">
  1<br />
  2<br />
  3<br />
  4<br />
  5<br />
  6<br />
  7<br />
  8<br />
  9<br />
  10<br />
  11<br />
  12<br />
</perfect-scrollbar>
</textarea>

      <pre class="m-0 pt-3 px-3">
<code>&lt;perfect-scrollbar class="show-scrollbar"&gt;
  1&lt;br /&gt;
  2&lt;br /&gt;
  3&lt;br /&gt;
  4&lt;br /&gt;
  5&lt;br /&gt;
  6&lt;br /&gt;
  7&lt;br /&gt;
  8&lt;br /&gt;
  9&lt;br /&gt;
  10&lt;br /&gt;
  11&lt;br /&gt;
  12&lt;br /&gt;
&lt;/perfect-scrollbar&gt;</code>
      </pre>
    </div>

  </div>
</div>