<div class="card m-3 shadow-sm border-0 rounded-0">
  <!-- Header -->
  <div class="card-header p-4 bg-gray-100">
    <h2 class="font-size-xl mb-1">Utilities</h2>
    <p class="text-default mb-0">see <a href="https://getbootstrap.com/docs/4.3/utilities/display/" target="_blank">Bootstrap Utilities</a></p>
  </div>

  <div class="card-body">
    <!-- List of Utilties -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0">
      <h3 class="mb-0">Utilities</h3>
    </div>

    <div class="border border-light p-3">
        <div class="list-group">
          <a href="https://getbootstrap.com/docs/4.3/utilities/borders/" target="_blank" class="list-group-item list-group-item-action rounded-0 d-flex">
            <span>Borders</span>
            <i class="material-icons ml-auto">keyboard_arrow_right</i>
          </a>

          <a href="https://getbootstrap.com/docs/4.3/utilities/display/" target="_blank" class="list-group-item list-group-item-action rounded-0 d-flex">
            <span>Display</span>
            <i class="material-icons ml-auto">keyboard_arrow_right</i>
          </a>

          <a href="https://getbootstrap.com/docs/4.3/utilities/flex/" target="_blank" class="list-group-item list-group-item-action rounded-0 d-flex">
            <span>Flex</span>
            <i class="material-icons ml-auto">keyboard_arrow_right</i>
          </a>

          <a href="https://getbootstrap.com/docs/4.3/utilities/overflow/" target="_blank" class="list-group-item list-group-item-action rounded-0 d-flex">
            <span>Overflow</span>
            <i class="material-icons ml-auto">keyboard_arrow_right</i>
          </a>

          <a href="https://getbootstrap.com/docs/4.3/utilities/position/" target="_blank" class="list-group-item list-group-item-action rounded-0 d-flex">
            <span>Position</span>
            <i class="material-icons ml-auto">keyboard_arrow_right</i>
          </a>

          <a href="https://getbootstrap.com/docs/4.3/utilities/spacing/" target="_blank" class="list-group-item list-group-item-action rounded-0 d-flex">
            <span>Spacing</span>
            <i class="material-icons ml-auto">keyboard_arrow_right</i>
          </a>
        </div>

      <div class="position-relative border border-light bg-light p-3">

        <h5 class="mt-3">Additional:</h5>

        <pre class="m-0 pt-1 px-3">
<code>
  .overflow-x-auto &#123; &#125;
  .overflow-x-hidden &#123; &#125;
  .overflow-y-auto &#123; &#125;
  .overflow-y-hidden &#123; &#125;
  .position-absolute.top &#123; &#125;
  .position-absolute.right &#123; &#125;
  .position-absolute.left &#123; &#125;
  .position-absolute.bottom &#123; &#125;
  .bottom-28 &#123; &#125; // Available Heights @ Widths & Heights
</code>
</pre>
      </div>

    </div>
  </div>
</div>