<div class="row py-4 px-3">
  <div class="col-12 col-md-6 mb-2">
    <!-- User Name -->
    <label class="pt-2 mb-1 mw-100">Benutzername</label>
    <mat-form-field class="mw-100">
      <input matInput placeholder="Benutzername"
             value="{{demoData.user[0].userName}}">
    </mat-form-field>

    <!-- Password -->
    <label class="mt-3 pt-2 mb-1 mw-100">Passwort</label>
    <mat-form-field class="mw-100">
      <input matInput placeholder="Passwort"
             value="{{demoData.user[0].pwd}}"
             type="password">
    </mat-form-field>

    <!-- Password repeated -->
    <label class="mt-3 pt-2 mb-1 mw-100">Passwort wiederholen</label>
    <mat-form-field class="mw-100">
      <input matInput placeholder="Passwort wiederholt"
             value="{{demoData.user[0].pwd}}"
             type="password">
    </mat-form-field>
  </div>
  <div class="col-12 col-md-6 mt-3 mt-md-0 mb-2">
    <!-- First Name -->
    <label class="pt-2 mb-1 mw-100">Vorname</label>
    <mat-form-field class="mw-100">
      <input matInput placeholder="Vorname"
             value="{{demoData.user[0].firstName}}">
    </mat-form-field>

    <!-- Last Name -->
    <label class="mt-3 pt-2 mb-1 mw-100">Nachname</label>
    <mat-form-field class="mw-100">
      <input matInput placeholder="Nachname"
             value="{{demoData.user[0].lastName}}">
    </mat-form-field>

    <!-- E-Mail -->
    <label class="mt-3 pt-2 mb-1 mw-100">E-Mail</label>
    <mat-form-field class="mw-100">
      <input matInput placeholder="E-Mail-Adresse"
             value="{{demoData.user[0].mail}}">
    </mat-form-field>
  </div>
</div>