<div class="card m-3 shadow-sm border-0 rounded-0">
  <!-- Header -->
  <div class="card-header p-4 bg-gray-100">
    <h2 class="font-size-xl mb-1">Pagination</h2>
    <p class="text-default mb-0">see <a href="https://valor-software.com/ngx-bootstrap/#/pagination" target="_blank">ngx-bootstrap Pagination</a></p>
  </div>

  <div class="card-body">
    <!-- Pagination -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0">
      <h3 class="mb-0">Pagination</h3>
    </div>

    <div class="border border-light p-3 text-center">
      <div class="d-inline-block">
        <pagination [boundaryLinks]="true"
                    [totalItems]="9"
                    [itemsPerPage]="1"
                    [maxSize]="5"
                    previousText="<i class='material-icons'>keyboard_arrow_left</i>"
                    nextText="<i class='material-icons'>keyboard_arrow_right</i>"
                    firstText="<i class='material-icons'>first_page</i>"
                    lastText="<i class='material-icons'>last_page</i>"
                    class="mt-1">
        </pagination>
      </div>
      <br />
      <div class="d-inline-block">
        <pagination [boundaryLinks]="false"
                    [totalItems]="10"
                    [itemsPerPage]="1"
                    [maxSize]="5"
                    previousText="<i class='material-icons'>keyboard_arrow_left</i>"
                    nextText="<i class='material-icons'>keyboard_arrow_right</i>"
                    firstText="<i class='material-icons'>first_page</i>"
                    lastText="<i class='material-icons'>last_page</i>"
                    class="mt-1">
        </pagination>
      </div>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#pagination')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="pagination" class="d-none">
 <pagination [boundaryLinks]="true"
     [totalItems]="9"
     [itemsPerPage]="1"
     [maxSize]="5"
     previousText="<i class='material-icons'>keyboard_arrow_left</i>"
     nextText="<i class='material-icons'>keyboard_arrow_right</i>"
     firstText="<i class='material-icons'>first_page</i>"
     lastText="<i class='material-icons'>last_page</i>"
     class="mt-1">
</pagination>
        
<pagination [boundaryLinks]="false"
           [totalItems]="10"
           [itemsPerPage]="1"
           [maxSize]="5"
           previousText="<i class='material-icons'>keyboard_arrow_left</i>"
           nextText="<i class='material-icons'>keyboard_arrow_right</i>"
           firstText="<i class='material-icons'>first_page</i>"
           lastText="<i class='material-icons'>last_page</i>"
           class="mt-1">
</pagination>
</textarea>

      <pre class="m-0 pt-3 px-3">
<code>&lt;pagination [boundaryLinks]="true"
             [totalItems]="9"
             [itemsPerPage]="1"
             [maxSize]="5"
             previousText="&lt;i class='material-icons'&gt;keyboard_arrow_left&lt;/i&gt;"
             nextText="&lt;i class='material-icons'&gt;keyboard_arrow_right&lt;/i&gt;"
             firstText="&lt;i class='material-icons'&gt;first_page&lt;/i&gt;"
             lastText="&lt;i class='material-icons'&gt;last_page&lt;/i&gt;"
             class="mt-1"&gt;
&lt;/pagination&gt;

&lt;pagination [boundaryLinks]="false"
     [totalItems]="10"
     [itemsPerPage]="1"
     [maxSize]="5"
     previousText="&lt;i class='material-icons'&gt;keyboard_arrow_left&lt;/i&gt;"
     nextText="&lt;i class='material-icons'&gt;keyboard_arrow_right&lt;/i&gt;"
     firstText="&lt;i class='material-icons'&gt;first_page&lt;/i&gt;"
     lastText="&lt;i class='material-icons'&gt;last_page&lt;/i&gt;"
     class="mt-1"&gt;
&lt;/pagination&gt;</code>
      </pre>
    </div>
  </div>
</div>