// Additional Variables for NG Select

// Setup
$ng-height:             35px;
$ng-font-family:        $font-family-sans-serif;
$ng-font-size:          $font-size-sm;
$ng-border-color:       $dark;
$ng-color:              $dark;
$ng-placeholder-color:  fade_out($dark, .25);

$ng-bg:               $white;
$ng-hover-bg:         $light;
$ng-hover-color:      $dark;
$ng-hover-shadow:     $element-shadow;

$ng-border-valid:     $success;
$ng-color-valid:      $success;
$ng-border-warning:   $warning;
$ng-color-warning:    $warning;
$ng-border-invalid:   $danger;
$ng-color-invalid:    $danger;

$ng-disabled:         $mat-label-disabled;

// Icons
$ng-x-size:           16px;
$ng-arrow-size:       16px;

// Dropdown
$ng-dropdown-size:            $font-size-sm;

$ng-dropdown-hover-bg:        $light;
$ng-dropdown-hover-color:     $dark;
$ng-dropdown-hover-weight:    $font-weight-medium;

$ng-dropdown-selected-bg:     $light;
$ng-dropdown-selected-color:  $dark;
$ng-dropdown-selected-weight: $font-weight-medium;

$ng-dropdown-disabled-bg:     $white;
$ng-dropdown-disabled-color:  $gray-500;
$ng-dropdown-disabled-weight: $font-weight-normal;