// Additional Variables for NGX Dropzone

$ngx-dropzone-height:               150px;
$ngx-dropzone-border-width:         1px;
$ngx-dropzone-border-color:         $default;
$ngx-dropzone-border-radius:        0;
$ngx-dropzone-font-weight:          500;
$ngx-dropzone-font-size:            1rem;

$ngx-dropzone-padding-top:          60px;
$ngx-dropzone-icon-size:            50px;

$ngx-dropzone-bg-hover:             $light;
$ngx-dropzone-border-color-hover:   $dark;

