<div class="card m-3 shadow-sm border-0 rounded-0">
  <!-- Header -->
  <div class="card-header p-4 bg-gray-100">
    <h2 class="font-size-xl mb-1">Drag and Drop</h2>
    <p class="text-default mb-0">see <a href="https://material.angular.io/cdk/drag-drop/overview" target="_blank">Material Drag and Drop</a></p>
  </div>

  <div class="card-body">
    <!-- Drag and Drop Example -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0">
      <h3 class="mb-0">Drag and Drop List</h3>
    </div>

    <div class="border border-light p-3">
        <div class="list-group mh-280" cdkDropList (cdkDropListDropped)="dropElem($event)">
          <div class="list-group-item list-group-item-action rounded-0 px-3 py-2 font-size-sm"
               cdkDrag
               *ngFor="let item of exampleItems; let i = index;"
               [class.active]="item.active"
               (click)="setSelectedEntry(item.id)">
                <div class="list-group-placeholder" *cdkDragPlaceholder></div>
                {{item.id}}
          </div>
      </div>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#dragAndDrop')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="dragAndDrop" class="d-none" ngNonBindable>
<div class="list-group mh-280" cdkDropList (cdkDropListDropped)="dropElem($event)">
    <div class="list-group-item list-group-item-action rounded-0 px-3 py-2 font-size-sm"
       cdkDrag
       *ngFor="let item of exampleItems; let i = index;"
       [class.active]="item.active"
       (click)="setSelectedEntry(item.id)">
            <div class="list-group-placeholder" *cdkDragPlaceholder></div>
            {{item.id}}
    </div>
</div>
</textarea>

      <pre class="m-0 pt-3 px-3">
<code ngNonBindable>&lt;div class="list-group mh-280" cdkDropList (cdkDropListDropped)="dropElem($event)"&gt;
    &lt;div class="list-group-item list-group-item-action rounded-0 px-3 py-2 font-size-sm"
         cdkDrag
         *ngFor="let item of exampleItems; let i = index;"
         [class.active]="item.active"
         (click)="setSelectedEntry(item.id)"&gt;
            &lt;div class="list-group-placeholder" *cdkDragPlaceholder&gt;&lt;/div&gt;
            {{item.id}}
    &lt;/div&gt;
&lt;/div&gt;</code>
      </pre>
    </div>
  </div>
</div>