<!-- Button -->
<div class="dropdown">
  <span dropdown #modFolderNew="bs-dropdown" [insideClick]="true" container="body">
    <a class="tool"
       matTooltip="Neuer Ordner"
       id="modFolderNew" dropdownToggle>
      <i class="material-icons">add</i>
    </a>

    <!-- Dropdown Content -->
      <div id="modFolderNewDropdown" *dropdownMenu (click)="data.preventClose($event)" class="dropdown-menu dropdown-mobile" role="menu" aria-labelledby="modFolderNew">
        <div class="card mw-420 maxw-420 border-0 rounded">

        <!-- Header -->
        <div class="card-header d-flex justify-content-center align-items-center">
          <span class="badge badge-light badge-circle text-dark mr-3 p-2 mr-auto">
            <i class="material-icons">folder</i>
          </span>
          <span class="flex-fill font-weight-medium text-center">Neuer Ordner</span>
          <span class="marker top left pointer" (click)="modFolderNew.hide()">
            <i class="material-icons">add</i>
          </span>
        </div>

        <div class="card-body p-0">

          <!-- Form -->
          <div class="px-3 py-3">
            <div class="row align-items-center">
              <label class="col-3">Name</label>
              <div class="col-9">
                <mat-form-field class="mw-100">
                  <input matInput placeholder="Ordnername" value="">
                </mat-form-field>
              </div>
            </div>

            <div class="row align-items-center pt-2">
              <div class="col-9 offset-3">
                <mat-checkbox [checked]="smartFolder" [(ngModel)]="smartFolder">Intelligenter Ordner</mat-checkbox>
              </div>
            </div>

            <div class="row align-items-center pt-2"
                  [ngClass]="(folder.folderScope == 'local'? 'd-none' : 'd-flex')">
              <label class="col-3">Gruppe</label>
              <div class="col-9">
                <ng-select [items]="this.folder.globalFolderGroups"
                           placeholder="Ordner auswählen"
                           notFoundText="Kein Ordner gefunden!"
                           [(ngModel)]="this.folder.globalFolderGroups[0]">
              </ng-select>
              </div>
            </div>

            <!-- Smart Folder -->
            <div class="row align-items-center">
              <div id="smartFolderOptions" class="mw-100" [class.d-none]="smartFolder === false">
                <!-- Selected Values -->
                <div class="bg-light border-top border-bottom p-3 my-3">
                  <span class="d-block small"><i>Keine Kriterien ausgewählt!</i></span>

                </div>

                <!-- Options -->
                <div class="row align-items-center px-3">
                  <label class="col-4">Kunde ist</label>
                  <div class="col-8">
                    <ng-select [items]="demoData.companies"
                               bindLabel="name"
                               bindValue="id"
                               placeholder="Kunde auswählen"
                               notFoundText="Keine Übereinstimmung gefunden!">
                    </ng-select>
                  </div>
                </div>

                <div class="row align-items-center px-3 pt-3">
                  <label class="col-4">Deadline</label>
                  <div class="col-8">
                    <input type="text"
                           placeholder="Deadline auswählen"
                           class="form-control mw-100"
                           bsDatepicker
                           [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                           (onShown)="modalService.preventAutoClose(modFolder, false)"
                           (onHidden)="modalService.preventAutoClose(modFolder, true)">
                  </div>
                </div>

                <div class="row align-items-center px-3 pt-3">
                  <label class="col-4 pb-1">Status</label>
                  <div class="col-8">
                    <ng-select [items]="demoData.statusRange"
                               bindLabel="statusName"
                               bindValue="statusId"
                               placeholder="Status auswählen"
                               notFoundText="Status nicht gefunden!">
                    </ng-select>
                  </div>
                </div>

                 <div class="row align-items-center px-3 pt-3">
                  <label class="col-4 pb-1 pr-0">Workflow-Gruppe</label>
                  <div class="col-8">
                    <ng-select [items]="demoData.workflows"
                               bindLabel="name"
                               bindValue="id"
                               placeholder="Workflow auswählen"
                               notFoundText="Kein Workflow gefunden!">
                    </ng-select>
                  </div>
                </div>

                <div class="row align-items-center px-3 pt-3">
                  <label class="col-4 pb-1">{{demoData.customValues[0].name}}</label>
                  <div class="col-8">
                    <ng-select [items]="demoData.customValues[0].values"
                               bindLabel="value"
                               bindValue="id"
                               placeholder="Wert auswählen"
                               notFoundText="Keine Übereinstimmung gefunden!">
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Cancel / Save -->
       <div class="card-footer bg-light border-top text-right rounded-bottom px-0">
           <span class="pb-2 mb-2 border-bottom text-left pl-3 align-items-center"
                 [ngClass]="(folderData.folderScope == 'global') ? 'd-flex' : 'd-none'">
            <span class="text-danger"><i class="material-icons">warning</i></span>
            <span class="small pl-3">Diese Änderungen werden für alle Benutzer übernommen!</span>
          </span>
          <a class="btn btn-white border px-4 mt-1 mr-3" (click)="modFolderNew.hide()">Abbrechen</a>
          <a class="btn btn-primary text-white px-4 mt-1 mr-2" (click)="modFolderNew.hide()">Speichern</a>
        </div>
      </div>
    </div>
  </span>
</div>