<div class="toolbar toolbar-sm">
  <!-- New Group -->
  <span [ngClass]="(folderData.folderLevel == 'group' && folderData.folderScope == 'global') ? 'd-inline-block' : 'd-none'">
    <pt-modal-group-new></pt-modal-group-new>
  </span>

  <!-- New Folder -->
  <span [ngClass]="(folderData.folderLevel == 'folder') ? 'd-inline-block' : 'd-none'">
    <pt-modal-folder-new></pt-modal-folder-new>
  </span>

  <!-- Edit Group -->
  <span [ngClass]="(folderData.folderLevel == 'folder' && folderData.folderScope == 'global' && folderData.folderSelected == 0) ? 'd-inline-block' : 'd-none'">
    <pt-modal-group-edit></pt-modal-group-edit>
  </span>

  <!-- Edit Folder -->
  <span [ngClass]="(folderData.folderLevel == 'folder' && folderData.folderSelected > 0) ? 'd-inline-block' : 'd-none'">
    <pt-modal-folder-edit></pt-modal-folder-edit>
  </span>

  <!-- Delete Group / Folder -->
  <span [ngClass]="((folderData.folderLevel == 'folder' && folderData.folderScope == 'global') ||
                (folderData.folderLevel == 'folder' && folderData.folderSelected > 0)) ? 'd-inline-block': 'd-none'">
      <a class="tool"
         matTooltip="{{(folderData.folderScope == 'global' && folderData.folderSelected == 0) ? 'Gruppe löschen': 'Ordner löschen'}}"
         (click)="getDeleteMessage(); modalService.confirmDelete(deleteMessage);">
        <i class="material-icons">remove</i>
    </a>
  </span>
</div>