<div class="row py-4 px-3">
  <!-- Measure -->
  <div class="col-12 col-md-6">
    <label class="mt-1 mb-1 mw-100">Maßeinheit</label>
    <ng-select [items]="['mm', 'inch']"
               class="mw-100"
               placeholder="Maßeinheit"
               notFoundText="Keine Maßeinheit gefunden"
               [searchable]="false"
               [clearable]="false"
               [(ngModel)]="defaultMeasure">
    </ng-select>
  </div>

  <!-- Mode -->
  <div class="col-12 col-md-6 mt-3 mt-md-0">
    <label class="mt-1 mb-1 mw-100">Freigabe Modus</label>
    <ng-select [items]="['Review Modul', 'Manuell']"
               class="mw-100"
               placeholder="Modus"
               notFoundText="Kein Modus gefunden!"
               [searchable]="false"
               [clearable]="false"
               [(ngModel)]="defaultReview">
    </ng-select>
  </div>

  <!-- Path to File Repository -->
  <div class="col-12 mt-3">
    <label class="mt-3 mb-1 mw-100">Pfad zum File-Repository</label>
    <mat-form-field class="mw-100">
      <input matInput placeholder="C:/"
             value="C:/Users/Administrator/IWS/IWS Daten/IWSData Repository/">
    </mat-form-field>
  </div>

  <!-- Path to Jobs Directory -->
  <div class="col-12 mt-3">
    <label class="mt-3 mb-1 mw-100">Pfad zum Jobs-Ordner</label>
    <mat-form-field class="mw-100">
      <input matInput placeholder="C:/"
             value="C:/Users/Administrator/IWS/IWS Daten/">
    </mat-form-field>
  </div>

  <!-- Delete Finished Jobs -->
  <div class="col-12 mt-3 pt-1 d-md-flex align-items-center">
    <mat-checkbox class="mt-1 mb-2 mr-3 d-block d-md-inline" [checked]="deleteFinished" [(ngModel)]="deleteFinished">Fertige Jobs löschen</mat-checkbox>
    <span class="d-flex align-items-center mt-3 mt-md-0">
      <label [class.disabled]="!deleteFinished">Lösche nach</label>
      <mat-form-field class="col-12 mw-75 maxw-75 text-center">
        <input matInput placeholder="0"
               value="3"
               [disabled]="!deleteFinished">
      </mat-form-field>
      <label [class.disabled]="!deleteFinished">Tagen</label>
    </span>
  </div>

  <!-- Low Res Preview -->
  <div class="col-12 mt-3 pt-1">
    <mat-checkbox [checked]="true">Lowres PDF für Preview verwenden</mat-checkbox>
  </div>
</div>

<div class="row py-4 px-3 bg-gray-100 border-top">
  <h6 class="col-12 mb-3 pb-2">Einstellungen für Freigabe-PDF</h6>

  <div class="col-12 mb-2 d-md-flex align-items-center">
    <span class="d-block d-md-flex align-items-center mr-4">
      <mat-form-field class="mw-80 maxw-80 text-center mr-3">
          <input matInput placeholder="0"
                 value="150">
        </mat-form-field>
        <label>Halbtöne</label>
    </span>
    <span class="d-block d-md-flex align-items-center mt-3 mt-md-0">
       <mat-form-field class="mw-80 maxw-80 text-center mr-3">
          <input matInput placeholder="0"
                 value="598">
        </mat-form-field>
        <label>Strich</label>
    </span>
  </div>
</div>
