<div class="card border-0 shadow mb-3 mg-lg-0">
  <div class="card-header bg-gray-100 py-3 d-flex align-items-center">
    <i class="material-icons pr-3">shopping_basket</i>
    <h5 class="m-0 p-0">Neue Bestellungen</h5>
  </div>

  <div class="card-body">
    <mat-table [dataSource]="dataSource" matSort class="full-width bg-transparent mat-table-pills">

      <!-- Order ID -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="cell-small pl-0 pl-md-3"> Bestell ID </mat-header-cell>
        <mat-cell *matCellDef="let element" class="cell-small pl-0 pl-md-3"> {{element.id}} </mat-cell>
      </ng-container>

      <!-- Order Name -->
      <ng-container matColumnDef="orderName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Bestellung </mat-header-cell>
        <mat-cell *matCellDef="let element" class="font-weight-medium mobile-border-bottom mobile-font-lg"> {{element.orderName}} </mat-cell>
      </ng-container>

      <!-- Deadline -->
      <ng-container matColumnDef="deadline">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Deadline </mat-header-cell>
        <mat-cell *matCellDef="let element" class="mobile-border-bottom mobile-font-lg"> {{element.deadline | date:'dd.LL.yyyy'}} </mat-cell>
      </ng-container>

      <!-- Contact -->
      <ng-container matColumnDef="contact">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Kontakt </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="d-block">
            {{demoData.getContactById(element.contact).name}}
            <a href="mailto:{{demoData.getContactById(element.contact).mail}}" class="show-underline" title="E-Mail an {{demoData.getContactById(element.contact).name}} senden">
              <i>{{demoData.getContactById(element.contact).mail}}</i>
            </a>
          </div>
        </mat-cell>
      </ng-container>

      <!-- Link -->
      <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef class="overflow-visible">
          <pt-edit-table [tableData]="listingService.orderTableColumns"></pt-edit-table>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a href="prototype/details" title="Bestellung bearbeiten" class="btn btn-link btn-icon btn-hover-primary">
            <i class="material-icons">more_horiz</i>
          </a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="bg-gray-100"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" class="no-hover"></mat-row>
    </mat-table>

    <div class="row mt-3">
      <div class="col-12 col-sm-6 text-center text-sm-left">
        <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons class="d-inline-block bg-transparent select-small hide-selection"></mat-paginator>
      </div>
      <div class="col-12 col-sm-6 text-right">
        <a href="prototype/listing" class="mt-2 mt-sm-1 d-block d-sm-inline-block btn btn-secondary px-3 px-sm-4">Alle ansehen</a>
      </div>
    </div>
  </div>
</div>