<div class="jumbotron bg-dark text-white rounded-0">
  <h1 class="font-weight-light">Impressed Workflow Server</h1>
</div>

<div class="container">
  <div class="row mx-3">
    <div class="col-12 col-md-9 col-ld-6 ml-auto mr-auto bg-white mt-3 p-4 shadow-lg">
      <h2 class="text-center mb-3 pt-5 pb-3">Auswahl:</h2>

      <div class="pb-5 px-3 text-center">
        <a routerLink="/prototype/" class="btn btn-primary d-inline-flex justify-content-center align-items-center mr-2">
          <i class="material-icons mr-2">touch_app</i>
          IWS Prototyp
        </a>
        <a href="/library/" class="btn btn-secondary text-light d-inline-flex justify-content-center align-items-center ml-2">
          <i class="material-icons mr-2">library_books</i>
          IWS UI Library
        </a>
      </div>
    </div>
  </div>
</div>
