<div class="row py-4 px-3">
  <div class="col-12">
    <!-- XML Path -->
    <label class="mt-1 mb-1 mw-100">Pfad zu Demo XMLs</label>
    <mat-form-field class="mw-100">
      <input matInput placeholder="C:/"
             value="C:/Users/Administrator/IWS/iws_gui/external elements/Testdata/XMLs/">
    </mat-form-field>

    <!-- XML Path (Switch) -->
    <label class="mt-3 mb-1 mw-100">Pfad zu XML In (Switch)</label>
    <mat-form-field class="mw-100">
      <input matInput placeholder="C:/"
             value="C:/Users/Administrator/IWS/iws_gui/switch_folders/XML In/">
    </mat-form-field>

    <!-- Insert Demo Files -->
    <a class="mt-3 btn btn-secondary btn-small text-white">Demo-Files einfügen</a>
  </div>
</div>

<div class="row py-4 px-3 bg-gray-100 border-top border-bottom">
  <div class="col-12">
    <!-- XML Path Demos w/o File Name -->
    <label class="mt-1 mb-1 mw-100">Pfad zu Demo XMLs ohne Dateiname</label>
    <mat-form-field class="mw-100">
      <input matInput placeholder="C:/"
             value="C:/Users/Administrator/IWS/iws_gui/external elements/Testdata/XMLs no File/">
    </mat-form-field>

    <!-- XML Path w/o File Name (Switch) -->
    <label class="mt-3 mb-1 mw-100">Pfad zu XML ohne Dateiname In (Switch)</label>
    <mat-form-field class="mw-100">
      <input matInput placeholder="C:/"
             value="C:/Users/Administrator/IWS/iws_gui/switch_folders/XML no File In/">
    </mat-form-field>

    <!-- Insert Demo Files -->
    <a class="mt-3 btn btn-secondary btn-small text-white">Demo-Files einfügen</a>
  </div>
</div>

<div class="row py-4 px-3">
  <div class="col-12">
    <!-- Path to Demo PDFs -->
    <label class="mt-1 mb-1 mw-100">Pfad zu Demo PDFs</label>
    <mat-form-field class="mw-100">
      <input matInput placeholder="C:/"
             value="C:/Users/Administrator/IWS/iws_gui/external elements/Testdata/XMLs no File/">
    </mat-form-field>

    <!-- Path to Demo PDFs (Switch) -->
    <label class="mt-3 mb-1 mw-100">Pfad zu Demo PDF In (Switch)</label>
    <mat-form-field class="mw-100">
      <input matInput placeholder="C:/"
             value="C:/Users/Administrator/IWS/iws_gui/switch_folders/PDF In/">
    </mat-form-field>

    <!-- Insert Demo Files -->
    <a class="mt-3 btn btn-secondary btn-small text-white">Demo-Files einfügen</a>
  </div>
</div>