<div class="card card-sidebar d-flex bg-transparent border-0">
  <div class="card-header card-header-small d-flex align-items-center justify-content-left pl-3 pr-0 py-2 bg-transparent border-0
       {{isDetails ? 'text-dark toolbar' : 'text-white'}}">
    <div class="badge badge-white badge-circle text-dark mr-3 p-2">
      <i class="material-icons">edit</i>
    </div>
    <h3 class="mb-0">Produkt bearbeiten</h3>
    <a class="nav-link tool tool-light ml-auto"
       [class.d-none]="!isDetails"
       (click)="detailsService.editProduct = false;"
       matTooltip="Abbrechen">
      <i class="material-icons">close</i>
    </a>
  </div>

  <div class="card-body pt-3 pb-0 px-0 bg-white text-dark {{isDetails ? 'mx-0 border-top' : 'mx-3 rounded-top'}}">
    <perfect-scrollbar>
      <div class="overview px-3 pb-3">
        <!-- Name -->
        <div class="row align-items-center mb-3">
          <label class="col-3 pr-0 small">Name</label>
          <mat-form-field class="col-9">
            <input matInput placeholder="Name" value="{{listingService.currentProduct.productName}}">
          </mat-form-field>
        </div>

        <!-- Copies -->
        <div class="row align-items-center mb-3">
          <label class="col-3 pr-0 small">Auflage</label>
          <mat-form-field class="col-9">
            <input matInput placeholder="in Stk." value="{{listingService.currentProduct.copies}}">
          </mat-form-field>
        </div>

        <!-- Price -->
        <div class="row align-items-center mb-3">
          <label class="col-3 pr-0 small">Preis</label>
          <mat-form-field class="col-9">
            <input matInput placeholder="€ 0.00" value="€ {{listingService.currentProduct.price}}">
          </mat-form-field>
        </div>

        <!-- Preflight Preset -->
        <div class="row align-items-center mb-3">
          <label class="col-3 pr-0 small">Preflight</label>
          <div class="col-9">
            <ng-select [items]="demoData.preflightPresets"
                       bindLabel="name"
                       bindValue="id"
                       appendTo="body"
                       placeholder="Preflight Preset auswählen"
                       notFoundText="Kein Preflight Preset gefunden!"
                       [(ngModel)]="listingService.currentProduct.preflightPreset.id">
            </ng-select>
          </div>
        </div>
      </div>

      <mat-accordion multi="true">
        <!-- Order Data -->
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header class="light border-top border-bottom" collapsedHeight="55px" expandedHeight="55px">
            <mat-panel-title class="d-flex align-items-center justify-content-between">
              Bestelldaten
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="p-3">
            <!-- Order -->
            <div class="row align-items-center mb-3">
              <label class="col-3 pr-0 small">Bestellung</label>
              <div class="col-9">
                <ng-select [items]="demoData.demoOrders"
                           bindLabel="orderName"
                           bindValue="id"
                           appendTo="body"
                           placeholder="Bestellung auswählen"
                           notFoundText="Keine Bestellung gefunden!"
                           [(ngModel)]="listingService.currentProduct.orderId">
                </ng-select>
              </div>
            </div>

            <!-- Company -->
            <div class="row align-items-center mb-3">
              <label class="col-3 pr-0 small">Firma</label>
              <div class="col-9">
                <ng-select [items]="demoData.companies"
                           bindLabel="name"
                           bindValue="id"
                           appendTo="body"
                           placeholder="Firma auswählen"
                           notFoundText="Keine Firma gefunden!"
                           [(ngModel)]="demoData.getCompanyById(listingService.activeOrder['contact']).id">
                </ng-select>
              </div>
            </div>

            <!-- Contact -->
            <div class="row align-items-center mb-3">
              <label class="col-3 pr-0 small">Kontakt</label>
              <div class="col-9">
                <ng-select [items]="demoData.contacts"
                           bindLabel="name"
                           bindValue="id"
                           appendTo="body"
                           placeholder="Person auswählen"
                           notFoundText="Keine Person gefunden!"
                           [(ngModel)]="listingService.activeOrder['contact']">
                </ng-select>
              </div>
            </div>

            <!-- Deadline -->
            <div class="row align-items-center mb-3">
              <label class="col-3 pr-0 small">Deadline</label>
              <div class="col-9">
                <input type="text"
                       placeholder="Deadline auswählen"
                       class="form-control mw-100"
                       bsDatepicker
                       [(bsValue)]="demoData.orderDeadline"
                       [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
              </div>
            </div>

            <!-- Folder -->
            <div class="row align-items-center mb-3">
              <label class="col-3 pr-0 small">Ordner</label>
              <div class="col-9">
                <ng-select [items]="folderService.allFolder"
                           bindLabel="0"
                           bindValue="0"
                           appendTo="body"
                           placeholder="Ordner auswählen"
                           notFoundText="Kein Ordner gefunden!">
                  <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                    <span class="d-flex align-items-center">
                      <i class="material-icons text-default pr-2 d-none" [ngClass]="(index+1 <= folderService.myFolder.length) ? 'd-none': 'd-block'">language</i>
                      <i class="material-icons text-default pr-2" [ngClass]="(index+1 > folderService.myFolder.length) ? 'd-none': 'd-block'">favorite_border</i>
                      {{item}}
                    </span>
                  </ng-template>
                </ng-select>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <!-- Custom Values -->
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header class="light border-top border-bottom" collapsedHeight="55px" expandedHeight="55px">
            <mat-panel-title class="d-flex align-items-center justify-content-between">
              Individuelle Werte
            </mat-panel-title>
          </mat-expansion-panel-header>

          <!-- Value List -->
          <div class="mh-181 maxh-181 overflow-y-auto bg-white">
            <ul class="list-group bg-transparent rounded-0">
              <li class="list-group-item rounded-0 border-bottom py-0 pl-3 pr-0 font-size-sm d-flex justify-content-right align-items-center"
                  *ngFor="let custom of listingService.currentProduct['custom']; let i = index;"
                  [class.bg-light]="this.selectedEntry == i">
                <span class="mr-auto d-flex flex-fill">
                  <span class="mw-50 font-weight-medium">{{demoData.getCustomValue(custom.id).name}}</span>
                  <span class="mw-50">{{demoData.getCustomValue(custom.id)['values'][custom.value-1].value}}</span>
                </span>
                <a class="btn btn-icon btn-hover-primary"><i class="material-icons">edit</i></a>
                <a class="btn btn-icon btn-hover-primary"><i class="material-icons">remove</i></a>
              </li>
            </ul>
          </div>

          <!-- Add / Edit Values -->
          <div class="bg-light d-flex p-2 border-top border-bottom">
            <mat-form-field class="mr-2">
              <input matInput placeholder="Name" [(ngModel)]="customValueName">
            </mat-form-field>
            <mat-form-field class="mr-2">
              <input matInput placeholder="Value" [(ngModel)]="customValueValue">
            </mat-form-field>
            <a class="btn btn-secondary btn-small text-white p-0 fw-38 maxh-35"><i class="material-icons pt-1">add</i></a>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </perfect-scrollbar>
  </div>

  <div class="card-footer height-auto bg-light border-top text-right rounded-bottom {{isDetails ? 'mx-0 px-3' : 'mx-3 mb-3'}}">
    <a (click)="listingService.setActiveScope(''); sidebarService.closeOverlay(); detailsService.editProduct = false;" class="btn btn-white border px-4 mr-3">Abbrechen</a>
    <a (click)="listingService.setActiveScope(''); sidebarService.closeOverlay(); detailsService.editProduct = false;" class="btn btn-primary text-white px-4">Speichern</a>
  </div>
</div>
