<!-- Button -->
<div class="dropdown">
  <span dropdown #modFolderEdit="bs-dropdown" [insideClick]="true" container="body">
    <a class="tool"
       matTooltip="Ordner bearbeiten"
       id="modFolderEdit" dropdownToggle>
      <i class="material-icons">edit</i>
    </a>

    <!-- Dropdown Content -->
      <div id="modFolderEditDropdown" *dropdownMenu (click)="data.preventClose($event)" class="dropdown-menu dropdown-mobile maxw-420" role="menu" aria-labelledby="modFolderEdit">
        <div class="card mw-420 border-0 rounded">

          <!-- Header -->
        <div class="card-header d-flex justify-content-center align-items-center">
          <span class="badge badge-light badge-circle text-dark mr-3 p-2 mr-auto">
            <i class="material-icons">folder</i>
          </span>
          <span class="flex-fill font-weight-medium text-center">Ordner bearbeiten</span>
          <span class="marker top left pointer" (click)="modFolderEdit.hide()">
            <i class="material-icons">edit</i>
          </span>
        </div>

        <div class="card-body p-0">

          <!-- Form -->
          <div class="px-3 py-3">
            <div class="row align-items-center">
              <label class="col-3">Name</label>
              <div class="col-9">
                <mat-form-field class="mw-100">
                  <input matInput
                         placeholder="{{(folderData.getFolderName('local') != 'multiple') ? 'Ordnername' : 'Mehrere ausgewählt'}}"
                         value="{{(folderData.getFolderName('local') != 'multiple') ? folderData.folderSelectedName : ''}}">
                </mat-form-field>
              </div>
            </div>

            <div class="row align-items-center pt-2">
              <div class="col-9 offset-3">
                <mat-checkbox [checked]="smartFolder" [(ngModel)]="smartFolder">Intelligenter Ordner</mat-checkbox>
              </div>
            </div>

            <div class="row align-items-center pt-2">
              <label class="col-3">Gruppe</label>
              <div class="col-9">
                <ng-select [items]="this.folder.globalFolderGroups"
                           placeholder="Ordner auswählen"
                           notFoundText="Kein Ordner gefunden!"
                           [(ngModel)]="this.folder.globalFolderGroups[0]">
              </ng-select>
              </div>

              <!-- Smart Folder -->
              <div id="smartFolderOptions" class="mw-100" [class.d-none]="smartFolder === false">
                <!-- Selected Values -->
                <div class="bg-light border-top border-bottom p-3 pb-2 my-3">
                  <span class="small pb-1"
                        [ngClass]="(!visible1 || !visible2 || !visible3) ? 'd-block' : 'd-none'">
                    Dateien anzeigen, die folgenden Kriterien entsprechen:
                  </span>
                  <span class="d-none small"
                        [ngClass]="(visible1 && visible2 && visible3) ? 'd-block' : 'd-none'">
                    <i>Keine Kriterien ausgewählt!</i>
                  </span>

                  <a class="badge badge-pill badge-dark align-items-center mr-2 mb-1"
                      (click)="visible1 = ! visible1"
                      [ngClass]="visible1 ? 'd-none' : 'd-inline-flex'">
                        Musterfirma
                    <i class="pl-2 material-icons small">close</i>
                    </a>
                  <a class="badge badge-pill badge-error align-items-center mr-2 mb-1"
                      (click)="visible2 = ! visible2"
                      [ngClass]="visible2 ? 'd-none' : 'd-inline-flex'">
                        New
                    <i class="pl-2 material-icons small">close</i>
                  </a>
                  <a class="badge badge-pill badge-light border align-items-center mr-2 mb-1"
                      (click)="visible3 = ! visible3"
                      [ngClass]="visible3 ? 'd-none' : 'd-inline-flex'">
                    Custom 01: auto
                    <i class="pl-2 material-icons small">close</i>
                  </a>
                </div>

                <!-- Options -->
                <div class="row align-items-center px-3">
                  <label class="col-4">Kunde ist</label>
                  <div class="col-8">
                    <ng-select [items]="demoData.companies"
                               bindLabel="name"
                               bindValue="id"
                               placeholder="Kunde auswählen"
                               notFoundText="Keine Übereinstimmung gefunden!"
                               [(ngModel)]="demoData.companies[0].id">
                    </ng-select>
                  </div>
                </div>

                <div class="row align-items-center px-3 pt-3">
                  <label class="col-4">Deadline</label>
                  <div class="col-8">
                    <input type="text"
                           placeholder="Deadline auswählen"
                           class="form-control mw-100"
                           bsDatepicker
                           [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                           (onShown)="modalService.preventAutoClose(modFolder, false)"
                           (onHidden)="modalService.preventAutoClose(modFolder, true)"
                    >
                  </div>
                </div>

                <div class="row align-items-center px-3 pt-3">
                  <label class="col-4 pb-1">Status</label>
                  <div class="col-8">
                    <ng-select [items]="demoData.statusRange"
                               bindLabel="statusName"
                               bindValue="statusId"
                               placeholder="Status auswählen"
                               notFoundText="Status nicht gefunden!"
                               [(ngModel)]="demoData.statusRange[0].statusId">
                    </ng-select>
                  </div>
                </div>

                 <div class="row align-items-center px-3 pt-3">
                  <label class="col-4 pb-1 pr-0">Workflow-Gruppe</label>
                  <div class="col-8">
                    <ng-select [items]="demoData.workflows"
                               bindLabel="name"
                               bindValue="id"
                               placeholder="{{(folderData.getFolderName('local') != 'multiple') ? 'Workflow auswählen' : 'Mehrere ausgewählt'}}"
                               notFoundText="Kein Workflow gefunden!">
                    </ng-select>
                  </div>
                </div>

                <div class="row align-items-center px-3 pt-3">
                  <label class="col-4 pb-1">{{demoData.customValues[0].name}}</label>
                  <div class="col-8">
                    <ng-select [items]="demoData.customValues[0].values"
                               bindLabel="value"
                               bindValue="id"
                               placeholder="Wert auswählen"
                               notFoundText="Keine Übereinstimmung gefunden!"
                               [(ngModel)]="demoData.customValues[0].id">
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Cancel / Save -->
        <div class="card-footer bg-light border-top text-right rounded-bottom px-0">
           <span class="pb-2 mb-2 border-bottom text-left pl-3 align-items-center"
                 [ngClass]="(folderData.folderScope == 'global') ? 'd-flex' : 'd-none'">
            <span class="text-danger"><i class="material-icons">warning</i></span>
            <span class="small pl-3">Diese Änderungen werden für alle Benutzer übernommen!</span>
          </span>
          <a class="btn btn-white border px-4 mt-1 mr-3" (click)="modFolderEdit.hide()">Abbrechen</a>
          <a class="btn btn-primary text-white px-4 mt-1 mr-2" (click)="modFolderEdit.hide()">Speichern</a>
        </div>
      </div>
    </div>
  </span>
</div>