<div class="card m-3 shadow-sm border-0 rounded-0">
  <!-- Header -->
  <div class="card-header p-4 bg-gray-100">
    <h2 class="font-size-xl mb-1">Selects</h2>
    <p class="text-default mb-0">see <a href="https://ng-select.github.io/ng-select#/data-sources" target="_blank">ng-select</a></p>
  </div>

  <div class="card-body">
    <!-- Selects -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0">
      <h3 class="mb-0">Select Default</h3>
    </div>

    <div class="border border-light p-3">
      <ng-select [items]="exampleSelect"
                 bindLabel="name"
                 bindValue="id"
                 placeholder="Element auswählen"
                 notFoundText="Kein Element gefunden!"
                 [searchable]="false"
                 [clearable]="false"
                 [(ngModel)]="exampleSelect[0].id">
      </ng-select>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#select')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="select" class="d-none" ngNonBindable>
 <ng-select [items]="exampleSelect"
      bindLabel="name"
      bindValue="id"
      placeholder="Element auswählen"
      notFoundText="Kein Element gefunden!"
      [searchable]="false"
      [clearable]="false"
      [(ngModel)]="exampleSelect[0].id">
</ng-select>
      </textarea>

      <pre class="m-0 pt-3 px-3">
<code ngNonBindable>&lt;ng-select [items]="exampleSelect"
            bindLabel="name"
            bindValue="id"
            placeholder="Element auswählen"
            notFoundText="Kein Element gefunden!"
            [searchable]="false"
            [clearable]="false"
            [(ngModel)]="exampleSelect[0].id"&gt;
&lt;/ng-select&gt;</code>
      </pre>
    </div>

    <!-- Selects Searchable -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0 mt-5">
      <h3 class="mb-0">Select Searchable</h3>
    </div>

    <div class="border border-light p-3">
      <ng-select [items]="exampleSelect2"
                 bindLabel="name"
                 bindValue="id"
                 placeholder="Element auswählen"
                 notFoundText="Kein Element gefunden!"
                 [(ngModel)]="exampleSelect2[0].id">
      </ng-select>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#selectSearch')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="selectSearch" class="d-none" ngNonBindable>
<ng-select [items]="exampleSelect2"
      bindLabel="name"
      bindValue="id"
      placeholder="Element auswählen"
      notFoundText="Kein Element gefunden!"
      [(ngModel)]="exampleSelect2[0].id">
</ng-select>
      </textarea>

      <pre class="m-0 pt-3 px-3">
<code ngNonBindable>&lt;ng-select [items]="exampleSelect2"
           bindLabel="name"
           bindValue="id"
           placeholder="Element auswählen"
           notFoundText="Kein Element gefunden!"
           [(ngModel)]="exampleSelect2[0].id"&gt;
&lt;/ng-select&gt;</code>
      </pre>
    </div>
  </div>
</div>