<div class="card card-sidebar bg-transparent border-0" [ngClass]="(demoData.showPreflight == true) ? 'd-none' : 'd-flex'">
  <div class="card-header d-flex align-items-center justify-content-between p-3 bg-transparent text-white border-0">
    <div>
      <h3 class="mb-0">{{listingService.currentOrder.orderName}}</h3>
      <small>{{listingService.currentOrder.id}}</small>
    </div>
    <span class="badge badge-{{listingService.currentOrder.orderStatus}} px-3 mw-25">{{demoData.getStatusName(listingService.currentOrder.orderStatus)}}</span>
  </div>

  <div class="card-body py-0 px-3 bg-transparent text-white">
    <perfect-scrollbar>
      <!-- Product -->
      <mat-expansion-panel class="rounded" expanded="true" [@.disabled]="true"
                           *ngFor="let product of listingService.currentProducts; let i = index; let first = first;"
                           [expanded]="(product.id == listingService.currentProduct.id ? true : false)">
        <mat-expansion-panel-header class="level-1" collapsedHeight="55px" expandedHeight="55px">
          <mat-panel-title class="d-flex align-items-center justify-content-right">
            <span class="font-size-md mr-auto">{{product.productName}}</span>
            <span>
              <span class="badge badge-marker badge-small badge-{{product.productStatus}} ml-2">{{demoData.getStatusName(product.productStatus)}}</span>
            </span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <!-- File -->
          <mat-accordion multi="true" [@.disabled]="true">
            <mat-expansion-panel
                    *ngFor="let file of listingService.activeFiles; let x = index; let first = first;"
                    [expanded]="(file.id == listingService.currentFile.id ? true : false)">
              <mat-expansion-panel-header class="light border-bottom" collapsedHeight="55px" expandedHeight="55px">
                <mat-panel-title class="d-flex align-items-center justify-content-right">
                  <span class="mr-auto font-size-md">{{file.fileName}}</span>
                  <span>
                  <span class="badge badge-marker badge-small badge-{{file.fileStatus}} ml-2">{{demoData.getStatusName(file.fileStatus)}}</span>
                  </span>
                  <i class="material-icons" matTooltip="Druckbogen" [class.d-none]="file.fileType == 1">apps</i>
                  <i class="material-icons" matTooltip="PDF" [class.d-none]="file.fileType == 2">picture_as_pdf</i>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <ng-template matExpansionPanelContent>
                <!-- Preview Content -->
                <div class="p-3">
                  <div class="img-thumbnail p-1 border text-center rounded-0">
                    <img src="assets/images/dummy-images/{{file.preview}}" class="mw-100" height="250px" alt="{{file.fileName}}">
                  </div>

                  <pagination [boundaryLinks]="true"
                              [totalItems]="file.pages"
                              [itemsPerPage]="1"
                              [maxSize]="8"
                              previousText="<i class='material-icons'>keyboard_arrow_left</i>"
                              nextText="<i class='material-icons'>keyboard_arrow_right</i>"
                              firstText="<i class='material-icons'>first_page</i>"
                              lastText="<i class='material-icons'>last_page</i>"
                              class="mb-0 mt-3">
                  </pagination>
                </div>
                <div class="px-3 py-2 d-flex align-items-center justify-content-start bg-gray-100 border-top">
                  <strong class="mw-25">Auflage</strong>
                  <span>{{file.copies}} Stk.</span>
                </div>
                <div class="px-3 py-2 d-flex align-items-center justify-content-start bg-gray-100 border-top">
                  <strong class="mw-25">Endformat</strong>
                  <span>{{file.width}} x {{file.height}} mm</span>
                </div>

                <!-- Tools + Editor -->
                <div class="toolbar d-flex p-2 border-top ng-star-inserted align-items-center">
                  <a class="tool mx-0" matTooltip="Datei per E-Mail versenden">
                    <i class="material-icons">mail</i>
                  </a>
                  <a class="tool mx-0" (click)="demoData.showPreflight = true;" matTooltip="Preflight Report">
                    <i class="material-icons">assignment</i>
                  </a>
                  <a href="prototype/details" class="btn btn-primary ml-auto text-white">
                    Im Editor öffnen
                  </a>
                </div>
              </ng-template>

            </mat-expansion-panel>
          </mat-accordion>
        </ng-template>
      </mat-expansion-panel>
    </perfect-scrollbar>
  </div>
</div>
