<header class="main-header">
  <pt-navigation></pt-navigation>
  <pt-toolbar></pt-toolbar>
</header>

<section class="main-content">
  <div class="inner">
    <mat-sidenav-container hasBackdrop="{{sidebarService.hasBackdrop}}" class="bg-light">
      <!-- Sidebar: Groups, Companies & Contacts -->
      <mat-sidenav #sidenav [opened]="sidebarService.showSidebar" (closed)="sidebarService.showSidebar" mode="{{sidebarService.sidebarMode}}" class="large">
        <div class="h-100 d-flex align-items-stretch overflow-x-hidden">

          <!-- Groups & Companies -->
          <div class="left-content mw-420 maxw-420 bg-light mat-sidenav-shadow border-right z-index-10" [class.hide]="!this.contactData.hideMobileContacts">
            <pt-list-companies></pt-list-companies>
          </div>

          <!-- Contacts -->
          <div class="right-content mw-420 maxw-420" [class.show]="!this.contactData.hideMobileContacts">
            <pt-list-contacts></pt-list-contacts>
          </div>
        </div>
      </mat-sidenav>

      <!-- Content -->
      <mat-sidenav-content>
        <pt-new-contact [class.d-none]="!contactData.showContactForm"></pt-new-contact>
        <pt-company-details [class.d-none]="!contactData.showCompanyForm"></pt-company-details>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</section>
