<div class="card m-3 shadow-sm border-0 rounded-0">
  <!-- Header -->
  <div class="card-header p-4 bg-gray-100">
    <h2 class="font-size-xl mb-1">Tabs</h2>
    <p class="text-default mb-0">see <a href="https://material.angular.io/components/tabs/overview" target="_blank">Material Tabs</a></p>
  </div>

  <div class="card-body">
    <!-- Tabs Default -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0">
      <h3 class="mb-0">Tabs</h3>
    </div>

    <div class="border border-light p-3">
      <mat-tab-group
              animationDuration="0ms"
              class="bg-light spacing-default header-white border border-light">
        <mat-tab>
          <ng-template mat-tab-label>
            <i class="material-icons icon no-space-xs">description</i>
            <span class="d-none d-sm-inline">Tab 01</span>
          </ng-template>
          <div class="p-3">Content 01</div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <i class="material-icons icon no-space-xs">book</i>
            <span class="d-none d-sm-inline">Tab 02</span>
          </ng-template>
          <div class="p-3">Content 02</div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <i class="material-icons icon no-space-xs">build</i>
            <span class="d-none d-sm-inline">Tab 03</span>
          </ng-template>
          <div class="p-3">Content 03</div>
        </mat-tab>
      </mat-tab-group>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#tabs')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="tabs" class="d-none" ngNonBindable>
<mat-tab-group
        animationDuration="0ms"
        class="bg-light spacing-default header-white border border-light">
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="material-icons icon no-space-xs">description</i>
      <span class="d-none d-sm-inline">Tab 01</span>
    </ng-template>
    <div class="p-3">Content 01</div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <i class="material-icons icon no-space-xs">book</i>
      <span class="d-none d-sm-inline">Tab 02</span>
    </ng-template>
    <div class="p-3">Content 02</div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <i class="material-icons icon no-space-xs">build</i>
      <span class="d-none d-sm-inline">Tab 03</span>
    </ng-template>
    <div class="p-3">Content 03</div>
  </mat-tab>
</mat-tab-group>
</textarea>

      <pre class="m-0 pt-3 px-3">
<code ngNonBindable>&lt;mat-tab-group
  animationDuration="0ms"
  class="bg-light spacing-default header-white border border-light"&gt;
  &lt;mat-tab&gt;
    &lt;ng-template mat-tab-label&gt;
      &lt;i class="material-icons icon no-space-xs"&gt;description&lt;/i&gt;
      &lt;span class="d-none d-sm-inline"&gt;Tab 01&lt;/span&gt;
    &lt;/ng-template&gt;
    &lt;div class="p-3"&gt;Content 01&lt;/div&gt;
  &lt;/mat-tab&gt;

  &lt;mat-tab&gt;
    &lt;ng-template mat-tab-label&gt;
      &lt;i class="material-icons icon no-space-xs"&gt;book&lt;/i&gt;
      &lt;span class="d-none d-sm-inline"&gt;Tab 02&lt;/span&gt;
    &lt;/ng-template&gt;
    &lt;div class="p-3"&gt;Content 02&lt;/div&gt;
  &lt;/mat-tab&gt;

  &lt;mat-tab&gt;
    &lt;ng-template mat-tab-label&gt;
      &lt;i class="material-icons icon no-space-xs"&gt;build&lt;/i&gt;
      &lt;span class="d-none d-sm-inline"&gt;Tab 03&lt;/span&gt;
    &lt;/ng-template&gt;
    &lt;div class="p-3"&gt;Content 03&lt;/div&gt;
  &lt;/mat-tab&gt;
&lt;/mat-tab-group&gt;</code>
      </pre>
    </div>

    <!-- Tabs Small -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0 mt-5">
      <h3 class="mb-0">Tabs Small</h3>
    </div>

    <div class="border border-light p-3">
      <mat-tab-group
              animationDuration="0ms"
              class="bg-white spacing-default header-white border border-light mat-tab-group-sm">
        <mat-tab>
          <ng-template mat-tab-label>
            <i class="material-icons icon no-space-xs">description</i>
            <span class="d-none d-sm-inline">Tab 01</span>
          </ng-template>
          <div class="p-3">Content 01</div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <i class="material-icons icon no-space-xs">book</i>
            <span class="d-none d-sm-inline">Tab 02</span>
          </ng-template>
          <div class="p-3">Content 02</div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <i class="material-icons icon no-space-xs">build</i>
            <span class="d-none d-sm-inline">Tab 03</span>
          </ng-template>
          <div class="p-3">Content 03</div>
        </mat-tab>
      </mat-tab-group>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#tabsSmall')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="tabsSmall" class="d-none" ngNonBindable>
<mat-tab-group
        animationDuration="0ms"
        class="bg-white spacing-default header-white border border-light mat-tab-group-sm">
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="material-icons icon no-space-xs">description</i>
      <span class="d-none d-sm-inline">Tab 01</span>
    </ng-template>
    <div class="p-3">Content 01</div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <i class="material-icons icon no-space-xs">book</i>
      <span class="d-none d-sm-inline">Tab 02</span>
    </ng-template>
    <div class="p-3">Content 02</div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <i class="material-icons icon no-space-xs">build</i>
      <span class="d-none d-sm-inline">Tab 03</span>
    </ng-template>
    <div class="p-3">Content 03</div>
  </mat-tab>
</mat-tab-group>
</textarea>

      <pre class="m-0 pt-3 px-3">
<code ngNonBindable>&lt;mat-tab-group
  animationDuration="0ms"
  class="bg-white spacing-default header-white border border-light mat-tab-group-sm"&gt;
  &lt;mat-tab&gt;
    &lt;ng-template mat-tab-label&gt;
      &lt;i class="material-icons icon no-space-xs"&gt;description&lt;/i&gt;
      &lt;span class="d-none d-sm-inline"&gt;Tab 01&lt;/span&gt;
    &lt;/ng-template&gt;
    &lt;div class="p-3"&gt;Content 01&lt;/div&gt;
  &lt;/mat-tab&gt;

  &lt;mat-tab&gt;
    &lt;ng-template mat-tab-label&gt;
      &lt;i class="material-icons icon no-space-xs"&gt;book&lt;/i&gt;
      &lt;span class="d-none d-sm-inline"&gt;Tab 02&lt;/span&gt;
    &lt;/ng-template&gt;
    &lt;div class="p-3"&gt;Content 02&lt;/div&gt;
  &lt;/mat-tab&gt;

  &lt;mat-tab&gt;
    &lt;ng-template mat-tab-label&gt;
      &lt;i class="material-icons icon no-space-xs"&gt;build&lt;/i&gt;
      &lt;span class="d-none d-sm-inline"&gt;Tab 03&lt;/span&gt;
    &lt;/ng-template&gt;
    &lt;div class="p-3"&gt;Content 03&lt;/div&gt;
  &lt;/mat-tab&gt;
&lt;/mat-tab-group&gt;</code>
      </pre>
    </div>

    <!-- Tabs Vertical -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0 mt-5">
      <h3 class="mb-0">Tabs Vertical</h3>
    </div>

    <div class="border border-light p-3">
      <div class="tabs tabs-vertical centered z-index-10">
        <div class="d-flex border border-light">
          <mat-action-list class="pt-0 bg-gray-100 h-100 mw-75 maxw-75 border-right">
            <a mat-list-item
               *ngFor="let tab of tabsVertical; let i = index;"
               class="py-3 d-inline-flex align-items-center border-top border-light"
               matTooltip="{{tab.name}}"
               [class.active]="tab.active"
               (click)="showTabContent(i, 'tabsVertical')">
              <i class="material-icons icon">{{tab.icon}}</i>
            </a>
          </mat-action-list>
          <div class="tabs-content bg-light p-3 flex-fill">
            <div *ngFor="let content of tabsVertical" [class.d-none]="!content.active">
              Content {{content.name}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#tabsVert')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="tabsVert" class="d-none" ngNonBindable>
<div class="tabs tabs-vertical centered z-index-10">
  <div class="d-flex border border-light">
    <mat-action-list class="pt-0 bg-gray-100 h-100 mw-75 maxw-75 border-right">
      <a mat-list-item
         *ngFor="let tab of tabsVertical; let i = index;"
         class="py-3 d-inline-flex align-items-center border-top border-light"
         matTooltip="{{tab.name}}"
         [class.active]="tab.active"
         (click)="showTabContent(i, 'tabsVertical')">
        <i class="material-icons icon">{{tab.icon}}</i>
      </a>
    </mat-action-list>
    <div class="tabs-content bg-light p-3 flex-fill">
      <div *ngFor="let content of tabsVertical" [class.d-none]="!content.active">
        Content {{content.name}}
      </div>
    </div>
  </div>
</div>
</textarea>

      <pre class="m-0 pt-3 px-3">
<code ngNonBindable>&lt;div class="tabs tabs-vertical centered z-index-10"&gt;
  &lt;div class="d-flex border border-light"&gt;
    &lt;mat-action-list class="pt-0 bg-gray-100 h-100 mw-75 maxw-75 border-right"&gt;
      &lt;a mat-list-item
         *ngFor="let tab of tabsVertical; let i = index;"
         class="py-3 d-inline-flex align-items-center border-top border-light"
         matTooltip="{{tab.name}}"
         [class.active]="tab.active"
         (click)="showTabContent(i, 'tabsVertical')"&gt;
        &lt;i class="material-icons icon"&gt;{{tab.icon}}&lt;/i&gt;
      &lt;/a&gt;
    &lt;/mat-action-list&gt;
    &lt;div class="tabs-content bg-light p-3 flex-fill"&gt;
      &lt;div *ngFor="let content of tabsVertical" [class.d-none]="!content.active"&gt;
        Content {{content.name}}
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code>
      </pre>
    </div>

    <!-- Tabs Vertical w/ Text -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0 mt-5">
      <h3 class="mb-0">Tabs Vertical w/ Text</h3>
    </div>

    <div class="border border-light p-3">
      <div class="tabs tabs-vertical centered z-index-10">
        <div class="d-flex border border-light">
          <mat-action-list class="pt-0 bg-gray-100 h-100 mw-210 maxw-210 border-right">
            <a *ngFor="let tab of tabsVertical2; let i = index;"
               class="w-100 px-3 py-3 d-inline-flex align-items-center"
               [class.active]="tab.active"
               (click)="showTabContent(i)">
              <i class="material-icons icon no-space-xs mr-sm-3">{{tab.icon}}</i>
              <span class="d-inline">Produkte</span>
            </a>
          </mat-action-list>
          <div class="tabs-content bg-light p-3 flex-fill">
            <div *ngFor="let content of tabsVertical2" [class.d-none]="!content.active">
              Content {{content.name}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#tabsVertText')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="tabsVertText" class="d-none" ngNonBindable>
<div class="tabs tabs-vertical centered z-index-10">
  <div class="d-flex border border-light">
    <mat-action-list class="pt-0 bg-gray-100 h-100 mw-210 maxw-210 border-right">
      <a *ngFor="let tab of tabsVertical2; let i = index;"
         class="w-100 px-3 py-3 d-inline-flex align-items-center"
         [class.active]="tab.active"
         (click)="showTabContent(i)">
        <i class="material-icons icon no-space-xs mr-sm-3">{{tab.icon}}</i>
        <span class="d-inline">Produkte</span>
      </a>
    </mat-action-list>
    <div class="tabs-content bg-light p-3 flex-fill">
      <div *ngFor="let content of tabsVertical2" [class.d-none]="!content.active">
        Content {{content.name}}
      </div>
    </div>
  </div>
</div>
</textarea>

      <pre class="m-0 pt-3 px-3">
<code ngNonBindable>&lt;div class="tabs tabs-vertical centered z-index-10"&gt;
  &lt;div class="d-flex border border-light"&gt;
    &lt;mat-action-list class="pt-0 bg-gray-100 h-100 mw-210 maxw-210 border-right"&gt;
      &lt;a *ngFor="let tab of tabsVertical2; let i = index;"
         class="w-100 px-3 py-3 d-inline-flex align-items-center"
         [class.active]="tab.active"
         (click)="showTabContent(i)"&gt;
        &lt;i class="material-icons icon no-space-xs mr-sm-3"&gt;{{tab.icon}}&lt;/i&gt;
        &lt;span class="d-inline"&gt;Produkte&lt;/span&gt;
      &lt;/a&gt;
    &lt;/mat-action-list&gt;
    &lt;div class="tabs-content bg-light p-3 flex-fill"&gt;
      &lt;div *ngFor="let content of tabsVertical2" [class.d-none]="!content.active"&gt;
        Content {{content.name}}
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code>
      </pre>
    </div>
  </div>
</div>