<div class="card maxw-465 rounded shadow is-centered">
  <div class="card-header px-4">
    <h2 class="mt-3">Passwort vergessen</h2>
    <p class="text-default mb-2">Bitte geben Sie Ihre E-Mail-Adresse an und klicken anschließend auf „Neues Passwort anfordern“.</p>
  </div>

  <div class="card-body px-4">
    <div class="row py-3">
      <label class="col-12">Ihre E-Mail-Adresse</label>
      <mat-form-field class="col-12">
        <input matInput placeholder="E-Mail-Adresse" value="" [formControl]="loginService.email" required>
        <mat-error *ngIf="loginService.email.invalid">{{loginService.getEmailError()}}</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="card-footer height-auto p-4 bg-light border-top rounded-bottom">
    <a class="btn btn-primary text-white w-100" (click)="loginService.forgotPwd = false; loginService.sendPwd = true;">Neues Passwort anfordern</a>
  </div>
</div>