<div class="card card-sidebar d-flex flex-colum bg-transparent">
  <div class="card-header d-flex flex-row align-items-center justify-content-left bg-transparent border-bottom-0">
    <span class="badge badge-white badge-circle text-dark mr-3 p-2">
          <i class="material-icons">build</i>
    </span>
    <h3 class="mb-0">Werkzeuge</h3>
  </div>

  <div class="card-body p-0">
    <perfect-scrollbar>
      <!-- Pages & Sizes -->
      <mat-expansion-panel [expanded]="true" class="pb-1 border-top">
        <mat-expansion-panel-header class="light border-bottom" collapsedHeight="55px" expandedHeight="55px">
          <mat-panel-title class="d-flex align-items-center justify-content-between">
              <span class="d-inline-flex align-items-center font-size-l">
                Seiten & Maße
              </span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <!-- Single Button Tools -->
        <div class="row align-items-center py-3 px-3">
          <div class="col-6 pr-1">
            <a class="btn btn-light border btn-block">
              <small class="font-weight-medium">Beschnitt ergänzen</small>
            </a>
            <a class="btn btn-light border btn-block">
              <small class="font-weight-medium">Doppelseiten teilen</small>
            </a>
          </div>
          <div class="col-6 pl-1">
            <a class="btn btn-light border btn-block">
              <small class="font-weight-medium">Leere Seiten löschen</small>
            </a>
            <a class="btn btn-light border btn-block">
              <small class="font-weight-medium">Seiten auf Jobgröße skalieren</small>
            </a>
          </div>
        </div>

        <!-- Change Format -->
        <div class="row align-items-center py-2 px-3 border-top">
          <label class="col-4 small">Endformat auf</label>
          <div class="col-8 d-flex align-items-center justify-content-left">
            <mat-form-field class="input-xs text-center">
              <input matInput placeholder="in mm" value="{{listingService.currentFile.width}} mm">
            </mat-form-field>
            <span class="text-center px-3">x</span>
            <label>Höhe</label>
            <mat-form-field class="input-xs text-center">
              <input matInput placeholder="in mm" value="{{listingService.currentFile.height}} mm">
            </mat-form-field>
          </div>
        </div>

        <!-- Cutting -->
        <div class="row align-items-center py-2 px-3 border-top">
          <label class="col-12 mb-1 mt-1">Stanzkontur-PDF erzeugen aus</label>
          <div class="col-12 d-inline-flex justify-content-right">
            <ng-select [items]="demoData.productTypes"
                       class="col-10 px-0"
                       bindLabel="product"
                       bindValue="id"
                       appendTo="body"
                       placeholder="Stanzkontur auswählen"
                       notFoundText="Keine Stanzkontur gefunden!"
                       [(ngModel)]="demoData.productTypes[0].id">
            </ng-select>
            <div class="col-2 pr-1 mb-1">
              <a class="btn btn-dark btn-small text-white float-right"><small>OK</small></a>
            </div>
          </div>
        </div>

        <!-- Generate PDF from Page -->
        <div class="row align-items-center py-2 px-3 border-top">
          <div class="col-12 d-flex align-items-center justify-content-left">
            <label>PDF erzeugen aus Seite</label>
            <span class="ml-auto d-inline-flex justify-content-right mr-1">
              <mat-form-field class="input-xs text-center mr-2">
                <input matInput placeholder="0" value="1">
              </mat-form-field>
              <a class="btn btn-dark btn-small text-white"><small>OK</small></a>
            </span>
          </div>
        </div>
      </mat-expansion-panel>

      <!-- Color Corrections -->
      <mat-expansion-panel [expanded]="true" class="border-top">
        <mat-expansion-panel-header class="light border-bottom" collapsedHeight="55px" expandedHeight="55px">
          <mat-panel-title class="d-flex align-items-center justify-content-between">
              <span class="d-inline-flex align-items-center font-size-l">
                Farbkorrekturen
              </span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <!-- Single Button Tools -->
        <div class="row align-items-center py-3 px-3">
          <div class="col-6 pr-1">
            <a class="btn btn-light border btn-block">
              <small class="font-weight-medium">RGB zu CMYK</small>
            </a>
          </div>
          <div class="col-6 pl-1">
            <a class="btn btn-light border btn-block">
              <small class="font-weight-medium">Sonderfarben zu CMYK</small>
            </a>
          </div>
          <div class="col-12 pt-2">
            <a class="btn btn-light border btn-block">
              <small class="font-weight-medium">Reduziere TAC auf 330%</small>
            </a>
          </div>
        </div>

        <!-- Transform Color Profile -->
        <div class="row align-items-center py-2 px-3 border-top">
          <label class="col-12 mb-1 mt-1">Umwandeln nach</label>
          <div class="col-12 d-inline-flex justify-content-right">
            <ng-select [items]="demoData.colorProfiles"
                       class="col-10 px-0"
                       bindLabel="name"
                       bindValue="id"
                       appendTo="body"
                       placeholder="Farbprofil auswählen"
                       notFoundText="Kein Farbprofil gefunden!"
                       [(ngModel)]="demoData.colorProfiles[0].id">
            </ng-select>
            <div class="col-2 pr-1 mb-1">
              <a class="btn btn-dark btn-small text-white float-right"><small>OK</small></a>
            </div>
          </div>
        </div>

        <!-- Convert to Grayscale -->
        <div class="row align-items-center py-2 px-3 border-top border-bottom">
          <div class="col-12 d-flex align-items-center justify-content-left">
            <label>In Graustufen umwandeln</label>
            <span class="ml-auto d-inline-flex justify-content-right mr-1">
             <ng-select [items]="demoData.greyScales"
                        class="input-xs text-center"
                        appendTo="body"
                        placeholder="Anzahl der Graustufen"
                        notFoundText="Keine Graustufen gefunden!"
                        [searchable]="false"
                        [clearable]="false"
                        [(ngModel)]="demoData.greyScales[0]">
            </ng-select>
              <a class="btn btn-dark btn-small text-white ml-3"><small>OK</small></a>
            </span>
          </div>
        </div>
      </mat-expansion-panel>
    </perfect-scrollbar>
  </div>

  <div class="card-footer height-auto bg-transparent border-0 px-0 mx-3 mb-1 text-right">
    <a class="btn btn-primary text-white btn-block px-4">Daten austauschen</a>
  </div>
</div>