<div class="thumbnail-container bg-white position-absolute left bottom w-100 d-lg-flex p-3">

  <!-- Thumbnails -->
  <div class="flex-fill overflow-x-auto">
    <div cdkDropListGroup  class="thumbnail-wrapper position-relative" #thumbnailWrapper>
      <perfect-scrollbar class="show-scrollbar">
        <div cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="detailsService.drop($event)">
          <!-- Thumbnail Tools -->
          <div class="thumbnail-overlay rounded position-absolute text-white" [ngStyle]="detailsService.toolPosition">
            <a class="btn btn-hover-primary" matTooltip="Seiten verbinden"
               (click)="detailsService.connectThumbs()"
               [class.d-none]="!detailsService.showLockTool">
              <i class="material-icons">lock</i>
            </a>
            <a class="btn btn-hover-primary" matTooltip="Seiten trennen"
               (click)="detailsService.separateThumbs()"
               [class.d-none]="!detailsService.showUnlockTool">
              <i class="material-icons">lock_open</i>
            </a>
            <a class="btn btn-hover-primary" matTooltip="Seite löschen"
               (click)="detailsService.deleteThumb()"
               [class.d-none]="!detailsService.showDeleteTool">
              <i class="material-icons">remove</i>
            </a>
          </div>

          <!-- Thumbnail Output -->
          <div class="thumbnail-row">
            <div class=" thumbnail-item mw-135 maxw-135"
                 cdkDrag
                 *ngFor="let thumb of detailsService.thumbnails | slice:0:detailsService.thumbsPerRow; let i = index;"
                 [class.active]="thumb.show">
              <div class="thumbnail-placeholder" *cdkDragPlaceholder></div>
              <div class="thumbnail-image mw-115 maxw-115 mh-115 maxh-115 border border-light text-center overflow-hidden position-relative">
                <div class="position-absolute top right">
                  <mat-checkbox [checked]="thumb.selected" [(ngModel)]="thumb.selected"
                                (change)="detailsService.checkConnection(); details.calcToolPosition(i)"
                                class="checkbox-bg-white"></mat-checkbox>
                </div>
                <img (click)="detailsService.thumbShow(i)" src="assets/images/dummy-images/{{thumb.path}}" class="maxh-115 img-thumbnail p-0 border-0 rounded-0" alt="{{thumb.path}}">
              </div>

              <div (click)="detailsService.thumbShow(i)" class="thumbnail-page text-center font-weight-medium font-size-sm"
                   [ngClass]="{'bg-light border-top border-bottom connect-right': thumb.connect,
                               'rounded-left-lg border-left': !detailsService.thumbPrevIsConnected(i) && thumb.connect,
                               'rounded-right-lg border-right connect-left': !detailsService.thumbNextIsConnected(i) && thumb.connect}">
                  {{thumb.page}}
              </div>
            </div>
          </div>
        </div>
        <div cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="detailsService.drop($event)">
          <div class="thumbnail-row">
            <div class=" thumbnail-item mw-135 maxw-135"
                 cdkDrag
                 *ngFor="let thumb of detailsService.thumbnails | slice:detailsService.thumbsPerRow; let i = index;"
                 [class.active]="thumb.show">
              <div class="thumbnail-placeholder" *cdkDragPlaceholder></div>
              <div class="thumbnail-image mw-115 maxw-115 mh-115 maxh-115 border border-light text-center overflow-hidden position-relative">
                <div class="position-absolute top right">
                  <mat-checkbox [checked]="thumb.selected" [(ngModel)]="thumb.selected"
                                (change)="detailsService.checkConnection(); details.calcToolPosition(i + detailsService.thumbsPerRow)"
                                class="checkbox-bg-white"></mat-checkbox>
                </div>
                <img (click)="detailsService.thumbShow(i + detailsService.thumbsPerRow)" src="assets/images/dummy-images/{{thumb.path}}" class="maxh-115 img-thumbnail p-0 border-0 rounded-0" alt="{{thumb.path}}">
              </div>

              <div (click)="detailsService.thumbShow(i + detailsService.thumbsPerRow)" class="thumbnail-page text-center font-weight-medium font-size-sm"
                   [ngClass]="{'bg-light border-top border-bottom connect-right': thumb.connect,
                               'rounded-left-lg border-left': !detailsService.thumbPrevIsConnected(i + detailsService.thumbsPerRow) && thumb.connect,
                               'rounded-right-lg border-right connect-left': !detailsService.thumbNextIsConnected(i + detailsService.thumbsPerRow) && thumb.connect}">
                {{thumb.page}}
              </div>
            </div>
          </div>
        </div>
      </perfect-scrollbar>
    </div>
  </div>

  <!-- Dropzone -->
  <div class="dropzone">
    <ngx-dropzone [multiple]="true" [label]="'Datei hinzufügen'" class="h-100"></ngx-dropzone>
  </div>

</div>