<nav class="navbar toolbar navbar-expand-md bg-white">
    <div class="navbar-nav" [ngSwitch]="listingService.activePage">
        <div class="nav-item"
             [ngClass]="[!sidebar.hasSidebar || !demoData.tools[10].show ? 'd-none': '', demoData.tools[10].disabled ? 'disabled' : '']">
            <a class="nav-link tool sidebar" matTooltip="Sidebar ein-/ausblenden"
               (click)="sidebar.toggleSidebar()"
               [ngClass]="{'is-active': sidebar.showSidebar}">
                <i class="material-icons">folder</i>
            </a>
        </div>

        <div class="nav-item" [class.d-none]="!demoData.tools[9].show">
            <a class="nav-link tool sidebar"
               matTooltip="zurück zur Übersicht"
               href="prototype/listing">
                <i class="material-icons">home</i>
            </a>
        </div>

        <div class="nav-item" [class.d-none]="!demoData.tools[0].show">
            <a class="nav-link tool"
               matTooltip="Neu"
               [ngClass]="[listingService.activeScope == 'new' ? 'active' : '', demoData.tools[0].disabled ? 'disabled' : '']"
               (click)="listingService.setActiveScope('new');
                        listingService.highlightedRows = [];
                        sidebar.openOverlay(listingService.highlightedRows.length);">
                <i class="material-icons">add</i>
            </a>
        </div>

        <div class="nav-item"
             [ngClass]="[listingService.highlightedRows.length > 0 ? '' : 'disabled', demoData.tools[1].show ? '' : 'd-none']">
            <a class="nav-link tool" matTooltip="Löschen" (click)="getDeleteMessage(); modalService.confirmDelete(deleteMessage);">
                <i class="material-icons">remove</i>
            </a>
        </div>

        <div class="nav-item"
             [ngClass]="[listingService.highlightedRows.length > 0 ? '' : 'disabled', demoData.tools[2].show ? '' : 'd-none']">
            <a class="nav-link tool"
               matTooltip="Editieren"
               [ngClass]="(listingService.activeScope == 'edit' ? 'active' : '')"
               (click)="listingService.setActiveScope('edit', 'preview'); sidebar.openOverlay(listingService.highlightedRows.length)">
                <i class="material-icons">create</i>
            </a>
        </div>

        <div class="nav-item float-right" [class.d-none]="!demoData.collapseTools">
            <a class="nav-link tool d-md-none"
               matTooltip="Weitere Werkzeuge"
               [ngClass]="{'is-active': isCollapsed == false}"
               (click)="isCollapsed = !isCollapsed" aria-expanded="false">
                <i class="material-icons">more_vert</i>
            </a>
        </div>

        <div class="nav-item dropdown group"
             [class.d-none]="!demoData.tools[11].show">
            <pt-custom-values></pt-custom-values>
        </div>

        <!-- Hide on Mobile -->
        <div class="collapse navbar-collapse" [class.d-inline-block]="!demoData.collapseTools" [collapse]=isCollapsed>
            <div class="nav-item" [class.d-none]="!demoData.tools[3].show"
                 [ngClass]="(listingService.highlightedRows.length > 0) ? '' : 'disabled'">
                <a class="nav-link tool" matTooltip="Dublizieren">
                    <i class="material-icons">file_copy</i>
                </a>
            </div>

            <div class="nav-item dropdown group"
                 [ngClass]="[listingService.highlightedRows.length > 0 ? '' : 'disabled', demoData.tools[4].show ? '' : 'd-none']">
                <pt-group></pt-group>
            </div>

            <div class="nav-item dropdown export"
                 [ngClass]="[demoData.tools[5].show ? '' : 'd-none', demoData.tools[5].disabled ? 'disabled' : '']">
                <pt-export></pt-export>
            </div>

            <div class="nav-item dropdown mail"
                 [ngClass]="[listingService.highlightedRows.length > 0 || demoData.tools[6].disabled == true ? '' : 'disabled', demoData.tools[6].show ? '' : 'd-none']">
                <pt-send></pt-send>
            </div>

            <div class="nav-item dropdown impose"
                 [ngClass]="[listingService.highlightedRows.length > 0 ? '' : 'disabled', demoData.tools[7].show ? '' : 'd-none']">
                <pt-impose></pt-impose>
            </div>

            <div class="nav-item dropdown print"
                 [ngClass]="[listingService.highlightedRows.length > 0 ? '' : 'disabled', demoData.tools[8].show ? '' : 'd-none']">
                <pt-print></pt-print>
            </div>
        </div>

        <div class="search float-right" [class.d-none]="listingService.activePage === 'details' || settingsService.hideSearch === true">
            <a class="nav-link tool d-lg-none"
               matTooltip="Suche"
               [ngClass]="[!mobileSearch ? 'is-active':  '']"
               (click)="mobileSearch = !mobileSearch" aria-expanded="false">
                <i class="material-icons">search</i>
            </a>

            <div class="collapse navbar-collapse search-collapse px-2 px-lg-0" [collapse]=mobileSearch>
                <mat-form-field class="search-field">
                    <input matInput placeholder="Suchbegriff…" [(ngModel)]="searchString">
                    <a *ngIf="searchString" class="close-icon btn bg-transparent btn-hover-primary p-0" matSuffix aria-label="Clear" (click)="searchString=''">
                        <i class="material-icons">close</i>
                    </a>
                </mat-form-field>
            </div>
        </div>

        <!-- Quick Navigation -->
        <pt-quicknav *ngSwitchCase="'details'"></pt-quicknav>
    </div>
</nav>