@import "bootstrap/setup";

// Setup
.toolbar {
  height: $toolbar-height;
  box-shadow: $toolbar-shadow;

  .navbar-nav {
    width: 100%;
    display: block;

    .nav-item {
      display: inline-block;
    }

    .navbar-collapse {
      @include media-breakpoint-up(md) {
        display: inline-block !important;
      }

      &.search-collapse {
        @include media-breakpoint-up(md) {
          display: none !important;
        }

        @include media-breakpoint-up(lg) {
          display: inline-block !important;
        }

        .search-field {
          width: 100%;
        }
      }
    }

    // Tools Mobile
    .navbar-collapse.show {
      width: 100%;
      height: $toolbar-height !important;
      top: $toolbar-height;
      left: 0;
      right: 0;
      display: flex !important;
      position: absolute;
      z-index: 9;
      background-color: $toolbar-mobile-bg;
      border-top: 1px solid $toolbar-mobile-border;
      box-shadow: $toolbar-shadow-mobile;
    }
  }
}
