<pt-status-selection></pt-status-selection>

<!-- Product Table -->
<mat-table [dataSource]="dataSource" matSort class="full-width bg-transparent mat-table-pills">

    <!-- Product ID-->
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="cell-small pl-0 pl-md-3"> Produkt ID </mat-header-cell>
        <mat-cell *matCellDef="let element" class="cell-small pl-0 pl-md-3"> {{element.id}} </mat-cell>
    </ng-container>

    <!-- Product Name -->
    <ng-container matColumnDef="productName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Produkt </mat-header-cell>
        <mat-cell *matCellDef="let element" class="font-weight-medium mobile-border-bottom mobile-font-lg"> {{element.productName}} </mat-cell>
    </ng-container>

    <!-- Order -->
    <ng-container matColumnDef="order">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Bestellung </mat-header-cell>
        <mat-cell *matCellDef="let element">{{demoData.getOrderName(element.orderId)}}
        </mat-cell>
    </ng-container>

    <!-- Contact -->
    <ng-container matColumnDef="contact">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Kontakt </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <div class="d-block">
                {{demoData.buildContact(element.id).name}}
                <a href="mailto:{{demoData.buildContact(element.id).mail}}" class="show-underline" title="E-Mail an {{demoData.buildContact(element.id).name}} senden">
                    <i>{{demoData.buildContact(element.id).mail}}</i>
                </a>
            </div>
        </mat-cell>
    </ng-container>

    <!-- Files -->
    <ng-container matColumnDef="fileCount">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="justify-content-center"> Dateien </mat-header-cell>
        <mat-cell *matCellDef="let element" class="justify-content-center">
            <div class="d-block">
                <span class="badge badge-circle badge-sm badge-light d-none d-md-inline-block d-none d-md-inline-block">{{demoData.countFiles(element.id)}}</span>
            </div>
        </mat-cell>
    </ng-container>

    <!-- Status -->
    <ng-container matColumnDef="productStatus">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
        <mat-cell *matCellDef="let element" class="mobile-border-top">
            <span class="badge badge-marker badge-{{element.productStatus}}">{{demoData.getStatusName(element.productStatus)}}</span>
        </mat-cell>
    </ng-container>

    <!-- Link -->
    <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef class="overflow-visible">
            <pt-edit-table [tableData]="listingService.productTableColumns"></pt-edit-table>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <a href="prototype/details" title="Produkt bearbeiten" class="btn btn-link btn-icon">
                <i class="material-icons">more_horiz</i>
            </a>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             (click)="listingService.setActiveRow(row);
                      listingService.manageSelectedItems(row);
                      sidebar.openOverlay(listingService.highlightedRows.length)"
             [ngClass]="listingService.highlightedRows.indexOf(row) != -1 ? 'active': ''"></mat-row>
</mat-table>

<mat-paginator [pageSizeOptions]="[12, 24, 48, 72]" showFirstLastButtons class="bg-transparent select-small"></mat-paginator>

<pt-selected-entries></pt-selected-entries>
