<!-- Preview File -->
<span class="d-none" [ngClass]="(listingService.activeView == 'files' && listingService.activeScope == 'preview' && !demoData.showPreflight) ? 'd-block h-100': ''">
  <pt-preview-file></pt-preview-file>
</span>

<!-- Preview Product -->
<span class="d-none" [ngClass]="(listingService.activeView == 'products' && listingService.activeScope == 'preview') ? 'd-block h-100': ''">
  <pt-preview-product></pt-preview-product>
</span>

<!-- Preview Orders -->
<span class="d-none" [ngClass]="(listingService.activeView == 'orders' && listingService.activeScope == 'preview') ? 'd-block h-100': ''">
  <pt-preview-order [isDetails]="false"></pt-preview-order>
</span>
