<!-- Tool -->
<div class="dropdown toolbar">
<span dropdown #preflightSend="bs-dropdown" [insideClick]="true" container="body">
  <a class="nav-link tool tool-dark dropleft"
     [class.tool-light]="isDetails"
     matTooltip="Report senden" id="modgroup" dropdownToggle>
        <i class="material-icons">mail</i>
    </a>

  <!-- Dropdown Content -->
    <div id="preflightSendDropdown" *dropdownMenu (click)="data.preventClose($event)" class="dropdown-menu dropdown-menu-right dropdown-mobile dropdown-toolbar" role="menu" aria-labelledby="preflightSend">
      <div class="card mw-350 maxw-350 border-0 rounded">

        <!-- Header -->
        <div class="card-header d-flex justify-content-center align-items-center">
          <span class="badge badge-light badge-circle text-dark mr-3 p-2 mr-auto">
            <i class="material-icons">assignment</i>
          </span>
          <span class="flex-fill font-weight-medium text-center">Report senden</span>
          <span class="marker top right pointer bg-white text-dark" (click)="preflightSend.hide()">
             <i class="material-icons">mail</i>
          </span>
        </div>

        <div class="card-body p-0">
          <!-- Form -->
          <div class="row align-items-center px-3 pt-3">
            <label class="col-12 small pb-1">Empfänger</label>
            <div class="col-12">
              <ng-select [items]="demoData.contactsMail"
                         bindLabel="name"
                         bindValue="id"
                         notFoundText="Kein Empfänger gefunden!"
                         [(ngModel)]="demoData.contacts[0].id">
              </ng-select>
            </div>
          </div>

          <div class="row align-items-center px-3 pt-3">
            <label class="col-12 small pb-1">Nachricht</label>
            <div class="col-12">
              <mat-form-field class="mw-100">
                <textarea matInput placeholder="Ihre Nachricht…" class="fh-125 no-resize"></textarea>
              </mat-form-field>
            </div>
          </div>

          <div class="row align-items-center px-3 pt-2 pb-3">
            <div class="col-6">
              <mat-checkbox>PDF anhängen</mat-checkbox>
            </div>
            <div class="col-6 text-right">
              <mat-checkbox [checked]="true">Kopie an mich</mat-checkbox>
            </div>
          </div>
        </div>

        <!-- Cancel / Save -->
        <div class="card-footer px-0 bg-light border-top text-right rounded-bottom">
          <a class="btn btn-white border px-4 mr-3" (click)="preflightSend.hide()">Abbrechen</a>
          <a class="btn btn-primary text-white px-4 mr-2" (click)="preflightSend.hide(); modalService.showSnackbar('E-Mail versendet!', '')">Report senden</a>
        </div>
      </div>
    </div>
  </span>
</div>