<!-- Button -->
<div class="dropdown">
  <span dropdown #modGroupNew="bs-dropdown" [insideClick]="true" container="body">
    <a class="tool"
       matTooltip="Neue Gruppe"
       id="modGroupNew" dropdownToggle>
      <i class="material-icons">add</i>
    </a>

    <!-- Dropdown Content -->
    <div id="modGroupNewDropdown" *dropdownMenu (click)="data.preventClose($event)" class="dropdown-menu dropdown-mobile maxw-350" role="menu" aria-labelledby="modGroupNew">
      <div class="card mw-350 border-0 rounded">

      <!-- Header -->
      <div class="card-header d-flex justify-content-center align-items-center">
        <span class="badge badge-light badge-circle text-dark mr-3 p-2 mr-auto">
          <i class="material-icons">folder</i>
        </span>
        <span class="flex-fill font-weight-medium text-center">Neue Gruppe</span>
        <span class="marker top left pointer" (click)="modGroupNew.hide()">
          <i class="material-icons">add</i>
        </span>
      </div>

      <div class="card-body p-0">
        <!-- Form -->
        <div class="overflow-y-auto px-3 py-3">
          <div class="row align-items-center">
            <label class="col-3">Name</label>
            <div class="col-9">
              <mat-form-field class="mw-100">
                <input matInput placeholder="Gruppenname" value="{{folderData.folderLevel == 'folder' ? folderData.globalFolderHeadline : ''}}">
              </mat-form-field>
            </div>
          </div>
        </div>
       </div>

        <!-- Cancel / Save -->
        <div class="card-footer bg-light border-top text-right rounded-bottom px-0">
           <span class="pb-2 mb-2 border-bottom text-left pl-3 align-items-center"
                 [ngClass]="(folderData.folderScope == 'global') ? 'd-flex' : 'd-none'">
            <span class="text-danger"><i class="material-icons">warning</i></span>
            <span class="small pl-3">Diese Änderungen werden für alle Benutzer übernommen!</span>
          </span>
          <a class="btn btn-white border px-4 mt-1 mr-3" (click)="modGroupNew.hide()">Abbrechen</a>
          <a class="btn btn-primary text-white px-4 mt-1 mr-2" (click)="modGroupNew.hide()">Speichern</a>
        </div>
      </div>
    </div>
  </span>
</div>