<div class="card m-3 shadow-sm border-0 rounded-0">
  <!-- Header -->
  <div class="card-header p-4 bg-gray-100">
    <h2 class="font-size-xl mb-1">Sidenav</h2>
    <p class="text-default mb-0">see <a href="https://material.angular.io/components/sidenav/overview" target="_blank">Material Sidenav</a></p>
  </div>

  <div class="card-body">
    <!--  -->
    <div class="bg-gray-100 border border-light border-bottom-0 p-3 mb-0">
      <h3 class="mb-0">Sidenav</h3>
    </div>

    <div class="border border-light p-3">
      <mat-sidenav-container hasBackdrop="false" class="bg-light fh-250 border">
        <mat-sidenav #sidenavExample [opened]="showSidebar" mode="side" class="bg-white p-3">
          ### Sidenav
        </mat-sidenav>

        <mat-sidenav-content class="p-3">
          <a (click)="toggleSidebar()" class="btn btn-primary text-white">
            {{showSidebar ? 'Hide Sidenav' : 'Show Sidenav'}}
          </a>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>

    <div class="position-relative border border-light bg-light px-2">
      <a class="position-absolute top right mt-2 mr-2 pt-1 pr-1" (click)="ui.copyHtml('#sidenav')" matTooltip="Copy HTML">
        <i class="material-icons">file_copy</i>
      </a>

      <textarea id="sidenav" class="d-none" ngNonBindable>
<mat-sidenav-container hasBackdrop="false" class="bg-light fh-250 border">
  <mat-sidenav #sidenavExample [opened]="showSidebar" mode="side" class="bg-white p-3">
    ### Sidenav
  </mat-sidenav>

  <mat-sidenav-content class="p-3">
    <a (click)="toggleSidebar()" class="btn btn-primary text-white">
      {{showSidebar ? 'Hide SiSidenavdebar' : 'Show Sidenav'}}
    </a>
  </mat-sidenav-content>
</mat-sidenav-container>
</textarea>

      <pre class="m-0 pt-3 px-3">
<code ngNonBindable>&lt;mat-sidenav-container hasBackdrop="false" class="bg-light fh-250 border"&gt;
&lt;mat-sidenav-container hasBackdrop="false" class="bg-light fh-250 border"&gt;
  &lt;mat-sidenav #sidenavExample [opened]="showSidebar" mode="side" class="bg-white p-3"&gt;
    ### Sidenav
  &lt;/mat-sidenav&gt;

  &lt;mat-sidenav-content class="p-3"&gt;
    &lt;a (click)="toggleSidebar()" class="btn btn-primary text-white"&gt;
  {{showSidebar ? 'Hide Sidenav' : 'Show Sidenav'}}
  &lt;/a&gt;
  &lt;/mat-sidenav-content&gt;
&lt;/mat-sidenav-container&gt;
</code>
      </pre>
    </div>
  </div>
</div>