<div class="card maxw-465 rounded shadow is-centered">
  <div class="card-header px-4">
    <h2 class="mt-3">Passwort versendet</h2>
    <p class="text-default mb-2">Wir haben Ihnen soeben ein neues Passwort an die hinterlegte E-Mail-Adresse gesendet.</p>
  </div>

  <div class="card-body px-4">
    <div class="row pt-3">
      <p class="col-12">Überprüfen Sie bitte Ihren Spam-Ordner,
        falls Sie keine E-Mail erhalten haben.</p>

      <p class="col-12">Bei Fragen stehen wir Ihnen unter
        <a href="mailto:admin@impressed.de" title="E-Mail an admin@impressed.de senden" class="show-underline">admin@impressed.de</a>
        zur Verfügung.</p>
    </div>
  </div>

  <div class="card-footer height-auto p-4 bg-light border-top rounded-bottom">
    <a class="btn btn-primary text-white w-100" (click)="loginService.showLogin = true; loginService.sendPwd = false; loginService.newPwd = true;">zurück zur Anmeldung</a>
  </div>
</div>