<!-- Button -->
<div class="dropdown">
<span dropdown #modEditTable="bs-dropdown" [insideClick]="true" placement="bottom right">
  <a class="btn mat-header-btn" title="Spalten bearbeiten" matTooltip="Tabelle anpassen" id="modEditTable" dropdownToggle>
    <i class="material-icons">add</i>
  </a>

  <!-- Dropdown Content -->
    <div id="modTableDropdown" *dropdownMenu (click)="data.preventClose($event)" class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="modEditTable">
      <div class="card border-0 rounded">
        <!-- Header -->
        <div class="card-header d-flex justify-content-center align-items-center">
          <span class="badge badge-light badge-circle text-dark mr-3 p-2 mr-auto">
            <i class="material-icons">list</i>
          </span>
          <span class="flex-fill font-weight-medium text-center">Spalten anpassen</span>
          <span class="marker top right pointer" (click)="modEditTable.hide()">
            <i class="material-icons">add</i>
          </span>
        </div>

        <div class="card-body p-0 mw-290">
          <!-- Columns -->
          <div class="maxh-450 overflow-y-auto px-3 py-3">
            <div class="py-1" *ngFor="let col of tableData">
                <mat-checkbox [checked]="col.active">
                    {{col.name}}
                </mat-checkbox>
            </div>
          </div>
        </div>

        <!-- Cancel / Save -->
        <div class="card-footer bg-light border-top text-right rounded-bottom pl-0">
          <a class="btn btn-white border px-4 mr-3" (click)="modEditTable.hide()">Abbrechen</a>
          <a class="btn btn-primary text-white px-4" (click)="modEditTable.hide()">Speichern</a>
        </div>
      </div>
    </div>
  </span>
</div>