<!-- Tool -->
<span dropdown #modGroup="bs-dropdown" [insideClick]="true" (onShown)="data.setActiveTool('group', true)" (onHidden)="data.setActiveTool('group', false)">
  <a class="nav-link tool" [class.active]="data.tools[4].active"
     matTooltip="Gruppieren" id="modgroup" dropdownToggle>
        <i class="material-icons">all_inclusive</i>
    </a>

  <!-- Dropdown Content -->
    <div id="modGroupDropdown" *dropdownMenu (click)="data.preventClose($event)" class="dropdown-menu dropdown-mobile dropdown-toolbar" role="menu" aria-labelledby="modGroup">
      <div class="card mw-420 maxw-420 border-0 rounded">

        <!-- Header -->
        <div class="card-header d-flex justify-content-center align-items-center">
          <span class="badge badge-light badge-circle text-dark mr-3 p-2 mr-auto">
            <i class="material-icons">all_inclusive</i>
          </span>
          <span class="flex-fill font-weight-medium text-center">Auswahl hinzufügen zu</span>
        </div>

        <div class="card-body p-0">
          <!-- Form -->
          <div class="row align-items-center px-3 pt-3">
            <label class="col-3">Bestellung</label>
            <div class="col-9">
              <ng-select [items]="data.demoOrders"
                         bindLabel="orderName"
                         bindValue="id"
                         notFoundText="Keine Bestellungen gefunden!"
                         [(ngModel)]="selectedOrder"
                         (ngModelChange)="changeProducts(selectedOrder)">
              </ng-select>
            </div>
          </div>

          <div class="row align-items-center px-3 py-3">
            <label class="col-3">Produkt</label>
            <div class="col-9">
              <ng-select [items]="products"
                         bindLabel="productName"
                         bindValue="id"
                         placeholder="Produkt auswählen"
                         notFoundText="Keine Produkte gefunden!">
              </ng-select>
            </div>
          </div>
        </div>

        <!-- Cancel / Save -->
        <div class="card-footer px-0 bg-light border-top text-right rounded-bottom">
          <a class="btn btn-white border px-4 mr-3" (click)="modGroup.hide()">Abbrechen</a>
          <a class="btn btn-primary text-white px-4 mr-2" (click)="modGroup.hide()">Auswahl hinzufügen</a>
        </div>
      </div>
    </div>
  </span>