<!-- Folder Groups -->
<div class="folder-container folder-group bg-white" [class.hide]="folderService.showFolder">
  <div class="folder-content">
    <perfect-scrollbar class="show-scrollbar">
      <div class="list-group">
        <a (click)="folderService.toggleFolderView(folderGroup, i);"
           *ngFor="let folderGroup of folderService.globalFolderGroups; let i = index"
           class="list-group-item list-group-item-action list-item-light d-flex px-2 rounded-0 border-left-0 border-right-0 font-weight-medium"
          [ngClass]="{'border-top-0': i == 0}">
          <i class="material-icons bg-white p-2 mr-3 align-self-center rounded-circle border">folder</i>
          <span class="align-self-center">{{folderGroup}}</span>
          <span class="ml-auto text-dark align-self-center">
            <i class="material-icons">keyboard_arrow_right</i>
          </span>
        </a>
      </div>
    </perfect-scrollbar>
  </div>
</div>

<!-- Folder List -->
<div class="folder-container has-header" [class.show]="folderService.showFolder" [class.hide]="!folderService.showFolder">
  <a (click)="folderService.toggleFolderView()" class="folder-header btn btn-white rounded-0 d-inline-flex align-items-center border-bottom">
    <i class="material-icons icon align-middle position-absolute">arrow_back</i>
    <span class="ml-auto mr-auto font-weight-medium">{{folderService.globalFolderHeadline}}</span>
  </a>

  <div class="folder-content">
    <perfect-scrollbar class="show-scrollbar">
    <div class="list-group py-1 px-2">
      <a (click)="folderService.setActiveFolder($event)"
         *ngFor="let folder of folderService.selectedFolder"
         class="folder list-group-item list-group-item-action list-item-light d-flex my-1 px-2 rounded font-weight-medium"
         name="{{folder}}">
          <i class="material-icons bg-white p-2 mr-3 align-self-center rounded-circle border">folder_shared</i>
          <span class="name align-self-center">{{folder}}</span>
          <span class="ml-auto text-dark align-self-center">
            <i class="material-icons">keyboard_arrow_right</i>
          </span>
      </a>
    </div>
    </perfect-scrollbar>
  </div>
</div>