<div class="row py-4 px-3">
  <div class="col-12">
    <!-- Tool Path -->
    <label class="mt-1 mb-1 mw-100">Pfad zu {{settingsService.activeNav.data[settingsService.selectedSubNav].name}}</label>
    <mat-form-field class="mw-100">
      <input matInput placeholder="C:/"
             value="C:/Program Files (x86)/Ultimate Technographics/Automation/Hotfolders/">
    </mat-form-field>

    <!-- Further Options -->
    <label class="mt-3 mb-1 mw-100">Weitere Optionen</label>
    <p>…</p>
  </div>
</div>