<!-- Contacts Header -->
<div class="card card-sidebar flex-column">
  <div class="card-header d-flex flex-row align-items-center justify-content-left mh-72">
    <h3 class="mb-0">{{settingsService.activeNav.name}}</h3>
    <div class="ml-auto">
      <div class="toolbar toolbar-sm">
        <!-- New -->
        <a class="tool"
           matTooltip="
             {{settingsService.activeNav.id === 2 ? 'Neue Einstellung': ''}}
             {{settingsService.activeNav.id === 3 ? 'Neuer Workflow': ''}}
             {{settingsService.activeNav.id === 4 ? 'Neues Preset': ''}}
             {{settingsService.activeNav.id === 5 ? 'Neuer Wert': ''}}
             {{settingsService.activeNav.id === 8 ? 'Neuer Benutzer': ''}}
             {{settingsService.activeNav.id === 10 ? 'Neues Werkzeug': ''}}
           "
           [class.d-none]="settingsService.activeNav.id === 7"
           (click)="settingsService.addNewEntry()">
          <i class="material-icons">add</i>
        </a>

        <!-- Copy -->
        <a class="tool d-none"
           [class.disabled]="settingsService.selectedSubNav === false"
           matTooltip="
             {{settingsService.activeNav.id === 3 ? 'Workflow kopieren': ''}}
             {{settingsService.activeNav.id === 8 ? 'Benutzer kopieren': ''}}
             "
             [class.d-inline-block]="settingsService.activeNav.id === 3 || settingsService.activeNav.id === 8"
        >
          <i class="material-icons">file_copy</i>
        </a>

        <!-- Delete -->
        <a class="tool"
           [class.disabled]="settingsService.selectedSubNav === false"
           matTooltip="
             {{settingsService.activeNav.id === 2 ? 'Einstellung löschen': ''}}
             {{settingsService.activeNav.id === 3 ? 'Workflow löschen': ''}}
             {{settingsService.activeNav.id === 4 ? 'Preset löschen': ''}}
             {{settingsService.activeNav.id === 5 ? 'Wert löschen': ''}}
             {{settingsService.activeNav.id === 8 ? 'Benutzer löschen': ''}}
             {{settingsService.activeNav.id === 10 ? 'Werkzeug löschen': ''}}"
           [class.d-none]="settingsService.activeNav.id === 7"
           (click)="getDeleteMessage(); modalService.confirmDelete(deleteMessage);"
           >
          <i class="material-icons">remove</i>
        </a>
      </div>
    </div>
  </div>

  <!-- Go Back to Companies – Mobile -->
  <a class="mh-60 d-block d-lg-none go-back-mobile folder-header btn btn-white rounded-0 d-inline-flex align-items-center border-bottom bg-gray-100"
     (click)="settingsService.switchMobileView(true)">
    <i class="material-icons icon align-middle position-absolute">arrow_back</i>
    <span class="ml-auto mr-auto font-weight-medium">zurück</span>
  </a>

  <!-- Entry List -->
  <div class="card-body p-0 position-relative">
    <perfect-scrollbar class="show-scrollbar">
      <div class="list-group">
        <a *ngFor="let data of settingsService.activeNav.data; let i = index"
           (click)="settingsService.selectSubnav(i)"
           class="list-group-item list-group-item-action list-item-light d-flex px-2 rounded-0 border-left-0 border-right-0 font-weight-medium"
           [ngClass]="[i === 0 ? 'border-top-0' : '', settingsService.selectedSubNav === i && !settingsService.newEntry ? 'active-dark': '']">
          <i class="material-icons bg-white p-2 mr-3 align-self-center rounded-circle border">{{settingsService.activeNav.icon}}</i>
          <span class="align-self-center text-dark">{{data.name}}</span>
          <span class="ml-auto text-dark align-self-center d-flex align-items-center">

            <span class="badge badge-pill badge-white text-dark px-3"
                  [class.d-none]="!(settingsService.activeNav.id === 7 && data.active)">aktiv</span>
            <i class="material-icons">keyboard_arrow_right</i>
          </span>
        </a>
      </div>
    </perfect-scrollbar>
  </div>
</div>