<div class="dropdown selectedEntries block w-100 text-center">
  <span dropdown #selectedEntries="bs-dropdown" [insideClick]="true" container="body">

    <!-- No Entries -->
    <span class="text-default align-items-center font-size-sm"
          [ngClass]="(listingService.highlightedRows.length == 0) ? 'd-inline-flex' : 'd-none'">
      <i class="material-icons mr-3">info</i>
      <span class="font-italic">Keine Einträge ausgewählt</span>
    </span>

    <!-- Entries -->
    <a class="text-default align-items-center font-size-sm"
       [ngClass]="(listingService.highlightedRows.length > 0) ? 'd-inline-flex' : 'd-none'"
       matTooltip="Einträge anzeigen"
       id="selectedEntries" dropdownToggle>
        <i class="material-icons mr-3">info</i>
        <span class="font-weight-medium"
              [ngClass]="(listingService.highlightedRows.length == 1) ? 'd-inline' : 'd-none'">
          {{listingService.highlightedRows.length}} Eintrag ausgewählt
        </span>
        <span class="font-weight-medium"
              [ngClass]="(listingService.highlightedRows.length > 1) ? 'd-inline' : 'd-none'">
          {{listingService.highlightedRows.length}} Einträge ausgewählt
        </span>
    </a>


    <!-- Dropdown Content -->
      <div id="selectedEntriesDropdown" *dropdownMenu class="dropdown-menu dropdown-mobile" role="menu" aria-labelledby="selectedEntries">
        <div class="card mw-350 maxw-350 border-0 rounded">

          <!-- Header -->
          <div class="card-header d-flex justify-content-center align-items-center">
            <span class="flex-fill font-weight-medium text-center">Ausgewählte Einträge</span>
            <span class="marker top left pointer" (click)="selectedEntries.hide()">
              <i class="material-icons">info</i>
            </span>
          </div>

          <!-- Entries -->
          <div class="card-body p-0">
            <div class="maxh-150 overflow-auto">
               <ul class="list-group bg-transparent rounded-0">
                  <li class="list-group-item rounded-0 border-bottom py-2 pl-3 pr-0 font-size-sm font-weight-medium"
                      *ngFor="let entry of listingService.highlightedRows; let i = index;">
                        {{entry.fileName}}
                        {{entry.productName}}
                        {{entry.orderName}}
                  </li>
               </ul>
            </div>
          </div>
        </div>
      </div>
  </span>
</div>