// Additional Variables for Material Sidebar

$mat-sidebar-dark-bg:   fade_out($dark, .03);

$mat-sidenav-toggle-width:          25px;
$mat-sidenav-toggle-height:         75px;
$mat-sidenav-toggle-bg:             $mat-sidebar-dark-bg;
$mat-sidenav-toggle-color:          $white;
$mat-sidenav-toggle-border-color:   fade_out($gray-100, .65);
$mat-sidenav-toggle-hover-padding:  5px;