// Additional Variables for Material Slide Toggle
$mat-toggle-right-margin:               .75rem;
$mat-toggle-font-family:                $font-family-sans-serif;
$mat-toggle-font-weight:                $font-weight-base;
$mat-toggle-color:                      $default;
$mat-toggle-color-active:               $dark;

$mat-toggle-bar-bg:                     $light;
$mat-toggle-bar-border:                 inset 0 0 1px $default;
$mat-slide-toggle-thumb-bg:             $light;
$mat-slide-toggle-thumb-active-bg:      $dark;
$mat-slide-toggle-thumb-border:         1px solid $light;
$mat-slide-toggle-thumb-border-active:  1px solid $dark;