// Additional Variables for Material Input

$mat-input-width-xs:    85px;
$mat-input-height:      35px;
$mat-input-padding:     0 .75rem;
$mat-input-disabled:    .5;
$mat-textarea-padding:  .75rem;

$mat-label-height:      100%;
$mat-label-padding:     $mat-input-padding;
$mat-label-disabled:    .5;
$mat-label-line-height: 2rem;