// Additional Variables for Material Tabs

$mat-tab-header-height-md:            70px;
$mat-tab-header-height-md-mobile:     60px;
$mat-tab-header-icon-spacing:         .85rem;
$mat-tab-header-icon-spacing-mobile:  0;
$mat-tab-marker-height:               3px;
$mat-tab-font-family:                 $font-family-sans-serif;

$mat-tab-color:                       $default;
$mat-tab-color-active:                $dark;
$mat-tab-icon-color:                  $default;
$mat-tab-icon-color-active:           $dark;
$mat-tab-marker-active:               $primary;

$mat-tab-bg-color-md:                 transparent;
$mat-tab-bg-color-sm:                 $gray-100;
$mat-tab-bg-color-active-md:          $light;
$mat-tab-bg-color-active-sm:          $white;

$mat-tab-font-size-md:                1rem;
$mat-tab-font-size-md-mobile:         .9rem;
$mat-tab-font-size-sm:                .9rem;
$mat-tab-icon-font-size-md:           175%;

$mat-tab-font-weight:                 $font-weight-base;
$mat-tab-font-weight-active:          $font-weight-medium;

$mat-tab-content-padding:             1rem;


// Vertical Tabs
$mat-tab-vert-bg:                     transparent;
$mat-tab-vert-color:                  $default;

$mat-tab-vert-hover-color:            $dark;

$mat-tab-vert-active-bg:              $white;
$mat-tab-vert-active-color:           $dark;
$mat-tab-vert-active-border:          $light;
$mat-tab-vert-active-font-weight:     $font-weight-medium;
$mat-tab-vert-active-border-bottom:   $primary;