// Additional Variables for Material Table

$mat-table-row-background:      $white;
$mat-table-row-active-bg:       $dark;
$mat-table-row-active-color:    $white;
$mat-table-font-family:         $font-family-sans-serif;

$mat-header-background:         fade_out($white, .3);
$mat-header-color:              $default;
$mat-header-color-hover:        $dark;
$mat-header-color-active:       $dark;
$mat-header-color-btn-active:   $primary;
$mat-header-font-size:          $font-size-sm;
$mat-header-font-weight:        $font-weight-medium;

$mat-header-arrow-color:        $default;
$mat-header-arrow-active-color: $dark;


// Table Pill
$mat-table-pill-height:               60px;
$mat-table-pill-header-height:        50px;
$mat-table-pill-spacing-x:            0;
$mat-table-pill-spacing-y:            0.5rem;
$mat-table-pill-cell-small:           110px;
$mat-table-pill-cell-xsmall:          40px;
$mat-table-pill-link-width:           60px;

$mat-table-pill-border:                $border-color-light;
$mat-table-pill-border-hover:          fade_out($dark, .5);
$mat-table-pill-selected-icon-color:   $dark;
$mat-table-pill-selected-icon-bg:      $white;
$mat-table-pill-selected-icon-border:  1px solid $dark;


// Table Pill Mobile
$mat-table-pill-mobile-padding:                 1rem 1rem .5rem 1rem;
$mat-table-pill-mobile-font-size:               85%;
$mat-table-pill-mobile-font-size-lg:            100%;
$mat-table-pill-mobile-preview-width:           75px;
$mat-table-pill-mobile-preview-margin:          1rem;
$mat-table-pill-mobile-preview-border-radius:   $border-radius;
$mat-table-pill-mobile-border-color:            $border-color-light;
$mat-table-pill-mobile-border-color-active:     $white;
$mat-table-pill-mobile-border-padding:          .5rem;
$mat-table-pill-mobile-border-margin:           .5rem;


// Table: Preview Image
$mat-table-preview-width:       60px;
$mat-table-preview-height:      60px;
$mat-table-preview-width-sm:    75px;
$mat-table-preview-height-sm:   75px;
$mat-table-preview-radius:      $border-radius;
