// Additional Variables for Material Sidebar

// Setup
$mat-border-color:                  $border-color;
$mat-panel-rounded-margin:          .75rem;
$mat-panel-padding:                 5px 15px;
$mat-panel-font-family:             $font-family-sans-serif;

// Header
$mat-panel-header-height:           55px;
$mat-panel-header-font-family:      $font-family-sans-serif;
$mat-panel-header-font-size:        1.1rem;
$mat-panel-header-font-weight:      $font-weight-medium;
$mat-panel-header-bg:               $light;
$mat-panel-header-bg-light:         $gray-100;
$mat-panel-header-bg-hover:         darken($light, 5%);
$mat-panel-indicator-color:         $dark;
$mat-panel-indicator-white-color:   $white;