// Additional Variables for Material Snackbar

$mat-snackbar-bg:                 fade_out($dark, .1);
$mat-snackbar-color:              $white;
$mat-snack-font-family:           $font-family-sans-serif;
$mat-snackbar-action-bg:          $primary;
$mat-snackbar-action-color:       $white;
$mat-snackbar-action-hover-bg:    darken($primary, 5%);
$mat-snackbar-action-hover-color: $white;
