// Additional Variables for Material Checkboxes

$mat-checkbox-font:         $font-family-sans-serif;
$mat-checkbox-font-size:    $font-size-sm;
$mat-checkbox-line-height:  1.2rem;
$mat-checkbox-font-weight:  $font-weight-base;

$mat-checkbox-border:       $dark;

$mat-checkbox-active-bg:    $dark;
$mat-checkbox-hover-bg:     $light;
$mat-checkbox-bg-white:     $white;

