// Additional Variables for Material Paginator

$mat-paginator-height:                40px;
$mat-paginator-padding:               0;
$mat-paginator-bg:                    $white;
$mat-paginator-bg-hover:              $light;
$mat-paginator-color:                 $dark;
$mat-paginator-line-height:           30px;
$mat-paginator-color-hover:           $dark;
$mat-paginator-font-family:           $font-family-sans-serif;

$mat-paginator-icon-width:            25px;
$mat-paginator-icon-height:           25px;
$mat-paginator-icon-offset:           -3px;
$mat-paginator-icon-border-radius:    $border-radius-sm;

$mat-paginator-line-height:           30px;
$mat-paginator-borer-color:           $border-color-light;

$mat-paginator-range-font-size:       .8rem;
$mat-paginator-range-font-weight:     500;
$mat-paginator-range-height:          30px;
$mat-paginator-range-padding:         0 10px;

$mat-paginator-select-padding-left:   0;
$mat-paginator-select-padding-top:    0;
$mat-paginator-select-padding-bottom: 0;