// Additional Variables for Material Select

// Label Default
$mat-label-font-weight: $font-weight-bold;
$mat-label-line-height: 35px;
$mat-label-line-height-wrapper: 28px;
$mat-label-height:    35px;
$mat-label-padding-left: .75rem;
$mat-selected-font-weight: $font-weight-normal;

$mat-filter-padding:  9px 16px;
$mat-filter-bg:   fade_out($light, .5);
$mat-border-color:  $light;
$mat-filter-color: $dark;

// Label Small
$mat-label-small-line-height: 30px;
$mat-label-small-line-height-wrapper: 33px;
$mat-label-small-height:    30px;
$mat-label-small-padding-left: .5rem;
$mat-label-small-arrow-top: 10px;

// Select Default
$mat-select-bg: $white;
$mat-select-border-color:  $default;
$mat-select-border-radius:  $border-radius;
$mat-select-transition:     $transition-base;
$mat-select-line-height:  1rem;
$mat-select-arrow-width:  12px;
$mat-select-arrow-height: 12px;
$mat-select-arrow-top:  12px;
$mat-select-arrow-left: 10px;
$mat-select-arrow-size: 180%;
$mat-select-arrow-bg-position:  -6px -5px;

// Select Hover
$mat-select-bg-hover: $light;
$mat-select-box-shadow: $element-shadow;
$mat-select-font-family:  $font-family-sans-serif;
$mat-select-font-size:  $font-size-sm;

// Select / Input Invalid
$mat-select-invalid-bg:       fade_out($danger, .85);
$mat-select-invalid-bg-hover: fade_out($danger, .75);
$mat-select-invalid-border:   $danger;

// Error Messages
$mat-error-font-family:       $font-family-sans-serif;
$mat-error-font-size:         .75rem;
$mat-error-color:             $danger;


// Select Dropdown
$mat-dropdown-font-family: $font-family-sans-serif;
$mat-dropdown-font-size:  $font-size-sm;
$mat-dropdown-border-color: $border-color;
$mat-dropdown-shadow: $element-shadow;

$mat-dropdown-hover-bg:  $light;
$mat-dropdown-hover-color:  $dark;
$mat-dropdown-hover-font-weight: $font-weight-medium;

$mat-dropdown-selected-bg: $light;
$mat-dropdown-selected-color: $dark;
$mat-dropdown-selected-font-weight: $font-weight-medium;

$mat-dropdown-active-bg: $dark;
$mat-dropdown-active-color: $light;
$mat-dropdown-active-font-weight: $font-weight-normal;

// Search
$mat-search-width:              250px;
$mat-search-border-color:       $light;
$mat-search-icon-size:          40px;
$mat-search-icon-bg-scale:      70%;
$mat-search-margin:             5px 0;
$mat-search-padding-left:       40px;
$mat-search-close-top:          -23px;
$mat-search-close-left:         -25px;
$mat-search-close-font-size:    18px;
$mat-search-hover-bg:           $white;