<!-- Contacts Header -->
<div class="card card-sidebar d-flex flex-colum bg-light">
  <div class="card-header d-flex flex-row align-items-center justify-content-left bg-light">
    <h3 class="mb-0">{{contactData.showCompanyList ? 'Firmen' : 'Kundengruppen'}}</h3>
    <div class="ml-auto">
      <div class="toolbar toolbar-sm">
        <!-- New Company -->
        <a class="tool tool-light"
           [class.d-none]="!contactData.showCompanyList"
           (click)="contactData.addCompany()"
           matTooltip="Neue Firma">
          <i class="material-icons">add</i>
        </a>

        <!-- New Group -->
        <pt-group-new [class.d-none]="contactData.showCompanyList"></pt-group-new>

        <!-- Edit Group -->
        <pt-group-edit [class.d-none]="!contactData.showCompanyList"></pt-group-edit>

        <!-- Delete Company -->
        <a class="tool tool-light"
           [ngClass]="contactData.companyIsSelected && !contactData.showAllContacts ? '' : 'd-none'"
           (click)="getDeleteMessage(); modalService.confirmDelete(deleteMessage);"
           matTooltip="Firma löschen">
          <i class="material-icons">remove</i>
        </a>

        <!-- Delete Group -->
        <a class="tool tool-light"
           [ngClass]="contactData.showCompanyList && !contactData.companyIsSelected ? '' : 'd-none'"
           (click)="getDeleteMessage('group'); modalService.confirmDelete(deleteMessage);"
           matTooltip="Kundengruppe löschen">
          <i class="material-icons">remove</i>
        </a>
      </div>
    </div>
  </div>

  <!-- Contact List -->
  <div class="card-body p-0 position-relative overflow-x-hidden">

    <!-- Search -->
    <div class="bg-white border-bottom p-2">
      <mat-form-field class="w-100 search-field border bg-light">
        <input matInput placeholder="Firma oder Person suchen…" [(ngModel)]="searchString">
        <a *ngIf="searchString" class="close-icon btn bg-transparent btn-hover-primary p-0" matSuffix aria-label="Clear" (click)="searchString=''">
          <i class="material-icons">close</i>
        </a>
      </mat-form-field>
    </div>

    <!-- Groups -->
    <div class="folder-container folder-top-lg folder-group bg-white" [class.hide]="contactData.showCompanyList">
      <!-- All Companies -->
      <a class="border-top-0 list-group-item list-group-item-action list-item-light d-flex px-2 rounded-0 border-left-0 border-right-0 font-weight-medium"
         name="alle Firmen"
         (click)="contactData.showCompaniesAll()">
        <i class="material-icons bg-white p-2 mr-3 align-self-center rounded-circle border">home</i>
        <span class="name align-self-center text-dark">Alle Firmen</span>
        <span class="ml-auto text-dark align-self-center">
                <i class="material-icons">keyboard_arrow_right</i>
              </span>
      </a>

      <!-- Group List -->
      <a *ngFor="let group of demoData.companyGroups; let i = index;"
         (click)="contactData.toggleView(contactData.selectedGroup, i)"
         class="list-group-item list-group-item-action list-item-light d-flex px-2 rounded-0 border-left-0 border-right-0 font-weight-medium"
         [ngClass]="contactData.selectedGroup.id === group.id && contactData.groupIsSelected && !contactData.showAllContacts ? 'active-dark': ''"
         name="{{group.name}}">
        <i class="material-icons bg-white p-2 mr-3 align-self-center rounded-circle border">group</i>
        <span class="name align-self-center text-dark">{{group.name}}</span>
        <span class="ml-auto text-dark align-self-center">
                <i class="material-icons">keyboard_arrow_right</i>
              </span>
      </a>
    </div>

    <!-- Companies -->
    <div class="folder-container folder-top-lg has-header bg-white" [class.show]="contactData.showCompanyList">
      <a (click)="contactData.toggleView()" class="folder-header btn btn-white rounded-0 d-inline-flex align-items-center border-bottom bg-gray-100">
        <i class="material-icons icon align-middle position-absolute">arrow_back</i>
        <span class="ml-auto mr-auto font-weight-medium">{{contactData.showAllCompanies ? 'Alle Firmen' : contactData.selectedGroup.name}}</span>
      </a>

      <div class="folder-content">
        <perfect-scrollbar class="show-scrollbar">
          <div class="list-group">
            <!-- All Contacts -->
            <a (click)="contactData.showAllGroupContacts()"
               class="border-top-0 list-group-item list-group-item-action list-item-light d-flex px-2 rounded-0 border-left-0 border-right-0 font-weight-medium"
               [ngClass]="contactData.showAllContacts ? 'active-dark': ''"
               name="alle Kontakte">
              <i class="material-icons bg-white p-2 mr-3 align-self-center rounded-circle border">home</i>
              <span class="name align-self-center text-dark">Alle Kontakte</span>
              <span class="ml-auto text-dark align-self-center">
                <i class="material-icons">keyboard_arrow_right</i>
              </span>
            </a>

            <!-- Company List -->
            <a *ngFor="let company of contactData.companiesToShow"
               (click)="contactData.editCompany(company.id); contactData.switchMobileView(false)"
               class="list-group-item list-group-item-action list-item-light d-flex px-2 rounded-0 border-left-0 border-right-0 font-weight-medium"
               [ngClass]="contactData.selectedCompany.id === company.id && contactData.companyIsSelected && !contactData.showAllContacts ? 'active-dark': ''"
               name="{{company.name}}">
              <i class="material-icons bg-white p-2 mr-3 align-self-center rounded-circle border">home</i>
              <span class="name align-self-center text-dark">{{company.name}}</span>
              <span class="ml-auto text-dark align-self-center">
                <i class="material-icons">keyboard_arrow_right</i>
              </span>
            </a>
          </div>
        </perfect-scrollbar>
      </div>
    </div>
  </div>
</div>