<!-- Folder Header -->
<div class="card card-sidebar d-flex flex-colum">
  <div class="card-header d-flex flex-row align-items-center justify-content-left">
    <i class="material-icons mr-3">folder</i>
    <h3 class="mb-0">Ordner</h3>
    <span class="ml-auto">
      <pt-folder-tools></pt-folder-tools>
    </span>
  </div>

  <!-- Folder List -->
  <div class="card-body p-0 position-relative">

    <!-- Global Folder -->
    <mat-tab-group class="mat-tab-group-sm tabs-fixed tabs-fixed-width tabs-two" (selectedTabChange)="folderData.resetFolderScope($event)">
      <mat-tab>
        <ng-template mat-tab-label>
          <i class="material-icons icon">language</i>
          Freigegebene&nbsp;<span class="d-none d-sm-inline">Ordner</span>
        </ng-template>

        <pt-folder-global></pt-folder-global>
      </mat-tab>

      <!-- Local Folder -->
      <mat-tab>
        <ng-template mat-tab-label>
          <i class="material-icons icon">favorite_border</i>
          Meine&nbsp;<span class="d-none d-sm-inline">Ordner</span>
        </ng-template>

        <pt-folder-local></pt-folder-local>
      </mat-tab>
    </mat-tab-group>
  </div>

  <!-- Dropzone -->
  <div class="card-footer dropzone">
    <ngx-dropzone [multiple]="true" [label]="'Datei hinzufügen'"></ngx-dropzone>
  </div>
</div>