<div class="card m-4 shadow rounded border-0">
  <div class="card-header p-4">
    <h2 class="font-size-xl mb-1">
      {{contactData.companyIsSelected ? contactData.selectedCompany.name : 'Neue Firma'}}
    </h2>
    <p class="text-default mb-0">
      {{contactData.companyIsSelected ? contactData.selectedCompany.name : 'Neue Firma anlegen'}}
    </p>
  </div>

  <div class="card-body pb-5">
    <div class="row">
      <div class="col-12">
        <!-- Name -->
        <label class="col-12 mt-2 mb-1 pt-3">Firmenname</label>
        <mat-form-field class="col-12 mw-100">
          <input matInput placeholder="Firmenname"
                 value="{{contactData.companyIsSelected ? contactData.selectedCompany.name : ''}}">
        </mat-form-field>

        <!-- Customer Gruop -->
        <label class="col-12 mt-4 mb-1">Kundengruppe</label>
        <ng-select [items]="demoData.companyGroups"
                   class="mx-3"
                   bindLabel="name"
                   bindValue="name"
                   placeholder="Kundengruppe"
                   notFoundText="Keine Kundengruppe gefunden!"
                   [searchable]="true"
                   [(ngModel)]="contactData.groupIsSelected ? contactData.selectedGroup.name : demoData.companyGroups[0].name">
        </ng-select>

        <!-- Phone -->
        <label class="col-12 mt-4 mb-1 pt-2">Telefon</label>
        <mat-form-field class="col-12 mw-100">
          <input matInput placeholder="+49 0000 / 000 00"
                 value="{{contactData.companyIsSelected ? contactData.selectedCompany.phone : ''}}">
        </mat-form-field>

        <!-- Street -->
        <label class="col-12 mt-4 mb-1">Straße</label>
        <mat-form-field class="col-12 mw-100">
          <input matInput placeholder="Straßenname"
                 value="{{contactData.companyIsSelected ? contactData.selectedCompany.street : ''}}">
        </mat-form-field>

        <!-- ZIP -->
        <label class="col-12 mt-4 mb-1">PLZ</label>
        <mat-form-field class="col-12 mw-100">
          <input matInput placeholder="Postleitzahl"
                 value="{{contactData.companyIsSelected ? contactData.selectedCompany.zip : ''}}">
        </mat-form-field>

        <!-- City -->
        <label class="col-12 mt-4 mb-1">Stadt</label>
        <mat-form-field class="col-12 mw-100">
          <input matInput placeholder="Stadt"
                 value="{{contactData.companyIsSelected ? contactData.selectedCompany.city : ''}}">
        </mat-form-field>

        <!-- Country -->
        <label class="col-12 mt-4 mb-1">Land</label>
        <ng-select [items]="demoData.countries"
                   class="mx-3"
                   bindLabel="name"
                   bindValue="name"
                   placeholder="Land"
                   notFoundText="Kein Land gefunden!"
                   [searchable]="true"
                   [(ngModel)]="contactData.companyIsSelected ? demoData.countries[contactData.selectedCompany.country].name : demoData.countries[0].name">
        </ng-select>
      </div>
    </div>
  </div>

  <div class="card-footer px-2 py-3 bg-light border-top text-right rounded-bottom">
    <a (click)="contactData.hideCompany()" class="btn btn-white border px-4 mr-3">Abbrechen</a>
    <a (click)="contactData.hideCompany()" class="btn btn-primary text-white px-4 mr-2">Speichern</a>
  </div>
</div>